[2015-10-22 14:55] nathanielc opened #5 "Integrate with Enterprise"
Add support for sending statistics on Kapacitor nodes to Enterprise.

[2015-10-22 14:56] nathanielc opened #6 "Create OS/Distro packages."
Automate the build to create deb, rpm, etc packages of Kapacitor.

[2015-10-22 17:04] nathanielc opened #7 "Change DSL name to TICKscript"
to avoid confusion with TICK stack.

[2015-10-22 17:05] nathanielc opened #8 "Allow for escaping quotes in string literals in TICKscript."
Not having to use triple quotes all the time will clean up several use cases.

[2015-10-22 17:07] nathanielc opened #9 "When recording stream filter down recording by From clause"
This will help recordings to be significantly smaller and won't make debugging more difficult. If you have a bug in the from clause you will have to rerecord, not a big deal.

[2015-10-22 17:08] nathanielc opened #10 "Rename 'reenable' to reload."
It reads better and is a more accurate name for the action.

[2015-10-22 17:10] nathanielc opened #11 "Allow batch queries to define both a frequency and duration of a query"
Like windows can create overlapping batches the batch node query should be able to do the same.

[2015-10-22 17:21] nathanielc opened #12 "Alert Levels should be able to go to different endpoints."
Right now an AlertNode will send an alert of any level to all configured handlers.

To send them to different endpoints you can create multiple alert node that only send alerts for certain levels.

Maybe we should change it so that each level is a node and can have its own handlers.

Example: Send INFO alerts to email,  send WARNING and CRITICIAL alerts to http endpoint and log them.

Currently th

[2015-10-22 17:59] nathanielc opened #14 "Make the difference between 'as' and 'rename' clear"
When joining two streams there are a few names that need to be renamed.
1. The name of the stream itself. Since each point has a `name` the new joined data point needs a name. The default is to use the name of the left data point. You can also explicitly name the new point using the `rename` method.
2. The names of the fields could be in conflict so the `as` method on a JoinNode renames each field

[2015-10-22 21:03] #10 closed, assigned to nathanielc

[2015-10-22 21:29] #7 closed, assigned to nathanielc

[2015-10-22 22:32] #8 closed, assigned to nathanielc

[2015-10-23 15:45] nathanielc opened #18 "Expressions expects ASCII only field names."
Update expressions parser to be able to parse any field name.

Field names can be any valid utf-8 string including space characters.

[2015-10-23 15:46] nathanielc opened #19 "Merge Expressions and TICKscript into same language"
Right now both the expressions and TICKscript have their own parser.

This is cumbersome to work with both in the code and in the language.

Lets merge them...

[2015-10-23 15:50] nathanielc opened #20 "Make TICKscripts scoped"
For future authorization reasons a TICKscript should be scoped to the data it can access.

This means changing the way `stream` works so that `fork` is not necessary.

[2015-10-26 15:16] nathanielc opened #21 "Get Docs PR merged"

[2015-10-28 14:27] #19 closed, assigned to nathanielc

[2015-10-28 14:27] #14 closed, assigned to nathanielc

[2015-10-28 14:35] nathanielc opened #23 "Allow for recording the results of an arbitrary query"

[2015-10-28 18:14] #18 closed, assigned to nathanielc

[2015-10-28 18:18] #9 closed, assigned to nathanielc

[2015-10-28 18:19] #20 closed, assigned to nathanielc

[2015-10-29 14:36] #11 closed, assigned to nathanielc

[2015-10-29 15:12] nathanielc opened #26 "Add support for grouping by all dimensions."

[2015-10-30 14:47] nathanielc opened #27 "Make joins more tolerant of differing timestamps."
Joins right now expect times to be the same. Should allow for a tolerance threshold so that jitter in timestamps can be removed.

[2015-10-30 18:32] #26 closed, assigned to nathanielc

[2015-10-30 19:31] nathanielc opened #29 "Document Contributing Guidelines and Process"
We want to be enable contributions so let's document the process.

[2015-10-30 19:55] #29 closed, assigned to nathanielc

[2015-11-03 16:10] #6 closed, assigned to nathanielc

[2015-11-04 15:07] #21 closed, assigned to nathanielc

[2015-11-04 16:59] nathanielc opened #36 "Add Monitoring to Nodes"
As the amount of traffic Kapacitor is serving increases so does the need to be able to understand how quickly it is being processed.

We need to add a monitor service that captures stats on each of the nodes for a task and publishes them somewhere, probably an InfluxDB host.

[2015-11-05 19:04] #5 closed, assigned to nathanielc

[2015-11-05 22:53] nathanielc opened #38 "Fix current data races in Kapacitor"
Up until now tests have not been run with race detection. There are several races when running the tests. These need to be fixed.

[2015-11-05 23:05] nathanielc opened #40 "Write Blog Post for anonuncing Kapacitor"

[2015-11-05 23:06] #38 closed, assigned to nathanielc

[2015-11-06 17:17] #23 closed, assigned to nathanielc

[2015-11-09 23:22] nathanielc opened #42 "Handle Tags appropriately for selector MR functions"
At first it was assumed that all tags could be filtered by the group by dimensions. There are a few select functions `top` and `bottom` specifically that can access tags not in the group by clause. As a result we need a way to propogate both raw tagsets and group tagsets.

[2015-11-10 21:39] #42 closed, assigned to nathanielc

[2015-11-10 22:15] nathanielc opened #44 "WhereNode needs to use a unique set of StatefulExpr per Group"
Currently the Where node just evaluates the same set of StatefulExpressions on every point it sees.

It need to do so for each group so that state is contained within a group.

[2015-11-10 23:27] #44 closed, assigned to nathanielc

[2015-11-12 16:42] nathanielc opened #46 "Be able to join dynamically on Groups"
Thinking about how you could join across groups of the same measurement.

Joining across measurements is straight forward and documented.

How would you join two different groups from the same measurement? Do you even need to? I think so and I think you may want to do it dynamically as well.

Proposed solution:

[code]

A group select could just be `{ 'dim1' : 'value1', 'dim2': 'value2'}` etc.

Th

[2015-11-16 16:37] nathanielc opened #47 "Explore using arbitrary dimensional data instead of discrete edge types"
Similar to how Google's TensorFlow just passes tensors around with arbitrary dimensions.  Now sure how to do that with tags.

[2015-11-16 19:58] nathanielc opened #48 "Add integrations tests around each of the kapacitor commands"
Ensure that basic usability features remain functional with any changes.

[2015-11-16 22:25] #27 closed, assigned to nathanielc

[2015-11-16 23:22] nathanielc opened #50 "Create screencast for launch"
Show installing configuring and running kapacitor.
Demo some neat features all in about 5-6 minutes.

[2015-11-17 20:18] #48 closed, assigned to nathanielc

[2015-11-17 23:01] nathanielc opened #53 "Add in basic Math functions to the expressions"
- sqrt
- abs
- exp
- pow
- ...

[2015-11-18 16:43] #53 closed, assigned to nathanielc

[2015-11-18 17:38] nathanielc opened #57 "Add alert integrations"
Right now alerts can log, post to and HTTP endpoint, and exec a command.

We need to add a few more integrations for early adoption. Namely:
- PagerDuty
- VictorOps
- Slack

[2015-11-19 18:43] nathanielc opened #58 "From fields parsing dot separated pieces is confusing. Make it more explicit"

[2015-11-20 21:55] nathanielc opened #60 "Allow for burn-in when defining dynamic alerts"
Since alerts can be based of dynamic criteria it will be nice to have a burn in period so that when its learning stable state it does trigger alerts.

[2015-11-20 23:01] nathanielc opened #61 "Support Derivative"
We need to be able to do derivatives.   Since they are not MR functions they got missed.

[2015-11-20 23:28] #58 closed, assigned to nathanielc

[2015-11-20 23:55] #36 closed, assigned to nathanielc

[2015-11-23 17:27] nathanielc opened #64 "Fix InfluxDBOut tags"
Error: invalid task: error calling func "tag" on obj *pipeline.InfluxDBOutNode: assignment to entry in nil map

[2015-11-23 17:27] nathanielc opened #65 "Fix SMTP without TLS"

[2015-11-23 17:32] #61 closed, assigned to nathanielc

[2015-11-23 17:37] #64 closed, assigned to nathanielc

[2015-11-23 18:01] #65 closed, assigned to nathanielc

[2015-11-25 16:40] #40 closed, assigned to nobody

[2015-11-25 16:41] nathanielc opened #69 "Get a brew install working"

[2015-11-25 17:26] #57 closed, assigned to nathanielc

[2015-12-01 22:40] #50 closed

[2015-12-01 22:41] nathanielc commented on #69
waiting on https://github.com/Homebrew/homebrew/pull/46521

[2015-12-01 22:42] panda87 opened #71 "Add OpsGenie as notifications system"
Please add output integration with OpsGenie.
If you need any help with their documentation or best practices for the API calls, just let me know.

D.

[2015-12-01 22:53] nathanielc opened #72 "Custom User Functions"
Right now the only functions that can be applied to the data stream are the ones available in the InfluxQL language or can be expressed via lambda expressions. We need a way to allow users to define their own functions without having to compile them into Kapacitor.

Basic Plan so far:

* Use RPC and external processes.
* The RPC API will have basic Collect/Emit calls to stream data in and out off

[2015-12-01 22:54] panda87 opened #73 "Add kafka as metrics consumer"
This will be awesome if instead of using the InfluxDB resources like query it or add UDP subscriptions, the Kapacitor will be more standalone solution, so it will be able to consume metrics from Kafka and analyze them as sliding window.

The stream is very powerful for the feature above and can complete the kafka consumer.
This integration may need to work with a small db to be able store the slid

[2015-12-01 23:03] nathanielc commented on #71
Kapacitor's alerting system is simple:

It tracks the state of an alert one of OK,INFO,WARN,CRITICAL
It calls registered alert handlers whenever the state is not OK or when it has just changed to the state OK from a non OK state.
Looking at the OpsGenie api it seems to have a Create/Close API calls which map to the alert entering and leaving a non OK state. What about for changes in state like WAR

[2015-12-02 13:24] jlark opened #74 "Subscriptions causing problems with inflluxdb 0.9.4.2"
Hello,
I was setting up Kapacitor to play with some alerting though I've run into a problem right around the getgo.
I'm running inflxdb 0.9.4.
When I start Kapacitor I get
2015/12/02 13:14:51 Using configuration at: kapacitor.conf
run: open server: open service: error parsing query: found SUBSCRIPTIONS, expected CONTINUOUS, DATABASES, FIELD, GRANTS, MEASUREMENTS, RETENTION, SERIES, SERVERS, TAG, U

[2015-12-02 14:55] nathanielc commented on #74
Subscriptions was added in influxdb 0.9.5 you will need to upgrade. That
should fix the issue.
On Dec 2, 2015 6:24 AM, "Alp Tilev" <notifications@github.com> wrote:

[2015-12-02 16:11] jlark commented on #74
Interesting I downloaded the latest off the site just toda but looks like I didn't restart the service.
I was getting this.
Visit https://enterprise.influxdata.com to register for updates, InfluxDB server management, and monitoring.
Connected to http://localhost:8086 version 0.9.4.2
InfluxDB shell 0.9.5.1

Now:
Visit https://enterprise.influxdata.com to register for updates, InfluxDB server manage

[2015-12-02 16:35] #74 closed

[2015-12-02 20:22] JulienChampseix opened #75 "Alert - Custom field"
That will be good if inside the mail sent over alerting system we could include an content like an URL which could contain procedure.

By this way we could a mail template having:
- metrics impacted by the alert
- current threshold exceed
- URL procedure linked to this alert

Just an idea when it's an support team receiving alert. By this way they will know which metrics impacted and whichaction r

[2015-12-02 20:22] JulienChampseix opened #76 "Alert - Custom field"
That will be good if inside the mail sent over alerting system we could include an content like an URL which could contain procedure.

By this way we could a mail template having:
- metrics impacted by the alert
- current threshold exceed
- URL procedure linked to this alert

Just an idea when it's an support team receiving alert. By this way they will know which metrics impacted and whichaction r

[2015-12-03 09:59] william-p opened #77 "AlertNode - history"
Hello,
when i try to set history (ex: `.history(10)`), task was refused by kapacitor:

    invalid task: error calling func "history" on obj *pipeline.AlertNode: reflect.Set: value of type int64 is not assignable to type int

* Debian 8 64bits on Docker
* Go version go1.5.1
* Kapacitor[d]: Kapacitor  (git: unknown unknown) (installed with `go get ...`)

Thanks guys :-)

[2015-12-03 16:30] allen13 opened #78 "Anomaly Detection Algorithm"
The kapacitor article mentioned that anomaly detection is in the plans. I was curious if an algorithm had been chosen yet.

I am about to work on a custom solution using (nupic htm)[https://github.com/numenta/nupic] with InfluxDB but after the kapacitor announcement (this is really awesome!) I may cancel my work depending on the status of this feature.

I'm particularly interested in how well the

[2015-12-03 17:20] nathanielc commented on #76
Duplicate of #75

[2015-12-03 17:20] #76 closed

[2015-12-03 20:25] #77 closed

[2015-12-04 12:32] panda87 opened #80 "Dependencies alerts"
In some alerts you want that more than one conditions will happen to issue an alert.

So the flow will be like the following,
Query -> Alert -> Check N query -> Alert \ cancel the alert

What do you think?

[2015-12-04 17:15] nathanielc commented on #78
@allen13 Thanks for you interest. Long term we would love to have anomaly detection algorithms built it. First we feel it important to just allow each users to define their own custom processing functions. See issue #72. That way each end user can plugin the algorithm they need.  I am working issue #72 now so I would love feedback for how you would like to integrate the NuPIC algorithms.

[2015-12-04 17:18] nathanielc commented on #72
I have a working prototype using gRPC. Initial thoughts:

* gRPC is very new and so installation and use is difficult since it requires building lots of pre-released code from source.
* There are not very many languages supported yet. Key languages are the scientific languages. C, Python, R, maybe even Fortran.
* The streaming is very nice. Specially since the bi-directional streams are independen

[2015-12-06 17:30] jlark opened #81 "Alert reloads not working"
Hi,
I'm trying to reload my alerts and it doesn't seem to be working.

Please see sequence below.
dev@sesh-dev1:~/alerts$ kapacitor show test_alert
Name: test_alert
Error:
Type: stream
Enabled: true
Databases Retention Policies: ["sesh"."default"]
TICKscript:
stream
    // Select just the cpu_usage_idle measurement from our example database.
    .from().measurement('DCVolt1')
    .alert()

[2015-12-06 19:15] nathanielc commented on #81
Try defining before the reload

kapacitor define -name test_alert -tick test_alert.tick

Hi,
I'm trying to reload my alerts and it doesn't seem to be working.

Please see sequence below.
dev@sesh-dev1:~/alerts$ kapacitor show test_alert
Name: test_alert
Error:
Type: stream
Enabled: true
Databases Retention Policies: ["sesh"."default"]
TICKscript:
stream
// Select just the cpu_usage_idle measuremen

[2015-12-07 07:37] jlark commented on #81
Hi,
 I already have the task defined.

Are you suggest I re-define it?

[2015-12-07 07:55] jlark commented on #81
OK, When I redefined the task and then reloaded it got updated.

We should update the docs accordingly.

[2015-12-07 14:53] oldmantaiter opened #82 "Multiple services for PagerDuty alert"
Some users might want alerts to take different escalation paths (eg in Pagerduty to multiple rotations), so adding support to reference "named" alert handlers of the same type would be useful.

I was thinking I could attempt to tackle this when I get some time, or at least open a discussion on the best way to accomplish this (while staying in the style guidelines of the project).

Very cool projec

[2015-12-07 14:59] nathanielc commented on #82
Do you want to provide some examples of how the DSL would look for 'named' alert handlers? I like the idea, if we can decide on a DSL structure we like I can point you in the right direction for implementing a solution. Thanks

[2015-12-07 21:45] oldmantaiter commented on #82
@nathanielc It would be along the lines of how the slack channel is configured. So it looks to be something that is just pagerduty specific at this point.

Based on VictorOps and how that is specified, it could either be done that way (adding another function to be chained in the DSL) or in the config.

As for examples:

Main config
[code]

DSL

[code]

This would allow a bit of readability when c

[2015-12-08 01:48] nathanielc commented on #82
I like the design. The configuration will probably change to something like:

[code]

Which would match with a config structure like:
[code]

Is `schedule` the right name? I am not very familiar with PagerDuty so I could be using the wrong name here.

This change for PagerDuty  should be pretty easy, just need to update the both `pipeline/alert.go` and '`alert.go` and then the service in `services

[2015-12-08 03:04] oldmantaiter commented on #82
Sounds good. For PagerDuty, it would be called a `service`, which gets mapped to an escalation policy, which can be mapped to multiple `schedules`.

I'll start taking a look soon into adding this. Still getting familiar with the project so want to make sure I can adequately test.

[2015-12-08 21:10] allen13 commented on #78
Thanks! I will keep up to date on this.

[2015-12-09 18:40] politician opened #84 "Kapacitor / Bosun"
As a long-time InfluxDB customer, I'm hopeful about the futures of these new tools -- Telegraf, Chronograf, Kapacitor.  How does the vision / capabilities for Kapacitor differ from Bosun which is another alerting daemon from Stack Exchange?  What other alerting daemons are influencing the design of Kapacitor?

[2015-12-09 20:35] nathanielc commented on #84
Kapacitor's vision is much broader than just an alerting framework. Kapacitor's goal is to be able to provide rich ways of detecting and triggering events from the data it is processing but then leaving the heavy lifting of managing the alert workflow (acknowledge, comment escalate, etc.) on third party tools like VictorOps and PagerDuty.

As for other tools out there almost all of them have influ

[2015-12-09 23:38] sstarcher opened #85 "Support Sensu"
We currently use sensu for all of our alerting needs and routing.

[2015-12-10 10:20] jlark commented on #81
Hello,
I just upgraded to v0.2
Trying to reload simply hangs now.

[2015-12-10 15:41] nathanielc opened #86 "Deadlock. If a tasks gets an error it can create a deadlock"

[2015-12-10 15:58] nathanielc commented on #81
@jlark I just discovered #86 A restart will fix clear the deadlock, obviously not ideal. I am working on fix now.

[2015-12-11 11:12] danievanzyl opened #87 "Question: re kapacitor vs continuous queries influxdb"
Hi Guys,

Awesome product announcements. I would like to know, what would be the preferred way of aggregating data. I don't want to spend too much time developing continuous queries, if I can achieve same or maybe even better results with kapacitor.

Thanks for the hard work you guys have put into these products!

[2015-12-11 15:06] nathanielc commented on #87
Some high level differences between Kapacitor and using CQs in InfluxDB:

* Kapacitor can do more than just store data back into InfluxDB, so if you ever plan to trigger an event etc off the aggregations I would start with Kapacitor.
* Kapacitor provides more flexible scheduling. ie. cron schedules versus just fixed periods.
* Kapacitor provides isolation. Using Kapacitor you can keep the heavy wo

[2015-12-11 15:59] cloud-rocket opened #88 "Bug: "kapacitor delete <task>" is not working"
I think it is somehow mapped to "enable" instead of "delete" because it throws

[code]

Kapacitor 0.2.0 (git: master 18b2061efb263aae326f51bd74d7023a221996ef)

[2015-12-11 16:02] nathanielc commented on #88
The usage is `kapacitor delete tasks event` I'll fix the broken help message. Thanks for reporting.

[2015-12-11 16:06] cloud-rocket commented on #88
tanx - it was not clear.....
Is the syntax somewhere documented (apart of command line help)?

[2015-12-11 16:07] nathanielc commented on #88
No but `kapacitor help delete` does show the correct help message.

[2015-12-11 21:30] politician commented on #84
Thanks for the insight.

[2015-12-11 21:30] #84 closed

[2015-12-11 22:52] #86 closed

[2015-12-11 22:52] #88 closed

[2015-12-14 17:26] jlark commented on #81
ok, so simply restart Kapacitord.

I'll give it a shot.

thnks,

[2015-12-14 17:36] JulienChampseix commented on #85
+1

[2015-12-14 19:39] pootzko opened #90 "Is there a task configuration RESTful API in kapacitor?"
Hi,

I was wondering if something like configuring tasks in kapacitor through a REST API (something in the line of what you have in influxDB) is supported by kapacitor? If not - are you planning on supporting this?

One useful scenario for this is if you have a website which is a front-end to all the collected data and you would like to let users setup alerts of their own (if they need it).

Thank

[2015-12-14 20:49] srini-raju opened #91 "Kapacitor alerting on the whole batch"
I have 4 cpu's and telegraf sends 5 records each time it runs. I am trying the simple example for a stream against cpu_usage_idle with a value < 80. If any of the values in those 5 records is less than 80, its writing all 5 records to log instead of just the row that has value less than 80. See the output from log below. Only 3 rows have values below 80 but all 5 rows are in the alerts log.

{"id"

[2015-12-14 21:02] nathanielc commented on #90
There is already a REST API for interacting with Kapacitor. It is undocumented at this time since we expect it to change as the API is very young. If you want to try it out the `kapacitor` command is really just a CLI wrapper on the HTTP API endpoints. You can find example usages of the API here https://github.com/influxdb/kapacitor/blob/master/cmd/kapacitor/main.go

We plan to eventually document

[2015-12-14 21:04] nathanielc commented on #85
Could either of you provide and example TICKscript of what sending alert data to Sensu would look like? Don't worry about implementation just how you would expect it to look in the script. Thanks

[2015-12-14 21:14] nathanielc commented on #91
This is the expected behavior. Notice that the `level` property of the rows that are greater than 80 is `OK` not `CRITICAL`. Kapacitor will fire `recovery` events; meaning that the first time the value goes into an `OK` state from a non `OK` state it will trigger the event. Since the events are coming in 5 at a time from each core and some cores are below 80 while the others are above, the event s

[2015-12-14 21:15] sstarcher commented on #85
I'm not 100% sure what you are asking for so if I don't answer it correctly let me know.

Minimal data would look like the following.
[code]

* Output can be any string
* Name would be a unique name for the alert - `/^[\w\.-]+$/`
* Status integer - 0=OK, 1=warn, 2=critical, 3+ unknown

https://sensuapp.org/docs/0.21/clients

Other configuration information required
* HOST
* PORT

TICKscript?
[code

[2015-12-14 21:39] panda87 opened #92 "Reverse alerts"
In Riemann for example there is a feature that since it's always remove old data points to fit the ttl set for each service (metric name), it knows to recognize if new data point has not added and send an alert.
With this behave you can be alerted if server is down for example or in business aspect if you didn't get any transaction from the last x seconds, which can indicate on problem.

Do you th

[2015-12-14 21:41] pootzko commented on #90
Ok, thanks for the reply. I am asking because I both need this for the project I'm working on and because I would like to implement it into InfluxData.Net lib that I'm working on. So, this is good news. Thanks. :)

[2015-12-14 22:01] srini-raju commented on #91
Thanks @nathanielc . GroupBy helps but i still see the state changes. If within a group of 5 there is one critical record that row is alerted on with the level:critical correctly. The first record in the next batch shows in the log with level:ok. Looks like that is expected behavior.

How do i filter those with level:ok, since they are of no use to me. Is there a reason why show them?

Thanks for

[2015-12-14 22:11] nathanielc commented on #92
This is possible by monitoring the throughput of Kapacitor tasks.

Kapacitor emits stats about each task into the stream under the database _kapacitor.  A TICKscript like the following will trigger an alert if any stream tasks' throughput drops

[code]
(the above is untested but you get the idea)

This TICKscript will take the last 60s of data per task and sum up the total number of points process

[2015-12-14 22:13] nathanielc commented on #91
The `OK` alerts are intended for use by alerting systems that need to know that the alert has recovered. There is currently no way to turn them off.

[2015-12-14 22:17] srini-raju commented on #91
Thanks for the prompt response. Great project. Saved me a lot of time. Would be happy to contribute if needed.

[2015-12-14 22:17] #91 closed

[2015-12-14 22:17] nathanielc commented on #85
@sstarcher That is what I was looking for thanks

Do you expect Kapacitor to act as a sensu client (heartbeats etc) or just send events over to sensu via the API and let it do the rest?

[2015-12-14 22:20] sstarcher commented on #85
I would say the easiest implementation would be to not send heartbeats.  My main goal would be to have all of my alerting outbound in one place.  Kapacitor would detect the problem and instead of configuring Kapacitor to send to slack/pagerduty etc.  We would instead using our existing sensu setup that all of our teams have configured routing and alerting rules already for.

[2015-12-15 06:00] panda87 commented on #92
Thanks you very much @nathanielc this was the best answer I could ask!

[2015-12-15 06:02] #92 closed

[2015-12-15 14:11] schmurfy opened #93 "more options for alerts output"
it would be nice to be able to store them in influxdb to keep an history and it would also be nice to be able to retrieve at a given time a list of active alerts to display them in a frontend or somewhere else.

I am not sure how they are currently stored but it seems rather volatile to me, I want to be able to say in two months: this alert on this hosts was triggered 4 times and here is when and

[2015-12-15 14:18] miili opened #94 "Alert emitting to influxDB"
Hi guys,

I want to push alerts into an dedicated influx table to display those in grafana/chronograf. Utilizing ```alert.exec()``` would work but wouldn't feel right.

What are your thoughts on integrating an ```alert.influx``` method to push alerts back into the database?

best,

M

[2015-12-15 14:27] schmurfy commented on #75
I have not tried but judging by the documentation the email body is a dump of the JSON data, if that's the case there should be a method like message() to force a specific user template instead, it would be a nice way to solve this issue.

I just started to play around with kapacitor but that is clearly something I will need when I try to really use it, having a JSON dump in the body does not seem

[2015-12-15 15:35] #90 closed

[2015-12-15 15:37] #69 closed

[2015-12-15 15:37] #87 closed

[2015-12-15 15:38] nathanielc commented on #81
@jackzampolin #86 has been fixed and a bug fix release was created 0.2.1

[2015-12-15 15:38] #81 closed

[2015-12-15 15:45] nathanielc commented on #75
The alert node supports methods like .id() and .message() that define templates for a unique id for the alert as well as the single line message. We could add .details() method that defines a template for more detail which can be used by the email handler.

[2015-12-15 15:46] schmurfy commented on #71
instead of implementing every services out there that can receive alerts it would be wiser and easier to maintain to implement something flexible enough to allow doing it  directly in a user script. I imagine all these services have an http(s) endpoint and except some kind of parameters in the query or in the post body.

[2015-12-15 15:46] nathanielc commented on #94
I like the idea this is being discussed here #93

[2015-12-15 15:46] #94 closed

[2015-12-16 13:23] SkyRocknRoll commented on #72
How about adding support for lua runtime in kapacitor?
If we add then the users can define their functions in lua .
Heka https://hekad.readthedocs.org/en/v0.9.2/ allow user to write custom filter in lua and load it to run time. Heka also written in Go.

https://github.com/mozilla-services/lua_sandbox lua snabox is opensoure.

[2015-12-16 17:31] melck opened #96 "Read environment variable KAPACITOR_URL to set url option"
Hi,

Could you use environment variable KAPACITOR_URL  to set option url of kapacitor cli ?

[2015-12-16 18:01] nathanielc commented on #96
Can do. Thanks for the suggestion.

[2015-12-16 20:35] nathanielc opened #97 "Calc md5sum of packages"

[2015-12-16 21:14] #97 closed

[2015-12-16 21:28] nathanielc commented on #72
@SkyRocknRoll we thought a lot about using lua initially and it would be able to solve a  piece of the problem, but we also decided that it would not solve enough.

The goal of custom functions is not necessarily so that user can `write` their own functions but rather can `use` their existing algorithms/code for processing their data. Many users will already have their algorithms already written w

[2015-12-16 21:52] nathanielc commented on #72
I finished a survey of serialization formats and RPC frameworks. Here are my thoughts:

Serialization:
 There are many serialization formats out there and protobufs are one of the most popular. While C/C++, Java, and Python are the only languages officially  builtin to the compiler, support for most other languages exists. See https://github.com/google/protobuf/wiki/Third-Party-Add-ons#programming

[2015-12-16 22:07] JulienChampseix opened #100 "Changelog - No updated"
Hi team,

Kapacitor looks like to be at version 0.2.2 but the Changelog keep empty, is it possible to up date it ? For have a list of change current done per release.

Thanks,
Julien.

[2015-12-16 22:25] #96 closed

[2015-12-16 22:35] nathanielc opened #102 "Data race when stopping ticker"
[code]

[2015-12-16 22:44] #100 closed

[2015-12-16 22:53] #102 closed

[2015-12-17 03:37] jgerschk opened #105 "Question: Alerts Not Working"
First, this could be a new user issue more than anything; however, I've looked over everything and don't seem to see why this is not being triggered.

stream
    .from().measurement('metric')
    .where(lambda: "metric" == 'UR')
    .groupBy('symbol')
    .window()
        .period(5s)
    .alert()
        .id('kapacitor/{{index .Tags "symbol" }}')
        .message('{{index .Fields "tick" }}')

[2015-12-17 03:43] nathanielc commented on #105
At a quick glance it looks like you are missing the every property on the
window node. We should probably add some validation logic for that, but the
window is likely not emitting any data.
On Dec 16, 2015 8:37 PM, "jgerschk" <notifications@github.com> wrote:

[2015-12-17 03:53] jgerschk commented on #105
What if I omit the entire .window section?  Would that matter, or would that cause it to not work also?  I've tried it several ways.

Name: users
Error:
Type: stream
Enabled: true
Executing: true
Databases Retention Policies: ["kapacitor"."default"]
TICKscript:
stream
    .from().measurement('metric')
    .where(lambda: 'metric' == 'UR')
    .groupBy('symbol')
    .alert()
        .id('kapacitor/{

[2015-12-17 07:16] JulienChampseix commented on #75
@nathanielc that will be indeed usefull to have .details() method

[2015-12-17 15:22] nathanielc commented on #105
Looking at this with fresh eyes this morning I am seeing a few more errors in the script. In general I would recommend simplifying the script to a working state and then incrementally add from there. Using the record/replay workflow should make that easier.

The errors I see are that you are using single quotes `'` when you probably meant double quotes `"`. In lambda expressions single quotes are

[2015-12-17 17:27] jgerschk commented on #105
I'll get back on this later this afternoon (US time); however a few quick comments.

Unfortunately, this may very well be issues between me and understanding; however, if I understand you correctly .where(lambda:'metric' == 'UR') will not work.  however, the where, if switch to double quotes would?  Confirm if I understand what you are saying to be correct.  This would apply to the .crit section a

[2015-12-17 17:30] nathanielc commented on #105
Yep.

Change the where to: `.where(lambda: "metric" == 'UR')`.
Change the crit to: `.crit(lambda: "tick" > 1)`.

[2015-12-17 20:04] jgerschk commented on #105
That's what I thought.  So I went back and double check my work again (below) -- yet, nothing is ever written out to the log, or the log for kapacitor indicating and error.  I've confirmed again that I see stream data, and confirmed there is data within influx stream for that metric value.  Question, could difference between UTC and local time be the issue?  Or is that meaningless?

Name: users
Er

[2015-12-17 20:12] nathanielc commented on #105
At this points I would try short circuiting the logic to make sure its not an issue with the logic. Add an `OR True` to each lambda expression so that is always evals to true.

Are you using the record/replay workflow? If not I'd recommend it as you can verify data was captured by the recording using `kapacitor list recordings` and noting the size of the recording is more than a few bytes.

If you

[2015-12-17 20:23] jgerschk commented on #105
That is worth a try, setting it to OR True.

I did at first use the record/replay but that did not seem to work so I went this approach.  How, I still have those sets saved, size is smaller than I would have thought for the data coming in.

Is there a way to see the "raw" data in those records?

P.S.  Thanks for all the help here.

[2015-12-17 20:25] nathanielc commented on #105
The srpl files are just gzipped, so you can take a look at their contents
that way. Basically they are a slightly modified line protocol format.

On Thu, Dec 17, 2015 at 1:23 PM, jgerschk <notifications@github.com> wrote:

--
-Nathaniel Cook

[2015-12-18 00:43] jgerschk commented on #105
trying to keep it simple.

stream
    .from().measurement('metric')
    .where(lambda: "metric" == 'UR' OR TRUE)
    .alert()
        .log('/tmp/alerts.log')

doing a record yields no data in the replay files.

I'm open for suggestions at this point.

[2015-12-18 01:22] jgerschk commented on #105
I'm starting to think this may be and influx issue -- did a tcpdump based on the subscription port, and I don't see any data being transmitted over the write.  That could be why these aren't working.

[2015-12-18 02:18] jgerschk commented on #105
Did a little test, tcpdump of the data.  And from the capture I see metrics that should have matched but did not based on

Name: users
Error:
Type: stream
Enabled: true
Executing: true
Databases Retention Policies: ["kapacitor"."default"]
TICKscript:
stream
.from().measurement('metric')
.where(lambda: "metric" == 'UR')
.alert()
.crit(lambda: "tick" > 1)
.log('/tmp/alerts.log')

DOT:
digraph users

[2015-12-18 10:49] miili opened #107 "TICK numerical variable definition"
Defining variables in TICK works for objects but numerical variables, useful for eg. thresholds, do not work.

Is there a plan to implement file global definitions of numerical variables?

[2015-12-18 13:56] melck opened #108 "Cannot POST to kapacitord with kapacitor-cli"
I want to use kapacitor cli to communicate with kapacitord inside docker container but when i tried to communicate, only HTTP GET command is read by kapacitord.

How can i write on kapacitord with a distant kapacitor cli ?

Config:
Windows 7 64
Docker host: boot2docker
container base image: debian

Kapacitor config:
[code]

[2015-12-18 14:58] miili commented on #93
Hope this feature request is still open for discussion! Both issues are closed

https://github.com/influxdb/kapacitor/issues/94

[2015-12-18 16:19] nathanielc commented on #94
It is, #93 is still open. Please add examples etc of how you would like to see this work.

[2015-12-20 13:12] miili commented on #93
An implementation of `alarm().influxDBOut()` eventhandler could look like this:

[code]

[2015-12-22 08:16] SkyRocknRoll commented on #72
Thanks

[2015-12-22 08:48] melck opened #111 "Derivative computation is shifted"
I have tried to compute cpu usage from scratch. I use derivative's function, but the results are shifted in comparison of telegraf's computation.

Tick script
[code]

Graph results:
![image](https://cloud.githubusercontent.com/assets/813889/11951408/f4838a96-a890-11e5-8d6f-4f206b12af59.png)

[2015-12-22 15:53] nathanielc commented on #111
By how much is it shifted? From what I can see on the graph it looks to be shifted by about 10s, is that right? This could be because of how the derivative is calculated left hand or right handed. For example, given the following data:

[code]

The derivative could be calculated one of two ways:

Using first timestamp
[code]

Using last timestamp

[code]

Kapacitor uses the first timestamp. What i

[2015-12-22 16:03] nathanielc commented on #108
The kapacitor cli command has a `-url` flag you can pass it to point at the kapacitord address. I also added a env var to make this easier in #96 . This isn't released yet but I expect to get a small bug fix release out today or tomorrow.

As for the docker part you will need to expose port 9092 by adding a `-p 9092:9092` to you docker run command. Then you should be able to access kapacitord via

[2015-12-22 16:06] nathanielc commented on #107
So something like this?

[code]

Yes, I plan to support this kind of behavior.

[2015-12-22 20:39] melck commented on #108
Kapacitor cli was launche under windows 7 and install with this following command from documentation
[code]
Then kapacitor cli command to get version give nothing
[code]

After that, i discover my kapacitord was at 2.0.0's version, with 2.2.0-1 it's working. Is there a version check between the cli and daemon ?

[2015-12-22 21:30] melck commented on #111
I wanted to understand tick script and manipulate stream. To do that, I choose to start by a reproduction of cpu usage metrics. I was wondering why time was shifted from one tick. Thanks for the explanation. Is there way to choose derivative "right handed" ?

My original goal was to calculate procstats cpu metrics from telegraf in percentage. But i'm a little stuck for now.

[2015-12-22 21:56] jgerschk commented on #105
I just want to share my experience and results here.  I finally got this working.  There was nothing wrong with my tick scripts above other than what @nathanielc pointed out first.

the name issue was the define statement.  I was miss understanding the -dbrp option and using a DB that did not exist.  Once I changed that to the DB/RP that should be worked against this all started to work.

So basic

[2015-12-22 21:56] #105 closed

[2015-12-22 22:43] nathanielc opened #114 "TestStream_Union is flaky."
Need to fix this test since it fails on occasion with:

[code]

Looks like a data point is being dropped or something.

[2015-12-22 22:47] nathanielc opened #115 "TestServer_StreamTask is flaky"
[code]

I have been trying to track this one down but no luck. It seems that on occasion the task just doesn't get enabled but returns no errors.

[2015-12-22 22:54] #107 closed

[2015-12-22 23:05] nathanielc commented on #71
@schmurfy I agree that implementing every service out there will get out of hand. Right now it is easier to just implement them directly in Go instead of building a sandbox env to do so. Already the differences between the implemented services is enough that a simple HTTP POST template with URLs will not be sufficient. For now simplicity wins. That said the current organization of each Alert Handl

[2015-12-22 23:14] panda87 opened #116 "Multiple subscriptions per alert"
It would be nice if we will be able to use more than one subscribers \ service.
For example, Slack + email

Thanks

[2015-12-22 23:32] nathanielc commented on #116
This is currently possible:

[code]

[2015-12-22 23:33] panda87 opened #117 "Add headers to the POST notifications"
It would be great if we will be able to add headers to the POST alert handler call, since we can add auth and other tokens to the request and make it more generic for many 3rd party services.

Thanks
D.

[2015-12-22 23:35] panda87 commented on #116
ohhh Thanks @nathanielc

[2015-12-22 23:35] #116 closed

[2015-12-22 23:44] nathanielc commented on #117
Something like this:

[code]

This creates a new problem in that you probably don't want to expose the auth in plain text in the TICKscript. As a result we probably need a method for grabbing values from the config or environment:

Maybe?
[code]

with corresponding config:

[code]

Or env based without config:

[code]

Follow up question: Would being able to set header as static strings (independe

[2015-12-22 23:45] nathanielc commented on #80
Could you give a more concrete example of what you are trying to accomplish?

I think this can be solved using `join` but I am not sure.

[2015-12-22 23:49] nathanielc commented on #114
Successful run looks like this:

[code]

[2015-12-22 23:49] panda87 commented on #117
I personally prefer the ENV option since it's allow me to work close with Vault, and grab the secrets from there directly to the ENV var of the system.

[2015-12-22 23:52] panda87 commented on #80
For example, we I monitored CPU spike, I want to check the memory before I send the alert, if the memory is acting as expected, then I dont want to send the alert.

[2015-12-22 23:56] nathanielc commented on #80
Would this work?

[code]

[2015-12-23 00:00] panda87 commented on #80
This can be a good starting, if I take it further, I can think on a case that if I have CPU spike i'd want to see the last 5min avg cpu.
So it's also depends on time and not only on value and measurement.
Does this also supported, right?

[2015-12-23 00:01] nathanielc commented on #111
@melck  There is no option to make the derivative `right handed`. I choose left handed because it makes it easier to reason about windows later on since the start of the window is the start of the data set instead of dropping the first timestamp. Its not a big deal and could be changed to right handed or maybe turned into an option if we found a strong use case.

Something that you do bring up tho

[2015-12-23 00:16] nathanielc commented on #80
Instead of thinking of action/reaction for alerting let's first define the criteria for the alert. For example lets choose something relatively complex.

* CPU -- There must be a spike in cpu over the last minute above 80% and the last 5 minutes of CPU must be over 70%
* Memory -- The last 5 minutes of memory usage must be above 80%

Ok now that we have our criteria we just need to figure out how

[2015-12-23 00:23] nathanielc opened #118 "Update AlertNode so that configuring alert handlers can be correctly scoped, and easily added."
Currently Alert handlers are configured directly on the AlertNode and it is one large flat scope. It would be nice if each alert where configured in its own scope so that you do not have to worry about name conflicts etc.

Goals:
* Make defining multiple Alert handlers in TICKscript easy and intuitive.
* Make writing a new alert handler a simple and isolated task.
* Be able to support(from a code

[2015-12-23 07:20] JulienChampseix opened #119 "[Feature] - Alert to HipChat"
Hi team,

Will be great if we could push alert to an hipchat room.
Do you think it's possible ?

Thanks,
Julien.

[2015-12-23 08:33] melck commented on #111
@nathanielc I understand and i also prefer shift values in time. It will may be usefull for other cases.

[2015-12-23 13:30] jcmartins commented on #85
But with telegraf in all clients sending data to Influxdb and make alerts/checks in Kapacitor, you don't need use sensu anymore. ;-)

[2015-12-23 13:52] sstarcher commented on #85
@jcmartins I'll assume sarcasm ;)

As sensu has the capabilities to alert on much more than metrics.

[2015-12-23 16:15] jcmartins commented on #85
@sstarcher In kapacitor you can have alert like sensu(warning, critical, ok)  but I agree with you kapacitor and telegraf don't have mature and same features yet.
I'm using sensu+influxdb+grafana a lot with victorops on 400 ec2 aws instances and 50 RDS, but I'm doing some tests here and I'm surprised at kapacitor + Telegraf  can do.
I'll need to create/customize some plugins for Telegraf as I have

[2015-12-23 16:21] sstarcher commented on #85
@jcmartins I'm not referring to metric related things.  I'm referring to using Sensu for say http checks, and non-metric related activities.

[2015-12-23 16:25] jcmartins commented on #85
do you know https://github.com/influxdb/telegraf/tree/master/plugins ?
And if this feature not exist you can write a plugin to it like in the sensu.

[2015-12-23 18:17] #71 closed

[2015-12-23 19:10] melck opened #121 "[Feature] Active level debug only for a task"
I would like to set log level at debug only for a task. I have multiple inputs and its difficult to read it all logs .
May be implements a new command to see logs of specific tasks ?

[2015-12-23 22:22] nathanielc commented on #121
I agree the logging needs to be configurable by task. For now every line related to a task should have the task name in the line. As a result you should be able to grep for only the logs for a specific task.

[2015-12-23 22:28] nathanielc commented on #119
This should be easy to add. Do you want to take a crack at it? Just follow the code for Slack.

Contributing the handler is pretty straight forward:

1. Create a new service in the services package and implement methods for interacting with HipChat.
2. Add the HipChat service to the cmd/kapacitord/run package so the server can open/close and configure the service.
3. Update the AlertNode in pipeli

[2015-12-23 22:31] #118 closed

[2015-12-23 23:43] rossmcdonald opened #122 "[0.2.2-1] panic: assignment to entry in nil map"
On Ubuntu 14.04:

[code]

Using TICKscript:

[code]

[code]

Getting panic [here](https://gist.github.com/rossmcdonald/721e9248122b3126f211) as soon as the task is started. This is just a vanilla system with only a single Telegraf instance writing into InfluxDB 0.9.6.1.

Let me know if you need any extra information (or want access to the system).

[2015-12-23 23:48] rossmcdonald commented on #122
Gah, just realized I'm on the old version. Trying again now.

[2015-12-23 23:51] rossmcdonald commented on #122
Seeing the same thing on the latest version as well:

[code]

[2015-12-23 23:55] nathanielc commented on #122
I found the source of the bug and I'll fix it but it you just change the `groupby` and `where` calls you can avoid the issue and it will be slightly faster ;)

Example:

[code]

[2015-12-23 23:57] nathanielc commented on #122
Note to self: Should we add a `groupBy` method to the StreamNode so that it is faster and then to order won't affect performance?

[2015-12-26 17:53] panda87 commented on #80
@nathanielc Thanks for the described explanation, much appreciated!

[2015-12-28 15:16] rossmcdonald commented on #122
That fixed it, thanks!

Regarding:

My two cents would be either adding a `groupBy` to the StreamNode (the docs don't make it clear that it's not), or making it abundantly clear in the docs which order should be used. I just assumed they were interchangeable, so it would be nice to know what is considered 'best practice'.

[2015-12-28 15:46] rossmcdonald opened #123 "Difference between a task being enabled and a task executing"
Using:

[code]

What does it mean for a task to be enabled, but not executing? For example:

[code]

Where `Enabled` is set to `true`, but `Executing` is set to `false`. When this happens, redefining and/or re-enabling doesn't seem to help. Deleting the task and re-adding does work, though. I've also been re-adding and modifying the tickscript fairly often, so I'm not sure if that could have an ef

[2015-12-28 17:31] gseven opened #124 "panic: runtime error: invalid memory address or nil pointer dereference"
Hi.

I was just stoping and starting Kapacitor, with no config changes.

Log file [here](https://gist.github.com/gseven/af61a371b21a1fb8245e).

CentOS 7, tested with Kapacitor 0.2.2 and 0.2.3.

First I thought it's a config related. Running with default config did the job. So I quit program (CTRL-C). Then starting with or without configuration file, failed every time with logfile provided above.
N

[2015-12-28 20:22] nathanielc commented on #123
If a TICKscript is not valid etc you will get an error when you try to enable the task and will be able to fix it at that point. But it is possible to right a TICKscript that is valid syntactically but could have an error based on the data the task is given(i.e. you could reference a field name that doesn't exist). If you get an that is data dependent the task will stop `executing`.

When a task i

[2015-12-28 21:58] rossmcdonald commented on #123
Thanks for the explanation @nathanielc! It ended up being a type issue in one of my lambda expressions. I also had debug logging on, so I missed the error message.

Thanks again!

[2015-12-28 21:58] #123 closed

[2015-12-29 10:59] jcmartins opened #126 "kapacitor don't make alerts"
Hi,
I'm using:
kapacitor 0.2.3-1
telegraf 0.3.0-beta2
Influxdb 0.9.6.1

**telegraf + Influxdb is OK!!!**

But kapacitor don't make alerts to me.

SHOW RETENTION POLICIES ON "telegraf"
name   duration replicaN default
default     "0"        1          true

**cat /root/cpu_alert.tick**
stream
 // Select just the cpu_usage_idle measurement from our example database.
 .from().measurement('cpu')
   .a

[2015-12-29 13:47] m4ce commented on #85
+1 for this feature

[2015-12-29 14:06] rossmcdonald commented on #126
@jcmartins From your tickscript:

[code]

Do you have a measurement named `cpu` in your database? Telegraf (at least by default) does not have a measurement named `cpu`, so you may need to change it to use the measurement name `cpu_usage_idle`. This would make it:

[code]

Which means select `value` from `cpu_usage_idle`, and alert when it is below `98`.

[2015-12-29 15:46] kigakree opened #127 "Alert on event count"
I have measurements like
[code]
Is there any way to count them by status and alert if error occurs 10 times in a row?
In pseudocode it would be something like this:
[code]

[2015-12-30 07:34] iotp opened #128 "SMTP email out does not work"
I tested this with gomail as stand alone and it works. I am also seeing alerts being generated at alerts.log, so I am pressed to believe that this is a bug. I am testing it with the fake SMTP server listening on port 2225.

the go code that works:
m := gomail.NewMessage()
m.SetHeader("From", "a@example.com")
m.SetHeader("To", "b@example.com")
m.SetHeader("Subject", "Hello!")
m.SetBody("text/html",

[2015-12-30 11:07] jcmartins commented on #126
SHOW MEASUREMENTS   (created by telegraf 0.3 beta 2)
**measurements**
name
cpu
disk
diskio
engine
httpd
icmp_inaddrmaskreps
icmp_inaddrmasks
icmp_incsumerrors
icmp_indestunreachs
icmp_inechoreps
icmp_inechos
icmp_inerrors
icmp_inmsgs
icmp_inparmprobs
icmp_inredirects
icmp_insrcquenchs
icmp_intimeexcds
icmp_intimestampreps
icmp_intimestamps
icmp_outaddrmaskreps
icmp_outaddrmasks
icmp_outdestunreach

[2015-12-30 14:05] rossmcdonald commented on #126
@jcmartins Sorry about that, I didn't realize the naming conventions had changed with Telegraf 0.3. I did a quick test using the TICKscript here (slightly modified version of yours):

[code]

And then generated some CPU utilization using the command:

[code]

Which produced the output:

[code]

If you enable debug logging, do you receive output when running the commands below?

[code]

If so, can

[2015-12-30 15:46] nathanielc commented on #126
@jcmartins This part of the show output list information about the flow of data through your task.

[code]

The `label` values indicate the number of points that have passed along that edge of the task graph. Since the first edge is `0` this show that Kapacitor is not receiving any data for the configured database and retention policy. How are you sending data to Kapacitor? Via subscriptions form

[2015-12-30 16:16] nathanielc commented on #127
This is not easily archived with current functionality. Some things you can do are to window the data for a period of time and then count the total occurrences of each state. Then you could compare their ratios for that window to a threshold. Not exactly what you wanted but close.

This could be achieved if the eval lambda expressions had conditional logic, but currently they do not. Not exactly s

[2015-12-30 17:46] #119 closed

[2015-12-31 00:20] cheribral opened #129 "percentile - reflect: Call using int64 as type float64"
I was going to try out the example on the bottom of the getting started page, and ran into this error when trying to reload the tick script:
invalid task: error calling func "percentile" on obj *kapacitor.influxqlMapReducers: reflect: Call using int64 as type float64

With my feeble understanding of how the scripts work and only a notion of what the error might mean, I tried to make a new variable

[2016-01-04 12:13] jcmartins commented on #126
@nathanielc  It's all in the same machine.

[2016-01-04 12:50] jcmartins commented on #126
@rossmcdonald
Ross I do like y
root@server:~# kapacitor define -name cpu_alert2 -type stream -dbrp telegraf.default -tick /root/cpu_alert2.tick
root@server:~# kapacitor enable cpu_alert2
root@server:~# kapacitor list tasks
Name                          Type      Enabled   Executing Databases and Retention Policies
cpu_alert2                    stream    true      true      ["telegraf"."default"]
r

[2016-01-04 16:57] nathanielc commented on #129
Change this line

` .mapReduce(influxql.percentile('used', 95))` to ` .mapReduce(influxql.percentile('used', 95.0))`

That should get you around the error.

[2016-01-04 17:01] nathanielc commented on #128
Are there any errors in the logs? Can you share your TICKscript that can reproduce the behavior? I can verify it works for simple cases on my machine but you are not the first to report issues with SMTP alerts. Any details you can give will be very beneficial.

[2016-01-04 17:12] nathanielc commented on #126
@jcmartins Can you post the log from when Kapacitor first starts up? Everything between the line `Kapacitor starting` and `Listening for signals`.

You should see two lines like:

[code]

[2016-01-04 18:17] #124 closed

[2016-01-04 18:47] #122 closed

[2016-01-04 23:16] cheribral commented on #129
Ah ok, I had fixated on 'used' as the problem, and never even considered the percentile.  I should have thought of that... :P
Thank you!

[2016-01-04 23:16] #129 closed

[2016-01-04 23:39] nathanielc opened #132 "Fix StreamNode multiple calls to where to AND expressions instead of replace"
Something like this
[code]
is logically equivalent to

[code]

but since the where method replaces the conditions only condition2 is being honored. Change it so that multiple calls to where internally AND the logic conditions. This will help prevent writing really long complex ANDed expressions.

[2016-01-05 01:39] iotp commented on #128
Mine is a very simple case as well.
TICKscript:
stream
    .from().measurement('entropy_entropy')
    .alert()
        .crit(lambda: "value" <  800)
        .email()
        // Whenever we get an alert write it to a file.
        .log('/tmp/alerts.log')

I define it as: kapacitor define     -name press_alert     -type stream     -tick press_alert.tick     -dbrp metrics.default
And enable as: kapac

[2016-01-05 14:16] jcmartins commented on #126
**cat kapacitor.log**
[run] 2016/01/04 12:39:03 I! Kapacitor starting, version 0.2.3, branch master, commit 7ea4a548108e82a214d6c7a94b66a59ffeda1bd9
[run] 2016/01/04 12:39:03 I! Go version go1.5.1, GOMAXPROCS set to 2
[srv] 2016/01/04 12:39:03 I! Kapacitor hostname: localhost
[task_master] 2016/01/04 12:39:03 I! opened
[srv] 2016/01/04 12:39:03 I! ClusterID: 5a45d3a9-b3fe-42d3-873b-eafd01385df7 Se

[2016-01-05 20:03] #128 closed

[2016-01-05 20:09] jgerschk opened #134 "Alerts and StateChange"
With regard to state change, I assume, based on my testing that state change is only valid for one tick script.

Let me explain with data.

tick=30,metric=DN,symbol=GPSMDN94,component=SM

this will trigger an alarm (critical) as it matches the where below.

tick=1,metric=DN,symbol=GSSMDN94,component=SM

The symbol tag is slightly different, and this produces and OK if after the above critical.

st

[2016-01-05 20:22] rossmcdonald commented on #134
@jgerschk Do you observe the same behaviour if you alter your script to the following:

[code]

Where `.groupBy('symbol')` is added to the `.where()`?

Otherwise you're just relying on the `tick` value alone for your alerting, which is why you're seeing the alert switch back and forth regardless of `symbol` value. I may be misunderstanding your intention, though.

[2016-01-05 20:27] jgerschk commented on #134
@rossmcdonald Let me give that a try, never thought about adding groupBy there.  I'll let you guys know later.

[2016-01-05 20:28] nathanielc commented on #126
I don't see any subscriptions in the startup log. Can you share your kapacitor config? And the output of `SHOW SUBSCRIPTIONS` on the influxdb host?

[2016-01-05 20:41] jgerschk commented on #134
@rossmcdonald Thank you.  That seems to have cured my problem.  Appreciate the quick response.

Closing question/issue.

[2016-01-05 20:41] #134 closed

[2016-01-05 21:42] jgerschk opened #135 "Multiple email address in .email not working"
It appears that multiple email address do not work.  No matter what I use to separate the email address, either , or ; (both legal depending on the mail server).  In this case we are replying via POSTFIX so comma list is acceptable.  Further if I change the order, so move user2 first only that one gets it.

In the postfix logs, I only see one receipt ever being sent to, not the second one.

I've t

[2016-01-05 21:54] nathanielc commented on #135
Try,
`.email('user1@example.com', 'user2@example.com')`
On Jan 5, 2016 2:42 PM, "jgerschk" <notifications@github.com> wrote:

[2016-01-05 22:02] jgerschk commented on #135
@nathanielc Perfect.  Thank you.  Resolves it.  Thanks for the query reply.

Loving what I am seeing and able to do with this tool.  Thanks for the work on it.

Closing issue.

[2016-01-05 22:02] #135 closed

[2016-01-05 23:59] titilambert opened #136 "Bad download link"
Hello !
The download link for standalone binaries of Kapacitor is wrong (on https://influxdata.com/downloads/)
[code]
Should be
[code]

[2016-01-06 13:38] jcmartins commented on #126
root@server:~# cat /etc/kapacitor/kapacitor.conf
# The hostname of this node.
# Must be resolvable by any configured InfluxDB hosts.
hostname = "localhost"
# Directory for storing a small amount of metadata about the server.
data_dir = "/var/lib/kapacitor"

[http]
  # HTTP API Server for Kapacitor
  # This server is always on,
  # it servers both as a write endpoint
  # and as the API endpoint for

[2016-01-07 16:53] nathanielc commented on #126
@jcmartins This line in the configuration is the problem.

[code]

You are telling Kapacitor to listen for data from the `my_database` in InfluxDB, but want you really want is to subscribe to the data in the `telegraf` database.

Change the line to this or just remove it and Kapacitor should start getting data:

[code]

You can confirm that it work by running `SHOW SUBSCRIPTIONS` again and see som

[2016-01-07 17:53] nathanielc opened #137 "Make creating an alert based on event count easy"
Currently creating an alert on event count seems like a simple task, for example:

[code]

**The above script will not work.** The reason is that once the event stream stops so does time and therefore the rest of the pipeline is not executed. As a result the alert logic is never evaluated and an alert is never triggered.

Possible solutions:

* Use a separate task and the internal Kapacitor stats

[2016-01-07 17:59] nathanielc commented on #137
For option 2 the behavior will be to use the data flow to understand time but on a realtime interval emit the window. If data arrives too late it will need to be dropped since time has already passed but this will be measurable and we can report the number of dropped points.

There might be some challenges with using realtime and replays but we should be able to work something out.

[2016-01-07 18:10] nathanielc commented on #137
Another option could be to expose the internal throughput numbers directly to the running task.

Each node could have a stats() method that emits the internal stats of the node on a specified realtime interval. For example:

[code]

This allows for more interesting applications since it allows you to essentially meta program your tasks.

[2016-01-07 18:11] nathanielc commented on #137
@pauldix Thoughts on some of the ideas for making a dead-man's switch easy to build?

[2016-01-07 18:18] jcmartins commented on #126
**SHOW SUBSCRIPTIONS**
telegraf
**retention_policy	name	mode	destinations**
default	"kapacitor"	"ANY"	udp://localhost:50749

**kapacitor show cpu_alert**
Name: cpu_alert
Error:
Type: stream
Enabled: true
Executing: true
Databases Retention Policies: ["telegraf"."default"]
TICKscript:
stream
  // Select just the cpu_usage_idle measurement from our example database.
  .from().measurement('cpu')

[2016-01-07 18:19] #126 closed

[2016-01-07 18:25] nathanielc commented on #136
Thanks this should be fixed today.

[2016-01-07 19:41] #136 closed

[2016-01-07 22:26] rossmcdonald commented on #137
I personally like the `.stats()` method the most. It's simple to explain, and could enable some interesting alerting functionality (service discovery, receiving too many points, etc).

Would `stats()` be affected by the same data race as `realtime()`?

[2016-01-07 22:36] gunnaraasen commented on #137
I also like the `stats()` proposal. It feels more intuitive than `realtime()`.

[2016-01-07 22:43] nathanielc commented on #137
Yes, but in a different way that makes it harder to shoot yourself in the foot (i.e no data points need be dropped).

For example given that you are sending a data point to Kapacitor once per second here are the two options:

Reatime.
[code]
 With the realtime approach this alert is prone to many false positives if the data arrives slightly ahead or behind. If a data point arrives too late it need

[2016-01-07 22:45] pauldix commented on #137
+1 to the stats approach. Although it feels super verbose to define something as simple as a dead man's switch.

[2016-01-07 22:53] nathanielc commented on #137
If all you want is a dead man's switch and don't care about the data itself it looks like this:

[code]

We could add special method for just the dead man's switch use case?

[code]

Then it could leverage the global alert config for how to handle to alert. This can always be added later if we think it adds enough value. For now I think I'll move forward with the `stats` approach.

[2016-01-10 08:31] dboek opened #140 "Slack enabled=true doesn't seem to work"
Server: 64Bit Ubuntu 14.04
Kapacitor: 0.2.4
Package: kapacitor_0.2.4-1_amd64.deb

I installed Kapacitor using the Debian Package mentioned above. Everything installs fine, I am able to start and use Kapacitor. I was able to enable SMTP and got alerts with some simple Alerting scenarios I defined, replayed and enabled.
SMTP upon start of Kapacitor is mentioned in the logs as a Service being started

[2016-01-11 17:05] lpalm opened #141 "Allow alert evaluation to only occur during certain times/days"
It would be really useful to have a way to prevent alerts/expressions from being evaluated during weekends or scheduled maintenance windows. Non-24/7 services typically will go down when not being used so we'd like to not have to receive emails about it.

[2016-01-11 17:11] nathanielc commented on #141
My first thought on how to approach this would be to create a time of day functions for use in filters. Something like:

[code]

Thoughts?

[2016-01-11 17:20] lpalm commented on #141
Yeah, that would certainly be general enough for our use case (though perhaps weekDay() would be clearer than day()?). A cron-like syntax (e.g. * 8-17 * * 1-5) would also be fine.

One thing to keep in mind is that eventually we'd like to alert for missing data during those periods, so we'd need to be careful that this would play nice with whatever implementation is used for https://github.com/inf

[2016-01-11 18:15] nathanielc commented on #140
If Kapacitor starts up then the config is valid. One of the first log entries during startup is the path to the configuration file so you can confirm the daemon is using the expected one.

You can paste you config here and I'll take a look. Also the output of `kapacitor show <task_name>` for you task would be helpful in debugging the issue.

[2016-01-11 19:21] dboek commented on #140
Tailing the log in /var/log/kapacitor/kapacitor.log there is no mentioning of the conf path, but when I look in /var/log/kapacitor/kapacitord.err it seems to use the correct conf file:
[code]
Now it works! It's weird, because I changed the parameters only at this location and did a restart every time. Could there have been indention problems in the tick script, evaluation slack() at the wrong plac

[2016-01-11 19:48] nhproject opened #142 "Trouble Defining Multiple InfluxDB Servers"
In the [influxdb] section in the configuration file, there's the "urls" variable. I tried to define over there three influxdb machines which I have in my cluster, like this:
```urls = ["SERVER1_URL","SERVER2_URL","SERVER3_URL"]. ```
After that, I restarted the Kapacitor in order to apply it - but nothing happened, it seemed like its stuck, and the log didn't showed the usual messages it always sho

[2016-01-11 19:52] nhproject opened #143 "Bind Error After Restart"
When I start Kapacitor, it created a subscription automatically, and everything works great.
Then, In order to apply new configs (for example), I'm restarting the service.
When restarting, I get the following error:
``` "Failed to set up UDP listener at address.....bind: cannot assign requested address". ```
My workaround for this is stopping Kapacitor, dropping the previous created subscription,

[2016-01-11 19:54] nathanielc commented on #143
It definitely should not work like that.

What OS/Arch are you using?
How did you install it?
How are you restarting the daemon?

[2016-01-11 19:57] nhproject commented on #143
I'm using Ubuntu 14.04.
I installed Kapacitor using wget & dpkg (as usual..).
I'm restarting the daemon using "sudo service kapacitor restart".

[2016-01-11 20:04] nathanielc commented on #143
Sounds like the kapacitor daemon is still running after you tell it to stop.

If you run `sudo service kapacitor  stop` and then `ps aux | grep kapacitord` are there any running kapacitor daemons?

If so kill them and try start stoping kapacitor again.

Do you see the log `server shutdown complete` after stopping kapacitor?

[2016-01-11 20:09] nathanielc commented on #140
TICKscripts  ignore white space so that's not it but glad you got it working.

[2016-01-11 20:14] nhproject commented on #143
I followed your instructions :
I started Kapacitor, it created a subscription automatically.
Then I ran: ``` sudo service kapacitor stop ```
I saw in the log : ``` server shutdown complete ```
and no daemon was running (I ran: ``` ps aux | grep kapacitord ```).

[2016-01-11 20:18] nathanielc commented on #143
OK,. so the daemon is stopping correctly.

Is there another process that is still bound to the UDP port? You can use `netstat -nlp` to see a list of process and the ports they listen on.

[2016-01-11 20:22] nhproject commented on #143
nope. The UDP port is 38513 and nothing is bound to it.

[2016-01-11 20:34] nathanielc commented on #143
Here is the relevant code:

https://github.com/influxdata/kapacitor/blob/master/services/udp/service.go#L75-L85

Kapacitor is just trying to listen on the UDP port. If nothing is bound to that port I am not sure what would be causing the error. The port is > 1024 so you shouldn't need any special root privileges, maybe selinux? just a guess...

Is this the literal error you are seeing in the logs

[2016-01-12 08:22] nhproject commented on #143
Sure. There it is:

# The hostname of this node
hostname = $HOSTNAME
# Directory for storing a small amount of metadata about the server.
data_dir = "/var/lib/kapacitor"

[http]
  # HTTP API Server for Kapacitor
  bind-address = ":9092"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/kapacitor.pem"

[2016-01-13 21:10] nathanielc commented on #143
What is the value of the `$HOSTNAME` var? That could create this problem if its not set/correct.

[2016-01-13 22:54] nathanielc commented on #12
No one has asked for this closing.

[2016-01-13 22:54] #12 closed

[2016-01-14 14:11] melck opened #144 "[Feature Request] Be able to merge streams with different groups"
I want to merge streams with differents groups.

This issue is related to this post on [google groups](https://groups.google.com/forum/#!topic/influxdb/0WfQFEEHV6s) for @nathanielc

[2016-01-14 16:30] nathanielc commented on #144
@melck  Thanks for creating the issue.

Simplified use case from the mailing list. This TICKscript wants to be able to calculate the percentage of user cpu each process is consuming on a given host.

[code]

 My proposed solution is to add an optional `on` property to the join node. The`on` will take a list of dimensions to join on and if on of the parent streams has more dimensions than specified

[2016-01-14 16:36] nathanielc opened #145 "Add buffering and fault tolerance to the InfluxDBOut Node."
The current implementation just writes points as it receives them to the InfluxDB. In high volume scenarios this will not be sufficient. The node should buffer the data points before sending them on to InfluxDB. This is appropriate since if you wanted any near real-time analytics of the data that is being buffered you already have them in Kapacitor and can do so. The small delay in being written t

[2016-01-14 16:37] nathanielc commented on #142
This looks correct to me. Are there any logs at all or does the process just hang when trying to connect?

[2016-01-16 11:19] melck commented on #144
I like the way to do it, it's clear and simple but after implementation, it would be nice to have those examples in documentation.

In meantime, i will see in what other cases i need to use this feature and check if it theoricly works

@nathanielc  When do you think it would be available with your current solution ?

[2016-01-18 15:02] nkts opened #147 "Compressed release packages"
The current release is uncompressed, while others, for example influxdb, are.
[code]
vs
[code]

[2016-01-18 16:35] nhproject commented on #143
Its the kapacitor's public ip

[2016-01-18 16:42] nhproject commented on #142
tail -f /var/log/kapacitor/kapacitor.log - no logs at all.

[2016-01-19 19:17] nathanielc opened #148 "Record stream for a dbrp that doesn't exist hangs indefinitely"
Probably just need to add some sort of read timeout so that when no data arrives we error out.

[2016-01-19 21:07] #115 closed

[2016-01-19 21:47] nathanielc opened #151 "Document the influxql.* functions"
They are almost identical to InfluxQL but top/bottom are different and need docs to explain their usage.

[2016-01-19 22:43] wtfuzz opened #153 "panic: reflect: call of reflect.Value.Type on zero Value"
I've had the following panic:

[code]

With the following TICKscript:

[code]

[2016-01-19 22:44] wtfuzz commented on #153
Points were being generated with the following:

[code]

[2016-01-19 23:08] nathanielc commented on #153
@wtfuzz There is an error in the TICKscript on this line:

[code]

should be

[code]

That it panics is obviously bad and I have a fix coming.

[2016-01-19 23:58] nathanielc commented on #142
@nhproject can you check /var/log/kapacitor/kapacitor.err ? If Kapacitor crashes before it can initialize its logs, the STDERR content gets put there.

[2016-01-20 18:12] #137 closed

[2016-01-20 21:14] #153 closed

[2016-01-20 21:47] #72 closed

[2016-01-21 11:13] pootzko opened #157 "Kapacitor REST API authentication"
Hi,

does Kapacitor support authentication? As far as I can see, 0.2.4 doesn't, though I might be wrong. Do you think it will in the future?

Also, do you have a rough estimate about when v0.10.0 might come out? Is it still scheduled for this month? :)

Thanks

[2016-01-21 16:01] nathanielc commented on #157
Currently there is no authentication on the API. Yes it will be coming.

As for the 0.10.0 release I cut the v0.10.0-rc1 yesterday and expect the final release in the next week or so.

[2016-01-21 16:28] nathanielc commented on #147
Good catch, I'll update the script to compress them. Thanks

[2016-01-21 16:37] pootzko commented on #157
Great, thanks for the response. Do you have an idea of how far away it is? Near, further future? I guess we'll be able to lock the REST API by api for now, but I'm still curious.

Thanks.

[2016-01-22 04:41] kisienya opened #158 "pagerDuty not enabled error"
Hi,
Many thanks for this very useful tool.
I am trying to alert to pager duty.
My kapacitor.conf looks as follows:
############################################
[pagerduty]
  enabled = true
  url = "https://events.pagerduty.com/generic/2010-04-15/create_event.json"
  service-key = "xxxxxxxxxxxxxxxx"
  global = false
############################################
My Tick file looks as follows
########

[2016-01-22 16:58] anlutro commented on #85
This simply isn't true, as InfluxDB + Kapacitor has no good way of handling "boolean" checks as of today - i.e. alerts for things like "sshd service is not running", "cronjob X has been running for more than an hour" etc.

I second this feature in Kapacitor, because I like it better than Sensu for sending alerts based on CPU/memory/disk/network usage, but Sensu fills the gaps, and I love having al

[2016-01-22 17:02] nathanielc commented on #85
I agree Sensu integration would be a valuable addition to Kapacitor. Kapacitor is an alert source not an alert manager. Any takers on giving it a shot?

Here are very similar PRs for integrating with other tools #125 #139

[2016-01-22 17:03] sstarcher commented on #85
@anlutro I fully agree Kapacitor solves a lot of problems, but it is not a generic solution like Sensu is and it would be silly to attempt to reimplement sensu features that are not metric related.

[2016-01-22 17:13] anlutro commented on #85
@sstarcher I agree, I did not intend to make any argument for Kapacitor to become a more generic tool.

[2016-01-22 17:15] anlutro commented on #85
It looks like you can't simply HTTP POST an event to Sensu, you have to do it through RabbitMQ. I guess this makes it somewhat more of an effort than previous output plugins...

[2016-01-22 21:56] gargooza commented on #141
+1 for a dedicated function to filter alerts to specific days/times. Something cron-like as per @lpalm 's suggestion would be awesome.

[2016-01-22 22:48] nathanielc commented on #141
@gargooza @lpalm Is this something you would like globally for all alerts within Kapacitor or would it be different per alert?

I could just add a quite-hours cron-like option to the config. Would that be enough or do you want it per alert?

[2016-01-22 22:53] gargooza commented on #141
A filter would need to be configured specifically for each alert. For example, some of my alerts are no good on weekends. Some alerts are only during business hours. Some alerts shouldn't fire on holidays. Some alerts might be combinations of all of those.

[2016-01-22 23:07] lpalm commented on #141
Per alert would be better for us as well as maintenance windows vary depending on the task being monitored and their geographical location.

[2016-01-23 18:00] sstarcher commented on #85
@anlutro if you do a HTTP POST to a sensu client it will forward the data over to RabbitMQ for you.

[2016-01-23 18:51] anlutro commented on #85
@sstarcher at least in my case, it's unreasonable to assume that I can HTTP POST to a sensu client from whatever server is running kapacitor.

[2016-01-23 19:05] sstarcher commented on #85
@anlutro this resolves my use case and is the prefered method of Kapacitor communication with Sensu.  If that's not workable for you I recommend you add support for RabbitMQ.

[2016-01-24 08:06] nhproject commented on #142
panic: reflect: slice index out of range

goroutine 1 [running]:
reflect.Value.Index(0x974a20, 0xc820110950, 0xd7, 0x1, 0x0, 0x0, 0x0)
	/usr/local/go/src/reflect/value.go:847 +0x151
github.com/BurntSushi/toml.(*MetaData).unifySliceArray(0xc82015b448, 0x972bc0, 0xc82015eb00, 0x57, 0x974a20, 0xc820110950, 0xd7, 0x0, 0x0)
	/gopath/src/github.com/BurntSushi/toml/decode.go:321 +0x12e
github.com/BurntSu

[2016-01-24 17:39] m4ce commented on #85
@anlutro, you could run a sensu-client where kapacitor runs. The sensu-client would then listen on localhost:3030. I think that is fair enough.

[2016-01-24 18:12] UnderGreen opened #161 "How to use stream with data from telegraf 0.10.x?"
For now, I think stream processing does't  work, because we have measurements with fields.
And I did't find in documentation and code how it possible to work with these data.

[2016-01-25 12:40] pootzko opened #162 "Difference between enable and reload"
Hi,

could you please tell me what is the difference between `enable` and `reload`? I see that they both hit the "enable" REST API endpoint but I can't see if there's any difference in the request body. Do they do something different logically? And if yes, what's different that's being sent through the body?

Thanks

[2016-01-25 16:17] nathanielc commented on #162
The only difference is that `reload` also disables the task first. Reload is essentially an alias to:

[code]

The `enable` action is idempotent meaning that if the task is already enabled it will do nothing. In order to *reload* a running task it must first be disabled before being enabled again.

[2016-01-25 16:20] pootzko commented on #162
Oh ok, thought there would be a small catch like that. Thanks.

[2016-01-25 16:20] #162 closed

[2016-01-25 16:21] nathanielc opened #163 "Make writing data to Kapacitor identical to writing data to InfluxDB"
Kapacitor should be able to act as an InfluxDB host without any changes to the client, as far as writes are concerned.

1. The write path must be identical so that clients that have hardcoded the path will work
2. Somehow it would be nice to be able to pretend like the database exists. Since in Kapacitor the databse and rp are just scoping they can be *created* on the fly. Maybe all we need to do

[2016-01-25 16:32] nathanielc opened #164 "With the meta changes in InfluxDB core Kapacitor no longer builds"
Need to update the imports etc.

[2016-01-25 16:59] nhproject commented on #161
You can, I succeeded to work with it.

If, for example, you had:
```.from().measurement('cpu_usage_idle')```
and
```.mapReduce(influxql.last('value'))```
Now you just need to change it to:
```.from().measurement('cpu')```
and
```.mapReduce(influxql.last('usage_idle'))```

[2016-01-25 17:41] #164 closed

[2016-01-25 18:13] #163 closed

[2016-01-25 19:07] nathanielc commented on #158
Your config looks correct. The only thing I can think of is that Kapacitor didn't get restarted after the config change.

[2016-01-25 19:42] #147 closed

[2016-01-25 21:26] nathanielc opened #168 "Add cron match time function"
In addition to the normal time functions (see #141) we should be able to do `lambda: cronMatch('* 8-17 * * * *', "time")` so greatly simplify and time based expressions one would write.

[2016-01-25 21:27] nathanielc opened #169 "Now with the addition of time functions in expressions we should support time math"
For example this should be a valid expression

`lambda: "time" - now() > 5s`

[2016-01-25 21:33] #85 closed

[2016-01-25 22:31] #141 closed

[2016-01-26 04:35] vlasov01 opened #172 "Tests failed on ARM"
Hi,

I'd like to try Kapacitor on ARM based Linux.
$ uname -a
Linux localhost 3.10.9 #1 SMP PREEMPT Mon Nov 9 19:38:46 KST 2015 armv7l armv7l armv7l GNU/Linux

I've build it after adding several packages:
go get github.com/dustin/go-humanize
go get gopkg.in/gomail.v2
go get github.com/serenize/snaker
go get github.com/shurcooL/markdownfmt/markdown
go get github.com/stretchr/testify/assert

But tes

[2016-01-26 08:39] kisienya commented on #158
Thanks for the reply

The strange thing is that, I have restarted the server, but I still get the error.

Any ideas....

[2016-01-26 18:07] yosiat commented on #73
:+1:

In bad network two computers (influx and kapacitor) talking to one another by udp it can be a huge data loss, and storing all of the data for *stream* alerts in influxdb can be a waste of space.

Another input devices like kafka/other mq (rabbit for example)/http or something can be really awesome!

[2016-01-26 21:00] nathanielc opened #173 "Add a -reload flag to the define command to make it easier to update a task"

[2016-01-26 21:04] nathanielc opened #174 "Clean up tar and zip packages since they have a weird directory structure"
The dir structure in the tar balls and zips is like a package which is annoying and odd:

[code]

We should just flatten it and put in a named top dir.

[2016-01-26 21:15] nathanielc commented on #73
@yosiat I agree Kafka support would be a great addition.

But I do want to point out there are more ways than UDP to get data into Kapacitor, specially if all you need is a more reliable transport.

Kapacitor supports all the same input formats as InfluxDB including its HTTP write API. You can even configure Telegraf to send data to both Kapacitor and InfluxDB simultaneously.

[2016-01-26 21:18] yosiat commented on #73
@nathanielc How can I send to kapacitor? I don't see it documented in influx website.

[2016-01-26 21:18] nathanielc commented on #73
@yosiat From where?

[2016-01-26 21:18] yosiat commented on #73
@nathanielc HTTP write

[2016-01-26 21:22] nathanielc commented on #73
@yosiat The same way you do for InfluxDB.

Example HTTP write for Kapacitor, the port change is the only difference.

[code]

https://docs.influxdata.com/influxdb/v0.9/guides/writing_data/

The graphite udp collectd etc input plugins all work for Kapacitor in the same way as InfluxDB.

And since the database and retention policy only scope the data for which task can consume it there is no need to

[2016-01-26 21:25] Srungaram opened #175 "Could you please post on how to build binaries for the latest release?"
I have tried using go build but getting below error
../influxdata/kapacitor/udf/udf.pb.go:286: undefined: proto.ErrInternalBadWireType
../influxdata/kapacitor/udf/udf.pb.go:293: undefined: proto.ErrInternalBadWireType
../influxdata/kapacitor/udf/udf.pb.go:300: undefined: proto.ErrInternalBadWireType
../influxdata/kapacitor/udf/udf.pb.go:307: undefined: proto.ErrInternalBadWireType
../influxdata/ka

[2016-01-26 21:44] nathanielc commented on #175
Looks like you are missing some dependencies. The supported way to build it is using `./build.py`. This will place the binaries in a `./build/` directory. If you have docker you can run `./build.sh` to build the code inside a docker container for better isolation.

`build.py` is just a wrapper around `go build`.  Maybe try `go get -v -u ./...` to update your gopath deps?

[2016-01-26 21:46] yosiat commented on #73
@nathanielc Thanks :)

1. I think it needs to be added to the documentation of Kapacitor, at least specify this is an option.
2. If have stream alert, where the data will be saved? or this is in-memory?

[2016-01-26 21:50] nathanielc commented on #73
@yosiat

1. Agreed, I know its in the docs somewhere but obviously not prominent enough. I'll work on a fix.

2. Yes, Kapacitor does everything in memory. If you want it saved you have to send to somewhere. InfluxDB for example. Or an alert handler like Sensu or PagerDuty etc.

[2016-01-26 21:55] yosiat commented on #73
@nathanielc
Just to make sure I understand:
1. If I have alerts that for some reason needs to save the points for one hour - they will be stored in memory for 1 hour, and after that 1 hour they will be deleted?
2. It's great that the points are saved in memory, but how can I make it more fault-tolerant? for example - if the instance goes down I don't want to loose all the data.
3. Is there stats A

[2016-01-26 21:57] nathanielc commented on #158
Could you put together a simple script that can reproduce the issue? Maybe there is a weird edge case in how each of us are doing it. Thanks

[2016-01-26 22:01] nathanielc commented on #73
@yosiat Not sure I follow what you mean by storing alerts for 1 hour. Can you open a new issue with an example TICKscript and these questions? Then we can discuss it there.

[2016-01-26 22:26] nathanielc commented on #172
I just tried this out on a Raspberry Pi B and the tests are passing fine.

My system:
[code]

Its armv6 and yours is armv7. Seems unlikely arm version related but possible.

What version of `go` are you using?

Also try `go test -parallel 1 ./...` since a lot of the errors you are seeing seem to be namespace collisions.

[2016-01-27 00:10] vlasov01 commented on #172
I'm testing on a relatively fast board ARTIK 10 https://www.artik.io/hardware/artik-10 with ARM A15x4@1.3GHz + A7x4@1.0GHz.
I'm using go 1.5.2.

The test still fails:
[iot@localhost kapacitor]$ go test -parallel 1 ./...
2016/01/26 19:09:32 Reuse of exported var name: num_tasks
panic: Reuse of exported var name: num_tasks

goroutine 1 [running]:
log.Panicln(0x10a3bf24, 0x2, 0x2)
        /home/iot/.

[2016-01-27 06:53] kisienya commented on #158
.from().measurement('cpu_usage_idle')
    .alert()
        .crit(lambda: "value" < 90)
        .pagerDuty()
        .email()
################################################
Testing both pagerduty and email. Email works well.

[2016-01-27 16:42] nathanielc opened #176 "UDF and groups"
Document that UDFs are responsible for managing groups.

Make supporting groups easy for the UDF process. This may require changing the Begin/End Batch protobuf messages.

[2016-01-27 18:23] nathanielc opened #177 "[PANIC] for Kapacitor show with batch and bad dbrp"
[code]

[2016-01-27 19:14] yosiat opened #179 "Kapacitor in-memory storage questions"
Hi,

_Continue from https://github.com/influxdata/kapacitor/issues/73#issuecomment-175249878_

As I understand, Kapacitor has in-memory storage instead of influxdb, according to this I have some question before I use it in production.

### Retention policy
Assuming I have _one_ simple alert that checks some measurement (for example cpu_usage) and checks if is it greater than 80 then we are in crit

[2016-01-27 19:14] yosiat commented on #73
@nathanielc Thanks for the fast replies :+1: I opened another issue - https://github.com/influxdata/kapacitor/issues/179

[2016-01-27 19:28] #177 closed

[2016-01-27 19:56] nathanielc commented on #179
I think it would be helpful to not think of Kapacitor as an in-memory InfluxDB database but rather a data pipeline. As such if data is still flowing through the pipeline then its in RAM, once the data reaches the end of a pipeline it is forgotten. There is no index or other mechanism where data resides.

Using your alert example here is a TICKscript to do what you describe.

[code]
Using the above

[2016-01-27 20:05] nathanielc opened #180 "After #155 make is so that the config is generated with docs."
The #155 config changes should make it so that config can be commented via tags for the go struct fields. Do this for all config so that the example config is generated and can no longer diverge from reality.

[2016-01-27 20:09] yosiat commented on #179
WOW!!
Thanks for the great information :+1:

It really solves my problem :)
Just two more questions:

1. If there is no "storage", this is all in-flight, what is the meaning of retention policy for points?
2. Can I fetch the stats not from kapacitor?  or should I do something like -
`stream.from().database('_kapacitor').retentionPolicy('default').influxDBout()...`

[2016-01-27 20:34] nathanielc commented on #179
1. For Kapacitor the database and retention policy names just serve to scope the data so you know which data you are working with. Other than that they serve no purpose.

2. Yes, this task will save all Kapacitor internal stats in InfluxDB.

[code]
 I have defined the above task as a _stats task like so and find it quite handy.

[code]

Also note if you just what a quick glimpse at the important s

[2016-01-28 04:49] vlasov01 commented on #172
And now it fails to build as well:

./build.py --packages

--- Kapacitor Builder ---

Checking environment:
        - GOPATH -> /home/iot/gocodez
        - GOBIN -> None

Checking for dependencies:
        - git -> /usr/bin/git
        - go -> /home/iot/.gvm/gos/go1.5.2/bin/go
        - fpm (optional) -> /usr/local/bin/fpm
        - rpmbuild (optional) -> /usr/bin/rpmbuild

Building for...

[2016-01-28 16:59] rossmcdonald commented on #172
@vlasov01 I don't believe that `amv7l` is a [valid](https://github.com/golang/go/wiki/GoArm) GOARCH (or GOARM) value. We'll need to tweak the build script to support more ARM architectures, but for now try running the build commands manually. For example:

[code]

[2016-01-28 20:27] lpalm opened #182 "HTTPOut node produces a .gz file"
Visiting the URL for the HTTP node downloads a file name TASKNAME.gz, which is really just a plaintext json file with an invalid extension.

I'm visiting the URL http://kapacitorhostname:9092/api/v1/TASKNAME

Tick script:
stream
  .from()
    .database('DBNAME')
    .measurement('MEASUREMENTNAME')
  .window()
    .period(5s)
    .every(5s)
  .httpOut('TASKNAME')

This means I can't actually see th

[2016-01-29 02:57] vlasov01 commented on #172
@rossmcdonald I've tried to build as per your instruction. here is the output:

[iot@localhost kapacitor]$ GOOS=linux GOARCH=arm GOARM=7 go build -o build/kapacitord -ldflags="-X main.version=$(git describe --always --tags --abbrev=0) -X main.branch=$(git rev-parse --abbrev-ref HEAD) -X main.commit=cc53904ee398dd9bc4ff1dddd779173782780d71" ./cmd/kapacitord/main.go
# github.com/influxdb/influxdb/ts

[2016-01-29 13:23] lpalm commented on #182
By the way, this .gz behavior occurs when accessing the API link from Chrome in a Yosemite Mac.

[2016-01-29 13:46] lpalm opened #184 "Alerts firing for stale thresholds after reload"
I have an alert set up like this:

[code]

The info and crit thresholds were previously 100 and 1000. Last night I disabled the task, changed and saved the tick script to use the much higher thresholds and today I reloaded and enabled the task.

kapacitor disable TASK // last night
vi TASK.tick  // edit to increase thresholds
kapacitor reload TASK  // Seems to restart the task according to the log

[2016-01-29 14:03] lpalm commented on #184
Looks like https://github.com/influxdata/kapacitor/issues/173 would address this. I'm still interested in knowing what the use cases for a (re)define without a reload, and for a reload without a file change + (re)define are.

[2016-01-29 15:08] rossmcdonald commented on #172
@vlasov01 Can you rerun the same command except adding a `-x` to display the underlying commands being run? That will hopefully show us what's causing the `reading input: EOF` error.

[2016-01-29 22:26] devilldog opened #185 "panic: runtime error: slice bounds out of range"
Hi, trying to test out kapacitor, following the tut @ https://docs.influxdata.com/kapacitor/v0.2/introduction/getting_started/
I get the following error, dont really know anything about go or i would try to debug further.
cheers!
rob
[code]

[2016-01-30 01:44] vlasov01 commented on #172
@rossmcdonald Here is the output as per your request:

[code]
But it seems to me that the file in question exists:
[code]

[2016-01-30 14:22] yosiat opened #186 "Async record"
Hi,

I have started using the record in Kapacitor and it looks great, but waiting for the duration only to get the record id isn't nice..
For example, consider that I want to wait for 50 minutes, I would like to do something like this:
[code]

What do you think?

[2016-01-30 14:57] yosiat commented on #179
@nathanielc

Hi,
Thanks for the quick response :)

I have some questions:
1. If there is no database what is the default "dbrp" if I am using in-memory store and not using influx?
2. I am calling show and don't have the labels [label="472"] ..?

[2016-01-31 02:45] jacobcase opened #187 "Kapacitor doesn't always create subscriptions when brought up with influxdb"
OS Host: mint 17
Docker Base image: Ubuntu 14.04
Docker version: 1.9.1
Docker compose version: 1.5.2
Influxdb version: 0.9.6.1
Kapacitor version: 0.10.0
From: .deb packages

I'm setting up an experiment using docker-compose, and I'm having an issue where Kapacitor requires restart manually for it to create subscriptions to influxdb.  I'll try and step through the process to replicate.

To start, I

[2016-01-31 08:14] johankcarlsson opened #188 "Search function for documentation on web site!?"
I'm not able to free search in the Kapacitor documentation on the web.
Have I missed the search function?

If there is non please add the possibility to search freely in the whole (syntaxt) document.
That is applicable for all InfluxDB docs.
/Johan

[2016-01-31 10:32] enviroeye opened #189 "failed to send alert data to Slack: failed to understand Slack response"
Hi there,

Having some issues with Slack integration. Enabled Slack in the .conf file, and added in the webhook URL for my channel to the .conf file. (I tested the URL using curl and successfully received an alert.). I then restarted Kapacitor to pick up the changes to the configuration. However within Kapacitor all is not well and I am receiving the follow error:

[humidity_alert:alert2] 2016/01/

[2016-02-01 11:25] qindj opened #190 "Alert when host is offline"
Dear:

I want to receive alerts when host is offline, is that possible in kapacitor?

As I tested with SNMP plugin, it shows me "Error reading from UDP XXXXX" on STDERR, can kapacitor catch it?

Thanks & Regards!

[2016-02-01 14:28] rossmcdonald commented on #190
@qindj A `deadman` function was added recently which acts as a [dead man's switch](https://en.wikipedia.org/wiki/Dead_man%27s_switch), with documentation available [here](https://docs.influxdata.com/kapacitor/v0.10/tick/stats_node/#deadman). Is that what you are looking for?

[2016-02-01 14:33] rossmcdonald commented on #188
@johankcarlsson Search functionality should be coming soon. In the meantime, you can search the documentation repository directly using Github's search [here](https://github.com/influxdata/docs.influxdata.com/search?utf8=%E2%9C%93&q=).

[2016-02-01 15:00] rossmcdonald commented on #172
@vlasov01 The order of the operators matters when running the `go build` command. Can you try this command instead:

[code]

Where the `-o` and `-x` are swapped?

[2016-02-01 20:36] madshall opened #192 "[alerta] Can't send an alert"
When I'm posting an alert to Alerta I'm getting 403 response back. The response body reads `"[POLICY] Alert must define a service"`, but there is no `.service()` method defined for Alerta service.

[2016-02-01 22:44] madshall opened #193 "[alerta] There is no option for "severity""
There's no option to specify the severity of an alert which makes the integration pretty useless. Could you please add this method?

[2016-02-02 00:33] vlasov01 commented on #172
@rossmcdonald  Here is the output:

[code]

[2016-02-02 03:23] qindj commented on #190
@rossmcdonald thanks!

[2016-02-02 08:17] qindj commented on #190
@rossmcdonald  Sorry for reopen this issue!

One more question, can I use variables such as "host" or "ip" in `deadman`'s template?

thanks!

[2016-02-02 11:04] nhproject opened #195 "Send to different Slack channels according to some criteria"
Say I have two channels on Slack: Channel A, Channel B.
Channel A should receive all alerts that involves host A,
Channel B should receive all alerts that involves host B.
Can I do something like that on the .alert() node?

if eq (index .Tags "host") "A"
  .slack()
    .channel('A')
if eq (index .Tags "host") "B"
  .slack()
    .channel('B')

10x!

Nitz

[2016-02-02 12:58] pootzko opened #196 "Way of formatting email body?"
Hi,

is there a way of formatting the alert's `email()` body? With a combination of `id()` and `message()` one can modify the email subject, can it be done for the body as well to get something other than the JSON body which is currently being sent?

Thank you

[2016-02-02 13:26] pootzko opened #197 "Best way of monitoring multiple fields at once?"
Hi,

this is a slightly simpler version of what I currently have:

[code]

I have two questions regarding this.

- Is there a smarter way of monitoring 2 different fields at the same time than putting an `OR` inside a lambda like I did here?
- Is there a way to tell which one of these two values triggered the warning/crit inside the `message()`? If I had that, I would not have to display both fiel

[2016-02-02 13:42] #157 closed

[2016-02-02 14:01] rossmcdonald commented on #190
@qindj I personally haven't experimented with it yet, but I believe so. The `deadman` function returns an [alert node](https://docs.influxdata.com/kapacitor/v0.10/tick/alert_node/), which could then be used to send a custom message about the host that isn't responding (either through `message` or `id`).

[2016-02-02 15:57] madshall commented on #192
This one was resolved, the issue was on alerta side - reject plugin needs to be disabled (it was enabled by default)

[2016-02-02 15:57] #192 closed

[2016-02-02 16:40] nathanielc commented on #190
@qindj Yes, you can use `host` and `ip` in the template assuming they are tags on the data points.
For example in the TICKscript

`.message('host: {{ index .Tags "host"}} ip: {{ index .Tags "ip"}}')`

or in the config:

`message = "host: {{ index .Tags \"host\"}} ip: {{ index .Tags \"ip\"}}"`

[2016-02-02 16:51] nathanielc commented on #197
@pootzko There are two ways to do what you want.

1. Using the `OR` as you have it and using conditional logic in the template itself. See golang template docs https://golang.org/pkg/text/template/. But that requires you to duplicate the logic in the lambda expression and the template which is not ideal.

2. Use two different alert nodes one for each field.

[code]
A little more verbose but I thin

[2016-02-02 17:00] pootzko commented on #197
Oh ok, that's great. Thank you.

What would you say, is there any significant performance difference between using `OR` and having two alert nodes?

[2016-02-02 17:07] nathanielc commented on #193
@madshall The severity is mapped from the Kapacitor Alert Level to the Alerta Severity.

As a result specifying the severity explicitly would not allow it to be dynamic based on the data being evaluated. The mappings are as follows:

| Kapacitor Alert Level | Alerta Severity |
| ----------------------------| ---------------------|
| OK | OK |
| Info | Informational|
| Warn | Warning |
| Crit | Cri

[2016-02-02 17:11] nathanielc opened #198 "[alerta] Support the "service" attribute"
See http://docs.alerta.io/en/latest/api/alert.html#alert-attributes. Add support for the `service` attribute so in addition to the `resource`  a list of affected `services` can be defined.

[2016-02-02 17:15] nathanielc commented on #197
There is a performance difference as more work needs to be to send the data to both alert nodes but I do not think it is significant, but I don't have any data to back that up ;)

FYI  I am currently working to better quantify the performance characteristics so if I learn something surprising I'll post back.

[2016-02-02 17:33] nathanielc commented on #184
@lpalm This issue is that you did not define the task again and you are correct #173 will make this less confusing.

The steps should be:
[code]

But after #173 it can be:
[code]

But the define step is always necessary since Kapacitor stores its own copy of the TICKscript and editing your copy will have no effect on Kapacitor.

[2016-02-02 17:36] nathanielc commented on #182
As part of the v0.10.0 release the API paths had a breaking change. The `api/v1` was removed so that its paths match InfluxDB for write compatibility. Try removing the `api/v1` part of the path and see if it still has the issue. It is odd that a gz file is being returned and I'll see if I can fix that. See https://docs.influxdata.com/kapacitor/v0.10/tick/http_out_node/ for docs on the correct path

[2016-02-02 17:38] nathanielc commented on #185
@devilldog The error is that the `dbrp` flag is invalid. It needs to be of the form `dbname.rpname`. The value `collectd` is invalid and should probably be something like `collectd.default`. I'll fix the panic so that it returns a valid error explaining the correct format.
 Thanks for the report.

[2016-02-02 17:50] nathanielc commented on #186
What are you going to do with the ID before the recording has finished? I agree that having a long running task can be difficult to manage but the current workflow prevents invalid behavior, of trying to use a partially completed ID. Are you trying to programatically interact with recordings?

[2016-02-02 18:12] nathanielc commented on #195
This is possible but requires different alert nodes for each branch in the logic.

[code]

[2016-02-02 18:15] nathanielc commented on #187
@jacobcase I think the real problem is the lack of retrying to connect to InfluxDB on startup. We should add some kind of retry with back off mechanism and only fail after a longer time period.

As for the missing SUBSCRIPTIONS my only guess is that Kapacitor was able to connect to InfluxDB before it was ready to serve requests and got some kind of error that was ignored. I will try to reproduce l

[2016-02-02 18:18] nathanielc commented on #189
My first guess is that you have a different kind of slack integration. Did you create a https://slack.com/services/new/incoming-webhook or some other kind of slack integration? The error message is vague and not helpful, so I'll update the error message so we can get a better understanding of the issue.

[2016-02-02 19:12] yosiat commented on #186
I am trying to interact programatically, I want to create recording of 1 hour and setting request timeout limit to 1h isn't acceptable.

What I am suggesting is:

- Create recording returns id
- I will check the status of this id and there will be two stats: recording or finished
  - If this is still recording, I will try again later (5 minutes later for example)
- If this is finished I will go to

[2016-02-02 19:23] nathanielc opened #199 "[alerta] Make 'value' field a template using the same Message values"
Alerta supports both a `value` and a `text` attribute, the `Message` template maps well to the text attribute but we should also allow for specifying the value dynamically as well.

[2016-02-02 19:25] nathanielc commented on #186
@yosiat The underlying API that the `kapacitor` cli tool uses does what you want. At the moment the HTTP API is undocumented because it is still changing. Depending on your requirements you could use the HTTP API directly for now, although you may have to update your code if the API changes. If you want to see how it works look at this code snippet for how to perform a recording and check on its s

[2016-02-02 19:59] #176 closed

[2016-02-02 20:21] #185 closed

[2016-02-02 23:07] nathanielc commented on #196
This is a similar request to #75

[2016-02-02 23:11] pootzko commented on #197
That would be most awesome. Thanks. :)

[2016-02-02 23:11] #197 closed

[2016-02-03 02:34] qindj commented on #190
thanks @rossmcdonald @nathanielc

I tested but without success.

I have a db named "test", and using  `telegraf` to get "sysuptime" from 5 linux machines through SNMP.

I want to monitor these machines, and when kapacitor didn't receive stream in 25s, send an email alert with "host" which can shows me who is offline.

As I tested according to @nathanielc , the "host" is always empty.

The data loo

[2016-02-03 03:13] enviroeye commented on #189
Cool, sounds like a plan.

Yeap, I did create one at the URL above, and have a resulting URL in the format:

https://hooks.slack.com/services/<integration_token>

Section from my .conf file

[slack]
  enabled = true
  url = "https://hooks.slack.com/services/<my_integration_token>"
  channel = "alerting"
  global = false

[2016-02-03 12:29] nhproject commented on #195
Thanks Nat!

I got a panic when I try to do as you wrote:

[code]

[2016-02-03 12:35] nhproject commented on #195
Here is my task:

var warnThreshold=80
var critThreshold=85

var msg = '...'

var data = batch
    // Get The CPU Idle Value In Percents
    .query('''
        SELECT mean("value")
        FROM DB_NAME.RET_POLICY.cpu_usage_idle
        WHERE "cpu" = 'cpu-total'
    ''')
    	// Window size is 5 minutes, update the window every 10 seconds
    	.period(5m)
    	.every(10s)
        // Group The Value

[2016-02-03 13:11] lpalm commented on #184
Thanks, @nathanielc.
When would the define command without -reload be useful for a task that was already previously defined? I.e. should the -reload flag be implicit when the task is already defined for consistency with the behavior when the task was not previously defined?

Also, given your reply and #173, we may want to update the "getting started" documentation:
"Any time you want to update a t

[2016-02-03 14:00] peterbollen opened #201 "Documentation typo idependently"
Typo can be found at the MapReduce section of https://docs.influxdata.com/kapacitor/v0.2/tick/stream_node/

In the case of a batch each batch is passed to the mapper _idependently_

[2016-02-03 14:25] madshall commented on #199
It would be great to have the same functionality for `resource` and `group` as well.

[2016-02-03 15:19] rossmcdonald commented on #201
@peterbollen Thanks for letting us know. I have a PR up to fix this, which will be updated with the next documentation push (probably later this week or early next week).

[2016-02-03 16:39] #201 closed

[2016-02-03 17:40] nathanielc commented on #190
The deadman's switch doesn't work with the groupBy node's the way you are expecting. This is a result of how groups are implemented. But I think your example is valid and should work.

Basically what you want is to be able to watch each individual group for a lack of points. Instead what you have right now is a deadman's switch on all hosts combined and no tag information on any host. This should

[2016-02-03 18:08] rossmcdonald opened #203 ""panic: runtime error: index out of range" when running "kapacitor show" command"
Version:

[code]

So I added an invalid batch TICK script to Kapacitor (it was attempting to access an invalid database), which when the task is started, in `/var/log/kapacitor/kapacitor.log` I see:

[code]

But now I can't delete the task, as the command:

[code]

Hangs indefinitely (sigquit stack trace [here](https://gist.github.com/rossmcdonald/aa8b242ed4c5a3da4564)).

When running the command:

[2016-02-03 19:16] #75 closed

[2016-02-03 19:16] #196 closed

[2016-02-03 19:57] nathanielc commented on #140
Reopening since another report of similar behavior has shown up.

[2016-02-03 21:24] groblus opened #206 "Issue with influxdb 0.10 rc1"
I can't get influx to stream data to kapacitor. I get no errors in log even at debug level. Kapacitor starts listening at certain udp port - proper subscriptions are created at influxdb level. Database is pumped with data from telegraf. I have a feeling that there is simply no data flow between influx and kapacitor. Are there any issues with influx v0.10 vs kapacitor v0.10 ?
Is there some way to d

[2016-02-03 21:28] #132 closed

[2016-02-03 21:38] nathanielc commented on #206
There are no known issues with compatibility between the two versions. You can check that data is flowing using various network tools like tcpdump or ngrep. If you are using a linux based system this command should show if traffic is flowing to Kapacitor. It could be that a firewall or something is blocking the traffic.

[code]

Have you checked the InfluxDB logs? If InfluxDB can't connect to Kapa

[2016-02-03 21:51] nathanielc commented on #189
@enviroeye Can you build from master and see what error message you receive now?

[2016-02-03 21:52] nathanielc commented on #195
@nhproject Can you try again? I fixed some issues with the where node.

[2016-02-03 21:57] groblus commented on #206
Hi. Thanks for the prompt reply.
You were right - I checked my loopback device for udp traffic and it's there. I think I got tricked by the docs. According to the docs I should be getting something like this int the debug logs:
`[edge:src->stream] 2015/10/22 14:02:13 D!`
Nothing like that appeared.
I tried creating a task as described in the docs, but as I already know it won't work with Telegraf

[2016-02-03 22:41] rossmcdonald commented on #142
I've encountered this same issue when attempting to specify three 0.9.6.1 nodes in the config (not sure if it's 0.9-specific).

[2016-02-03 23:02] nathanielc commented on #142
I was looking into this an it turns out to be a bug in the config parser. Should be fixed with #155

[2016-02-03 23:03] nathanielc commented on #206
yeah, sorry about that, the logging was simply too verbose so I removed that log. I'll update the getting started guide accordingly. Thanks

[2016-02-03 23:52] nathanielc commented on #206
@groblus Take a look at https://github.com/influxdata/docs.influxdata.com/pull/194/files It is the PR for the updated getting started guide using Telegraf v0.10. I should go live soon but until then...

[2016-02-03 23:54] nathanielc opened #208 "Default _kapacitor.default in the subscription excludes"
Since by default the _kapacitor.default dbrp is used to write internal stats it seems reasonable to default to excluding it from influxdb subscriptions. This way if you create a task to store them in influxdb you don't create an infinite loop.

[2016-02-04 00:14] nathanielc commented on #173
I decided to go with a `-no-reload` flag and default the define command to reload the task if its enabled. This way the common case requires fewer arguments and commands. You can still just define a task without reloading if you are scripting etc.

[2016-02-04 00:25] #173 closed

[2016-02-04 00:25] #208 closed

[2016-02-04 00:27] nathanielc commented on #184
@lpalm The use case I had in mind it a edit/verify/publish workflow where there is an explicit verification step in between defining and enabling a task. But that is by far a less common use case and so I have changed the default behavior to reflect that. See #173 again for updates.

[2016-02-04 00:28] #184 closed

[2016-02-04 14:09] nhproject commented on #195
I installed Kapacitor 0.10.0 using the debian package,
How can I test those fixes?

[2016-02-04 14:14] nhproject commented on #142
thanks Nat!

[2016-02-04 15:13] groblus commented on #206
Thanks. New docs surely helped.
Are there any nightly builds available (as rpm's) - I'm looking forward to try the new ".details()" on post messages.

[2016-02-04 15:57] nathanielc commented on #206
@groblus No nightly builds yet, but they will be coming.

[2016-02-04 16:07] #206 closed

[2016-02-05 01:48] enviroeye commented on #189
You'll have to pardon me, as I've not programmed with Go before. But when I try and build from the master I get the following errors during complilation:

# github.com/influxdb/influxdb/client
/home/ubuntu/go/src/github.com/influxdb/influxdb/client/influxdb.go:121:28: error: unknown field â€˜Timeoutâ€™ in â€˜http.Clientâ€™
   httpClient: &http.Client{Timeout: c.Timeout},

[2016-02-05 13:37] pootzko opened #212 "Best way of monitoring multiple measurements at once"
This is kind of related to a [question](https://github.com/influxdata/kapacitor/issues/197) I had earlier.

I have a task that looks like this:

[code]

But what seems to be happening here is if one of these sensors triggers a warning, it will output an alert for the other sensor as well.

For example AQS1XOLD10000000 has a temperature of 30, and AQS1XNEW10000000 has temperature at 5. Now because

[2016-02-05 16:24] nathanielc opened #213 "Create a special SourceStream node that only has a from method"
This TICKscript looks valid but it will not do what was intended.

[code]
The `mem` stream will not have any data since a global `where` condition was imposed on the `stream` var.

Since this is an easy mistake to make we should just not allow the behavior since setting a global where condition seems like an uncommon use case, and can easily be implemented via other methods.

[2016-02-05 16:26] nathanielc commented on #212
My guess as to what is happening is that AQS1XOLD10000000 first triggers an alert , putting the alert in the `warn` state. Then the AQS1XNEW10000000 data point comes and since is < 10 it changes the state to `ok` and you get a message in the log saying that now the alert is OK. Can you confirm in the log that the alert corresponding to AQS1XNEW10000000 is an OK alert?

To solution is to use the `g

[2016-02-05 16:39] nathanielc commented on #189
@enviroeye Do you have access to docker? If so running `./build.sh` from the repo will build the code in a docker container. The container will setup the go env and everything else for you so your host machine doesn't need anything but docker installed. The binaries from the build are placed in the `./build` directory.  Note that the docker build will take a while the first time since it has to co

[2016-02-05 16:43] #203 closed

[2016-02-05 17:01] #193 closed

[2016-02-05 17:05] nathanielc commented on #179
@yosiat

1. There is no default. All methods of sending data to Kapacitor require that you specify the dbrp.

2.  The labels will not show up either if the task is not running.

[2016-02-05 17:05] #175 closed

[2016-02-05 17:09] nathanielc commented on #143
Is this still an issue? I haven't been able to reproduce locally...

[2016-02-05 17:10] nathanielc commented on #140
This seems similiar to #158

[2016-02-05 17:11] #161 closed

[2016-02-05 17:13] nathanielc commented on #108
There isn't a version check but the API has been changing so its likely you ran into a compatibility issue.

[2016-02-05 17:13] #108 closed

[2016-02-05 17:14] nathanielc commented on #78
@allen13 Have you seen to work with UDFs? You should be able to integrate the numenta algo at this point.

[2016-02-05 17:14] #78 closed

[2016-02-05 17:14] nathanielc commented on #47
Bad idea ;)

[2016-02-05 17:14] #47 closed

[2016-02-05 17:17] nathanielc opened #214 "Create a set of Benchmarks for Kapacitor performance"
In order to ensure stability and performance we need to measure it. We need to find a set of benchmarks that we feel represent Kapacitor's performance.

[2016-02-05 17:18] nathanielc opened #215 "Create system so that users can measure the performance of their task"
Beyond benchmarks of static tasks we need to make it easy for an end user to measure directly the performance of their own tasks so they can provision resources appropriately

[2016-02-05 18:26] nathanielc commented on #189
Here are the links to the nightly builds.

RPM
https://s3-us-west-1.amazonaws.com/kapacitor-nightly/kapacitor-nightly.x86_64.rpm

DEB
https://s3-us-west-1.amazonaws.com/kapacitor-nightly/kapacitor_nightly_amd64.deb

Binaries
https://s3-us-west-1.amazonaws.com/kapacitor-nightly/kapacitor-nightly_linux_amd64.tar.gz

[2016-02-05 18:52] nhproject commented on #143
Nope.
It shows this error but all is good - The error just mentioning that the address is already binded.
I'm Closing it.

[2016-02-05 18:52] #143 closed

[2016-02-05 18:55] nhproject commented on #215
+1
Such a system would be fantastic!

[2016-02-05 19:18] yosiat opened #217 "Homebrew isn't updated"
Hi,

I saw that kapacitor for homebrew isn't updated for v0.10 and the downloads suggest that it is.

[2016-02-05 19:22] nathanielc commented on #217
You are correct, we are in the process of getting it updated.

[2016-02-05 19:31] yosiat commented on #217
Oh, thanks :)

[2016-02-05 20:40] nathanielc commented on #158
I think I may have figured out the issue. Were you testing this via record/replay commands?

There was a bug where various alerting services where disabled for replays only. Should be fixed in master.

[2016-02-05 20:40] nathanielc commented on #140
I think I may have figured out the issue. Were you testing this via record/replay commands?

There was a bug where various alerting services where disabled for replays only. Should be fixed in master.

[2016-02-05 20:40] #140 closed

[2016-02-05 20:40] #158 closed

[2016-02-05 21:33] #182 closed

[2016-02-05 21:59] #187 closed

[2016-02-05 22:45] yosiat opened #221 "Window works unexpected"
Hi,

I am using window in my tick script, and I found some weird behaviour with window.
I am emitting data every 1s, and running the next tick script:

[code]
Points - [TestStream_Yosi.txt](https://github.com/influxdata/kapacitor/files/119958/TestStream_Yosi.txt)  _this is the same format as the srpl files in the integration tests_

I have checked this tick script (using httpOut) and injected 20 v

[2016-02-05 22:58] nathanielc commented on #221
That last value is not skipped its just still sitting in the window waiting to be pushed out by then  next point behind it.

Add one more point:
[code]
to your test file and see that value 120 will come out.

This is an artifact of how Kapacitor is designed to use the time of data points to understand time instead of real time. This means that unless a new data point comes along time never progres

[2016-02-05 23:07] yosiat commented on #221
WOW that was fast time to answer :+1:  :+1:

I am trying to use Kapacitor as engine for real time alerting, that behaviour you are describing seems like an latency issue If I am using window.

Instead of sending the alert as soon as possible (In our case, when value "120" arrives) I will get in the next arrival of event, It means in my system I will always have a latency of time difference between

[2016-02-05 23:26] nathanielc commented on #221
By inserting the data point before the emit you no longer have a deterministic windowing mechanism. What if multiple  points arrive for the same time? By inserting after the emit you guarantee that all points for time have arrived before emitting. If you insert before you emit then you emit when the first point arrives for the time not the last.

Kapacitor works under the assumption that data arri

[2016-02-05 23:44] yosiat commented on #221
Oh.. I understand..

You talked about implementing flush mechanism, I thought about some mechanism:

Given this tick script:
[code]

The code will stay the same, but the window node will create a timer that will dispatch event every flush (in our case every one second) that will call "wnd.emit".

What do you think?

[2016-02-05 23:57] nathanielc commented on #221
I like the idea it was proposed before for a slightly different use case. See #137.

While a flush mechanism like that can remove the long tail latency(meaning the last point hanging out indefinitely) it does not remove the latency of the every value. Each point will still have to wait in the window for 1s.

Also adding the flush mechanism to the window it self could cause really weird issues. Nam

[2016-02-06 03:50] qindj commented on #215
+1

[2016-02-06 07:48] kisienya commented on #158
Thanks for the response.Yes I was testing via record /replay commands.

Kindly explain what you mean by "should be fixed in master ".
On Feb 5, 2016 11:40 PM, "Nathaniel Cook" <notifications@github.com> wrote:

[2016-02-06 09:16] yosiat commented on #221
- The most concerning latency issue I have is: "The fact that the last point can hang around until a new point arrives.".
- The only reason a data stream can stop of a long periods of time is when a server goes down (I am using Kapacitor as monitoring applications)
- The effect of latent response from Kapacitor will be latent alert, in a real time system a matter of seconds is crucial (In the real

[2016-02-06 09:49] yosiat commented on #186
I checked the api and it doesn't work asynchronously,
I sent the next API call:
[code]

And I waited for 2 minutes and didn't got no response, I expected to get response immediately.

[2016-02-06 11:06] UnderGreen commented on #161
Thank you!

[2016-02-06 11:12] nsteinmetz opened #222 "[repo] Chronograf in debian repository is still 0.4.0 and not 0.10.0"
Even if timestamped at 20/1/2016, it's still 0.4.0 version:

[code]

Could you please update it to 0.10.0 ?

It would also allow me to rely always on latest package on debian repo instead of rebuilding [docker image](https://hub.docker.com/r/nsteinmetz/influxdb-chronograf/) after each upgrade ;-)

Thanks,
Nicolas

[2016-02-07 08:52] #195 closed

[2016-02-07 15:11] OrangeTux opened #223 "Don't specify 'tasks' or 'recordings' explicitly when deleting task or recording."
Currently `delete recording` can be used in 2 ways: either with `tasks <task_name>` or with `recordings <record id>`. An example:

[code]

I think specifying explicitly if the thing you want to delete is a task or a recording is not necessary. You can figure it out by looking at the name/id. Recordings are identified by a unique id matching a certain pattern. It's very unlikely that task names are

[2016-02-07 16:01] OrangeTux opened #224 "Deleting recording should not require full id, a unique first few characters should be enough"
If you want to delete a recording you've to select the recording with its full id:

[code]

Most of the time the first few characters are enough to distinguish a recording from other recordings. Assume I've these recordings:

[code]

Deleting the second recording should be possible with only the first 2 characters of it's id:

[code]

[2016-02-08 01:41] enviroeye commented on #189
Install nightly build all okay, message recieved from Slack was 'bad token'. Regenerated the webhooks URL in Slack, (which also regenerates the token) and all is working now. Had a typo in one of my channel definitions too, which showed up in the log, so having the actual error message from Slack is very helpful.

Looking good now, have things working with Slack, OpsGenie, VictorOps and an Rest AP

[2016-02-08 03:07] vlasov01 commented on #172
I've tried a new build with 0.10.0

It failed. Here is the output:

[code]

[2016-02-08 11:37] pootzko commented on #212
Hi,

yes, I did see OK's in there (for the same alert event, just the opposite sensor), just like you described. I did see the groupBy in some of the examples, but I didn't realize I actually needed it for something like this so I left it out rather than just C/P code around.

Thanks a lot for your help. Much appreciated.

[2016-02-08 11:37] #212 closed

[2016-02-08 14:59] rossmcdonald commented on #222
The repo should be updated now.

[2016-02-08 14:59] #222 closed

[2016-02-08 16:02] nsteinmetz commented on #222
Indeed, thanks !

[2016-02-08 16:16] nathanielc commented on #189
@enviroeye Glad to here it.

[2016-02-08 16:16] #189 closed

[2016-02-08 17:03] nathanielc commented on #158
By 'fixed in master' I mean the master branch of the code has the fix already but it has not been cut for a release. I am cutting the 0.10.1 release today so you can upgrade and it will be fixed.

[2016-02-08 17:05] nathanielc commented on #224
+1 I like this idea. PRs welcome :)

[2016-02-08 17:15] pootzko opened #226 "REST API hangs when task execution fails"
Hi,

I think I found a situation where querying the Kapacitor's REST API hangs (does not really process any incoming requests) if a task in the background failed.

How to reproduce this? Everything was working fine with a local POSTFIX which was running on the same VM where Kapacitor is installed. The serie of queries that I executed was: "define", "disable", "enable". My TICKScripts obviously do

[2016-02-08 17:19] nathanielc commented on #172
There are a couple of things odd about the log output:

1. This warning `!! WARNING: Your current directory is not under your GOPATH! This probably won't work.
` you need to make sure that the Kapacitor source is checkout under the GOPATH like `$GOPATH/src/github.com/influxdata/kapacitor`.
2. The errors you are getting are not even Kapacitor code and they are parse errors. This makes me think you

[2016-02-08 20:01] nathanielc commented on #226
Which commands were hanging? All of them or just one of them?

[2016-02-08 20:34] vlasov01 commented on #172
@nathanielc I was able to successfully build Influx/influxd just before kapacitor on the same machine. I was using a different version of Go for it. Thank you for the guide. I'll read it and try the build again.

[2016-02-08 21:41] rossmcdonald commented on #172
@vlasov01 I also ran into the error you saw before:

[code]

Earlier today when attempting to compile a Go program on a small machine (1 core, 1GB of RAM), which was causing the compilation process to get killed by the system. I haven't had issues compiling Kapacitor on small-ish machines, but you may also want to check `dmesg` or syslog output to make sure the compilation is not getting killed du

[2016-02-08 22:21] yosiat opened #227 "No alert dispatched on crit(lambda: TRUE)"
Hi,

I might be doing something very silly.. but I can't figure out what =X
I am using kapacitor:
[code]

and having the next tick script:
[code]

For some odd reason no alerts are written to the log file, here is show result.
[code]

I see that data flows to stream1, but from stream1 to alert2.. and the task is executing..
Why this is not working? and what is "stream0" and "stream1"?

[2016-02-08 22:42] nathanielc commented on #227
A per this:

[code]
You task received 189 points but none of them where from the `cpu` measurement. Are you using Telegraf >= 0.10.0 to create the cpu data?

[2016-02-08 22:48] yosiat commented on #227
I am using Telegraf 0.10.2 and it looks the cpu measurement is empty
[code]
returns no results.

So what does the "189" stands for? and what is stream0 and stream1 then?

[2016-02-08 22:50] pootzko commented on #226
Basically all of them. This is a full cycle:

1. Define task
2. Disable task
3. Enable task
4. InfluxDb accepts a new measurement
5. Kapacitor receives the measurement and raises an alert
6. Disable/Delete/Define task (didn't try any other calls here)
7. Retry Disable/Delete/Define

Basically any REST requests after 5) would hang and remain like that until I restart the daemon.

[2016-02-08 22:54] nathanielc commented on #227
See https://docs.influxdata.com/kapacitor/v0.10/introduction/getting_started/ for a walk-through of what the output of the `kapacitor show task_name` command means. Just search for `kapacitor show` which is part way throught the guide.

[2016-02-09 02:15] vlasov01 commented on #172
@rossmcdonald Thank you! I've downloaded kapacitor-nightly.arm.rpm as I'm running Fedora.

Here is the result:
dnf install kapacitor-nightly.arm.rpm
Last metadata expiration check performed 0:11:17 ago on Mon Feb  8 20:59:22 2016.
Error: package kapacitor-0.10.1~n1454918629-0.arm is not installable
(try to add '--allowerasing' to command line to replace conflicting packages)

dnf install --allower

[2016-02-09 03:21] kisienya commented on #158
Hi,

Thanks,

Kindly shoot me a note when you have cut the release.

Truly appreciate.

On Mon, Feb 8, 2016 at 10:30 PM, Nathaniel Cook <notifications@github.com>
wrote:

[2016-02-09 03:23] nathanielc commented on #158
I cut the release, the downloads page has the updated links. https://influxdata.com/downloads/

[2016-02-09 03:25] kisienya commented on #158
Many, many thanks. Let me have a look

On Tue, Feb 9, 2016 at 6:23 AM, Nathaniel Cook <notifications@github.com>
wrote:

[2016-02-09 13:23] kisienya commented on #158
its now working many thanks.

On Tue, Feb 9, 2016 at 6:23 AM, Nathaniel Cook <notifications@github.com>
wrote:

[2016-02-09 15:14] rossmcdonald commented on #174
With the latest set of changes, the tar package output now looks similar to:

[code]

Which I think is a little better.

[2016-02-09 19:04] nathanielc commented on #174
Yes, its is much better but I would eventually prefer something like:

[code]

Not a huge priority.

[2016-02-09 19:09] nathanielc commented on #186
Looks like you are using an older version. Please upgrade to the newest version 0.10.1 and you should see the behavior you expect.

[2016-02-09 19:26] nathanielc commented on #226
@pootzko What error if any did you receive in the logs when you had the bad SMTP configuration? So far I can't reproduce the behavior you describe. I have tired several bad SMTP configurations but every time an alert is triggered an error is logged and the process continues to work as normal.

Could you post the stack traces the next time it gets into a hung state? This can be done by sending the

[2016-02-09 19:35] yosiat commented on #186
Thanks :+1:

[2016-02-09 19:35] #186 closed

[2016-02-09 19:42] yosiat commented on #227
It kinda works, I replaced my "telegraf.conf" with the configuration from the Getting started tutorial.

And my dot graph is now like this:
[code]

How can I "debug" or see why 351 (580 - 229) aren't passed to alert2?

Feature idea: change the name of "stream0" and "stream1" to more indicative names - for example "points_stream" and "cpu_stream" respectively.

[2016-02-09 19:58] pootzko commented on #226
Hi,

sure, I'll do it tomorrow when I get back into the office and give you the stacktraces.

[2016-02-10 13:06] pootzko commented on #226
Ok, so what I did was I run the daemon, set the output level to debug, executed the REST queries and then SIGQUIT using the following (I believe the `2>&1` part should output to STDOUT, also tried using `tee` and outputting to file as well):

[code]

But that didn't give me any output. Here is the output from *kapacitor.log*

[code]

Linux version:
[code]

That's Ubuntu server edition 14.04 runnin

[2016-02-10 13:56] pootzko commented on #226
Here is *kapacitord.err* [dump](http://pastebin.com/3SMnbbeQ) if it helps you in any way.

[2016-02-10 18:53] RonRothman commented on #145
Greetings,

Would you mind elaborating on how this problem would manifest itself?  We're seeing behaviour which might be related, but we're not sure how to tell.

We have a simple [stream] tickscript that copies a subset of measurements from one db into another.  (Both dbs are on the same Influxdb server.)  In general it runs well, but a few times an hour (on no discernible schedule), some measure

[2016-02-10 21:29] nathanielc commented on #145
@RonRothman Do the measurements ever show up later? Meaning does Kapacitor just get behind or is data really missing?

I would expect Kapacitor to only get behind but not drop any data. How many points per second are you writing to Kapacitor?

Answers:

1. Its possible, you should see the logs on the InfluxDB host for each write, Kapacitor specifies the name `Kapacitor` as the user agent so you sh

[2016-02-11 01:48] #199 closed

[2016-02-11 14:56] yosiat commented on #221
@nathanielc any ideas? response?

[2016-02-11 16:36] nathanielc commented on #221
@yosiat Yes I have been thinking about your use case. I think Kapacitor is well suited for your needs as is. Let me explain:

* There is a way to trigger an alert if the data stream stops. See deadman's switch. https://docs.influxdata.com/kapacitor/v0.10/tick/stream_node/#deadman  With that you shouldn't have to worry about missing a dead server.
* What process is responding to the alert? What is

[2016-02-11 16:39] nathanielc opened #230 "Add duration option to stateChangesOnly"
The duration would read:

[code]
 meaning, the alert would trigger every hour as long as the condition persisted.

[2016-02-11 16:52] markgoffin commented on #190
Sorry if this is a silly question. Does deadman still work if there is no influx data coming in? I am using procstat from Telegraf and want to be able to alarm if the process is no longer alive. Is this possible with Kapacitor?

[2016-02-11 16:54] nathanielc commented on #190
@markgoffin yes, that is the purpose of the deadman's switch. It monitors the flow of data through a part of the task, typically the start, and triggers an alert if the data stops flowing.

[2016-02-11 17:21] nathanielc commented on #227
@yosiat 351 points are not passed to the alert because they do not match the criteria of the stream1 node, which is `.from().measurement('cpu')`. So in this case telegraf sent 351 points to Kapacitor that are not from the `cpu` measurement. The node stream0 got the points since they came from telegraf but stream1 dropped them because you only want the `cpu` data.

As for your feature idea I like i

[2016-02-11 17:26] nathanielc commented on #215
@nhproject @qindj This is my current thinking, calculate the throughput per second for each node and add it as both an internal stat, and in the output of the show command.

Currently the output of the show command displays the node pipeline with counts for how many points have passed along the edge. Adding throughput would be on each node and would look it:

[code]

 Which is valid `dot` syntax b

[2016-02-11 18:00] nathanielc commented on #198
fixed with #228

[2016-02-11 18:00] #198 closed

[2016-02-11 18:29] nathanielc commented on #215
Another thought is to just compute a throughput for the entire task but then compute average  execution times for each node. Then it is apparent which node is a bottle neck in the DAG.

Something like this:

[code]

![Alt text](http://g.gravizo.com/g?
digraph cpu_alert {
graph [rankdir=LR];
stream0 [label="stream0 105ns"];
stream1 [label="stream1 50ns"];
stream0 -> stream1 [label="12"];
alert2 [la

[2016-02-11 21:46] panda87 commented on #215
@nathanielc just a question, there will be different in the compute average execution times if I have one tick file or if I have 100?

[2016-02-11 21:48] nathanielc commented on #215
@panda87 There should not be a difference if your are running 1 task or 100s, but if you are hitting resource limits on your box you might see that. The important thing here is to expose the right actionable information so that if having multiple tasks does slow things down you will know it and be able to take appropriate action.

[2016-02-12 02:47] RonRothman commented on #145
Thanks for the responses.

Nope, the data is really missing--it never appears in the dest db.

We're writing a few hundred measurements per minute to the source db.

Have not observed any error messages in kapacitord.err or kapacitor.log.

We've solved this for the moment by using continuous queries (in lieu of Kapacitor) to aggregate/copy the data from one db to the other. Both dbs are on the sam

[2016-02-12 07:04] panda87 commented on #215
But if I have 100 tick files every data point which received will go through on each one right?
I mean that if I get 100 data points per sec, they will be computed 100 * 100, and it seems that my resources will have to handle computing of 100 * 100 per sec, which is more likely if I'd have 10,000 in sec and one tick file, that's it true?

[2016-02-12 12:02] markgoffin commented on #190
Ah ok, I can't seem to get it to work. My tick file looks like this:

[code]

I have Telegraf configured to send every 10s. I perform the following steps:

* Start myapp (have confirmed that procstat stats appear in influxDB)
* Enable the kapacitor task
* Stop myapp (and confirm that the stats stop appearing in influxDB)

And no log file is created in /tmp

Have I done something stupid?

[2016-02-12 13:09] yosiat commented on #227
@nathanielc this is weird, because I don't which type are measurements are flowing through kapacitor, th e only one I know of is the "cpu" measurement. Is there a way I can see in the logs?

about the question from where to fetch the names, I will dig into the source and check that out..

[2016-02-12 17:28] devilldog opened #232 "failed to send alert data to VictorOps: failed to understand VictorOps response"
Here is my config.
 enabled = true
  api-key = "xxxxx"
  routing-key = "everyone"
  url = "https://alert.victorops.com/integrations/generic/20131114/alert"

  global = false

[2016-02-12 17:46] nathanielc commented on #232
@devilldog  Which version are you using? There should be a more verbose error logged about how the communication with VictorOps failed.

[2016-02-12 18:03] nathanielc commented on #190
@markgoffin No, your TICKscript is logically correct but Kapacitor's implementation is confusing.

Basically what is happening is there are two values to track for each node:
1. collected points -- number of points the node  has received
2. emitted points -- number of points the node has sent to its children

The deadman's switch is watching the collected metric. In your case the node is still rec

[2016-02-12 18:27] nathanielc opened #233 "Support multiple InfluxDB clusters."
Just need to name them and then flag one as a default.

[2016-02-12 20:44] devilldog commented on #232
10.0-1

[2016-02-12 20:44] nathanielc commented on #232
If you upgrade to v0.10.1-1 you will get a better error message and we can
debug further.

*Nathaniel Cook*
Kapacitor Lead
▼▴

*InfluxData.com <http://influxdata.com/>*

Twitter <http://www.twitter.com/nathanielvcook>

On Fri, Feb 12, 2016 at 1:44 PM, devilldog <notifications@github.com> wrote:

[2016-02-12 21:09] devilldog commented on #232
OK Will do thanks !

[2016-02-13 16:26] devilldog commented on #232
I upgraded to 0.10.1 but i get the sam message for VictorOps as before and i enabled DEBUG in the logs

[2016-02-13 18:10] devilldog commented on #232
quickly looking at the code for a language i do not know, it looks like the error is not being returned and it is not actually printing out the error just the proceeding line "failed to understand response"

[2016-02-13 18:27] nhproject commented on #215
@nathanielc I think that getting the average execution times per each node is more informative.
In general, knowing about a bottle neck or about a node that is being executed relatively slowly is important.
Both ideas seems great btw. Thanks !

[2016-02-13 20:17] panda87 commented on #215
:+1: @nhproject very important feedback

[2016-02-14 18:37] yosiat commented on #215
@nathanielc It would be nice to have both "points processed" and "points processed per second", something like:

[code]

So it will be to parseable and you can add more metrics later if you want

[2016-02-15 13:47] MartinAparicioPons opened #234 "Kapacitor is taking a wrong time format"
I collected some open source [samples](https://github.com/numenta/NAB/blob/master/data/realKnownCause/nyc_taxi.csv) and set the following tick script for detecting anomalies:

    batch
        .query('select mean(value) from "nycTaxi"."default"."nycTaxi"')
            .period(1h)
            .every(2h)
            .groupBy(time(1h))
    .mapReduce(influxql.percentile('mean', 90.0))
        .eval(

[2016-02-15 15:04] jlark opened #235 "Kapcitor go get install not compiling"
Suprised I'm seeing this.
[code]

[2016-02-15 21:05] yosiat opened #236 "Panic on groupby"
Hi,
I got panic while I used groupBy in my tick script.

I don't think this is a good strategy for not implemented features, I think it should be an error that will be logged.
For fixing this I needed for remove my Kapacitor data folder and only then my service got up.

[2016-02-15 21:06] #217 closed

[2016-02-15 21:06] #179 closed

[2016-02-16 14:00] sofixa opened #237 "Kapacitor Downtime/Acknowledge equivalents"
Hello everyone.

Great work on Kapacitor, it's pretty awesome! I have started using it recently, so i am not at all familiar with it in depth, so maybe i am missing something.

In the Nagios Universe, you can acknowledge an alert and downtime a host, so that you don't receive unneccessary alerts(when you are working to resolve the problem or you plan an outage).

Is there a way to do a similart th

[2016-02-16 16:41] nathanielc commented on #235
Recent changes https://github.com/influxdata/influxdb/pull/5196 were committed into InfluxDB that are no longer compatible with Kapacitor. In the interim Kapacitor has the needed InfluxDB dependencies vendored. Set the env var GO15VENDOREXPERIMENT=1 and go get will function again.

To be clear this is not  a long term solution but the intermediate step until Kapacitor is updated to consume the new

[2016-02-16 16:46] nathanielc commented on #234
@MartinAparicioPons  How did you get Kapacitor to query any of the past data if it is not current? Meaning the `batch` node by default queries current data. In your case the last hour of data. Are you using recording/replays to consume the old data? If so the kapacitor `replay` command has a `-rec-time` flag to tell Kapacitor to use the time of the recorded data instead of adjusting for current ti

[2016-02-16 16:51] nathanielc commented on #145
@RonRothman Thanks for the details report. Glad you have a working solution. I'll work on reproducing the data missing issues and report back. This is obviously a serious bug. I may need more information about your setup etc as I dig in. Thanks again.

[2016-02-16 17:14] nathanielc commented on #236
Can you post the panic stack trace?

[2016-02-16 17:17] yosiat commented on #236
The panic is from here, on the default case -

https://github.com/influxdata/kapacitor/blob/master/group_by.go

[2016-02-16 17:18] nathanielc commented on #236
Perfect thanks, Agreed since it makes it hard to restart Kapacitor I will change the error behavior.

[2016-02-16 17:22] yosiat commented on #236
I think it should be validation on the "wants" and "provides" of each node.

If I am connecting window node to group node, on the define request I should get errors the window provides batch and group wants stream.

[2016-02-16 18:09] yosiat commented on #221
Hi,
I have tried this script out (without the typo ;) ) and found some weirdness in window behaviour.

The first test which **passed** is:
Insert to Kapacitor (using http api) 20 points, where the time delta is 10 second between each point and the values increments linearly - +5 every point (0,5,10).
As I expected when I configured the period for the window to be 50 seconds - I got 5 points in eac

[2016-02-16 18:15] nathanielc commented on #221
Great, thanks for the detailed report.

[2016-02-16 18:29] yosiat commented on #221
Ok, I have have create gist with all data -
https://gist.github.com/yosiat/25712097b9e5b0e920c9

TICK script:
[code]

Explanation of the files:

- OK test: ok.log, ok.stdout, ok_insert.rb
- Fail test: random.log, random.stdout, random_insert.rb

_Between each run I have disabled & enabled the task_

As you can see the values in the "random.log" is 1 and grows to 8.

[2016-02-16 20:31] #190 closed

[2016-02-16 21:43] devilldog commented on #232
any thoughts ?

[2016-02-17 07:20] jlark commented on #235
ok thanks for the clarification @nathanielc any idea when the new query engine will be integrated. I'm happy to wait on this.

[2016-02-17 10:38] melor opened #239 "InfluxDB TLS configuration"
InfluDB connection TLS configuration in a similar way to the recent Telegraf change would be very useful: https://github.com/influxdata/telegraf/commit/6a601ceb975dead75481324254c5714f1e2ace4a

Including the "InsecureSkipVerify", which is useful for testing purposes.

[2016-02-17 12:16] MartinAparicioPons commented on #234
@nathanielc I used this line `kapacitor record batch -start 2014-07-01T00:00:00Z -stop 2015-02-31T00:00:00Z -name nyc`.

[2016-02-17 14:28] brettdh opened #240 "Kapacitor's sensu output format does not match sensu client expected format"
Stemming from discussion on PR #160

# Short version

  1. Sensu client accepts raw JSON on port 3030 (by default).
  1. Kapacitor's Sensu output service sends an HTTP POST, which the Sensu client fails to parse.
  1. The example [sensu] config section lists `http://sensu:3030/` as the URL, but does not describe what data is output or where it's going.
  1. Presumably the testing for this didn't s

[2016-02-17 15:52] nhproject opened #241 "Executing a script using .exec() Node"
I wrote a python script, which works fine.
The script returns some value, let's say a list of DB schemes.
I have two questions:
1. I would like to run this script only when the state is CRITICAL. Can I do that?
2. How can I get and print the returned value into the alert message, If at all?

Also - what about UDF? Is it possible to do so also with the UDF functionality?

Thanks!

Nitz

[2016-02-17 16:25] nathanielc commented on #235
I am hoping to get in the 0.11 release but it is a big change and may not make it. There shouldn't be a need to wait, `go get` will work as long as you use go >=1.5 and GO15VENDOREXPERIMENT=1, details here https://docs.google.com/document/d/1Bz5-UB7g2uPBdOx-rw5t9MxJwkfpx90cqG9AFL0JAYo/edit

[2016-02-17 16:25] #235 closed

[2016-02-17 16:28] nathanielc commented on #234
@MartinAparicioPons so when you replay the recording use this command:

[code]

With that command the times will match the older dates

[2016-02-17 16:30] nathanielc commented on #240
@brettdh Thanks for the detailed write up!

[2016-02-17 16:41] nathanielc commented on #241
@nhproject The `.exec` method is purely a handler for an alert. The output cannot be used. To make the script only run on critical alerts, only define a critical expression or have the script itself check the level and exit if it is not critical.

As for the UDF question you could write a UDF to add a string field to the data with the list of DB schemes and then reference that field in the alert m

[2016-02-17 16:47] nathanielc commented on #237
@sofixa Kapacitor is not an Alert Manager meaning it does not manage the workflows associated with alerts like acking/silencing etc. Kapacitor is an Alert Generator meaning it will trigger alerts and integrates with many Alert Managers. Eventually we may add these features into Kapacitor or another product that integrates well with Kapacitor but for now we encourage you to use one of the many feat

[2016-02-17 17:03] sofixa commented on #237
Yeah, i thought so.

The problem is that Kapacitor proposes integrations with email/HipChat/Slack etc., and for them, there's no way of adding such a logic.
All the alert traffic should pass through PagerDuty/VictorOps/Alerta(i think?), which become a (dangerous) single point of failure.
As for future evolving of Kapacitor/other InfluxData tools, it would indeed be handy. I think there's a (slight

[2016-02-17 17:08] nathanielc commented on #237
Yes the more messaged based alerting handlers are designed to be simple and get you working  fast but not be a full fledged alerting manager.

As for the other integrations that have alert managing features why would you consider them a single point of failure? I believe each one can be run in an HA mode. It there an HA alert managing platform you already use that you would like to see integrate w

[2016-02-17 17:08] #237 closed

[2016-02-17 19:27] nathanielc commented on #232
@devilldog The relevant line in the code is https://github.com/influxdata/kapacitor/blob/master/services/victorops/service.go#L83
which defaults the error message to `"failed to understand VictorOps response: " + string(body)` where `body` is the raw response from VictorOps. You should see something like:

[code]

Can you post the logs you are seeing relating to the error?

[2016-02-17 20:49] nhproject commented on #241
@nathanielc Many thanks for the fast and descriptive answer! :+1:

[2016-02-17 20:52] devilldog commented on #232
[code]

[2016-02-17 20:54] devilldog commented on #232
rpm -qa|grep kapac
kapacitor-0.10.1-1.x86_64

[2016-02-17 21:07] yosiat commented on #221
@nathanielc What is going on? Currently I am stuck.

BTW - Why you are using doubling the size of the ring buffer and not using max value of the ring buffer which can be calculate via = period/every + 1(for modulo) ?

[2016-02-17 22:23] sofixa commented on #237
Cool about your roadmap! So far InfluxData has never disappointed, so i am looking forward to your progresses.

As for the Alert manager role, i am aware of all the integrations, and they seem somewhat solid, but so far there's nothing self-hosted of really good quality(on par with TICK), and for me, personally, that's a risk. Currently we are using a Nagios-based platform that is way too old and

[2016-02-17 22:43] nathanielc commented on #232
@devilldog I think I have finally reproduced the issue! VictorOps will return a 404 with no content when the API key is not valid. I have a fix coming that will print out a better error message indicating the actual error.

Can you double check your API key to make sure it is correct?

[2016-02-17 22:55] #236 closed

[2016-02-17 23:40] #232 closed

[2016-02-18 00:27] #221 closed

[2016-02-18 00:29] nathanielc commented on #221
@yosiat This is fixed and will be part of the nightly build tonight (midnight PST)

[2016-02-18 05:28] devilldog commented on #232
yeah i came to the same conclusion, i will test and let you know thanks !

[2016-02-18 11:46] MartinAparicioPons commented on #234
@nathanielc Worked like a charm. Thanks a lot, I'm closing the issue.

[2016-02-18 11:46] #234 closed

[2016-02-18 13:09] MartinAparicioPons opened #245 "Kapacitor gives a wrong date"
See issue #234. The issue there is solved but I noticed that it was giving me a future date (2016-09-13) when it should give the last hour (AFAIK if you don't use the `-rec-time` flag it should process the last hour of data).

May it be a bug?

[2016-02-18 14:44] nathanielc commented on #245
@MartinAparicioPons If you don't use the `-rec-time` flag the times start at the current time and move forward based on the data in the recording. As a result future dates are common and expected.

[2016-02-18 15:08] #245 closed

[2016-02-18 16:02] devilldog opened #246 "get hex codes in alert output after moving to 10.0.1"
{"id":"load_shortterm:nil","message":"load_shortterm:nil is CRITICAL","details":"{\u0026#34;Name\u0026#34;:\u0026#34;load_shortterm\u0026#34;,\u0026#34;TaskName\u0026#34;:\u0026#34;load_alert\u0026#34;,\u0026#34;Group\u0026#34;:\u0026#34;nil\u0026#34;,\u0026#34;Tags\u0026#34;:{\u0026#34;host\u0026#34;:\u0026#34;xxx\u0026#34;,\u0026#34;type\u0026#34;:\u0026#34;load\u0026#34;,\u0026#34;type_instance

[2016-02-18 16:13] nathanielc commented on #246
Yes, that is known change. See #204 The `details` property if HTML formatted data for the alert. It can be controlled via the `.details` method on the AlertNode. See https://docs.influxdata.com/kapacitor/v0.10/tick/alert_node/#details

It should not affect existing behavior as only a new key was added to the JSON.

[2016-02-18 17:14] devilldog commented on #246
Yeah that's fine, by sec regex ignores it, thanks !

[2016-02-18 17:14] #246 closed

[2016-02-18 18:39] yosiat commented on #221
@nathanielc Thanks for the quick fix, but there is still a bug :(

Let's look at this data (with random added):
[code]

I am getting a groups of 4 instead of groups of 5, and I will explain.
Here is the alerts file in a gist (with script to format the results, and formatted results) -
https://gist.github.com/yosiat/7d54089c6563f9075113

The alert is created using this tick script:
[code]

To under

[2016-02-18 21:10] nathanielc commented on #221
1455819579 - 1455819538 = 41
Where 41 enters in my period.

The reason is that the window is not computing continuous periods but rather discrete periods. Meaning that just because two points are less than period apart it is not gauranteed that they exist in a window together. Treating the window and the data like waves the `phase` and `period` have to match inorder for the group to get created.

[2016-02-19 23:36] nathanielc opened #249 "Integrate Kapacitor with new Query Engine"

[2016-02-19 23:36] #213 closed

[2016-02-20 15:13] qindj commented on #190
Tested and "groupBy" is working perfect , thanks @nathanielc !!

[2016-02-21 13:11] shaharharap commented on #241
Hello
do you have an example to how to write a UDF to add a string field to the data ?
and in the some issue It will be nice to have the ability to take data and use it in the alert massage straight forward without passing the agent.
thx  Shahar

[2016-02-21 15:40] nhproject opened #251 "Markdown In Slack Alerts"
Hi all,

Is it possible to combine markdown in the alerts' messages? In particular I'm referring to Slack.
I know Slack supports markdown lang.

Thanks!

[2016-02-22 17:07] nathanielc commented on #241
@shaharharap

 Doing string work is the same as numeric data you just need to set it on the fieldsString property:
From the UDF example here https://docs.influxdata.com/kapacitor/v0.10/examples/anomaly_detection/

This code,
[code]

would change to:

[code]

[2016-02-22 17:26] nathanielc commented on #251
The alert message can contain whatever content you want. I am not sure whether slack will honor the markdown based on how we call the API but its worth a try.

[2016-02-22 17:26] #241 closed

[2016-02-23 13:44] arussellsaw opened #252 "update documentation links to latest version"
currently all documentation on github points to 0.2, when the latest it 0.10.1

[2016-02-23 13:46] arussellsaw opened #253 "REST api documentation"
i'd like to make a web client for kapacitord in order to make managing alerts a little easier, but i can't find any docs for the REST api. even an autogenerated list of all handlers and their roles would be helpful.

[2016-02-23 15:55] nathanielc commented on #253
@arussellsaw ATM the REST API is not documented since it is subject to change. Once its been stable for a release or so we will lock it down and document it. For now your best reference is here https://github.com/influxdata/kapacitor/blob/master/cmd/kapacitor/main.go

Sorry for not having anything better but docs are coming...

[2016-02-23 15:56] #252 closed

[2016-02-23 16:49] gargooza opened #255 "Handle HTTP OPTIONS requests for DELETE from browser"
I'm trying to write a JavaScript front-end that allows me to manage Kapacitor tasks through a browser. This means I'm doing a lot of XMLHttpRequest to talk to Kapacitor.

The (undocumented) API for deleting a task requires the HTTP DELETE method. For security reasons, browsers preflight DELETE requests with an OPTIONS request. Kapacitor returns a 404 response to that preflight OPTIONS request, thu

[2016-02-23 17:00] nathanielc commented on #255
@gargooza This should be an easy fix, I'll put something up in a bit

[2016-02-23 20:47] yosiat commented on #249
Hi @nathanielc ,
What capabilities/features the new query engine will bring? there is documentation/issue on influxdb about this?

[2016-02-23 20:53] yosiat commented on #46
This feature is pretty useful for my use case, I am currently creating alerts that looks on multiple instances and check their status relatively to other (for example: checking distribution of data/users between instances from the same type -> "all web servers should divide the users count euqaly").

So in my use case I can:
[code]
Explanation of the calculation: to see if one instance has more th

[2016-02-23 21:41] rossmcdonald commented on #249
@yosiat The PR is [here](https://github.com/influxdata/influxdb/pull/5196), which contains a high-level overview of the changes.

[2016-02-23 22:40] nathanielc commented on #46
@yosiat Thanks for the feedback. Glad to see its not just my crazy idea but that others have a use case in mind.

[2016-02-24 00:30] nathanielc commented on #215
@nhproject @qindj @panda87 @yosiat I feel like #248  is ready to go. I plan to merge it tomorrow, any last comments?

[2016-02-24 06:33] yosiat commented on #249
@rossmcdonald  thanks!

[2016-02-24 16:14] #114 closed

[2016-02-24 16:14] #215 closed

[2016-02-24 18:49] yosiat commented on #221
Thanks for the response :+1: I have checked this with "align()" enabled and it worked ok, I got groups of 50 seconds.

Thanks again :+1:

[2016-02-24 22:49] #255 closed

[2016-02-25 00:40] earthnut opened #258 "Kapacitor changed host name but failed to create subscription"
After the test on the same server with influxDB, Kapacitor was moved to another server.
Every time Kapacitor was restarted, the create subscription message showed up in influxDB log.

However after run "show subscriptions", the localhost one was still there.

name: telegraf
--------------
retention_policy	name		mode	destinations
default			kapacitor	ANY	[udp://localhost:49771]

And influxDB always

[2016-02-25 07:32] OrangeTux commented on #258
I've had a similar problem and delete all subscriptions before starting Kapacitor again.

[2016-02-25 15:40] nathanielc commented on #258
@earthnut Yep, you will need to delete the subscriptions manually if you change the hostname. There is no safe way to know that the old subscriptions do not belong to another Kapacitor instance on localhost so they are not automatically deleted. Should be a rare bit of manual work. Maybe we should use the cluster id in the name in the future but for now there is a simple work around.

[2016-02-25 17:11] gargooza opened #259 "Other ways to work with TICK Scripts?"
Is there another way to represent TICK Scripts? A JSON format? Some kind of TOML file?

Some context…
I’m building a web app for people at my company to do two basic things:

1. Create custom inserters for InfluxDB. We generate data on the fly and users choose what they store in an Influx database
2. Generate alerts based on criteria for the data they store in influx

Part 2 uses Kapacitor. The pr

[2016-02-25 17:46] earthnut commented on #258
@nathanielc We don't have UDP load balancer.
It seems one influxDB can only have one Kapacitor to subscribe. In this case, if the Kapacitor server went down, we will lose alert messages.

Is there any work around for this situation ?

[2016-02-25 18:13] nathanielc commented on #259
At the end of the day, a TICKscript gets parsed and structured into a DAG representing the data pipeline; so it would be possible to have other means of defining tasks beyond just TICKscript. But I think it would not be worth the trouble of maintaining different languages. TICKscript and the Kapacitor workflow can be made to fit your needs without having to create a new language definition. Let me

[2016-02-25 18:25] nathanielc commented on #258
@earthnut Great question, there are two approaches:

1. Configure multiple subscriptions, for this we need to change the subscription name to include a unique ID, should be an easy fix. I'll get on it.
2. Configure a single subscription with multiple destinations. This requires that you setup the subscriptions manually. See the [docs](https://docs.influxdata.com/influxdb/v0.10/query_language/spec/

[2016-02-25 22:02] earthnut commented on #258
@nathanielc
 thanks

I like the 1st approach.  we will try the the 2nd approach first.

[2016-02-25 22:04] #144 closed

[2016-02-25 22:07] nathanielc commented on #144
@melck Could you give the new join.on feature a spin and let us know how it works? I implemented as discussed above there shouldn't surprises. It was merged just now so you can build from source or wait for the [nightly build](https://influxdata.com/downloads/) tonight at midnight PST.

[2016-02-26 03:49] earthnut opened #260 "how many data/s can Kapacitor handle"
@nathanielc

I found a very strange issue when I tried to setup alert to our influxDB which hosts our network traffic data.

from influxdb side:
     1. I see Kapacitor as a subscriber
     2. UDP packet send out to Kapacitor UDP port

from the server running Kapacitor:
    1. I see Kapacitor listened on the same UDP port
    2. The RX of the port shows incoming data .
   3.  the peak of the incom

[2016-02-26 04:06] nathanielc commented on #260
Looks like you have a mix up in your task definition. The task is defined
to get data from collectd.default while the script has _kapacitor.default,
these combined mean the task doesn't get any data.
On Feb 25, 2016 8:49 PM, "earthnut" <notifications@github.com> wrote:

[2016-02-26 05:07] earthnut commented on #260
@nathanielc

sorry for the confusing, there are  2 scripts
  1. cpu_alert is the script  processing the steaming data from influxDB collectd.default
  2. stream.from().database('_kapacitor').retentionPolicy('default').alert().crit(lambda: count() > 0 OR TRUE).log(path to log file)  to print the Kapacitor internal status

  the label for the 1st script is 0 and no log in the log file
  the label fo

[2016-02-26 05:46] earthnut commented on #260
summarize the issue I met:
       influxDB is running on host_a
       kapacitor is running on host_b

   1. Kapacitor is  listening on the UDP  port_k
   2. influxdb is sending UDP data to host_b: port_k
   3. tcpdump on host_b port_k shows incoming data.
   4. there is no bytes_rx in the Kapacitor internal status metric.

[2016-02-26 16:06] nathanielc commented on #260
@earthnut Thanks for digging in, looks like there is a bug with the UDP service code where it is reporting its stats the old way and so it is not being recorded. It is super easy fix so I'll try and get something up for it today.

As for why the cpu_alert task is not getting data there are a few reasons:

1. Network - but you have verified this on many levels and should be good
2. The task databas

[2016-02-26 18:17] earthnut commented on #260
@nathanielc

  We figure out the reason. Sorry,  it is the Firewall who blocked the traffic.
  I will close this issue.
Thanks

[2016-02-26 18:17] #260 closed

[2016-02-26 19:07] #258 closed

[2016-02-27 05:14] barryheap commented on #93
+1

[2016-02-27 13:52] melck commented on #144
@nathanielc I will try asap and do a feedback. Thanks

[2016-02-27 14:19] nathanielc commented on #144
Great, FYI, I discovered a bug where Kapacitor will hang when using theses
new features. I am working on the fix, so if you run into that just kill
the daemon and start over.
On Feb 27, 2016 6:53 AM, "Melck" <notifications@github.com> wrote:

[2016-02-29 10:15] schmurfy commented on #93
I started this and still want it but I don't know enough about kapacitor internals or latest influxdb (I use it daily but an old version) to really help move it forward, if someone has a clear idea on how this would look especially on the influxdb side since @miili already gave a first idea on the kapacitor side it would be great.

Here is some ideas of how I would like to query the stored alerts

[2016-02-29 11:14] sofixa opened #264 "Kapacitor crash on task definition"
Hello, everybody.

We are having an issue with Kapacitor. It works fine with basic tasks, but on our first try at a more complicated TICKScript, kapacitord crashes and refuses to relaunch(it outputs the same Go stacktrace). So far the only way I've found to make it start again is to delete everything in ~/.kapacitor/tasks/*

Judging by the errors, it seems like the groupBy isn't properly used. Sti

[2016-02-29 12:57] jroda opened #265 "Is possible do join without ussing time field?"
I would like to do a join of 2 batch queries without use the 'time' field. Is it possible?

If it is possible, Is anything wrong in my code?

I attach my code:

[code]

Thanks and best regards, Javier

[2016-02-29 13:05] sofixa commented on #264
It would be nice if there's a TICKScript parser/checker, which, upon defining a task, would try to parse the .tick file and output any errors :) Feature request ?

[2016-02-29 15:19] nathanielc commented on #265
@jroda It is not clear to me why the time field is causing an issue. You code looks correct and it looks like joining on the `time` field is what you want. Maybe I am missing something....

If its not working maybe you need to set the tolerance on the join operation. How often do your stats arrive? If the points arrive every 10s for example set the tolerance on the join operation to 10s so that ea

[2016-02-29 15:20] nathanielc commented on #259
@gargooza Any thoughts on this?

[2016-02-29 15:25] nathanielc commented on #264
@sofixa This has been fixed #236

Kapacitor does parse the TICKscript when it is defined and returns any errors. This was a case of a branch of code that was hit that was not implemented yet and paniced. #236 fixes the issue, in the future a simple error will be returned instead of a panic.

[2016-02-29 15:25] #264 closed

[2016-02-29 15:34] sofixa commented on #264
Has this been pakcaged in the latest .deb or do we need to compile from source?

[2016-02-29 15:36] nathanielc commented on #264
@sofixa It has been packaged in the nightly build which can be found with the rest of the downloads here https://influxdata.com/downloads/. It is not yet part of an official release.

[2016-02-29 15:37] sofixa commented on #264
Okay, thanks :)

[2016-02-29 16:09] jroda commented on #265
Hi @nathanielc

I attach a new example of code with the response for every query.

Query 1:
[code]
Response:
[code]

Query 2:
[code]
Response:
[code]

Join:
hits.join(errors)
        .as('hits', 'errors')
        .tolerance(2m)
        .eval(lambda: "errors.sum"/"hits.sum")
                .as('value')
        .alert()
                .info(lambda: "value" > 0)
                .log('/var/log/kapac

[2016-03-01 08:44] OrangeTux opened #266 "Sending alerts to HipChats result in: "failed to send alert data to HipChat: failed to understand HipChat response. code: 204 content:""
I've set up Kapacitor so it sends alerts to HipChat. It works totally fine, but I saw these lines in the log of the Kapacitor daemon every time Kapacitor sends an alert.

[code]

Task info:

[code]

Again, HipChat receives the alerts correctly, so it's not a problem to me.

[2016-03-01 10:12] nhproject commented on #251
https://github.com/influxdata/kapacitor/blob/master/services/slack/service.go#L63
@nathanielc Three parameters are shown in this section of the file: Fallback, Text, Color.
We probably need to add fourth parameter - "mrkdwn_in" - in order we will be able to work with markdown, and also mention that the text should work with markdown, like it is shown here:
https://api.slack.com/docs/formatting#mes

[2016-03-01 17:52] yosiat opened #267 "High cpu usage"
Hi,

I am using Kapacitor 0.10.1 (nightly version from one week ago) with 950 stream tasks that split to two kinds:

- Filter by two tags and check the values and trigger alert to based on them

- Filter by two tags, create value delta (using window, and two mapReduce for first and last) and trigger alert based on the value delta.

Those alerts send to log file (for start, in the future they will

[2016-03-01 17:56] rossmcdonald commented on #188
Search is now functional on the docs site.

[2016-03-01 17:56] #188 closed

[2016-03-01 18:01] nathanielc commented on #267
I you are using the nightly you should be able to see which node in a task is slowest. Can you share the `show` output of one of the tasks so we can begin to understand the performance profile?

[2016-03-01 18:16] yosiat commented on #267
I am using:

So I don't the throuput metrics yet, tomorrow (Israel time) I will upgrade to the latest nightly.

By the way, some info that I forgot to mention:
- I am using Ethernet
- I am calling write directly to kapacitor without using influxdb

[2016-03-01 20:13] gargooza commented on #259
Thanks a ton for the super thoughtful response. I think implementing templating makes a lot of sense and I'd be interested in seeing that implemented. I have users who will be creating and later editing alerts with a web form. I need to be able to do a two way conversion:
`web form -> TICKscript`
and then
`TICKscript -> web form`

Your suggestion to prepend a list of `var = ...` to a TICKscript an

[2016-03-01 20:51] nathanielc commented on #259
Help me understand the need for the reverse conversion, tick -> webform

My thoughts would be to use templating like you say and  then have a pattern like

web form -> json -> database
json -> tick
database -> json -> web form

This way you are not trying to parse TICKscript or anything, but you can always repopulate the web form because you saved the intermediate JSON values.

[2016-03-01 20:55] nathanielc commented on #265
@jroda At first glance it looks like you have everything right. I'll dig in deeper here in a bit.

[2016-03-01 21:56] earthnut commented on #253
@nathanielc  is there any authentication built in ?

I see

in the config. I tried to change false to true, but it seems nothing changed.

[2016-03-01 22:12] nathanielc commented on #253
@earthnut Not yet, but soon :)

[2016-03-01 23:49] nathanielc commented on #259
My proposal is to make Kapacitor the `database` in the previous example, this way TICKscripts are static but filled in at runtime. Each task could be defined via a TICKscript and an optional set of parameters.

[2016-03-02 00:13] gargooza commented on #259
Exactly -- I would love to see Kapacitor act as the `database` in the previous example. Would that database also hold the optional set of parameters? If so then I won't have to stand up my own database just to store those parameters.

[2016-03-02 09:31] yosiat commented on #267
Hi @nathanielc,
I have installed the latest nightly and now I see that the throughput is between 750 to 820 points per second.

I have upgraded to 4 cores and the cpu is still 100%

[2016-03-02 11:10] nathanielc commented on #267
Could you post the complete `show` output from two of your tasks?

[2016-03-02 15:33] nathanielc opened #269 "Using join in a task hangs and does not allow the task to be stopped."
This was introduced with the latest join changes.

[2016-03-02 15:34] nathanielc opened #270 "Panic during heavy write and shutdown event"
It appears that during a heavy write load a race condition is exposed during the shutdown process that causes a panic.

[2016-03-02 16:17] yosiat opened #271 "Wildcard measurement name matches"
Hi,

Does kapacitor supports wildcard measurement names?
For example: `*.name` will match `yosi.name` and yosi.attias.name

And:  `*.*.name` will match `yosi.attias.name`

[2016-03-02 16:24] nathanielc commented on #271
It does not. The expectation is to use tags. Is there a reason you are creating specially named measurements? We could potentially add a regex option without too much effort but that would be slow compared to a simple string compare. Also if you don't specify a measurement all measurements will be used.

[2016-03-02 16:26] yosiat commented on #271
I beed this because I am flatenning my metrics tree to leafs and I want in some alerts to check against all leaf that are named "name" (see original example)

[2016-03-02 16:34] yosiat commented on #267
Yes, btw - I see that we have high cpu usage while inserting and I changed the alerts to post to http service instead of log file.

![20160302_183009](https://cloud.githubusercontent.com/assets/306253/13467086/555c609e-e0a5-11e5-8de9-f0503c38bce9.jpg)

![20160302_182856](https://cloud.githubusercontent.com/assets/306253/13467038/31834ef8-e0a5-11e5-988d-43c754eb4f17.jpg)

[2016-03-02 16:34] nathanielc commented on #271
Why not use a tag for the leaf name part then. For example,

Measurement name: yosi.attias
tags name: 'actualname'

Then in TICKscript

[code]
or even group by name:
[code]

If you don't use a tag you will not be able to group the data. The data from all matching measurements would be mixed together and you would not be able to separate it out.

[2016-03-02 16:40] yosiat commented on #271
I can't use tags because I want partial parts of the tree, for example: `Root.*.value`
Can't it be some special flag to enable this?

By the way - this feature is supported in influxdb..

[2016-03-02 21:28] nathanielc opened #274 "Data Race with UDFs"
[code]

[2016-03-02 22:16] nathanielc opened #275 "Solidify contract that all accepted points are processed"
In the current implementation when the server is shutdown in-flight requests are dropped.

The correct design should be that all tasks run to completion but to reload a task its source is cut off, and is then allowed to run to completion. Once all tasks run to completion we need to add an explicit abort method that can kill a running task without allowing it to run to completion.

This is going to

[2016-03-02 22:19] #269 closed

[2016-03-02 22:57] #240 closed

[2016-03-03 09:44] gnur opened #277 "add documentation and/or possibility for failover/clustering"
I cannot find any documentation which shows how to make kapacitor clustered or some kind of master slave setup.

If it is possible to make kapacitor clustered, the documentation is severely lacking, if it isn't possible, this is a major feature that I would love to see added to kapacitor.

[2016-03-03 15:02] MartinSbs opened #278 "Can't send alert notification with email/smtp or slack"
Good afternoon

I'm trying to send alert notification with kapacitor. I was following the 'getting starting' section of influx website. But I can't get any alert by email or slack notification.

In kapacitor.conf I have changed [smtp] by this :

[smtp]
 enabled = true
 host = "localhost"
 port = 25
 username = ""
 password = ""
 from = "kapacitor@example.com"
 to = ["testalertskapacitor@gmail.com"

[2016-03-03 15:48] nathanielc commented on #278
@MartinSbs Looks like you found  a typo in the example:

This error explains what is wrong.

[code]

First this part `[cpu_alert:eval2]` tells you that the error came from the task `cpu_alert` and node `eval2` since there are two eval nodes in this task: `eval2` and `eval7` the one that comes first is the one with the error. Specifically this line:

[code]

Since its complaining about a mismatched

[2016-03-03 15:49] MartinSbs commented on #278
Oh thank you I should find that.

[2016-03-03 19:36] yosiat commented on #271
@nathanielc what do you say? are open to pull request to this?

[2016-03-03 21:41] gargooza opened #279 "Status of recordings"
Would it be possible to add a field to the `kapacitor list recordings` results that indicates whether a recording has completed? Recordings can take a long time to create and it would be nice to know which ones have finished so they can be replayed. I know that I can do an HTTP GET for /task?id=81a...323 and wait for it to return, but that's not really a good option. This is especially true in cas

[2016-03-03 21:52] nathanielc commented on #271
@yosiat Would you expect a set of measurements that are selected via a wildcard to be automatically grouped by measurement or do you want to process the union of all the data?

Tags are intended to be used precisely for selecting partial trees. Tags provide an orthogonal basis on which to project your data. Using tags you can easily select any subset of the data desired.

As for the PR, depending

[2016-03-03 21:59] yosiat commented on #271
Umm let's me explain, For example I write `a.*.c` and checks that the value is greater than 20 if so create alert. So I expect there to be **two alerts, alert per match** - one alert for "a.b.c" and one alert for "a.z.c" without any relation.

It will be much harder to implement.. is this possible in Kapacitor?

[2016-03-03 22:03] nathanielc commented on #271
Not in the current implementation. If you use tags then it is possible.

We should probably make Kapacitor behave the way you describe, but it currently does not. Instead, the alert state will be maintained for the union of all `a.*.c`  measurements.

[2016-03-03 22:05] yosiat commented on #271
This feature is crucial for my use in Kapacitor (80% of my alerts depends on it).
How the next matches are possible with tags?
`a.*.c` should match `a.b.c` `a.z.c`
`*.c` should match `a.b.c` `a.c`

And how hard will it be to implement this in Kapacitor? I will be more than happy to submit pull request.

[2016-03-04 00:23] nathanielc commented on #271
What do the `b` and `z` names represent? Since I don't know I'll just call it `middle`.

Change a name like `a.b.c` to `a.c` with a tag `middle=b`,
 likewise `a.z.c` to `a.c` with a tag `middle=z`

Then in TICKscript its just:

[code]

You can repeat the above process as many times as necessary till your measurement names no longer encode any extra information. See this https://docs.influxdata.com

[2016-03-04 00:25] nathanielc commented on #271
As for the `*.c` should match `a.b.c` `a.c` what does it mean to have a name `a.c` without a middle part? Is it empty? If so give it an empty tag.

[2016-03-04 03:35] haowells opened #281 "How to check last n continue value"
want to check cpu usage value for last 3 data sample ponits,  when all of these data points match condition, then tirgger alarm. how to write it ?

var data = stream.from().measurement('cpu')
var data = data.where(lambda: hour("time") >= 10 AND hour("time") <= 17)

data
    .groupBy('host', 'cpu')
    //.window()
    //    .period(20s)
    //    .every(10s)
    .eval(lambda: 100.0 - "usage_idle").

[2016-03-04 08:57] yosiat commented on #271
Let me explain the whole flow of ingesting metrics in my system and you will that will tags it isn't possible.
In my system, each server build a tree of metrics, for example:
[code]

Those tree are flattened and inserted to kapacitor (App.Info.Cpu, App.AppController2.RequestsPerSecond) and etc.

In a later phase the user (developer) can create alert based on this tree and can say - "I want to chec

[2016-03-04 15:07] DJFliX opened #282 "Kapacitor Alert.Exec() can't find executable in $PATH"
I'm running a tick script that feeds JSON and an email address to a NodeJS Application built with nexe. The executable is placed in /usr/local/bin/ and can be resolved:

[code]

When reading `/var/log/kapacitor/kapacitor.log` I see the following error:
`[ID1234:alert3] 2016/03/04 13:57:33 E! error running alert command: exec: "templatemail": executable file not found in $PATH`

Does capacitor not

[2016-03-04 15:16] OrangeTux commented on #282
The content of $PATH variable depends on the user. I suppose kapacitor is not running under user `azureuser`. Is best practise not to depend on $PATH in these cases and use full path to the executable:

[code]

[2016-03-04 15:17] DJFliX commented on #282
I am very sorry to have wasted your time! Thank you for a clear and quick response. I should have thought of that. Have a great day!

[2016-03-04 15:17] #282 closed

[2016-03-04 15:31] yosiat commented on #267
@nathanielc any ideas?

I reproducing this high cpu usage on my dev computer and I am seeing something weird:
On the production vm I saw there was 5-6 processes of kapacitor (I saw in htop in tree mode) and In my local computer I see only one process.

_On the prod I have 950 tasks and in my local computer I have 4 tasks_

[2016-03-04 16:10] nathanielc commented on #267
@yosiat Kapacitor is single processed but multi-threaded, htop will show threads by default http://unix.stackexchange.com/questions/10362/why-does-htop-show-more-process-than-ps

As for the high cpu, what is your expectation of cpu usage for your ingestion rate? Based on the info I see you are pushing approx  950*4000 = 3,800,000 metrics per second. If that is the case then 100% cpu on 4 cores is

[2016-03-04 16:18] yosiat commented on #267
@nathanielc I will send the data as soon as possible!

But before that I don't understand your calculation of 3.8 million metrics per second.
I am ingesting to Kapacitor 4500 metrics per second, If Kapacitor replicates those metrics it would be in-efficient, why not route the metrics to specific tasks instead of ingesting to all tasks?

For example:

- Read from the point it's measurement,db and r

[2016-03-04 16:18] OrangeTux commented on #282
You're welcome.

[2016-03-04 16:48] gargooza opened #283 "Record and Replay immediately"
Is there an option to immediately replay a recording after it has been created? If there isn't, can that be implemented? I'd like to be able to start a recording and then have that recording get replayed without waiting for the CLI or HTTP GET to return and then issue a separate replay command.

[2016-03-04 16:49] lpalm opened #284 "Task namespacing"
I'd like to be able to use a single Kapacitor instance but be able to partition tasks such that some users only see their own tasks. Another use case is to separate throwaway tasks that we use for backtesting and persistent production alerts generated after backtesting them first. They are similar but different in the outputs they produce.

Is there already a way to do this? Otherwise I was thinki

[2016-03-04 16:56] lpalm opened #285 "Garbage collecting tasks"
I have test tasks that users iterate on by backtesting them until they reach a desired configuration and threshold. Once that happens, the task is upgraded to a production task which can be managed manually.
Not all backtested tasks will graduate to production, and some may be abandoned for a while and be worked on again. These build up so we'd like to be able to periodically and automatically cle

[2016-03-04 17:05] nathanielc commented on #283
No, but it should most definitely be implemented. It should be as simple as adding another option to the record command to auto-replay against a task.

Another possible implementation is to perform the replay as the recording is happening without actually saving the replay. This way you can replay larger periods without having to worry about local disk space, etc.

[2016-03-04 17:08] nathanielc commented on #284
There is no builtin way to namespace tasks. Your idea to prefix the names will work well for now. This kind of a feature will come along with adding real users and authentication to Kapacitor which is on the roadmap.

[2016-03-04 17:11] nathanielc commented on #285
Those stats are not available but can be added: Would adding a created and last enabled date be enough, to implement the clean up code on your end?

[2016-03-04 17:16] gargooza commented on #283
Those are both great ideas and would be really useful. The latter makes a lot of sense and at least for the way I use kapacitor I don't have a need to store recordings locally.

[2016-03-04 17:18] nathanielc commented on #267
Kapacitor does duplicate the metric for each task so that each task can manipulate the data. I have already profiled the duplication overhead and it is not significant. The reason I multiplied by the tasks was because I assumed each task was getting a unique set of data, obviously a wrong assumption. The throughput value that the query will return is the number of points Kapacitor has received not

[2016-03-04 17:20] lpalm commented on #285
It would. Assuming we can get a last recorded/replayed date for backtest tasks and last enabled date for production tasks we probably don't actually need/care for a created date. A last modified date instead would be more useful (a creation would count as a modification in this case). The goal here is to clean up tasks that haven't been used or modified recently.

Thanks!

[2016-03-04 17:20] nathanielc commented on #283
For the later case, do you frequently replay the same recording multiple times or is it more of a 1:1 relation between recording:replay counts?

In other words if the later case didn't save the recording at all and just replayed it as it recorded it would that be OK?

[2016-03-04 17:22] gargooza commented on #283
I only replay it once. 1:1

[2016-03-04 17:47] yosiat commented on #267
Thank you for helping me out with Kapacitor :)

My tasks falls to two structures (which I posted above as Alert1 and Alert2) they vary by their measurement and thresholds.

[2016-03-04 17:55] nathanielc commented on #271
@yosiat Unfortunately it will require digging into the internals to get it to work. It is probably something that should be done and I'll add some pointers below on what needs to be done, but first (I may be annoying/frustrating at this point) but I still think you can use tags ;)

To be clear I am not pushing back because I don't want to implement the feature but rather I think you will have a be

[2016-03-04 17:57] nathanielc commented on #279
I think something like this would be possible, and would also play nice with #283

[2016-03-04 19:47] yosiat commented on #271
Hi @nathanielc ,
You are not frustrating :) you are just trying to understand my problem and it's more than OK :) :+1:

The problem is that (and maybe I am clear about this) that the structure of the tree can vary from app to app, one app can produce:
[code]

While the other will produce:
[code]

[2016-03-04 21:42] lpalm opened #286 "Saving kapacitor alerts back to InfluxDB"
According to the documentation, there's not InfluxDBOut node for alerts. It's unclear if the HTTP post output mode can be easily linked to InfluxDB's HTTP API. However, It would be super handy to be able to put alerts into InfluxDB so that it can be displayed in Grafana (or Chronograf depending on how it matures) as [annotations](http://docs.grafana.org/reference/annotations/) and/or in a [table](

[2016-03-04 21:42] lpalm commented on #284
Sounds good, thanks.

[2016-03-04 21:42] #284 closed

[2016-03-04 21:43] rossmcdonald opened #287 "[0.11.0] Unexpected Type"
Version information:

[code]

I'm trying to cast a float to an int for a little more appealing error messages. When I use the tick script (`disk_used`):

[code]

I get the error:

[code]

The digraph looks like:

[code]

So it looks like:

[code]

Is expecting a `float64` return type. I get this error whether I'm using the name `.as('used_percent')` or `.as('used_percent_int')`.

Is there somethin

[2016-03-04 21:56] nathanielc commented on #286
Yep, see https://github.com/influxdata/kapacitor/issues/93. We just need to have the alert node send its alert info down to child nodes.

[2016-03-04 21:59] nathanielc commented on #287
@rossmcdonald Definitely a bug, but since you just care about an alert message there is another way to format the message:

[code]

[2016-03-04 22:08] nathanielc commented on #281
Right now there is a way to do this but its a bit complex, more details below. What you really want is a way to tell the alert node how to treat of window of data. Right now it is hard coded to trigger an alert if `any` point matches instead of all. This should be easy to change and add a property to the alert node.

Something like this:

[code]

Here is a workaround which involves counting the nu

[2016-03-04 22:08] rossmcdonald commented on #287
@nathanielc Ah, excellent. Thanks for your help!

[2016-03-04 22:13] nathanielc commented on #277
This is a good idea, basically to cluster Kapacitor in its current state there are too options:

* Active-Active: Run two Kapacitor instances doing the same thing and dedup alerts etc on the backend.
* Active-Passive: Place an consistent load-balancer in front of Kapacitor and failover all traffic to the passive instance if the active instance has issues.

We should put together a good write up on

[2016-03-04 22:21] rossmcdonald commented on #287
@nathanielc Actually, when I use:

[code]

What I get now is:

[code]

This works, though:

[code]

[2016-03-04 22:23] nathanielc commented on #287
Correct sorry it is a float after all.

On Fri, Mar 4, 2016 at 3:21 PM, Ross McDonald <notifications@github.com>
wrote:

--
*Nathaniel Cook*
Kapacitor Lead
▼▴

*InfluxData.com <http://influxdata.com/>*

Twitter <http://www.twitter.com/nathanielvcook>

[2016-03-04 22:32] rossmcdonald opened #288 "PagerDuty Service Enhancement"
Based on the [PagerDuty event documentation](https://developer.pagerduty.com/documentation/integration/events), I believe Kapacitor should be sending `trigger` events when an issue is opened, and `resolve` when an issue is marked resolved. From looking at [the current code](https://github.com/influxdata/kapacitor/blob/a5cf89b6ff2de970fa4a2fabc5faa23e0a08f224/services/pagerduty/service.go#L15), it

[2016-03-04 22:54] nathanielc commented on #288
Go for it, seems like you have a good understanding. Also you might want to take a look at this one too, https://github.com/influxdata/kapacitor/issues/82

[2016-03-05 14:01] fffw opened #289 "Tasks stop executing when unable to connect InfluxDB"
My InfluxDB crashed for a few hours and all batch tasks stopped without my notice. Do we have an option to let tasks continue executing next time even it failed? I didn't spot such option from the default configuration.

[2016-03-06 18:23] yosiat commented on #267
@nathanielc I have ran this query:
[code]

and got between 480 to 485

[2016-03-07 12:27] yosiat commented on #271
@nathanielc it looks my patch solution didn't work.
My best solution for now is to create udf that will connect to "stream" and will filter using wildcards

[2016-03-07 16:17] jroda commented on #265
Good afternoons @nathanielc

Did you find anything wrong in the code? I tried to do some other tests but they failed too.

I just need a ratio of "good" points versus "bad" points in last 5 minutes grouped by "HUS" and "HPR".
I have all these data in the same "measurement" in points grouped by 1 minute  and I can distinguish them using the tag "et".

Maybe you know other form to do it.

Thanks and

[2016-03-07 16:31] nathanielc commented on #289
@fffw For errors connecting to InfluxDB this has been fixed in the nightlies. The InfluxDBOut Node will only log failures but continue to operate. Working on adding stats about dropped writes as well so it is easier to track any drops.

[2016-03-08 06:07] fffw commented on #289
Thanks @nathanielc ! I didn't use `InfluxDBOut` node, only run batch queries from InfluxDB. Did that fixed as well?

[2016-03-08 15:31] nathanielc opened #290 "Do not start HTTP API until the rest of the services are up"
Kapacitor currently exhibits confusing behavior in that the HTTP API will be up and listening before the rest of the initialization process is complete. This should be changed so that the HTTP API is only exposed after the start up is complete.

[2016-03-08 15:40] nathanielc commented on #289
@fffw No it do not, It is an easy fix.

[2016-03-08 18:16] #270 closed

[2016-03-08 19:52] nhproject opened #292 "Panic While Using Deadman"
Hi,

I started to use Deadman, at first it worked really great and my tests went OK.
But then I had to change something in the tick file (in the message), so I reloaded the task after I changed what I had to change, and since then I keep getting this weird panic error:
​*invalid timer state*​
I tried to go back to my older version of the tick file, hoping it will fix this issue. I reloaded - and s

[2016-03-08 22:25] sslupsky commented on #286
This would be useful.  As a work around, you could probably use logstash to parse the alert log and put the data into influx or elasticsearch.

[2016-03-08 22:40] #292 closed

[2016-03-08 23:32] lpalm opened #295 "Unescaped characters in JSON output"
What's the best way to get human-readable text back out of this JSON produced through the .log() output?

{"id":"alertName:nil","message":"alertName:nil is OK","details":"{\u0026#34;Name\u0026#34;:\u0026#34;alertName\u0026#34;,\u0026#34;TaskName\u0026#34;:\u0026#34;highalertName\u0026#34;,\u0026#34;Group\u0026#34;:\u0026#34;nil\u0026#34;,\u0026#34;Tags\u0026#34;:null,\u0026#34;ID\u0026#34;:\u0026#

[2016-03-08 23:34] lpalm opened #296 "Documentation's search feature not working on OSX Chrome"
When I type text into the search bar at the top of this [link](https://docs.influxdata.com/kapacitor/v0.2/) and press enter, nothing happens. No buttons are visible so I assumed pressing Enter would trigger a search.

I'm on Chrome Version 48.0.2564.116 (64-bit) on OSX Yosemite. Happy to provide more details if you need help reproducing.

[2016-03-08 23:36] lpalm commented on #296
Looks like it works for v.1.0 so this is not that important. I got into the 2.0 site by accident by Googling for "Kapacitor Documentation", which returns https://docs.influxdata.com/kapacitor/v0.2/ as the first result for me.

[2016-03-08 23:36] #296 closed

[2016-03-09 00:56] fffw commented on #289
Great thanks!

On Tuesday, March 8, 2016, Nathaniel Cook <notifications@github.com> wrote:

[2016-03-09 08:38] #278 closed

[2016-03-09 11:50] AlexGrs opened #297 "A wrong alert definition is causing kapacitor to crash and make it impossible to restart."
Alert definition:
// Get success

[code]

Kapacitor output:

[code]

[2016-03-09 12:53] AlexGrs commented on #297
Ok so i was able to restart kapacitor by going in the task definition folder and by deleting the database.

[2016-03-09 15:39] nathanielc commented on #297
@AlexGrs Thank for reporting the issue and I am glad you found the workaround. The `not implemented` panic has been fixed #236 in the master branch. Also panics will no longer be used to indicate errors so that the task can be modified to fix the error.

[2016-03-09 17:47] nathanielc commented on #295
The `details` field in the JSON is defined to be HTML encoded data. By default it is the same information as already exists in the rest of the JSON structure. The details field can be controlled via the `.details` method in a TICKscript. Does that help?

[2016-03-09 17:55] yosiat opened #298 "Change Alert Levels to be independent instead of subsets."
Hi,

I have the next tick script:
[code]

I am injecting data using this script:
[code]

And I am getting two alerts triggered OK and INFO, and I expected WARN to jump as well.
I debugged alert source code and found some issues with code (and I can submit pull request):

- The levels are examined from OK to Critical, which in my opinion is wrong, it should be from Critical to OK - For example: If

[2016-03-09 18:06] nathanielc commented on #298
@yosiat
You have a value that exists on a number line and you have two break points that define three regions of the number line. So to define the three regions you can use:

[code]
And the highest matching level will be chosen. The advantage of assuming that each level is a subset of the previous level is that you can break out early and not evaluate every condition.

From the docs `It is assumed

[2016-03-09 18:26] nathanielc opened #299 "[Proposal] Make TICKscript branch points more readable"
Since TICKscript ignores whitespace it is possible to define a TICKscript that is really hard to read since it is not clear when a new node is being created vs a property is being set on a node. Example:

[code]

A possible solution is to use a different operator for what the docs call `property methods` and `chaining methods`, where a property method modifies a node and a chaining method creates

[2016-03-09 18:43] mark-rushakoff commented on #299
What if there was a `tick fmt` command analogous to `go fmt` that just automatically formats your tick script to the "correct" levels of indentation?

[2016-03-09 18:46] nathanielc commented on #299
@mark-rushakoff I think that is a great idea. Not sure how the parser would do it without a different operator to help it along. Unless fmt was aware of the more than just the language EBNF spec but also all available methods.

[2016-03-09 19:22] yosiat commented on #298
@nathanielc
Ok, I understand but Kapacitor checks the alerts as a subset for each other (Info > Warn > Crit)
But if we are using separate conditions for each level than the only alert that triggered is info.

Let's take an example: we have stream of "number_of_exceptions" which increments when the application server has an alert while processing, and we want to check that the exceptions isn't abov

[2016-03-09 19:40] yosiat commented on #271
@nathanielc After thinking about this, why this is so hard for supporting regex in measurement name? Is this because the performance penalty?

[2016-03-09 19:43] yosiat commented on #267
@nathanielc
I have upgraded the machine to 8 cores and Kapacitor got faster and 70% cpu.

I think I can make performance improvements, right know I write all the data toל Kapacitor and rely on it to filter the measurements, I am thinking to do this on my side and it will take the pressure down on Kapacitor.

What do you think?

BTW - Do you have any benchmark result on Kapacitor? how many tasks &

[2016-03-09 20:45] nathanielc commented on #271
@yosiat Setting up the wildcard matching is not difficult. The problem is that each selected measurement will get union-ed together and will not be processed independently. Since it is the responsibility of each node to handle how groups are processed this change means updating the logic for all nodes to use the measurement name as part of the group ID. There are helper methods for this but it is

[2016-03-09 20:54] yosiat commented on #271
@nathanielc the first attempt using tags didn't worked because I assumed wrong assumptions (and not becasue Kapacitor didn't allow me to).

When I am using regex in the path I want separate alert (and we can think about it as separate task) for each group, for example:
a.*.c -> a.b.c and a.z.c will be two different alerts, so I don't need to group by (If will groupBy it will be the application typ

[2016-03-09 21:45] gargooza opened #300 "Handle HTTP OPTIONS requests for DELETE recording"
I'm having the same issue deleting recordings via XMLHttpRequest() from a browser as I was  for tasks (see https://github.com/influxdata/kapacitor/issues/255). This ought to be a simple fix, no?

[2016-03-09 21:47] nathanielc commented on #300
Yep, thanks

[2016-03-09 23:00] #288 closed

[2016-03-10 00:19] #249 closed

[2016-03-10 00:19] nathanielc commented on #249
Fixed in https://github.com/influxdata/kapacitor/pull/280

[2016-03-10 00:28] #300 closed

[2016-03-10 00:32] gargooza commented on #300
SO FAST! Thanks, Nathaniel!

[2016-03-10 03:46] ivankennethwang commented on #266
happens to me too. :+1:

[2016-03-10 03:51] nathanielc commented on #266
Thanks for the report, I'll get this fixed.
On Mar 9, 2016 8:46 PM, "Ivan Kenneth Wang" <notifications@github.com>
wrote:

[2016-03-10 04:28] ivankennethwang opened #302 "Question: Add time in message for *.tick"
How can I add time in message?

snippet from `cpu_alert.tick`
[code]

[code]

[2016-03-10 04:39] ivankennethwang opened #303 "Question: Format value as human readable"
Is there a way to format the message in a tick script such that

instead of printing 1.691058176e+09, it will 1.69GB?

[2016-03-10 15:41] nathanielc commented on #303
You have all of the traditional `printf` type formats available but I do not think human readable byte sizes is among them. https://golang.org/pkg/fmt/

It would not be too hard to add helper functions for this. PRs welcome :)

[2016-03-10 16:19] mspiegle opened #304 "panic: runtime error: invalid memory address or nil pointer dereference"
Full details of your operating system (or distribution) e.g. 64-bit Ubuntu 14.04:
- Fedora 23 / 4.3.3-301.fc23.x86_64

The version of Kapacitor you are running:
- kapacitor-0.10.1-1.x86_64

Whether you installed it using a pre-built package, or built it from source:
- From RPM

A small test case, if applicable, that demonstrates the issues:
- I don't yet have a small test case yet.  More explanati

[2016-03-10 16:26] nathanielc commented on #304
@mspiegle The panic is because an influxdb cluster has not been configured but a request to record the results of an InfluxDB query was issued. I have a fix coming that will return an error instead of panicing, but you should be able to get it working by configuring an InfluxDB instance.