[2016-03-10 16:32] SkylePT opened #306 "Variables not being printed out correctly on Alerta integration"
I have the following .tick script :

[code]

The alert does go to Alerta but the resource,event and value fields are not printing out the correct values. They simple print out "{{ .ID }}" as a string.

Example response from Alerta:
[code]

Any idea if this is a bug or am I doing something wrong?

thanks in advance :)

[2016-03-10 17:10] #304 closed

[2016-03-10 18:55] #290 closed

[2016-03-10 19:27] #289 closed

[2016-03-10 20:43] nathanielc commented on #145
@RonRothman I have been able to write many millions of points with out dropping any. For now I am going to close this issue, but if you are still having issue please open a new one with relevant details.

[2016-03-10 20:43] #145 closed

[2016-03-10 21:10] RonRothman commented on #145
@nathanielc Thanks--sorry for going MIA. We ended up using continuous queries instead of Kapacitor, so this issue became less urgent on our end. I'll repoen when we revisit Kapacitor. Thanks again!

[2016-03-10 21:16] rubycut opened #310 "PagerDuty service doesn't push unique incidentKey"
And as a result of this, stateChangesOnly() doesn't work also:

my tick script:
[code]

When I run it on runscope, I see that request is formed like this:

[code]

incident key should be in, and it should have id inside.

[2016-03-10 21:17] rubycut commented on #310
Kapacitor is kapacitor-0.10.1-1_linux_amd64.tar.gz

[2016-03-10 21:18] nathanielc commented on #310
@rubycut This was fixed today https://github.com/influxdata/kapacitor/pull/291

[2016-03-10 21:27] rubycut commented on #310
Thanks.

[2016-03-10 21:27] #310 closed

[2016-03-10 23:07] rossmcdonald opened #311 "Automatically convert from int64 to float64 when using percentile"
Version information:

[code]

When attempting to define the TICK script:

[code]

I get the error:

[code]

It seems the issue is that the call `.mapReduce(influxql.percentile('used', 95))` expects `95` to be a float, so changing it to:

[code]

Works like a charm. It would be great if the int to float was conversion was handled automatically, though.

[2016-03-11 00:56] fffw commented on #289
Wow it's quick @nathanielc ! Thanks!

[2016-03-11 04:01] ivankennethwang commented on #303
I'm not an expert in Go. I tried looking around to understand the code. Meanwhile, I think it will be great if we can add something like this... https://godoc.org/github.com/dustin/go-humanize?

[2016-03-11 05:29] ritalin opened #312 "Replaying AlertNode/log handler has failed in Windows environment"
Hi.

TICK script:
[code]

I had tried to execute replay command with this script.
But received error message: **task start: alert log path must be absolute: alerts.txt is not absolute**

This issue is guessed involving from [golang/go#1483 ](https://github.com/golang/go/issues/1483).

From that issue, t may be resolved replacing *path.IsAbs()* to *filepath.IsAbs()*.

Best regards.

[2016-03-11 09:21] hrzbrg commented on #281
I am also looking for something like this :)

Related: Can I compute the MEAN over a given time interval to alert only, if the MEAN is above a threshold? For example I would like to look at the MEAN over the last 5 minutes.

[2016-03-11 10:06] yosiat commented on #298
@nathanielc I finally solved this by separating the alert to multiple alerts like this:
[code]

What do you think?

[2016-03-11 13:30] MartinSbs opened #313 "How to count alert event?"
Good Morning,
I need some help with tick script.
I generate critical and warning alerts and I want to count how much warning and alert I get for each element I have.

{"id":"cpu:cpu=cpu3,","message":"cpu=cpu3,  status = CRITICAL , value = 8.40000000020722 "}
{"id":"cpu:cpu=cpu-total,","message":"cpu=cpu-total,  status = OK , value = 75.0125439038205 "}
{"id":"cpu:cpu=cpu3,","message":"cpu=cpu3,  s

[2016-03-11 13:41] SkylePT commented on #306
I noticed about this PR: https://github.com/influxdata/kapacitor/pull/228

So I downloaded a recent nightly build ( Kapacitor 0.11.0~n1457683528 (git: master 1671023941a1f0631632a0d03ead546ba664512e) and it seems to be working there :+1:

[2016-03-11 15:42] gregoryb opened #314 "Tags are empty."
I'm using Telegraf to send CPU values to InfluxDB.
I adapted the Basic Exemple fromthe Readme and when i use window(), I'm no able to access to the "Tags" map when i try to customize the alert. .Tags is empty.

[2016-03-11 15:50] nathanielc commented on #312
@ritalin You are correct thanks. I'll get that fixed.

[2016-03-11 15:56] nathanielc commented on #298
Wouldn't this work too?

[code]

[2016-03-11 16:04] nathanielc commented on #281
@hrzbrg Using a time interval is possible and quite easy to do. Counting specific points is not so easy at the moment.

Example:

[code]

[2016-03-11 16:13] yosiat commented on #298
@nathanielc This would work, but my tick script are auto generated (converter from legacy system), so this is the best solution I have.

[2016-03-11 16:24] rossmcdonald commented on #314
@gregoryb Can you provide a TICK script that reproduces this issue?

[2016-03-11 16:25] nathanielc commented on #313
@MartinSbs

Your message looks fine, its just that the value of the `message` is a string and so you will need to interpret it as json as well. Since I see you are using `jq` let me try and show you what I mean. `cat alerts.json | jq '.message' -r | jq .` the `-r` flag tells jq to use the raw output and then you can pass the message json into another `jq` for more processing.

 Once issue #93 is i

[2016-03-11 16:34] gregoryb commented on #314
You can close finally :) I fix it. It's just a missmatch between " and ' in the groupBy clause.

[2016-03-11 16:38] rossmcdonald commented on #299
I like @mark-rushakoff's idea of a formatting tool that helps with indentation (and maybe highlighting), rather than modifying the syntax of the TICK scripts themselves.

I'm worried it will be more confusing to add more operators to the syntax, since now instead of having to remember the name of the method I want to use, I have to remember the name _and_ the the type of method it is. Also, based

[2016-03-11 16:39] rossmcdonald commented on #314
@gregoryb No worries. Thanks for letting us know!

[2016-03-11 16:39] #314 closed

[2016-03-11 16:44] nathanielc commented on #298
Ok, I am thinking we might change this to be a mix of our implementations. Since it can be confusing that lower levels need to be a super set of higher levels what if we evaluate every level every time? That way its simple and you always know that each point will be evaluated for all levels. It will be slower but we are taking a max of four levels and simplicity is probably more important than a s

[2016-03-11 16:45] #312 closed

[2016-03-11 16:48] yosiat commented on #298
@nathanielc I agree, I think we need first measure this - to know how much does it hearts on performance and then decide upon this, but I prefer simplicity over performance.

[2016-03-11 17:03] yosiat commented on #299
I find the operators of "|" or "->" really hard to understand because they show a sign of semantic meaning and it's much more complex.

I do like @mark-rushakoff idea of "tick fmt" and I have an idea to improve the readability,
currently each node accepts it's "configuration" by method chain which makes long chain, for example:
window.every(1m).period(5m)
alert().id(...).message(...)

I think thos

[2016-03-11 17:13] nathanielc commented on #299
@yosiat Something like this?

[code]

It works pretty well, how would you handle the `.email().to(...)` case? Since that is multiply chained properties?

As for the `tick fmt` idea I like it but it can't be done unless the format engine is made aware of all the available methods and their types, essentially making each method name a keyword in the language. The `go fmt` tool is able to format code

[2016-03-11 17:18] yosiat commented on #299
Umm.. not exactly..
I really like the chaining of severities and reporters (email/post), I think about something like this:
[code]

[code]

By the way - which language you are using in github syntax highlighting for the tick scripts?

[2016-03-11 17:19] nathanielc commented on #299
javascript

[2016-03-11 17:21] nathanielc commented on #299
@yosiat What is the difference between `info` and `id`? How would a user know when it belongs in the call to the node and when it doesn't? Seems like mixing it makes the problem worse?

[2016-03-11 17:30] yosiat commented on #299
I think they differ, because in my head the "alert" and "info" are different "logics" -
So the "id" and "message" configures something generic to alert while "info" / "post" enriches the "alert" logic.

But yes, you are right this can confuse but I think this can be solved with a right tooling - syntax highlighting, fmt (and maybe define some superset nodes - like "alert"/ "influxDbout" and increa

[2016-03-11 17:50] gunnaraasen commented on #299
How about treating parentheses as the equivalent to whitespace to allow disambiguation of chaining and property methods without messing around with the core syntax.

[code]

The above would be equivalent to the original TICKscript (and would parse exactly the same when the parentheses are stripped):

[code]

All existing TICKscripts would work too. Characters other than parentheses could be suppor

[2016-03-11 18:12] nathanielc commented on #299
In my mind the options boil down to these:

* We force the distinction with syntax. Which syntax we can figure out later.
* We do not force the distinction but have flexible syntax that makes it easy to distinguish. I think whitespace is sufficient here.

If we force the syntax then we gain/loose a few things:

* TICKscripts are more readable.
* It is now trivial to create a `fmt` command to help

[2016-03-11 19:16] nathanielc commented on #302
At the moment you cannot. But that should be an easy addition.

[2016-03-11 19:41] #302 closed

[2016-03-11 20:22] rubycut opened #317 "ghost data appearing out of nowhere"
I treid to implement deadswitch, which was not working, then I converted it to full version which was described in docs, then I commented some of the stuff out, then I even changed to nonexisting database and non existing measurement but data us still coming in. Task looks like this:

[code]
InfluxDB shell 0.10.3

ERR: Database fooootelegram doesn't exist. Run SHOW DATABASES for a list of existing

[2016-03-11 20:29] rubycut commented on #317
Kapacitor 0.10.1 (git: master 22b917b4722addf9ff604d16fa01a09431641c55)

[2016-03-11 20:49] nathanielc commented on #317
@rubycut Definitely not correct behavior. I'll see if I can reproduce.

[2016-03-11 22:14] nathanielc commented on #317
@rubycut I can't reproduce the behavior with your task using either master or Kapacitor 0.10.1 (git: master 22b917b)

Can you reproduce consistently?

[2016-03-12 16:32] yosiat opened #321 "All tasks stats"
Hi,

I am currently building UI for Kapacitor (that I hope to release in a month) and I am showing a list of all tasks.
I want to add to each task the number of points he processed and how much he outputed (points written or alerts triggered).

In the current api it will be slow, because I will need to fetch all tasks (using "/tasks") and fetch each task and parse it's dot file. and I want to do t

[2016-03-12 16:33] abarban opened #322 "proposal for alert to Pushover.net service"
to support email and other messaging systems, it might be interesting to add the ability to access alert Pushover (pushover.net) that allow you to have push notifications on Android, iOS, Desktop with multiple possibilities

[2016-03-12 19:50] yosiat commented on #321
Moving discussion to the pull request https://github.com/influxdata/kapacitor/issues/323

[2016-03-12 19:50] #321 closed

[2016-03-14 09:39] rubycut commented on #317
Yes, stats are constantly reising by around 192 points every 30 seconds. I even tried where statement to limit it somehow:
[code]

This is the only task running, I deleted all other tasks. Config file is looking like this:

https://gist.github.com/rubycut/c827f3ae2d076a549d37

log level is at: DEBUG, there is nothing is log when I load the task or afterwards:

[code]

kapacitor is running or coreo

[2016-03-14 12:34] hrzbrg commented on #306
Hi,

even with the latest nightly I still have the problem, that I can not use a tag in environment section:
[code]

The `env` tag is correctly printed in the message however.

[2016-03-14 13:24] MartinSbs commented on #313
Thanks it's perfect!

[2016-03-14 15:52] nathanielc commented on #317
@rubycut Can you try with the latest nightly version of Kapacitor. A change was made since 0.10.1 that fixed an issue where the wrong stat was being reported. Specifically it reported the  number of points that could be sent to the task not the number of points that were.

[2016-03-14 16:16] rubycut commented on #317
Hi, I would gladly try, I am trying to build, any idea how to install dependencies? I am going through
https://github.com/rubycut/kapacitor/blob/master/CONTRIBUTING.md

I installed go 1.5.3, I checked out the source, but I am not sure how to install dependencies.

[2016-03-14 16:20] nathanielc commented on #317
Please upgrade to go1.6, this just changed(I'll update the contributors doc). If you use `./build.py` it should install all deps for you, but it is essentially running `go get -t -u -d ./...`

Also the nightlies are built for you and available on the downloads page. https://influxdata.com/downloads/

[2016-03-14 16:40] #233 closed

[2016-03-14 16:41] nathanielc commented on #142
Fixed with #268

[2016-03-14 16:41] #142 closed

[2016-03-14 18:59] #306 closed

[2016-03-14 18:59] #239 closed

[2016-03-14 20:11] nathanielc opened #327 "Enable window node to window based on count in addition to time."
Something as simple as:

[code]

Where the first window uses time since durations were passed and the second uses counts since ints were passed.

I like the simplicity, but it might make it easy for a typo to mess up a script in a significant way.

[2016-03-14 20:49] yosiat commented on #327
@nathanielc  can you explain? will it support both?

[2016-03-14 20:57] nathanielc commented on #327
Yes, the window node will support both.

[2016-03-14 20:58] nathanielc commented on #327
The proposed change is that if you pass ints to the window node it will count points for windowing instead of checking their times.

[2016-03-15 09:46] #313 closed

[2016-03-15 10:26] MartinSbs commented on #127
Is it possible now to do like Kigakree would like or it's still not available with the current functionality?

[2016-03-15 10:34] haowells commented on #281
@nathanielc
I can not find .all property in here,  not updated in doc?
https://docs.influxdata.com/kapacitor/v0.10/tick/alert_node/

[2016-03-15 11:45] yosiat opened #329 "Is kapacitor thread safe?"
Hi,

Currently I am inserting to Kapacitor from one thread with bulk size of 3000.

Is it safe to insert from multiple threads? (safe = concurrency & ordering of events) ?

[2016-03-15 12:14] jpohjolainen opened #330 "OK dispatched from different host than alert was"
Hi,

I have the simple cpu_alert (with added html email setting) set and when I stress one server, I get critical alert correctly but at the same time I also receive OK message from another host. If I keep stressing one server enough, I get loop of  CRITICAL and OK messages originating from same 2 different hosts.

Here's the tick:
[code]

[2016-03-15 15:20] nathanielc commented on #127
@MartinSbs It is possible if you write a UDF to implement the custom logic. It is not possible with a pure TICKscript implementation.

[2016-03-15 15:21] nathanielc commented on #281
@haowells Its not implemented yet. My example is a proposed solution.

[2016-03-15 15:25] nathanielc commented on #329
It is safe to insert into Kapacitor from multiple endpoints. Kapacitor makes two assumptions about the data being inserted.

1. All data for a measurement comes from a single source.
2. The data is already ordered in time for each measurement. Note different measurements can be out of order from each other. Only within a measurement must the data be ordered.

[2016-03-15 15:27] nathanielc commented on #330
Alerts are computed by each `group` in the data. Since you are not grouping the data Kapacitor has defaulted to assuming all data is in the same group.

Since you have a tag `host` then use this as the groupBy dimension and then alerts will be computed by host.

[code]

[2016-03-15 15:38] rubycut commented on #317
Yes, I tried with nightly build kapacitor-0.11.0~n1457942747-0 and it is working now.

[2016-03-15 15:38] #317 closed

[2016-03-15 15:39] nathanielc opened #331 "Panic with join + eval"
Exceprt of TICKscript
[code]

all other tasks were disabled to ensure a cleaner stacktrace:
[code]

[2016-03-15 16:17] jpohjolainen commented on #330
I thought something like that was missing, but I relied that kapacitor would keep state of alerts itself.
Thank you!

[2016-03-15 16:21] #330 closed

[2016-03-15 16:38] jroda opened #332 "Disable "stateChangesOnly""
Hi,

I would know if is possible o dissable the method "stateChangesOnly" or will be possible in the future.

Thanks and best regards, Javier

[2016-03-15 17:00] nathanielc commented on #332
@jroda `stateChangesOnly` is not on by default unless you have globally configured a an alert handler. Is that the case? If so which one?

[2016-03-15 17:52] rubycut opened #333 "when testing stream scripts with -fast option, test is stuck"
This happens only if I use stats() method in tick script. For example:

[code]

Kapacitor is nigthly   kapacitor-0.11.0~n1457942747-0

[2016-03-15 20:10] feelobot opened #334 "Kapacitor Hangs on Record Batch"
[code]

After doing the record nothing happens and you must quit the shell, there are no recordings either:
[code]

[2016-03-15 20:38] nathanielc commented on #334
@feelobot The `duration` flag does not apply to the `batch` type recording. It should validate that and error out.

[2016-03-15 20:52] devilldog opened #335 "testing vaule against daily seasonality"
Is there a way I can compare my current value to say a 30 minute window from yesterday ? we have a lot of systems that are dormant during the day but start processing say at 1800 and if the values are in check with what happened yesterday i don't want an alert.
thanks !
Rob

[2016-03-15 21:09] nathanielc commented on #335
@devilldog The best way to achieve this is to use batch queries with offsets and shifts.

Using a simple cpu example:

[code]

[2016-03-15 21:58] jroda commented on #332
Yes, that was the problem. Thanks so much for fast answer @nathanielc .

[2016-03-15 22:16] #333 closed

[2016-03-16 05:35] panda87 opened #337 "Add the ability to active all tick scripts with one command"
I see this feature very useful when using Kapacitor in docker containers, when the run command will active all TICK's at one single command, instead of follow one after one.

[2016-03-16 06:07] naude-r commented on #331
Kapacitor 0.10.1 (git: master 22b917b4722addf9ff604d16fa01a09431641c55)

[2016-03-16 09:56] OrangeTux commented on #337
Maybe a solution to enable/disable TICK scripts using glob style pattern matching?

I often prefix the names of my TICK scripts like this:

[code]

If i want to enable all scripts I could use `kapacitor enable *`, but if I only want to enable scripts for frontend I could use `kapacitor enable frontend_*`.

[2016-03-16 12:25] mpergament opened #338 ".mapReduce(influxql.sum('value')) does not work as expected"
![newmeasurement](https://cloud.githubusercontent.com/assets/13856387/13812152/c00ca68a-eb7a-11e5-8c8f-f8d8f292c30f.jpg)
![initialmeasurements](https://cloud.githubusercontent.com/assets/13856387/13812159/c697bcce-eb7a-11e5-9b3b-9c40e8cbe680.jpg)

Perhaps it is just my missing understanding of how .mapReduce works but I have following problem:

stream
    .from().measurement('jnpr.analyticsd')

[2016-03-16 13:29] mpergament commented on #338
I figured it out.

[2016-03-16 13:29] #338 closed

[2016-03-16 14:41] AlexGrs opened #339 "Real time alerting on two different streams"
I have on metric called c_test_status on my influx. Each metrics have a `status` tag which can either be `success` or `failed` and a `test_id` tag.

What I need : I want to raise an alert when the success rate over the last 5 minutes for a group of test_id is less than 90%.

Example: test_id 18, 19 and 20 have 70% success rate over the last 5 minutes.

Unfortunately, I'm not able to find the solut

[2016-03-16 15:17] nathanielc commented on #339
@AlexGrs Looks like you are on track, just a few question to clarify:

* What is the value of `value`? Why are you summing vs counting?
* The crit expression looks like it has a typo, should it be:
`lambda: (100.0 * ("success_stream.sum") / ("success_stream.sum" + "failed_stream.sum")) < 90.0`
* Finally you should add a `.tolerance(30s)` to the join node since its is possible that the two streams

[2016-03-16 15:28] AlexGrs commented on #339
Hi !

Right now value is always one. So I changed my definition by changing sum to count. I fixed the lambda expression with the one you provided (thanks for the typo correction). I also changed the crit condition to try to trigger the alert and check it works :
[code]

Is there a possibility to follow during tests the value of the mapReduce and of the expression evaluated for the alert ?

It has

[2016-03-16 15:39] nathanielc commented on #339
Here are some helpful debugging steps for TICKscripts:

* Record a static data set so you don't have to wait periods of time to see if your changes work. Just change the TICKscript and replay.
* Break the task into smaller pieces. For example to see what the result of the mapReduce operations where you can add an alert node with a always true condidtion and log the result
[code]
That is not ideal,

[2016-03-16 15:42] AlexGrs commented on #339
hey.

Here is the output of the show command:

[code]

[2016-03-16 15:44] nathanielc commented on #339
Thanks,

so this line `join10 -> alert11 [label="11"];` tells us that the alert node has received 11 data points. If you do not see any alerts in the log then none of those 11 data points matched the criteria. Try adding an `OR TRUE` to the crit expression so that all points trigger an alert. The alert data in the log will contain the values of the fields so you can figure out why the expression i

[2016-03-16 15:51] nathanielc commented on #331
@naude-r Thanks, this section of code has been significantly updated, could you try and reproduce the error using the nightly build which can be found here https://influxdata.com/downloads/

[2016-03-16 15:57] AlexGrs commented on #339
Hm... This is strange. Each time I delete the task and redefine it, I the three alerts I defined in my tick (the two debug alerts and the good one):
![image](https://cloud.githubusercontent.com/assets/12913892/13818887/ef951b4a-eb97-11e5-91ae-11595bb68eb5.png)

But after this, nothing happens. At least I should get the DEBUG point where `lambda: TRUE``

Output of show:

[code]

[2016-03-16 16:20] nathanielc commented on #339
Have you configured slack or any other alert handler globally? This carries the side effect of setting stateChangesOnly on all alerts. (Should probably change that ;)

My guess is that since you now have `lambda: TRUE` you get the first alert but it never changes so you don't get any slack alerts for new points.

Also you might want to add `.groupBy('test_id')` after your where clauses now so that

[2016-03-16 16:22] nathanielc opened #340 "Decouple stateChangesOnly from global setting for alert handlers"
Setting an alert handler globally in the config can also globally define stateChangesOnly which can be very confusing. We should make them both configurable, independently.

[2016-03-16 16:36] AlexGrs commented on #339
You were right. I configured slack notification with `global=true` :scream: I changed it and now I receive all debug alerts. But nothing regarding my 'real' alert with the expression percentage computed.

For your info, I upgrade into 0.11RC, here is the output of show command:

[code]

[2016-03-16 16:45] AlexGrs commented on #339
Sorry, I was not supposed to close the issue :s

[2016-03-16 16:46] nathanielc commented on #339
Ah, good catch on the logs. Yes, you need to convert the counts to floats like so:

`(100.0 * float("success_stream.count") / float("success_stream.count" + "failed_stream.count"))`

[2016-03-16 17:01] AlexGrs commented on #339
hm. The error is not triggered. I even changed the to `lambda: TRUE` in the crit expression but even with this, I'm not able to get any alerts in my slack or in the logs.

[code]

[2016-03-16 17:09] #297 closed

[2016-03-16 17:18] nathanielc commented on #339
Notice that no points made it to the alert node this time: `join10 -> alert11 [processed="0"];`

This is because the join is not working right. Thinking about this I think you should change the script a bit so that we can guarantee the join will work.

But first let me explain more about join. Join looks for pairs of points that have the same group in this case test_id and same time within the tol

[2016-03-16 17:29] AlexGrs commented on #339
I understand. I did the change but have no alert right now.

If I have no failed tests during the window, I assume the `tests.where(lambda: "status" == 'failed').count('value')`will contain no data at all -> so the join will be locked forever right ?

[2016-03-16 17:45] #266 closed

[2016-03-16 17:46] nathanielc commented on #337
I like the idea of glob syntax. This would not be to hard to add, PRs welcome.

[2016-03-16 17:49] nathanielc commented on #322
@abarban Adding a new alert handler is relatively simple and has been done many times, before see these PRs #139 #160

[2016-03-16 17:53] nathanielc commented on #339
Looks like you are right. https://github.com/influxdata/kapacitor/blob/master/where.go#L77 I assumed it would output an empty batch so that the count could produce a 0 count point, but I was wrong. I think I can just remove that line and it will work but I'll need to test other edge cases were an empty batch could cause problems.

[2016-03-16 17:55] #332 closed

[2016-03-16 17:55] #340 closed

[2016-03-16 18:05] AlexGrs commented on #339
Sure. I can try the solution if you need it. The product we are building will relies a lot on this feature. Maybe you can add a special parameter to the stream to bypass this empty batch protection ? So users who don't want this behavior can keep the old one.

The strange thing is when I delete the task. It's like all the join locked due to empty batch were released at once Right now I just receiv

[2016-03-16 18:33] AlexGrs commented on #339
( i may have find a workaround for now : i have only two states in my points: success and failed). So i'm doing a filter on success tag only, and keep all the other point which are equals to success + failed.

As i'll be adding more status in the future, a solution to have the join with empty batch would be much appreciated.

[2016-03-16 18:41] devilldog commented on #335
fantastic thanks !

[2016-03-16 19:18] yosiat opened #344 "Add documentation on internal stats"
Hi,

In 0.11 Kapacitor introduced some internal stats on edges - collected, emitted, gc metrics and etc.
I think this should be added to Kapacitor docs to show how to get data from there, what are the tags of the points.

[2016-03-16 19:38] nathanielc commented on #339
I am losing my mind today ;)  As per the docs https://docs.influxdata.com/kapacitor/v0.10/tick/join_node/#fill
Fill should do what you want.

[2016-03-16 21:11] hrzbrg opened #345 "kapacitord - Type mismatch for 'run.Config.influxdb'"
I am currently running a master build (git: master 39c711a6db2c75703ff21e22a23e6487261c3588)
in a dev. environment with InfluxDB 0.10.3.
The current Kapacitor nightly was working fine in the setup, but as I replaced the binaries with the master builds, Kapacitor failed to start up with the following message:

[code]

I could not decide where to post this, because it seems like something with the I

[2016-03-16 21:13] nathanielc commented on #345
@hrzbrg Can you post your Kapacitor config? The config posted above looks like an InfluxDB config.

[2016-03-16 21:20] hrzbrg commented on #345
sure:
[code]

[2016-03-17 01:24] jonseymour opened #346 "docker build of v0.10.1 fails"
I wanted to run the docker build of the v0.10.1 tag (with build.sh) but it is failing because the tip of master of influxdb/influxdb is no longer compatible. I worked around the issue by cherry-picking the first vendoring change in master onto a branch of v0.10.1 and running the build with that.

I can make the branch available to others if they would like it or will submit a pull request against

[2016-03-17 01:26] jonseymour commented on #346
The branch is here - https://github.com/jonseymour/kapacitor/tree/jss-346-0.10.1

[2016-03-17 03:22] jonseymour opened #348 "applyEnvOverrides fails to override array elements"
The following environment override:

[code]

doesn't have the expected effect.

An attempt is made to ecursively apply overrides to array/slice elements, but the attempt fails because the recursive call returns early because the reflect.Value being operated on by the recursive call is not a struct.

[2016-03-17 07:15] jonseymour opened #349 "[feature-request]: support for running kapacitor inside a docker container"
Unless I am missing some configuration option, it seems that kapacitor and influxdb can't easily be used together if each is deployed into a separate docker container.

The reason is that the UDP subscription ports created by the kapacitor process won't be in a network namespace that is visible to the influxdb process.

Is there an intention to address this issue? What subset of kapacitor function

[2016-03-17 10:58] jonseymour commented on #345
A change in master made influxdb an array of objects. You need to add [] around [influxdb] in your config. See kapacitord config output for an example.

[2016-03-17 13:54] hrzbrg commented on #345
facepalm...I didn't realize that
thank you

[2016-03-17 13:54] #345 closed

[2016-03-17 14:39] nathanielc commented on #349
You are correct in that auto creating subscriptions is not docker friendly. The solution is to create the subscriptions your self so that the ports chosen are deterministic. On startup Kapacitor looks for all subscriptions of the name `kapacitor-<clusterID>` and then dynamically listens on the defined ports. If you configure subscriptions externally to Kapacitor it will find them and behave accord

[2016-03-17 14:43] nathanielc commented on #346
@jonseymour Thanks, I'll create a v0.10 maintenance branch

[2016-03-17 14:44] jonseymour commented on #349
Ah cool - thanks for the info!

[2016-03-17 14:44] #349 closed

[2016-03-17 14:50] #335 closed

[2016-03-17 14:53] nathanielc commented on #334
@feelobot The help is a bit confusing but for `batch` recordings the appropriate flags are `start, stop, past`. The `duration` flag only applies to the stream recordings

[2016-03-17 16:44] nathanielc opened #352 "Batch deadman is triggering off batches received not total points received"
If a query returns zero results the deadman doesn't trigger because it successfully got an empty result. We need to change it to trigger off points returned.

[2016-03-17 20:57] #334 closed

[2016-03-18 00:20] jonseymour commented on #346
Closed via #353

[2016-03-18 00:20] #346 closed

[2016-03-18 10:30] AlexGrs commented on #339
So I used, .fill() option and manage to get some alerts. My main issue know is to understand when those alerts are fired. Indeed, I asked for a slack notification to receive them but it seems the alerts are triggered with a lot of delay..

For example:
<img width="598" alt="capture d ecran 2016-03-18 a 11 19 16" src="https://cloud.githubusercontent.com/assets/12913892/13875190/bc288718-ecfc-11e5-8

[2016-03-18 10:46] yosiat commented on #329
thanks!

[2016-03-18 10:46] #329 closed

[2016-03-18 14:21] rca commented on #349
@nathanielc Thanks for the explanation.  While I understand it, I don't yet know enough about Kapacitor and the way it interacts with InfluxDB.  Can you expand on where the subscriptions you mention are stored and how I can go about managing them?  Are these in Kapacitor or InfluxDB?  How can I query them?  How can I create them?  How can I remove them?  etc.

If this is documented somewhere, can

[2016-03-18 14:23] yosiat commented on #337
@nathanielc I can implement this.. Where do we want to happen?

- Client will send to the server - enable/frontend_*
- Client will fetch all tasks and call enable per task?

[2016-03-18 14:51] nathanielc commented on #337
@yosiat I think having the server implement the glob logic is the right place. Thanks!

[2016-03-18 15:11] yosiat commented on #337
@nathanielc I will do this, I think we should enable this feature for disable and reload as well.

[2016-03-18 15:13] nathanielc commented on #349
@rca Here is the docs on subscriptions https://docs.influxdata.com/influxdb/v0.10/query_language/spec/#create-subscription

Basically they are stored in the metadata for a database in InfluxDB. You interact with them via InfluxQL commands.

`SHOW SUBSCRIPTIONS` -- lists existing subscriptions
`CREATE/DROP SUBSCRIPTION ...` -- creates or drops a subscription

More details can be found in the linked

[2016-03-18 15:17] nathanielc commented on #337
Agreed lets make the change consistent.

[2016-03-18 15:55] nathanielc commented on #352
Turns out this is not a bug and the issue was created by testing an older version

[2016-03-18 15:55] #352 closed

[2016-03-18 18:05] AlexGrs opened #357 "Allow alert.post to send request to authenticated endpoint"
Hi,

I would like to send post request to an API endpoint with a Basic Http Authentication. Is it supported ?

Regards.

[2016-03-18 18:07] yosiat commented on #337
@nathanielc This is harder than I thought.
I can write this code with lots of duplicated, but I decided to add "FindTasks(predicate func(string)bool) []rawTasks" so methods like:
- GetTasksInfo
- Enable
- Disable

will use them.. I will send PR once it will be finished.

[2016-03-18 19:59] nathanielc commented on #357
It is not :(

[2016-03-18 20:00] nathanielc commented on #357
But it is not to hard to add PRs welcome.

All that would be required it to update this struct https://github.com/influxdata/kapacitor/blob/master/pipeline/alert.go#L325
and this method  https://github.com/influxdata/kapacitor/blob/master/alert.go#L567

[2016-03-18 20:58] ralidousti opened #358 "logging of important events within the system"
While changing the log level from the default info to debug, it looks like the state changes/detections (crit, warn, ...) are not being logged. Tt makes sense to have some logging indicative of important events within the system.

[2016-03-19 00:10] cryptokush opened #359 "kapacitor alerta event value (E! failed to send alert data to Alerta: Resource and Event are required to send an alert)"
Alerta integration is broken because I cannot define .event in alerta tickscripts due to the error:
invalid task: No method or property "event" on *pipeline.AlertaHandler

Yet if event is not defined (to satisfy the kapacitor define) you get the error E! failed to send alert data to Alerta: Resource and Event are required to send an alert. once kapacitord tries to talk to alerta.

I have tried to

[2016-03-19 00:21] cryptokush commented on #359
Example failing tickscript without event defined:

TICKscript:
stream
	.from().measurement('checkpoint.temp.currentTemp')
	.groupBy('sensorName')
	.alert()
		.id('{{ index .Tags "host" }}')
		.message('{{ .Level}}: {{ .Name }}/{{ index .Tags "name" }} TEMPERATURE ALERT sensor: {{ index .Tags "sensorName"}} = {{ index .Fields "sensorValue" }}')
			.info(lambda: "sensorValue" > 0)
			.warn(lambda: "

[2016-03-19 19:34] offlinehacker commented on #348
I guess the same error applies also to influxdb: https://github.com/influxdata/influxdb/blob/master/cmd/influxd/run/config.go

[2016-03-20 04:17] jonseymour commented on #348
Yes, it would. I am happy to cross-port the fix back to influx.

[2016-03-20 04:56] jonseymour commented on #348
@offlinehacker actually, right now it isn't a problem for influxdb because in the config language, arrays and slices are only ever used at the struct level (e.g. [[udp]]) never at the field level and the overrides do work at the struct level.

It would be a problem if this ever changed.

[2016-03-21 10:36] AlexGrs opened #361 "Delay in alerts"
When using join on stream with low throughput (ie one data point every 2 minutes), the alerts are delayed by 3 minutes.  Ie: I received at 10h32 UTC an alert triggered at 10:29 UTC. (on my screenshot slack hour is in UTC+1)

<img width="528" alt="capture d ecran 2016-03-21 a 11 34 50" src="https://cloud.githubusercontent.com/assets/12913892/13916110/f81ae9d8-ef58-11e5-9b7f-40a87af840d1.png">

Aler

[2016-03-21 14:25] AlexGrs commented on #339
Linked to #361

[2016-03-21 15:07] AlexGrs commented on #358
Indeed, event like join results etc should be visible in logs. It would help a lot when trying to create alerts.

[2016-03-21 15:48] #348 closed

[2016-03-21 15:58] nathanielc commented on #358
@ralidousti @AlexGrs Can you give me an example of the kind of logs you would like to see? And how you would like to control turning them on and off?

From my perspective logging things like every state change/detection in an AlertNode or the results of every JoinNode would be too noisy and not helpful.

One thought  I had to make debugging tasks easier, would be to add a LogNode that you could pu

[2016-03-21 16:19] AlexGrs opened #362 "Batch never joined"
I m still trying to get a working version of my alert for my tests success rates. Because there is a lot of delays in alert with stream, I was thinking about using a batch alert.

I can now successfully have in real time success and total numbers. But as soon as I try to join them to compute  a success rate, nothing happens. I never have any alert, even if I print successfully the number of succes

[2016-03-21 17:22] ralidousti commented on #358
What you are suggesting is prudent. Basically there needs to be a way to tell whether a given condition holds within the system through the application logging. But in case of crit/warn conditions I'd still think that it needs to be logged without any prior/explicit tick statement, since they are critical/warning conditions for the user anyway. I think a join/union/... is different and an explicit

[2016-03-21 17:27] nathanielc commented on #299
This is a proposal to make a rather big change to TICKscripts.  Pinging you guys since you have been quite active on Kapacitor. Thoughts feedback welcome. @jonseymour @ericiles @md14454 @sstarcher @adrianlzt @AlexGrs @rubycut @alprs @jcmartins @wutaizeng @ralidousti  Thanks

[2016-03-21 17:32] AlexGrs commented on #358
I agree. For some cases such as expression evaluation for crit and warn, a direct logging without specifying it in tick would be really appreciated (only if kapacitor is set in debug mode).

For union & join, a LogNode is great for me, from the moment I can access to the internal data of the node to understand what is happening with my joins.

[2016-03-21 17:36] nathanielc commented on #358
Sounds like we are on the same page. I'll get something up soon to improve logging.

[2016-03-21 18:21] AlexGrs commented on #361
Is it a normal behavior ? Maybe it could be linked with the way Group By time() are handled by influx ? Right now, it is the only thin which prevent me to deploy a feature.

[2016-03-21 18:29] nathanielc commented on #361
@AlexGrs Yes, the delay is normal. The reason is that Kapacitor understands time as data arrives. It doesn't know that more data is not going to arrive for the minute 10:29 until data arrives with a greater time. Since you are sending data every 2m and the Window node is emitting data every 1m to total lag is 3m.

What kind of system is responding to the alert? Is a 3m delay too much for your requ

[2016-03-21 18:43] AlexGrs commented on #361
This is what I thought. Sadly I can't send more data to the pipeline as the data is generated by some process we can't really modify. I tried to achieve the same behavior using batch. And I almost manage to have those real time alert even for this kind of low throughtput data.

I can see in real time the count of success and the total count of tests, but i'm not able to join them.

See #362

[2016-03-21 18:56] #358 closed

[2016-03-21 19:39] nathanielc commented on #362
@AlexGrs I have looked over this several times now and do not see anything wrong. My thinking is that there is a bug in the join code. Could you create a recording of your data so I can try and reproduce this locally.

Run this to record the batch data
`kapacitor record batch -name success_rate -past 20m`

Grab the returned ID

Then in Kapacitor data dir typically /var/lib/kapacitor or ~/.kapacito

[2016-03-21 19:55] rubycut commented on #299
Hi,

I am coming from ruby background, for me, current TICK script is pure poetry, I like it as it is.

You have to have basic understanding of nodes to be able to write or understand any tick script.

Once you have basic understanding, it is easy to both read and write tick script.

I mean, I was working with Riemann, clojure script is worst than hell.

It is true that by putting separate operato

[2016-03-21 20:12] ericiles commented on #299
@nathanielc If you are talking about going the syntax route purely for readability, I am not sure a whole lot needs changing. Everything is going to require some level of learning, and I think TICKscript is about as easy as it gets. However, if the need arises for more structure to allow more advanced functionality, I would likely throw my hat into the JSON arena. It is widely used across most lan

[2016-03-21 20:16] sstarcher commented on #299
@nathanielc We have several discussions already started up so I'll try to keep it brief.

* Yes to improving readability by forcing a syntax distinction and to supporting a formatter.  Code is read more often then written.  As for the exact syntax I would have to put more thought into it.
* @ericiles JSON is fine for computers, but terrible for humans.  For the love of god don't do this to me.

[2016-03-21 21:53] AlexGrs commented on #362
Recording on-going. As soon as I have the file I'll send it to your email address.

[2016-03-21 22:13] jonseymour commented on #299
I like the idea of using syntax to distinguish between properties and chaining - I found TICKScripts hard to read precisely because this distinction is lacking. Formatting of the examples certainly helped, but I was always left wondering how it worked and where the node boundaries really were. With a syntax distinction, it would be far easier to parse where each node begins and would, I think, hel

[2016-03-22 08:31] rubycut opened #366 "HttpOut should emit same node it received"
For debugging purposes, I should be able to insert httpOut node wherever I want, like so:

[code]

But currently, this is not working:
invalid task: No method or property "alert" on *pipeline.HTTPOutNode

So, now just to debug, I have to rewrite it like this:
[code]

And now it looks ugly.

[2016-03-22 08:34] rubycut opened #367 "display warning or add big red warning in docs regarding types of quotes"
I just spend half hour debugging this, this will never stream anything:

[code]
Why?

Because, by mistake, I have double quotes around "metrics3" instead of single quotes. Task will load without problems, no warnign will be displayed, but it will not work.

[2016-03-22 14:29] AlexGrs commented on #362
Tell me if you need more infos to reproduce the problem :smile: I'm sure we will manage to solve this !

[2016-03-22 15:05] nathanielc commented on #366
@rubycut This is a simple fix. Also note that a LogNode was just added that does work the way you want and it logs all data it receives to the Kapacitor log. You can try it in last nights build.

[2016-03-22 15:19] gargooza opened #368 "Alert node log files unreadable"
I am running kapacitor as a service with user/group = kapacitor/kapacitor. Log files generated by alert nodes are unreadable to other users on the system since the log files have 0600 permissions and are owned by the kapacitor user.

Would it be possible to ease up on those restrictive log file permissions (https://github.com/influxdata/kapacitor/blob/7fdc137dc497d50c7ae2d6e2a481031a8b126511/alert

[2016-03-22 15:27] AlexGrs opened #370 "AlertLogs & Exec : Details is a string instead of a json"
Hi.

When using an AlertNode.log or an exec, the json object is quite strange:

[code]

[2016-03-22 15:27] nathanielc commented on #367
@rubycut This is because what you have specified is valid. It means select points where field table is equal to field metrics3. An error should be logged when data is received and no field metrics3 exists.

[2016-03-22 15:28] nathanielc commented on #370
@AlexGrs The details field is HTML encoded content, it is used to display details about the alert. For example the email alert uses the detials as the body of the email. If you do not need/want it just set it to an empty string. `.details('')`

[2016-03-22 15:29] AlexGrs commented on #370
Ok I understand. I will close it so ;)

[2016-03-22 15:29] #370 closed

[2016-03-22 15:48] nathanielc commented on #362
@AlexGrs What version of Kapacitor are you using?

`kapacitord version` ...

[2016-03-22 15:48] #366 closed

[2016-03-22 15:49] AlexGrs commented on #362
kapacitord version
Kapacitor 0.11.0rc1 (git: master 0b43cc30f27d9da39d3574db717ce794f85c77fe)

[2016-03-22 15:56] nathanielc commented on #362
hmmm, well it works for me.

I have used both recordings you sent and I am using the same version and it is working for me. I get several alerts from the joined alert. I did add a `.log` to the last alert so I could see the alerts without using slack. Does it work for you in a replay?

Try this:
`kapacitor replay -name success_rate -id 66cbec74-3f20-4322-b489-f2981f3abbbe -fast -rec-time`

[2016-03-22 16:06] AlexGrs commented on #362
It works when I replay it:  It is the first time i can see those messages (`...CRITICAL SUCCESS RATE: map...`)

But when I do that in with 'real time' metrics, it doesn't work. I only see `CRITICAL` and `CRITICAL TOTAL`

[2016-03-22 16:17] AlexGrs commented on #362
Ok i can confirm. I just register the data for 10 minutes. At the same time I was checking my alert log in real time. I only saw alerts coming from my two debug streams but nothing from the join. Then i used your command to replay it : and i also saw the join alerts.

[2016-03-22 16:19] nathanielc commented on #362
@AlexGrs Thanks, I am stumped on how it doesn't work for an enabled task but does during a replay. The purpose of the replay system is to be identical to the real thing to test tasks, they only vary but how data is ingested into the task, which should not effect how the join functions... I am digging further in and I'll keep you posted.

[2016-03-22 16:51] yosiat opened #371 "Preserve tags to join/window"
Hi,

I am creating tick script with measurement with tags (server_group, dc, etc), my
tick script is something like this:

[code]

In the json I am getting on the service I don't have all tags I have in "some_measurement" whom I need.
Is there a way to preserve the tags?

[2016-03-22 16:51] AlexGrs commented on #362
I agree. I'm also stuck on this point. I tried again and see the same. Not working in live, but working with replay. There clearly is something i don't get here. Could it be linked with ingestion speed which is different from a real case ?

[2016-03-22 17:02] nathanielc commented on #362
@AlexGrs Good news, I can reproduce the issue. I'll update when I have a fix....

[2016-03-22 17:03] AlexGrs commented on #362
Good news !! I will be really happy to test the fix :eyeglasses:

[2016-03-22 20:04] nathanielc commented on #371
@yosiat You need to group by the tags you want preserved.

For example:

[code]

[2016-03-22 20:06] #362 closed

[2016-03-22 20:07] nathanielc commented on #362
@AlexGrs the fix has been merged, it was pretty obvious once I found it. Feel free to test using master, or the nightly builds tonight. Thanks

[2016-03-22 20:10] nathanielc commented on #371
@yosiat But you are using selector functions `first,last` so that should preserve them. I'll look into this.

[2016-03-22 20:13] nathanielc commented on #368
@gargooza A very reasonable request. This should be easy to add.

1. Add a field to the LogHandler struct int64  https://github.com/influxdata/kapacitor/blob/master/pipeline/alert.go#L432
2. Implement using the new field in the handleLog method  https://github.com/influxdata/kapacitor/blob/master/alert.go#L610

PRs welcome

[2016-03-22 20:13] nathanielc commented on #361
Closing issue as behavior is as expected.

[2016-03-22 20:13] #361 closed

[2016-03-22 20:52] yosiat commented on #371
@nathanielc I can check this out as well thanks to the log function, I will see this tomorrow and let you know.

[2016-03-22 21:02] yosiat commented on #337
@nathanielc I started to implement this and found it difficult, there two ways to implement this, and please tell me what you prefer:

Implement a function that will get a predicate with the task name and will return an array of rawTask, it will fetch the boltdb and will return all the matching tasks, we can use this in:
 - GetTasksInfo - to filter by the given array of tasks (?tasks=...)
 - Enabl

[2016-03-22 21:02] nathanielc commented on #371
@yosiat OK, FYI I was discovered that without changes to the InfluxDB influxql package and the way it handles Aux fields this will not be possible. The tag information is lost when it goes through the `first` `last` methods.

[2016-03-22 21:07] yosiat commented on #371
@nathanielc can you explain? are you talking about influxql.first or first ?

[2016-03-22 21:07] nathanielc commented on #337
@yosiat The task_store has been implemented with simplicity in mind not performance. As a result the predicate function sounds better. Even with 1000 tasks the slow down should not even be noticeable and its a low throughput action.

[2016-03-22 21:09] yosiat commented on #337
@nathanielc agreed, I will send PR in the weekend. sorry for the delay!

[2016-03-22 21:16] nathanielc commented on #371
@yosiat

These lines:

[code]
 end up calling functions here https://github.com/influxdata/influxdb/blob/master/influxql/call_iterator.go#L266 and https://github.com/influxdata/influxdb/blob/master/influxql/call_iterator.go#L330

Those function do not preserve the tags on the selected points, only the Aux information. The Aux information is a list of values but the keys are stored elsewhere. For I

[2016-03-22 21:44] nathanielc commented on #299
Thanks everyone for the feedback. What I am hearing is some people are in favor of the change. Some don't have a strong preference and a few people feel like its a bad idea.

I think forcing the distinction is going to be better in the long run for three specific reasons:

1. Disambiguation of using a same named property method vs chaining method. i.e. `gorupBy` and `log` was also introduced recen

[2016-03-22 23:50] jonseymour commented on #299
@nathanielc Can you explain why you want to avoid the analogy with unix pipes? I would have thought the analogy is a reasonable one, but then I haven't actually written any TICKScripts in anger yet (I am currently knee deep in ansible fixing my docker infrastructure so that I can easily run Kapacitor inside a docker container !!)

[2016-03-23 00:02] nathanielc commented on #299
Sorry that wasn't clear, I like the analogy to Unix pipes, that's why I
included it. I would be fine with any of those three operators.
On Mar 22, 2016 5:50 PM, "Jon Seymour" <notifications@github.com> wrote:

[2016-03-23 09:49] AlexGrs commented on #362
Indeed it works perfectly :)

[2016-03-23 12:56] rubycut commented on #367
Ouch, this definitely needs to be documented in big red warning box.

[2016-03-23 13:11] rubycut commented on #299
+ for +

[2016-03-23 13:43] AlexGrs opened #374 "When deleting or changing the definition of an alert with join, all existing alert are triggered"
Hi.

I have an alert with a join (using stream or batch it's the same behavior) :+1:
If i make a `kapacitor delete tasks` or a `kapacitor define` then it seems that kapacitor closes all pending on-going alerts and so I receive like 100 notifications at the same time.

I was expecting that, using a delete or define to modify an alerts definition, it would flush the alert pipeline instead of process

[2016-03-23 13:48] AlexGrs commented on #339
Solved with last nightly and now using batch stream.

[2016-03-23 13:48] #339 closed

[2016-03-23 14:08] rossmcdonald commented on #299
@nathanielc My vote would also be for `+`. I like all of them, but I think the 'adding a new node' analogy makes a lot of sense and makes the script more readable in that context.

[2016-03-23 14:19] jonseymour commented on #299
I'll record my vote for |, since I think the there is a good analogy with unix pipes and + tends to have other meanings unrelated to pipe-like behaviour.

[2016-03-23 15:12] nathanielc commented on #367
@rubycut Agreed PRs welcome :) Here is the relevant docs repo https://github.com/influxdata/docs.influxdata.com/tree/master/content/kapacitor/v0.11

[2016-03-23 15:54] nathanielc commented on #299
I like `+` too but I think it will cause problems later on...

[code]
Does that mean add the value of `a` to the result of `c()`? No, it means call the chain method `c` on the value `42` which is an error.

Currently the above syntax is invalid and with the change it would become valid syntax and then fail to evaluate since `42` does not have the method `c`.

Also it would rule out the possibility

[2016-03-23 16:00] rossmcdonald commented on #299
Ah, I didn't consider the implications to arithmetic. The `+` symbol will definitely be more confusing then. I agree that `|` is probably the better option.

[2016-03-23 16:30] sstarcher commented on #299
Of those 3 my vote would be |

[2016-03-23 17:09] yosiat commented on #371
@nathanielc Ok, and this dosen't neither on windows.mapReuce(influxql.first('value')) ..

Is there some hack/patch solution that I can do in my tick script to solve this?

[2016-03-23 17:48] nathanielc commented on #371
@yosiat adding a `groupBy(*)` will cause it to preserve all tags but it will also window by all tags too which may break what you are trying to do.

[2016-03-23 17:58] yosiat commented on #371
@nathanielc I think as well it will be the behaviour of my alert.
I will wait to a fix, Thanks!

[2016-03-23 18:29] SleepyBrett opened #375 "Recording not recording..."
I'm using Kapacitor version: 0.10.1-1 from the repo "https://repos.influxdata.com/ubuntu trusty stable"

    kapacitor record stream -name cpu_alert -duration 60s

results in this in the kapacitord logs:

    [httpd] 2016/03/23 18:18:50 I! 127.0.0.1 - - [23/Mar/2016:18:18:50 +0000] POST /record?duration=60s&name=cpu_alert&type=stream HTTP/1.1 200 82 - Go-http-client/1.1 b11239f6-f123-11e5-800c-000

[2016-03-23 18:32] SleepyBrett opened #376 "Using the kapacitor client, client does not bubble up errors"
Kapacitor 0.11.0rc3 (git: master 7fdc137dc497d50c7ae2d6e2a481031a8b126511)

Running commands like define and list tasks result in no error messages and no responses (list tasks returns nothing but a header bar). While troubleshooting I noticed that I had misconfigured the reverse proxy that sits in front of kapacitord and it was returning 502 errors. Kapacitor client didn't bubble up the problem.

[2016-03-23 18:35] justindowning commented on #349
I have influxdb and kapacitor in their own containers. The secret is to create/use a unique network:
[code]

[2016-03-23 19:54] nathanielc commented on #375
@SleepyBrett The recording will hang if Kapacitor is not receiving any data. This is because the duration is measured by the increasing timestamps in received data vs real time.

Check that the task `cpu_alert` has a valid DBRP value and that Kapacitor is receiving data for that DBRP.

[2016-03-23 19:55] SleepyBrett commented on #375
gotcha, I'll check my connection to influxdb then.

[2016-03-23 20:19] goller opened #377 "Make task store backend pluggable via DAO"
It would be nice to have a backend distributed store like etcd.  Etcd would be nice for environments like kubernetes.

[2016-03-23 21:04] jonseymour commented on #349
@justindowning indeed - the realization that I needed this capability led to the need to upgrade my docker version to one that supported networks

[2016-03-23 22:07] nathanielc commented on #377
I like the idea but first we should make the backend pluggable via a DAO or something. Then each new backend can get its own implementation.

[2016-03-23 22:09] goller commented on #377
I agree that it should have some sort of interface... here is something I put together many moons ago for a k/v store interface: https://github.com/goller/pkg

[2016-03-23 23:37] md14454 commented on #299
Sorry I'm a little late to the party.

I understand the need for additional markup and I think it's definitely a good idea that the write of the scripts should understand the distinction of nodes vs properties.

Out of the options presented I like the | character.

Having said that I think there is merit in the JSON style. However, as others have noted it is particularly readable by humans. I wond

[2016-03-24 18:33] yosiat commented on #371
@nathanielc I tried the gropuBy(*) and now it looks that is works.. we will do extensive testing and then we will know finally if it works.

[2016-03-25 13:49] rca commented on #349
Correct me if I'm wrong, but this assumes InfluxDB and Kapacitor are running on the same Docker host.  The only way I've found to run them on separate hosts is by using Docker's `--net host` option.

Is there a better way?

[2016-03-25 15:16] justindowning opened #378 "Calculating derivative for telegraf net statistics"
Hi! I'm having trouble using kapacitor with telegraf's network statistics, specifically the `bytes_recv` and `bytes_sent` fields. I couldn't really see why until LogNode was added recently:
[code]
I'm trying to take these two fields, calculate the Mbps rate, and alert on a threshold. My TICK script:
[code]

[2016-03-25 17:35] SleepyBrett opened #379 "Kubernetes heapster->influx observed by kapacitor"
Kapacitor 0.10.1 (sourced from your ubuntu repo)
Influxdb 0.9.6

After getting kapacitor into a container in a pod with influx and pointing heapster at influx I'm running into problems with record/replay.

As a first test I wrote the following tick (which I don't actually think will work, but we all have to start somewhere):

      var used = stream
		.from()
			.where(lambda: 'container_name' ==

[2016-03-25 18:09] SleepyBrett commented on #375
You can go ahead and close this, the only suggestion I might put forward is in general you guys don't explain failures very well.

The actual problem ended up being that the connection to influx wasn't being fully made because I was deploying it into a different pod than influxdb and thus the udp connection wasn't being made.

[2016-03-25 19:27] nathanielc commented on #375
@SleepyBrett Agreed, we have an open issue for this specific bug, but in general we need to make it easier to determine if Kapacitor is receiving data for a given DBRP.

[2016-03-28 17:21] nathanielc commented on #299
Thanks everyone for the input! I have a PR up #380 that has that makes the change to using the `|` operator.

While making the change I noticed it would be trivial to add another operator for UDFs as opposed to built-in methods. Something like:
[code]

This way when you share a TICKscript that uses a UDF it is obvious that it depends on a UDF to be defined in order to work. By using yet another op

[2016-03-28 17:24] #299 closed

[2016-03-28 18:56] nathanielc commented on #379
Assuming you are using InfluxDB subscriptions to get the data into Kapacitor the protocol being used is UDP. The maximum size of a single UDP packet it 64KB. Its possible that you could reach that max. The example you gave is only about 2KB so it would have to be much larger.

Also Kapacitor uses the same parsing code from InfluxDB so if InfluxDB can parse it so can Kapacitor.

Since you can repro

[2016-03-28 19:20] nathanielc commented on #378
@justindowning I think I found the issue. If multiple points arrive at the same time for a group then the derivative divides the points by 0, thus creating the +Inf value. Since Telegraf is not likely sending values at the same time its is probably a grouping issue.

I will fix the +Inf bug, but you can likely solve your issue by changing the groupBy dims:
[code]

[2016-03-28 20:45] vlasov01 opened #384 "TICK script - how to find elapsed time between two measurement points"
I'm having difficulties to create a TICK script, that can find elapsed time between two measurement points. My Influx Measurement contains state points with values "on" and "off" (always in this order). I'd like to trigger event once "off" state arrives and calculates elapsed time between "on" and "off" state.

[2016-03-28 20:48] justindowning commented on #378
Wow, I thought _I_ was doing something wrong all this time! I can confirm the `groupBy(*)` fixes the +Inf output. Thanks for the fast bug fix @nathanielc!

[2016-03-28 20:48] #378 closed

[2016-03-28 20:59] nathanielc commented on #384
@vlasov01 There is no clean way to do this within Kapacitor at the moment.

One way I can think to do this is to use the `derivative` method, its really hacky but if `on` had a value of `0` and `off` had a value of `1` then then the derivative was computed it would do:
` (1 - 0 / elapsed)` and then you could use an eval node to invert the result and get elapsed back out.

Since the above method is

[2016-03-28 21:12] nathanielc opened #386 "Create official REST API client"
It is time to start locking down the HTTP REST API. The first step is to write an **official** golang client. We will also update the `kapacitor` command to use this client.

[2016-03-28 21:12] nathanielc commented on #376
@SleepyBrett Thanks for reporting, we will make sure this issue is fixed via https://github.com/influxdata/kapacitor/issues/386

[2016-03-28 21:18] nathanielc commented on #374
@AlexGrs When a task is `closed` which happens on disable or delete, all data in the internal buffers is flushed. So in part is expected but it still sounds like something unintended is happening.  Are you getting duplicate alerts? Are alerts arriving really delayed, as if the buffers are extremely full? I know we have worked and a similar issue already but can you share the output of `kapacitor s

[2016-03-28 22:53] vlasov01 commented on #384
@nathanielc Thank you for the prompt reply!
I'm using Kapacitor v0.11. I've implemented script based on your code sample.
[code]
But getting the following error when trying to define script:
invalid task: No method or property "elapsed" on

A bit about my use case:
The water sensor controller is switches into an "online" state when water is switched on and switches to an "offline" state once water

[2016-03-29 09:13] shuaiming opened #387 "Lots of errors with influxdb multiple fields and graphite protocol"
# description

I've got a lot of errors in my log file, hundred megabytes per day.
How can I reduce the log size, or I missed anything in the document.

# analysis

**collectd**  ----graphite protocol---->   **influxdb**  ----subscriptions----> **kapacitor**

1) collectd write to influxdb by graphite protocol and tcp

2) influxdb has graphite plugin:

[code]

3) kapacitor task "load_midterm" is:

[2016-03-29 10:05] shuaiming commented on #387
the versions I've forgetton to say :
Kapacitor 0.11.0
InfluxDB version 0.10.3

[2016-03-29 13:36] AlexGrs opened #388 "Proposal - 'Summary' node for alerts"
One great functionality I would love to see in kapacitor would be something like a summary node:

Today we have a StateChangeOnly option where we only receive alerts when the state changes. It would be really nice to receive an email with a summary of the alerts once it's back to normal.

For instance:
10H00 UTC - Warning (--> notification sent)
10H04 UTC - Critical (--> notification sent)
10H10 U

[2016-03-29 20:11] nathanielc opened #390 "Remove old MapReduce code"

[2016-03-29 20:57] #390 closed

[2016-03-30 09:19] anand-vardham opened #392 "The kapacitor autometically restarts after 30 seconds while exeuting the tick script"
I am trying to run a tick script which is used to predict future values. I have written an UDF which uses the ARIMA model for forecasting.
 The tick script is as mentioned below.

batch
   .query('''
             select iops, latency, throughput, totalcapacity, usedcapacity from "db1"."rp"."data"
          ''')
   .period(1h)
   .every(1h)
   .groupBy('svm_id','cluster_id','id')
   .arimaForecast(

[2016-03-30 14:32] nathanielc commented on #392
@anand-vardham Can you check the STDERR output of the daemon to see if it crashed?

The STDERR can be found in  /var/log/kapacitor.err if you installed via a standard deb or rpm package.

[2016-03-30 15:15] anand-vardham commented on #392
Hi

I have installed kapacitor using rpm package. But i am not able to find the file mentioned above in the log directory. The contents in the log directory are as mentioned below. Also is it possible that the kapacitor stops the long running tick script jobs.

[root@localhost log]# pwd
/var/log
[root@localhost log]# ls
aide           conman            dmesg.old       lastlog              messages

[2016-03-30 15:26] nathanielc commented on #392
A task will stop if explicitly disabled or it encounters an error. But like your log shows its not the task stopping but rather the whole Kapacitor process. Could you maybe start kapacitor in the foreground to capture the stderr? This command should work:

[code]

[2016-03-30 23:27] vlasov01 commented on #384
@nathanielc It seems the proposal #388 looks a bit similar.
But now I'm thinking may be it makes more sense to implement it directly as a continuous query as per https://docs.influxdata.com/influxdb/v0.11/query_language/continuous_queries/ ?

[2016-03-31 07:23] anand-vardham commented on #392
The snapshot of the kapacitor process log when i run the kapacitor in the foreground is as mentioned below. I have also attached the full log file.
[log.txt](https://github.com/influxdata/kapacitor/files/197143/log.txt)

goroutine 117 [chan receive]:
github.com/influxdata/kapacitor.(*UDFNode).runUDF.func2(0xc82029c2d0, 0xc82001cae0)
        /root/go/src/github.com/influxdata/kapacitor/udf.go:91 +0

[2016-03-31 09:08] anand-vardham commented on #392
It looks like when the udf batch and the snapshot executes in parrallel the kapacitor process restarts.
The udf logs are as mentioned below.

2016-03-31 04:10:15,154 INFO:root: End Batch
2016-03-31 04:10:15,154 INFO:root: Begin batch
2016-03-31 04:10:15,284 INFO:root: End Batch
2016-03-31 04:10:15,284 INFO:root: Snapshot
2016-03-31 04:10:15,284 INFO:root: Begin batch
2016-03-31 04:10:15,427 INFO:r

[2016-03-31 09:09] anand-vardham commented on #392
I have increased the snap shot interval to 10m. The tick script ran for 10mins

[2016-03-31 09:24] anand-vardham commented on #392
@nathanielc I there a way to scale the kapacitor horizontally across multiple systems?

[2016-03-31 13:05] anand-vardham commented on #392
Is there a way to turn off the snapshot feature?

[2016-03-31 15:33] nathanielc commented on #392
@anand-vardham thanks for the details, it is clear what is going on now.

The UDF you have is responding to the Snapshot request with invalid data causing Kapacitor to crash.

1. We need to fix Kapacitor to log an error instead of crash when it receives invalid data.
2. You can fix the UDF for now and things will continue to work
3. There is no way to turn off the snapshot feature but if the UDF r

[2016-04-01 01:40] upccup commented on #386
@nathanielc   Hi i want to know you plan of add an an official golang client. This task have a timetable yet? :100:

[2016-04-01 15:40] nathanielc commented on #386
@upccup WIP PR already at #393

[2016-04-01 21:26] fatihcode opened #398 "Ability to define UDP port for subscribes"
Hi all,

`kapacitord` binds the UDP port itself;

[code]

Not knowing that port in advance is challenging (and perhaps problematic) for containers. Is there a way to set that port in advance?

*Kapacitor 0.11.x - linux-amd64*

P.S.: Also `ClusterID` changes on every container. Is there a way to set it?

Thanks

[2016-04-01 22:29] nathanielc commented on #398
@fatihcode Kapacitor gets the UDP port from the SUBSCRIPTION information store in InfluxDB. If you setup the subscriptions before hand then Kapacitor will just use those ports.

The cluster ID is stored along with the local database. (typically in /var/lib/kapacitor) If you are using a container you need to persist that directory.

See this issue for more details on Kapacitor + Docker
https://gith

[2016-04-01 23:04] fatihcode commented on #398
@nathanielc : thanks for the quick reply...

It would be much more easier if Kapacitor allow us to set UDP port. Is there any reason it's not allowed? ( i.e. : not implemented yet, technical difficulties, etc? ) Base on your answer I can spend sometime and try to make a PR.

I will try manual SUBSCRIPTION approach which is not elegance since you need to mount a volume. Maybe I can manipulate `/var

[2016-04-01 23:13] nathanielc commented on #398
`/var/lib/kapacitor/cluster.id` Is just a text file with the ascii encoded cluster ID and can be written externally if you want.

The manual `SUBSCRIPTION` approach does not require a volume mount, but rather InfluxDB itself becomes the source of record.

[2016-04-01 23:14] nathanielc opened #399 "Allow turning off Subscriptions entirely"
Right now to turn off subscriptions one must configure a fake set of subscriptions, not ideal and confusing...

[2016-04-01 23:28] nathanielc opened #400 "Metric Failed queries in BatchNode"

[2016-04-02 02:40] nathanielc opened #401 "Add align and lag properties to BatchNode"

[2016-04-02 03:13] fatihcode commented on #398
@nathanielc : Kapacitor doesn't work when I create a subscription manually. It throws an error (`subscription already exists`) and exits.

[code]

[2016-04-03 14:29] yosiat commented on #368
@nathanielc do you want something like this:
[code]

If so, does tick script support optional parameters?

I will implement this :)

[2016-04-03 14:35] nathanielc commented on #368
I was thinking something more along the lines of,

alert()
   .log('some path')
       .mode(644)

Keeps it consistent with the other handlers
On Apr 3, 2016 8:29 AM, "Yosi Attias" <notifications@github.com> wrote:

[2016-04-04 09:51] AliGouta opened #405 "Writing the output message from capacitor over a TCP socket"
The list of services defined in kapacitor.conf does not include a TCP output. Is it planned to have such an output so that we can capture and process the event using some out of the box processing tools ?

[2016-04-04 11:59] anand-vardham commented on #392
@nathanielc  Thanks a lot the kapacitor script is work for me now. Also i had few question regarding the map reduce in kapacitor which are as mentioned below.
  1. Does the map reduce function runs on the influxdb cluster or the kapacitor
  2. Is it possible to add new influxql function?
Thanks a gain for your help.

[2016-04-04 15:34] framiere opened #408 "Reuse Telegraf Output plugins"
When using Kapacitor transformed data can be sent to an influxdb server. Such a neat feature!

[Kapacitor](https://github.com/influxdata/kapacitor) has a single output plugin : [InfluxDbOut](https://docs.influxdata.com/kapacitor/v0.11/nodes/influx_d_b_out_node/).

However [Telegraf](https://github.com/influxdata/telegraf/) has more than [15 output plugins](https://github.com/influxdata/telegraf/tr

[2016-04-04 15:42] framiere commented on #405
You can leverage the `post(url)` method on alert nodes.
§ https://docs.influxdata.com/kapacitor/v0.11/nodes/alert_node/#post

[2016-04-04 15:45] nathanielc commented on #392
On Kapacitor, but Kapacitor  uses the same code as InfluxDB  to ensure consistent results.

Yes, what do you have in mind? I don't think we have any docs up on how to do this but I can walk you though it.

[2016-04-04 15:54] nathanielc commented on #408
@framiere I like this idea, I'll look into how this could be accomplished.

[2016-04-04 16:40] framiere opened #409 "Kapacitor Windows Build"
[Influxdb](https://github.com/influxdata/influxdb/blob/master/build.py#L88) and [Telegraf](https://github.com/influxdata/telegraf/blob/master/scripts/build.py#L85) now build on windows, Kapacitor [does not](https://github.com/influxdata/kapacitor/blob/master/build.py#L93) yet build on windows out of the box.

What do you see missing to enable windows build ?

I did my own build on windows and it s

[2016-04-04 16:56] nathanielc commented on #409
@framiere The builds are still experimental but we can turn them on, if you want them. Keep in mind no testing is performed on windows boxes currently, so we don't guarantee anything beyond that it can build.

[2016-04-04 17:02] framiere commented on #174
This packaging update should also be done in influxdb, telegraf and chronograf

[2016-04-04 20:25] nathanielc opened #410 "Task not error out even though the edges are aborted"
I have run into an issue where a Task is not erroring out and reporting the error even though some of the edges have aborted. I think I has to do with the fact there are multiple independent batch queries and one set fails but the others continue.

[2016-04-04 20:46] #151 closed

[2016-04-04 22:16] #409 closed

[2016-04-04 22:46] nathanielc commented on #387
@shuaiming I have added a `.quiet` property to the EvalNode so you can suppress errors if you data often has missing fields. This change is part of an upcoming bugfix PR.

[2016-04-04 23:10] earthnut opened #413 "Kapacitor Rest API return EOF"
@nathanielc
I am using Kapacitor 0.10.0

There is a batch task and running properly

**`kapacitor list tasks`**

However every time I run :
**`kapacitor show process_alert_test_batch_1`**

could you help to take a look?

Thanks

[2016-04-04 23:22] #387 closed

[2016-04-04 23:54] nathanielc commented on #413
This is a known issue and fixed in 0.10.1 and later
On Apr 4, 2016 5:11 PM, "earthnut" <notifications@github.com> wrote:

[2016-04-05 08:25] upccup commented on #386
@nathanielc is great of https://github.com/influxdata/kapacitor/pull/393 . But there has a question. Can we use object replace TICKscript?

[2016-04-05 08:28] upccup commented on #386
@nathanielc is great of https://github.com/influxdata/kapacitor/pull/393 . But there has a question. Can we use object replace TICKscript?

[2016-04-05 09:41] framiere commented on #286
I agree this would be a neat feature that would simplify separation of concerns.
I currently use logstash to retrieve the alerts and ship them back to influx (via kafka), it's quite cumbersome.

Please note that the output should be ideally linked to #408

Before
[code]

After

[code]

So much simpler to document and reason about !
Added bonus : we can remove logstash dependency/overhead.

[2016-04-05 12:35] framiere commented on #337
Shouldn't this issue be closed since #381 is merged ?

[2016-04-05 13:10] yosiat commented on #337
This is upon @nathanielc  decision, he might not close this because 0.12 isn't released yet

[2016-04-05 15:02] #337 closed

[2016-04-05 15:03] #400 closed

[2016-04-05 15:03] #401 closed

[2016-04-05 15:07] #392 closed

[2016-04-05 15:08] #375 closed

[2016-04-05 15:09] nathanielc opened #416 "Make it easier to determine if Kapacitor is receiving data for a given DBRP."
Currently you must enable a task which uses the DBRP to tell if its getting data. Should be simpler

[2016-04-05 15:10] #413 closed

[2016-04-05 15:11] nathanielc commented on #405
@AliGouta Does the `post` method of the AlertNode suite your needs?

[2016-04-05 15:17] #287 closed

[2016-04-05 15:17] #271 closed

[2016-04-05 15:20] nathanielc commented on #265
@jroda Several fixes for the Batch+Join workflow were recently added. Can you try again with the latest version 0.12? Can you post the output of `kapacitor show task_name`?

[2016-04-05 15:21] #227 closed

[2016-04-05 15:22] nathanielc commented on #214
This is being done.

[2016-04-05 15:22] #214 closed

[2016-04-05 15:23] nathanielc commented on #111
Shift has been implemented

[2016-04-05 15:23] #111 closed

[2016-04-05 15:29] #80 closed

[2016-04-05 15:40] nathanielc commented on #386
@upccup If you call the Define method and specify only the name and script parameters then the TICKscript will be replaced.

[2016-04-05 15:47] nathanielc opened #417 "UDF + Docker + Domain Sockets"
The current UDF system wants to be able to control the life-cycle of the UDF process. This works but is not very easy to use with Docker.

What needs to change:

* Kapacitor and UDF process lifecycles need to be independent.
* Kapacitor needs to be able to communicate with a UDF over an existing socket.
* Keep the process management code so if someone isn't using Docker etc its still easy to use U

[2016-04-05 16:03] #367 closed

[2016-04-05 16:10] nathanielc commented on #285
@lpalm I am starting work on this. Just to make sure what I have planned will work....

I plan to add to dates to all tasks.

1. Last enabled date
2. Last modified date

What this means is that to find unused tasks you would search for tasks that are:

1. Not enabled
2. Last enabled date is more the X old
3. Last modified date is more the Y old

Depending on your needs. Note the a task make have r

[2016-04-05 17:55] lpalm commented on #285
@nathanielc that sounds good. If the created date is easy to keep, it would be handy for auditing/stats collection down the road. That's not a blocker and not as important as the enabled/modified dates, though.

[2016-04-05 18:41] nathanielc commented on #371
I just had an idea of how this could work without requiring any changes to InfluxQL. Basically we just set the tags and fields maps as the first two values of the Aux slice. The Aux fields are completely opaque interface{} values to the InfluxQL code, so we can use them however we need.

[2016-04-05 18:52] yosiat commented on #371
@nathanielc this sound really cool, If this is an easy (It sounds easy) I can implement and submit a PR

[2016-04-05 18:54] yosiat commented on #285
I think it will be a good addition to add LastCollectedTime and LastEmittedTime for nodes, so you can find tasks that aren't in use or don't trigger alerts.

[2016-04-05 18:57] yosiat opened #419 "Add types of alerts triggered in dot/execution stats"
Hi,

Currently the AlertNode exposes alerts_triggered stats, I think it will be nice to add:

- Count by severity: ```{ "info": 129, "warn": 12, "crit" : 0 }```
- Last alert triggered time and it's severity

What do you think? I can submit a PR if you like this idea.

[2016-04-05 19:32] nathanielc commented on #419
+1 on stats by severity.

The last alert time feels like overkill as a statistic. What is the use case for last alert time? Do you care about last alert time by group or just overall for the node? Seems related to this request too #388

[2016-04-05 19:37] yosiat commented on #419
We have alerts that goes on windows that emits every 2 hour or longer, we would like to see the last severity popped out for this alert.

And yes, we care about the group.. but when I think about it this will be overkill =X

[2016-04-05 19:40] nathanielc commented on #371
It should be pretty easy but it deals with some complex features of go. I'll do my best to explain how this could work

First there are different types of InfluxQL functions, aggregators, transformations, and selectors See https://docs.influxdata.com/influxdb/v0.12/query_language/functions/

This change only applies to the Selector functions.

The pieces that need to change:

1. Mark which functio

[2016-04-05 19:43] lpalm commented on #285
@yosiat we currently log both the batched/aggregated datapoints used as inputs to the alerts and the alert firing instances themselves into InfluxDB. This has some overlap with your use case (tracking emissions) and I believe will be natively supported soon (#286. we currently do it with a simple HTTP/JSON translator).

[2016-04-05 19:46] yosiat commented on #371
@nathanielc I will need to add to ReduceCreator add selectors for first and last like:
[code]

using the generator and then do the second and last step?

[2016-04-05 19:56] nathanielc commented on #371
@yosiat There isn't any info to convey about the `last` or `first` functions so a simple `IsSimleSelector bool` should work. There are a total of 7 selectors but since Top and Bottom need special info don't count them as selectors which leaves 5 left.

Here for example https://github.com/influxdata/kapacitor/blob/master/pipeline/influxql.go#L180 add `IsSimpleSelector: true, `

and the rest that fo

[2016-04-05 20:01] yosiat commented on #371
@nathanielc OK, I understand :)

by the way, I think I will call it SelectorInfo instead of IsSmileSelector ;)

[2016-04-05 20:05] yosiat commented on #419
@nathanielc so I can go on and implements stats by severity? this is a simple expvar.Map ?

[2016-04-05 20:07] yosiat commented on #285
@lpalm I am talking about a streaming mode where we ingest directly to Kapacitor and where we don't want to save historical statistics to influxdb.
A simple dates for last collected and last emitted can be very helpful, for example: querying "/tasks" and find tasks with stream1 that didn't emitted for the last X days.

[2016-04-05 20:09] lpalm opened #420 "Kapacitor list tasks formatting breaks with long task names"
We have some fairly long task names. This is both for descriptiveness and as a makeshift namespacing system. This causes the formatting to break when listing tasks. Not really important, but it messes up the display and glues the task type to the task name.

`Name                          Type      Enabled   Executing Databases and Retention Policies
SomeIncrediblyLongTaskNameThatAlsoHappensToIncl

[2016-04-05 20:39] nathanielc commented on #371
@yosiat that was a typo ;). I meant `IsSimpleSelector`

[2016-04-06 02:18] upccup commented on #386
@nathanielc  yes that was great but in this way i can't use the new go client of kapacitor.

[2016-04-06 04:31] #398 closed

[2016-04-06 04:57] upccup commented on #386
@nathanielc that's great and . When are you going to merged it?

[2016-04-06 12:28] yosiat commented on #371
@nathanielc We only to copy the tags, am I right?
for example the fields in last() will be "last" and we don't to keep the field "value"

[2016-04-06 15:22] nathanielc commented on #371
@yosiat We need to copy both fields and tags.

Fields because while we may be finding the last point in time we want to preserve all fields on the point. These are selection functions so the selected point should be unmodified.

Correct the Aux fields for various reasons are the preserved values during selection not the .Tags field.

So the Aux fields should contains something like []interface{p.F

[2016-04-06 15:30] #386 closed

[2016-04-06 15:43] nathanielc opened #421 "Make using patterns clear in the HTTP Client"
Various task action now support wildcard matching, we should make this clear and consistent in the client API.

[2016-04-06 16:00] yosiat commented on #371
@nathanielc
When I did on the emit point p.Fields = aux[0], the results was "time" and "value" and it removed the "last", do we want to fields to be merged so they include "time", "value" and "last" ?

And do we want to change the topBottom aux to be []interface{fields, tags} as well?

[2016-04-06 16:02] yosiat commented on #371
by the way, can you merge your test please or do you want me to copy them? and I found bug in your test: you need to add another tag "type" with value of "idle"

[2016-04-06 16:13] nathanielc commented on #371
No, topBottom need to use the Aux fields as they are, their implementation uses the Aux fields differently.

Go ahead and add the test yourself. Since it won't pass until your changes are in anyways.

I am not sure here, seems like a select function should just return the point unmodified but currently it renames the field to last and drops all other fields. I guess let's not preserve fields for n

[2016-04-06 18:25] yosiat commented on #371
@nathanielc so to sum it up: the Aux for simple selectors will contain only tags?

[2016-04-06 18:52] nathanielc commented on #371
@yosiat Correct

[2016-04-06 18:52] yosiat commented on #371
@nathanielc  ok, this sounds easy :) I will do this tomorrow

[2016-04-07 05:03] jonseymour opened #423 "groupBy node doesn't have expected behaviour"
I defined this tick script:

[code]

My expectation is that when this script ran, it would produce the equivalent of:

[code]

However, what actually happened is that only one of the "node" groups was written into "actual" - the other groups were discarded.

Is my expectation of what the groupBy node is meant to do incorrect or is this a bug?

I have a Vagrantfile project that includes test data a

[2016-04-07 06:03] upccup opened #424 "A simple way to make TICKscript"
HI, there only  have way to transfer TICKscript  to a Node(object). Is there has a simple way to tansfer object to TICKscript or a simple way to make TICKscript.

[2016-04-07 06:13] jonseymour commented on #331
I have a test case that produces a similar symptom:

[code]

Produces this panic:

[code]

This is on Kapacitor 0.12.

The test case can be found in issue-331.yml in https://github.com/wildducktheories/influxdata-testcase

[2016-04-07 08:53] AliGouta commented on #405
Yes! Thank you.

[2016-04-07 08:53] #405 closed

[2016-04-07 09:55] yosiat commented on #371
Closing due to pull request - #425

[2016-04-07 09:55] #371 closed

[2016-04-07 12:39] anlutro opened #426 "Ability to toggle normalization of whitespace/tickfmt"
I noticed that with 0.12, Kapacitor normalizes whitespace in TICKscripts. It replaces tabs with 4 spaces, and changes this:

[code]

Into this:

[code]

I'm not necessarily against that, but am writing some code that does diffs of existing scripts compared to new ones. This obviously breaks if Kapacitor says the TICKscript whitespace is different from what it actually is in the source file.

Can t

[2016-04-07 13:14] jonseymour opened #427 "[feature request] Add a means to tag recordings"
It would nice to be able to tag recordings with an identifier.

Without a tagging mechanism, it is necessary to devise an external convention or mechanism to associate symbolic names with recording identifiers. It would be nice if Kapacitor provided a standard tagging mechanism that allowed symbolic names to be associated with recording identifiers so that no separate mechanism was required to tra

[2016-04-07 14:41] nathanielc commented on #427
@jonseymour I like the idea. There are several ways to go about this.

Some thoughts that come to mind:

* Use internal db to map tags to recording IDs (boltdb is a good choice since it is already being used for tasks)
* Add meta data to the header of each recording file.
* Get rid of the IDs entirely and always provide names to recordings

I like those options in order listed at first glance.

[2016-04-07 14:43] nathanielc commented on #424
@upccup Do you mean in code? Node objects have a Format method that produces a normalized TICKscript string from a node. See here for an example usage https://github.com/influxdata/kapacitor/blob/master/tick/fmt.go#L9

[2016-04-07 16:49] anlutro commented on #426
Aha, I'll probably end up using that. I still think a toggle for this behaviour would be a good idea, though I don't know if it'd be problematic code-wise.

[2016-04-07 17:46] madshall opened #429 "Arithmetics is wrong in eval method"
The TICK script contains:
[code]
When it comes down to log file I see the `newVal` being 10000 less than expected.

This works fine though:
[code]

Using v0.11.0

[2016-04-07 22:19] jonseymour commented on #423
Ok, so I tweaked the test to log after the window() node and sure enough that's what the issue is - the data in the recording is sorted by node first, then time and so the window node skips all the records from subsequent nodes.

@nathanielc - is there a way to ensure that queries are stored in timestamp sorted order?

[2016-04-07 22:35] nathanielc commented on #423
@jonseymour Hmm, is seems odd that a recording is not sorted by time. I thought that was impossible. I'll have to go check.

Any way you probably want to groupBy before the window anyway since then the windows will be windowed per group. It shouldn't make a difference but under the hood it will be more efficient.

[code]

[2016-04-07 23:35] jonseymour commented on #423
Ok, so I was deceived by the documentation here.

The distinction between groupBy() the property of a stream node and groupBy() the chaining method wasn't clear from reading the documentation.

(The groupBy() as property isn't really documented, although the example for the chaining method does, somewhat confusingly, include an example of the use of the property syntax).

[2016-04-08 00:00] jonseymour commented on #423
@nathanielc  I've created a PR against the documentation https://github.com/influxdata/docs.influxdata.com/pull/379 to fix the documentation issue.

Even if this solution works, it isn't obvious to me why the other solution didn't work.

Do you want to leave this issue open until you have had a chance to check why the window() first technique didn't work?

[2016-04-08 00:01] nathanielc commented on #423
Yes, let's leave it open.Thanks
On Apr 7, 2016 6:00 PM, "Jon Seymour" <notifications@github.com> wrote:

[2016-04-08 00:19] jonseymour opened #430 "choice of timestamp emitted by window() nodes is inconsistent with influxdb"
I expected the output of this tick script:

[code]

would be identical to this influxdb query:

[code]

In fact, the results are offset by 5 minutes because window() chooses to emit the timestamp of the end of the window rather than the timestamp of the start window. This introduces an (unnecessary) inconsistency with data derived via other paths.

[code]

Ideally, use of the `align()` property me

[2016-04-08 00:26] jonseymour commented on #430
Of course, I can correct this by adding a |shift(-5m) node immediately after the window() node, but I think it would be preferable if I didn't need to remember to do this every time.

[2016-04-08 01:07] upccup commented on #424
@nathanielc I mean is there has a function like *json.Marshal(v interface{}) ([]byte, error)* to create a object to script

[2016-04-08 01:31] nathanielc commented on #424
Yes that's what the Format method does
On Apr 7, 2016 7:07 PM, "姚云" <notifications@github.com> wrote:

[2016-04-08 02:14] upccup commented on #424
But i don't have a script. I need to make new script

[2016-04-08 02:34] nathanielc commented on #424
The previously linked method shows how to use this method
https://github.com/influxdata/kapacitor/blob/master/tick/node.go#L26
On Apr 7, 2016 8:14 PM, "姚云" <notifications@github.com> wrote:

[2016-04-08 04:40] jonseymour commented on #331
@nathanielc @naude-r I rectified the error in my case by changing my script from:

[code]

to:

[code]

[2016-04-08 06:50] jonseymour opened #432 "[feature request] improve support for "missing" fields."
kapacitor doesn't currently handle "missing" fields gracefully in many circumstances.

for example, the following script fails with:

    `task run: invalid field type: <nil>`

[code]

if the input data contains points with missing 'metric4' fields.

A previous fix (#387) worked around one such problem for eval by suppressing the warning message that was generated.

It would be helpful if lambda e

[2016-04-08 06:53] anlutro commented on #426
It looks like `tickfmt` hasn't been added to the Debian package. Should I open a separate issue for that?

[2016-04-08 07:11] jonseymour opened #433 "improving comprehensibility of kapacitor documentation"
As they say: there are 2 hard problems in computer science: cache invalidation, naming things and off by one errors.

The Kapacitor documentation currently documents 4 node types:

- Stream
- Batch
- SourceStream
- SourceBatch

Unfortunately, the correspondence between the documentation and keywords used in Tick scripts is as follows:

- Stream <=> from
- Batch <=> query
- SourceStream <=> stream

[2016-04-08 09:15] anlutro opened #434 "Incorrect deprecation warning for groupBy?"
EDIT: Ignore this report! Read my comment below.

Using Kapacitor 0.12, I have the following script:

[code]

Which works fine, but in kapacitor.log I see this:

[code]

However, this sounds wrong. If I do follow the advice and switch to `|groupBy`, I get this:

[code]

I can't see any pattern for why this deprecation warning happens for only this script. Another very similar looking script for co

[2016-04-08 09:17] anlutro commented on #434
Bah, nevermind, the deprecation warning is for another script entirely. Ignore me.

It would be nice if deprecation warnings included the name of the script.

[2016-04-08 10:07] jonseymour opened #435 "[feature request] support a paste operator in join.as() syntax"
As it currently stands, the field names in output stream if a Kapacitor join node are assigned prefixes of the form \<aliasN\>. where \<aliasN> is the alias assigned to the Nth input stream by the as() property method of the join node.

So, for example:

[code]

will result in a stream with fields called 'm1.metric1' and 'm2.metric2'

It would be nice if the mandatory period in the resulting name

[2016-04-08 11:50] jonseymour opened #436 "[feature request] support raw TSM files as input sources and output targets"
Due to its highly compressed nature, the influxdb TSM format is an excellent archival format for high frequency time series data that can't reasonably be kept online.

It would make sense if Kapacitor could treat TSM files as both a source and sink of timeseries data. This would allow subsets of high-frequency data to be re-processed using Kapacitor without the expense of fully reloading the entir

[2016-04-08 11:53] jonseymour opened #437 "[feature request] Support influx line format as a source and sink of data"
Influx line format is an easily understood, if not highly compressed, interchange format for timeseries data.

It would be great if Kapacitor supported sources and sinks of influx line format data.

Kapacitor could monitor a directory and ingest any influx line format files it found there.

A Kapacitor output node could write influx line format files to a directory, chopping them up as required as

[2016-04-08 12:02] jonseymour commented on #435
An assertNotNill('metric1', 'metric4', ... etc) node might be useful for scripts that need to assert they are written with an assumption that the specified fields never contain nil

[2016-04-08 12:21] jonseymour commented on #432
An assertNotNill('metric1', 'metric4', ... etc) node might be useful for scripts that need to assert they are written with an assumption that the specified fields never contain nil

[2016-04-08 12:28] jonseymour opened #438 "[feature request] introduce a life cycle phase that allows some error checking on definition"
It'd be nice if the object model used to support pipeline construction supported a "validate" phase that could do sanity checking of a node's configuration at definition time in a well-defined manner.

As it stands, some checks can be done when a property method is called (and then, only if one resorts to calling panic()) but in other cases (such as the failure to call join.as() - see #331/#431) t

[2016-04-08 13:46] nathanielc commented on #426
Yes that's a good idea thanks
On Apr 8, 2016 12:53 AM, "Andreas Lutro" <notifications@github.com> wrote:

[2016-04-08 13:48] anlutro opened #439 "Include tickfmt in Debian (and other?) packages"
The tool `tickfmt` is currently not included in the Debian packages. I don't know about other packages.

I don't think the tool should necessarily be put in `/usr/bin`, but maybe in `/var/lib/kapacitor` or something like that.

[2016-04-08 13:59] gargooza opened #440 "cancel recordings in progress?"
Is it possible to stop a batch recording in progress? I looked through the main.go code and it doesn't look like it's an option via the command line/undocumented API.

It would be nice to be able to issue a "cancel recording" command. Sometimes my batch recordings take a really long time and I decide to terminate the recording and start a new, modified one. Instead of just having kapacitor continu

[2016-04-08 17:30] datastream opened #441 "Kapacitor panic"
Hi,
    I write a custom udf program, when i test it, I get this panic.
`
panic: interface conversion: udf.isResponse_Message is *udf.Response_Begin, not *udf.Response_Snapshot

goroutine 219 [running]:
panic(0xc07ba0, 0xc8209dc0c0)
        /home/datastream/go/src/runtime/panic.go:464 +0x3e6
github.com/influxdata/kapacitor.(*UDFProcess).Snapshot(0xc8200a84e0, 0x0, 0x0, 0x0, 0x0, 0x0)
        /home

[2016-04-08 18:00] nathanielc commented on #438
@jonseymour I believe this line does what you are asking. https://github.com/influxdata/kapacitor/blob/master/services/task_store/service.go#L489

Basically on saving an Task we fully instantiate an executing task to catch any errors.

I see three levels were errors can occur.

1. Parse errors, invalid syntax etc.
2. Validation errors, join.as() etc.
3. Runtime errors, these errors should only dep

[2016-04-08 21:24] nathanielc commented on #441
@datastream Thanks for the bug report. This has been fixed in #442

[2016-04-08 22:56] #399 closed

[2016-04-08 23:11] nathanielc commented on #435
@jonseymour  I like the suggestion but the names of the joining nodes are not always available. If they were I would make 'as' optional.

Example:

[code]

While convention says that the above script is not readable and so its not used as much its still valid.

Maybe we can make try and populate the `as` prefixes with the var names be default. If they are not available then `as` would be required.

[2016-04-08 23:16] #417 closed

[2016-04-08 23:16] #441 closed

[2016-04-09 01:46] jonseymour commented on #438
Ok, I'll see if I can move one of the tests in #431 into a spot where it will be caught prior to runtime.

[2016-04-09 01:50] jonseymour commented on #435
The paste operator would be optional of course - if you didn't specify it then current behaviour would apply.

The paste operator would, of course, provide an easy way for the user choose their own delimiter, as in the example above where I used s_# and t_#.

I also like your idea of making as() optional where possible.

[2016-04-09 02:12] jonseymour commented on #438
Closed - already does exactly what I ask

[2016-04-09 02:38] fatihcode commented on #387
@nathanielc : can you show an example for using `quiet()`?

[2016-04-09 02:54] jonseymour commented on #438
Actually,  I am going to reopen this and use the revised implementation of #431 as an example of the feature that I think is needed.

In the current implementation of #431:

     https://github.com/jonseymour/kapacitor/blob/jss-331-join-index/join.go#L38-L45

there are two tests I need to perform. Currently these tests run during task start. One of them could be implemented as a panic in `pipeline

[2016-04-09 04:34] jonseymour commented on #438
I've pushed a suggested implementation to #443. I have also modified the #431 implementation to make use of it. Note that I also pushed some other validations of join nodes currently done at runtime to build time. I'll re-roll #431 if this PR is accepted.

[2016-04-09 07:27] jonseymour commented on #433
Closed in favour of https://github.com/influxdata/docs.influxdata.com/issues/384

[2016-04-09 07:47] jonseymour commented on #433
Reopened since this is auto-generated documentation.

[2016-04-09 10:11] jonseymour commented on #427
My working assumption that there would be n:1 mapping between tags and recordings - so each recording could be tagged by many tags. This would be consistent with how both docker and git use tags.

Other tagging systems, however, allow n:m mappings between tags and tagged entities.

One application of this might be to create groups of related recordings.

On replay, you could do this:

     kapacit

[2016-04-09 10:14] jonseymour commented on #427
A further extension would allow tags to be specified with tag expressions so that:

   '(include & ^exclude) | alternative'

would match all recordings with tag 'include' that did not have a tag 'exclude' or any recording with the tag 'alternative'

This might be useful for filtering recordings down to a subset.

[2016-04-09 13:57] jonseymour commented on #427
@nathanielc would you prefer that I use the same bolt db instance as the task store or a separate instance? Keeping them separate seems reasonable (and easiest) to me, but if there is some reason not to do this, let me know.

[2016-04-09 13:58] jonseymour commented on #427
@nathanielc would you prefer that I use the same bolt db instance as the task store or a separate instance? Keeping them separate seems reasonable (and easiest) to me, but if there is some reason not to do this, let me know.

[2016-04-09 15:36] jonseymour commented on #427
See #447 for my WIP branch for this work.

[2016-04-09 22:53] jonseymour opened #448 "failure running TestServer_UDFStreamAgents on OSX"
I received this when running the Kapacitor tests on OSX. Presumably this is because my local python installation is missing the protobuf dependency.

It would be helpful if the required dependencies could be documented in the comments for the test method.

Probably ideal, would be to run the test in a dockerised container to void the need to install anything other than docker on the client.

[code

[2016-04-09 23:07] jonseymour commented on #448
I cribbed the dependencies from the Dockerfile:

[code]

[2016-04-11 15:41] nathanielc commented on #429
@madshall Sorry for taking so long to get back to you.

Looking back at the TICKscript parser it was implemented as a right-associative parser which is confusing since most expressions parsers use left-association. TICKscript is interpreting the expression as

`stream.eval(lambda: "val1" / ("val2" * 100.0))` which isn't what you meant.

We should change the association of the parser. We will use t

[2016-04-11 15:55] nathanielc commented on #432
@jonseymour I ran into a usecase recently as well were a `default` node would have been useful. I think the `default` node should be able to operate on multiple fields at once similiar to   the `eval` node that can have multiple expressions:

How about?:

[code]

[2016-04-11 15:59] #439 closed

[2016-04-11 19:30] #429 closed

[2016-04-11 19:53] #424 closed

[2016-04-12 08:12] OrangeTux opened #455 "Understanding the WindowNode."
I want to raise an alert when ping results to several hosts are bad.

So my first scripts looked liked this:

[code]

This worked. But if a ping fails by accident an alarm is false alert is raised.

To prevent false alarms I want to raise an alarm when multiple pings in a row fail. I tried it using `window` and `mean`, like below but that didn't raise any alarms.

[code]

Why isn't this working as

[2016-04-12 10:12] haowells opened #457 "[0.12.0] Template for constructing a meaningful message for the alert."
stream
       |from()
           .measurement('cpu')
           .groupBy('service', 'host')
       |alert()
           .id('{{ index .Tags "service" }}/{{ index .Tags "host" }}')
           .message('{{ .ID }} is {{ .Level}} value: {{ index .Fields "value" }}')

I try to get tags value in message template {{ index .Tags "host" }} ,
but the problem is If I did not use "groupBy('service', 'host')" b

[2016-04-12 14:47] anlutro commented on #426
Was this implemented somewhere?

[2016-04-12 14:59] nathanielc commented on #455
@OrangeTux The `|mean` function changes the field name to `mean`. There are two ways to fix the issue:

1. Add a `.as('percent_packet_loss')` to the `|mean()` call to preserve the original name.
2. Change the `info` and `crit` expressions to use the field `mean` instead.

If you check your logs you should see errors logged about unknown fields `percent_packet_loss` not existing.

Also the `|log()`

[2016-04-12 15:11] nathanielc commented on #457
@haowells Now that you are using `groupBy` is it working?

[2016-04-12 15:13] nathanielc commented on #440
@gargooza ATM it is not possible, but Kapacitor does maintain state about which recordings are in progress so it is feasible that this could be added.

[2016-04-12 15:18] nathanielc commented on #426
@anlutro No, l closed the issue since `tickfmt` is now shipped with the packages. I feel like adding the ability to toggle the formatting behavior doesn't add much value. If the formatting is causing issues we should fix the formatting instead of turning it off. Feel free to reopen the issue if you think differently and we can discuss further.

[2016-04-12 16:48] nathanielc commented on #376
Clsoed by #386

[2016-04-12 18:16] anlutro commented on #426
Right. Like I said, I want to be able to generate diffs - and if those diffs are different from the actual scripts being input (because they have to be normalized by tickfmt), then the diff could be confusing/misleading.

Normally this is fine because I can replace tabs with 4 spaces and it's close enough, but I have seen a few cases where I've had to change multi-line lambdas to a less readable f

[2016-04-12 18:58] nathanielc commented on #426
@anlutro Some thoughts...

Agreed

Comment are preserved.

I would love to see these example if only to improve the format.

[2016-04-12 20:17] OrangeTux commented on #455
Thanks for your helpfull answer.

[2016-04-12 20:17] #455 closed

[2016-04-12 22:11] satterly commented on #359
@cryptokush From my limited testing it looks like this will fail if the `.resource()` is not set to anything. Are you sure that there is a Tag called `"name"` and that it is non-empty?

@nathanielc Is it possible to define a default? eg. like `{{ index .Tags "name" || "unknown" }}`

[2016-04-13 06:39] anlutro commented on #426
Here's an example:

[code]

When I run this through my configuration manager, which does a diff of the file against what the Kapacitor API returns for TICKscript, I always get this diff:

[code]

[2016-04-13 12:59] codervarun opened #459 "failed to send alert data to Slack:Post <slack url>: dial tcp 54.239.190.40:443: i/o timeout"
When ever i tried kapacitopr to post to my slack channel from my personal laptop it is working fine but when i tried to use kapacitor on staging machine , i am getting below error:
E! failed to send alert data to Slack: Post <slack url>: dial tcp 54.239.190.40:443: i/o timeout

Although , I am able to post to slack using curl post command easily.

I am using kapacitor 0.12.0 version in staging.

[2016-04-13 19:45] nathanielc commented on #459
Check that your staging environment has network access to the IP 54.239.190.40 over port 443.

[2016-04-14 01:45] haowells commented on #457
@nathanielc
yes. using groupBy, can get tag values in this way {{ index .Tags "value"}}
no groupBy, can not working.

[2016-04-14 21:37] nathanielc commented on #426
@anlutro If we added the toggle as a flag in the API would that be sufficient. Meaning if we always format the script for the output of `kapacitor show` but if you call the API directly you can turn it off. Would that work for you?

[2016-04-14 22:08] nathanielc commented on #93
@schmurfy

#465 now allows for storage of alert data in InfluxDB

 Something like this will now work: `select count(level) from alerts where level != 'OK' and time > now() - 5m group by app`

Similarly `select last(level) from alerts where level != 'OK' group by app`

This one is a bit harder since calculating the amount of time between points is not possible. But is a requested feature #384

[2016-04-15 05:39] codervarun commented on #459
Hi Nathaniel,
We  are using proxy servers in our staging machines for any external calls .
And using those https proxy I can easily make call to slack channel by shooting a curl post request which hot successfully executed .

But when kapacitor tried to make post request it is showing the error which I already mentioned. So, I am not sure why kapacitor calls to slack channel should fail?
What do y

[2016-04-15 06:16] anlutro commented on #426
Oh, I thought the script was normalized when you store it with `kapacitor define`.

Sure, a query string or something to disable normalization would work as well.

[2016-04-15 16:01] #93 closed

[2016-04-15 21:14] earthnut opened #466 "Batch query multiple measurements but alert only on 1 measurements"
I have one task :

    |query('''
         SELECT sum("value") as livecount
         FROM "collectd"."default"./process_.*/ fill(0)
     ''')
        .period(1m)
        .every(30s)
        .groupBy('host')
    |alert()
        .id('{{ .TaskName }} /{{ .Name }}/{{ .Group }}')
        .message('{{ .ID }} is {{ .Level }} ')
        .crit(lambda: "livecount" > 0)
        .stateChangesOnly()

It will

[2016-04-15 21:24] earthnut commented on #466
after I remove stateChangesOnly(), all the measurements get alert. But I need stateChangesOnly().

[2016-04-15 23:05] nathanielc commented on #466
@earthnut Kapacitor doesn't have good support for query multiple measurements at once. It expects that the data be uniquely identified by its tags only not its measurement name. Since you have multiple processes on the same host, all the processes on a host are being treated as the same.

This is a bug and will need to be fixed. In the meantime is it possible to place the part of the process that

[2016-04-15 23:07] #281 closed

[2016-04-16 02:19] earthnut commented on #466
@nathanielc  Thank for the reply.

I will try to do as you advised at this time.

[2016-04-16 10:00] yosiat commented on #377
@nathanielc I suggest you to look at: https://github.com/docker/libkv
It supports - boltdb, etcd, consul and zookeeper

[2016-04-16 10:56] melor opened #468 "tick: escapes in regexes don't work"
[code]

* Similar regex patterns worked in 0.11
* Kapacitor 0.12.0 / Linux amd64

[2016-04-16 15:02] yosiat opened #471 "Convert tests to junit format"
Hi,

I saw that circleci asks to output the results as junit xml format:
![circleci junit suggestion](https://cloud.githubusercontent.com/assets/306253/14581743/2bc90b62-03fd-11e6-8124-f931a1b87986.png)

I found a nice project for doing this - https://github.com/jstemmer/go-junit-report

@nathanielc what do you think about this? I think I can do this if you want.

[2016-04-17 13:05] melor opened #472 "Redefining a running=true tick results in running=false with no error"
* Kapacitor 0.12.0 / Linux amd64
* When redefining a running=false tick with "kapacitor define", the "executing" state goes to "true" (this is ok)
* When redefining a running=true tick with "kapacitor define", the "executing" state goes to "false" (this is the problem)
* The error message visible in "kapacitor show" output is always empty when this happens
* Workaround: I always run "kapacitor rel

[2016-04-18 14:06] schmurfy commented on #93
great, thanks !

[2016-04-18 14:31] Mic92 opened #473 "Feature Request: externalize kapacitor udf testing"
It would be cool, if I could run integration tests for my own go udf packages by importing the test helper.
Currently this is not possible because the test helper require some vendor packages.

[2016-04-18 16:52] nathanielc commented on #472
@melor Could you share the HTTP request logs from Kapacitor when it fails? Thanks

[2016-04-18 16:53] nathanielc opened #474 "Flaky Test TestStream_GroupByWhere"
[code]

[2016-04-18 17:06] melor commented on #472
@nathanielc : I re-ran the commands and grabbed kapacitor logs:

[code]

[journal.txt](https://github.com/influxdata/kapacitor/files/224289/journal.txt)

[2016-04-19 16:35] cholick opened #475 "Impenetrable Error messages"
I've tried to install several simple `.tick` scripts via a `kapacitor define` and keep getting the error message

[code]

I'm sure the error is in my `.tick` file, but echoing back this Go error doesn't give me enough context to figure out what I'm doing wrong.

[2016-04-19 16:37] cholick commented on #475
Both kapacitor and influx are on `0.12.1-1`

[2016-04-19 16:49] nathanielc commented on #475
@cholick That is a horrible error :(. Can you share your `.tick` file contents?

[2016-04-19 16:53] cholick commented on #475
Sure thing:
[code]

And the script I've used to generate test data (just some noisy data trending upward):
[code]

[2016-04-19 16:57] nathanielc commented on #475
You are missing the `|` operators...

[code]

I'll work on adding a better error message.

[2016-04-19 16:57] cholick commented on #475
Thanks!

[2016-04-19 19:54] #433 closed

[2016-04-19 21:04] #423 closed

[2016-04-19 22:44] #384 closed

[2016-04-20 19:21] #230 closed

[2016-04-20 20:39] nathanielc commented on #472
@melor How often does the error happen? I have tested locally 1000+ times with a little stress script and cannot reproduce. It might be a race condition that the error hasn't been written by the time you request the task info. Try this to rule that out...

[code]

I am still digging into the code to see if I can figure out want is going on....

[2016-04-21 11:05] jdursel opened #479 "Number formating in alert message or details"
Perhaps it already exists, and I can't figure it out, but is there a way to format numbers?
Exemple:
I would like to have value 3.3333333333 writen like this 3.33
and value 6.666666666 writen like 6.66

prebuild kapacitor 0.11

[2016-04-21 14:34] yosiat commented on #267
@nathanielc  I upgraded to nightly and thanks to #360 we dropped from 70% steady to 0.1% with little peaks of 9% cpu.

Next week we will run hermeticity test to make sure we are processing 100% of the data, until then I will close this issue.

[2016-04-21 14:34] #267 closed

[2016-04-21 14:51] nathanielc commented on #479
@jdursel In which context are you formatting numbers? Alert messages?

In alert messages you can use the `printf` function `{{ index .Fields "value" | printf "%0.2f" }}` see https://golang.org/pkg/text/template/ and https://golang.org/pkg/fmt/ for more details.

[2016-04-21 14:59] nathanielc commented on #473
I would accept a PR where the test harness go for UDFs is moved into its own package for easier external testing.

[2016-04-21 15:22] nathanielc commented on #426
It is currently but if we are going to toggle it we should change the behavior to store the exact input and on display format. See #480

[2016-04-21 15:25] #376 closed

[2016-04-21 16:01] #426 closed

[2016-04-21 16:03] anlutro commented on #426
Awesome. Thanks for these great tools :+1:

[2016-04-21 16:21] #434 closed

[2016-04-21 16:24] cholick commented on #12
The docs could use an example calling out how to achieve do this. I wanted to do configure alerts this way and didn't figure out how until finding this issue and seeing that first example.

[2016-04-21 16:59] justindowning opened #482 "Cannot apply derivative to type <nil>"
Hello! I am trying to take network data collected by telegraf and calculate a Mbps rate and alert on certain thresholds. I see data passing through kapacitor, but the logs are polluted with `[network:derivative7] 2016/04/21 16:39:01 E! cannot apply derivative to type <nil>` repeating over and over.

I suspect my TICK script is slightly off. How can I collect a 5m window of network data (1s resolut

[2016-04-21 17:42] nathanielc commented on #482
@justindowning That is because the fields`bytes_sent` and `bytes_recv` are occasionally nil or missing from your data stream. You can add a condition to your where clause to filter those out. Something like `where(lambda: "bytes_sent" > 0)`.

Also there are plans to add a `default` node that can fill in missing or nil values. See #432

[2016-04-21 17:49] justindowning commented on #482
Awesome! Thanks so much for the *fast* help!! 💚

[2016-04-21 17:49] #482 closed

[2016-04-21 18:37] jdursel commented on #479
Yes, indeed, this is in alert messages.
Thank you :-)

[2016-04-21 18:37] #479 closed

[2016-04-21 19:52] cholick opened #483 "Task is `Executing: false` without Error"
I have a batch task the periodically fails shortly after starting in 12.0. It looks like if it successfully starts, it continues to run. Unfortunately, show task doesn't display an error and neither do the logs. I can trigger it inconsistently with reloading: `kapacitor reload disk_alert`

Reload logs when it fails (if it succeeds, the second `stopped` doesn't show):
[code]

Unsure what blank erro

[2016-04-21 19:54] nathanielc commented on #483
Hmmm, seems highly related to #472...

[2016-04-22 10:44] yosiat commented on #12
@nathanielc I think it's a very nice feature, for example on critical alerts I would like to send an email alerts on some specific alerts - but it's must be combined with noStateChanges.

But I can't understand what is the difference between the methods, the first methods seems pretty good:
[code]

[2016-04-22 14:52] cholick commented on #483
The workaround that succeeds consistently for me is to define and enable all the scripts, then restart the Kapacitor daemon. I've run that through Ansible quite a few times and after the restart they're always executing.

[2016-04-22 14:54] #388 closed

[2016-04-22 15:38] nathanielc commented on #12
@yosiat Yes, the first method is the one that works. The second method was a proposed different way of doing it that is no longer valid. Since the first method works we should document it in the AlertNode examples so its easier to find.

[2016-04-22 16:18] #474 closed

[2016-04-22 21:35] rubycut opened #489 "support for multiple clusters"
All my tick scripts use stream node, I am not using batch at the moment.

Kapacitor recently added support for multiple clusters.

Documentation explains that one of the properties of batch node is "cluster" property, through which we choose cluster we defined in config.

But what about Stream node, it seems streams are supported only from default cluster?

[2016-04-22 21:46] nathanielc commented on #489
@rubycut Stream data is pushed to Kapacitor, so there is no need to define which cluster. If you have multiple clusters and they are all pushing the data to Kapacitor then all of the data is available in a stream task.

[2016-04-23 06:41] rubycut commented on #489
@nathanielc , consider following scenario: I have two influxdb servers, one is production, one staging, I watch them both with same kapacitor.

Both servers have _internal database, and I watch same data on both of them, which is pointsWrittenOK in httpd measurement.

But, I need to distinguish those two influxdb servers when I am making alerts because I expect production writes to be much higher

[2016-04-23 08:21] yosiat commented on #277
@nathanielc I am wondering, how can you implement the "Active-Passive" approach if you have stateful alerts like window? If you switch to the passive then you will stream of alerts as "OK" and only after sometime as "Critical" (by the way, we have alerts with window of large periods - hours).

So we chose the "Active-Active" approach and choose a "leader" to take from the alerts, the "leader choos

[2016-04-23 17:09] satterly commented on #359
Fixed by #461

[2016-04-24 12:23] yosiat opened #490 "UnaryNode doesn't support reference node"
Hi,

While looking at stateful expression I saw that UnaryNode doesn't support reference node.
Example:
[code]

Is that intentional?

[2016-04-25 15:05] nathanielc commented on #489
@rubycut Unfortunately ATM there is now way via the  line protocol to communicate a source cluster.   But if I remember right the data in the `_internal` database is tagged with the InfluxDB  cluster/server IDs, so you should be able to group by those tags.

[2016-04-25 20:14] rubycut commented on #489
That's strange, since kapacitor knows to which cluster it is connecting, each cluster is given name in config file, and this name can be added when use Batch node, I don't understand why it is problem to add same thing for Stream node.

You are right about clusterID tag, so this solves my issue at hand, but generally, I think it is good idea to be able to filter streams based on where we connected

[2016-04-25 21:07] jackfrost82 opened #493 "Alertnode write two events in log"
Hi,
I noticed a strange behaviour on alert node: it seems to send non critical events to log.
This is my configuration:

[code]
Exec just send via syslog the message.
Both in syslog and in alert.log I found two message: one is correct ( it's the one over the threshold), the second is one of the n-th measurement under the threshold.
Here the two message:

"2016-04-25 21:03:21 +0000 UTC - Titolo: xx

[2016-04-25 21:14] nathanielc commented on #493
@jackfrost82 Based on your `.id` it looks like data is grouped by the `application`, `instance`, and `fqdn` tags. In that case you should add a groupBy statement to your `from` node.

[code]

[2016-04-25 22:10] jackfrost82 commented on #493
My fault, thanks

[2016-04-25 22:10] #493 closed

[2016-04-26 07:19] melor commented on #472
@nathanielc I was running this manually from command-line with delays also longer than 1 sec. I'll see if I can arrange you access to a test box where this can be easily reproduced.

[2016-04-26 19:31] #359 closed

[2016-04-27 09:40] codervarun commented on #459
@nathanielc . Any updates ??

[2016-04-28 19:21] hrzbrg opened #494 "[feature request] - Alerta - Allow service to be a template and allow timeouts"
Hi,

it would be very helpful, if the service field of an Alerta event would be a template in Kapacitor, so it can be assigned with a user defined value. Usecase is a microservice architecture, where we would be able to set the service in the alert to the actual service that caused it.

Second nice to have feature would be alert timeouts. Alerta lets you define a timeout in seconds for every alert

[2016-04-28 21:16] rossmcdonald commented on #172
@vlasov01 Sorry for the delay in following up here! Since the last update we have corrected the issues with ARM packages. The latest armhf nightly packages are available [here](https://s3-us-west-1.amazonaws.com/kapacitor-nightly/kapacitor-nightly.armhf.rpm). We also offer the official releases for the ARM architectures on [our downloads page](https://influxdata.com/downloads/#kapacitor) as well.

[2016-04-28 21:16] #172 closed

[2016-04-28 21:38] cnelissen opened #495 "[0.12.0] distinct() and count() functions do not work on string fields"
I have a TickScript like:

[code]

and I am seeing errors in the logs like:

[code]

I posted a message on the mailing list and I got a reply from @nathanielc that said:

"Kapacitor does not support string fields yet. It won't be hard to add, it just hasn't been done yet."

This is a showstopper for me since my queries depend on getting an accurate count based on a string field. I didn't see an op

[2016-04-28 21:40] nathanielc commented on #495
@cnelissen Thanks for filing an issue. The 0.13 milestone is coming to a close but I'll make this a priority for 0.14.

[2016-04-28 22:15] cnelissen commented on #495
What is the timeframe for v0.14? Do you have any ideas for a workaround? I am pretty much dead in the water without being able to query string fields...

[2016-04-28 22:32] nathanielc commented on #495
@cnelissen For a work around you could write a UDF to map strings to an int64s. You could use a hashing mechanism of if you know the static set via a direct mapping. Then Kapacitor will work well with the int64s. Then you could use another UDF to reverse the mapping back to strings.

See https://github.com/influxdata/kapacitor/tree/master/udf/agent/examples for example UDFs in Go and Python.

[2016-04-29 16:04] cnelissen commented on #495
@nathanielc Thanks for the ideas! I think I might have a solution in place.

[2016-04-29 16:30] dwelch91 opened #497 "Panic in join"
Ubuntu 14.04
AWS EC2
Kapacitor 0.12
InfluxDb 0.9

[code]
Config file:
[code]
It seem like this new TICKscript I introduced is what is causing the issue:
[code]
What I'm trying to do is to go through all my services and determine the
overall health of each by looking at CPU, memory, disk, etc. and determine
if one or more of these is anomalous.  This script doesn't get me there
yet, it's still WIP.

[2016-04-29 16:34] nathanielc commented on #497
@dwelch91 Thanks for the trace. I'll take a look as soon as I can.

[2016-04-29 17:44] dwelch91 commented on #497
Update: Removing the comment in front of the '.as(...)` line in the `|join()` seems to remedy the issue.

[2016-04-29 17:48] nathanielc commented on #497
@dwelch91 Yes, sorry I should have spotted that earlier The `join` node always needs a `.as`. The panic is being fixed here https://github.com/influxdata/kapacitor/pull/431

[2016-04-29 18:27] glinton opened #498 "Kapacitor panics when `|mean()`ing a measurement if there are empty values within the window period"
Kapacitor panics when `|mean()`ing a measurement if there are empty values within the window period.

Sysinfo
[code]

Stacktrace
[code]

Task
[code]

Data sample
[code]

Obviously, as soon as I stopped adding "ram_used" separately, kapacitor didn't panic.

[2016-04-29 21:15] #490 closed

[2016-05-01 09:12] nhproject opened #499 "panic: interface conversion: interface is nil, not float64"
Hi

I'm using Kapacitor 0.12.0,
I recently started to get panic errors with Kapacitor:

[code]

where afterwards Kapacitor stops.

Any idea why is it happening?

Nitz

[2016-05-02 15:48] nathanielc opened #500 "Fully support string,int,bool,float data types."
Kapacitor supports int and float operations currently. Add support for string and bool operations as well. This will enable full interaction with InfluxDB data sets since these are the same native types.  This also means that the `eval` expressions should support returning and manipulating these types as well. Recent work #491 has enabled extending the expressions in this way.

Related issue and d

[2016-05-02 15:54] nathanielc opened #501 "Allow bools to be converted to ints in expressions"
Add support to the int function https://github.com/influxdata/kapacitor/blob/master/tick/functions.go#L253

for converting a boolean to a 1 or 0.

Relevant discussion:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/influxdb/5ptiuF54DJI/QdcfSlWjAgAJ

[2016-05-03 13:34] jeroenjacobs1205 opened #502 "Chaining alert handlers?"
According to the documentation, chaining alert handlers should be possible. From the docs:

[code]

However, the following chain will result in an error:

[code]

This results in the following error:

`invalid task: line 21 char 10: no method or property "opsgenie" on *pipeline.LogHandler`

[2016-05-03 14:02] nathanielc commented on #502
TICKscript is case sensitive. Using `.opsGenie` should work.

[2016-05-03 14:07] Mic92 commented on #473
Currently I have other projects to work on. I tested it at the handler level instead of the agent level.
There is a lot of boiler code left one have to right. But maybe somebody picks up the idea and come up with something better: https://git.higgsboson.tk/Mic92/kapacitor-scale/blob/master/handler/lib_test.go

[2016-05-03 14:43] nhproject commented on #498
+1
It seems similar and related to my open issue:
https://github.com/influxdata/kapacitor/issues/499

[2016-05-03 20:31] nathanielc opened #505 "Implement RFC 5988 style headers for `List` API calls."
https://tools.ietf.org/html/rfc5988

[2016-05-03 20:33] nathanielc opened #506 "Implement Progress reporting for Recordings and Replays"
The new API now can expose basic progress information about recordings and replays.
Implement periodic progress updates.

[2016-05-03 22:53] cnelissen commented on #498
+1 same problem here.

Kapacitor should silently skip fields/tags that either do not exist or contain a null value.

[2016-05-03 22:53] cnelissen commented on #499
+1

[2016-05-04 07:46] #502 closed

[2016-05-04 15:37] cnelissen commented on #432
+1

Empty/missing tags are also not handled gracefully. For instance:

[code]

Results in an error:

[code]

[2016-05-04 16:04] nathanielc opened #507 "Add backup endpoint to API for storage data."
BoltDB makes performing backups of the entire db easy. We need to expose that ability through the API.

[2016-05-04 16:10] cnelissen commented on #435
+1 for making as() optional. IMO it should only be required if two nodes have fields with the same name, much like when you attempt a join in MySQL on two tables that share columns you get an error like: "column 'id' is ambiguous".

[2016-05-04 16:19] bogdanveres opened #508 "Parsing JSON string using TICK script"
Having the following script:

[code]

This will return the following JSON string:

`{"id":"DEVICE_1_LIVE:nil","message":"DEVICE_1_LIVE:nil is INFO","details":"DEVICE_1_LIVE, DEVICE_1_LIVE_TestMetrics ","time":"2016-05-04T15:21:08Z","level":"INFO","data":{"series":[{"name":"DEVICE_1_LIVE","columns":["time","BoolTestStatus","CurrentTest","Cycle","TestExecutionTime","TestFailed","TestPassed"],"values

[2016-05-04 16:27] nathanielc commented on #508
Have you seen the `.message` property on the AlertNode https://docs.influxdata.com/kapacitor/v0.12/nodes/alert_node/#message ?

The details property is ignored by the `slack` notification since it is a simple message.

You shouldn't need to parse the JSON in TICKscript itself.

[2016-05-05 02:08] #497 closed

[2016-05-05 02:09] #499 closed

[2016-05-05 02:09] nathanielc commented on #421
Fixed with #504

[2016-05-05 02:09] #421 closed

[2016-05-05 02:34] nathanielc commented on #265
No news in a month closing...

[2016-05-05 02:34] #265 closed

[2016-05-05 02:35] nathanielc commented on #286
Closed with #465

[2016-05-05 02:35] #286 closed

[2016-05-05 02:36] nathanielc commented on #368
Closed with #404

[2016-05-05 02:36] #368 closed

[2016-05-05 03:10] #432 closed

[2016-05-05 04:58] #285 closed

[2016-05-05 13:06] bogdanveres commented on #508
@nathanielc thanks. Using the `.message` I was able to generate the correct output. Now I have another problem. The notification contains a link to a Grafana dashboard. Is there a way to add the timestamps to a link?

i.e.

`http://192.168.1.10:3000/dashboard/db/device_1_live?from=1462448901244&to=1462452501244`

My message now:

`.message('Cycle failed. Current cycle {{ index .Fields "Cycle" }}.

[2016-05-05 15:05] egarbi opened #514 "Alert Node: field "message" should be passed as "state_message" to victorops"
At this moment "message" field is being passed as "entity_display_name" to vitorops' API.
The alert could be much more useful if the field "message" is passed as "state_message" instead.
As an example, see what happens if we send an disk alert using current format against my proposed:
Current Format:
<img width="530" alt="screen shot 2016-05-05 at 16 03 25" src="https://cloud.githubusercontent.com

[2016-05-05 17:44] nathanielc commented on #514
@egarbi Do you know how the `ENTITY` field got populated with `disk/server1`? Is that the ID of the alert?

[2016-05-05 17:53] egarbi commented on #514
@nathanielc yes it is. ID of the alert will be set as "entity_id" on victorops, and the same will be placed by default on "entity_display_name" if the field is null.
All victorops fields available [here](http://victorops.force.com/knowledgebase/articles/Integration/Alert-Ingestion-API-Documentation/)

[2016-05-05 18:49] #514 closed

[2016-05-05 20:07] nathanielc opened #520 "Failing test for TestServer_RecordReplayStream"
[code]

[2016-05-06 15:32] nathanielc opened #521 "Eval ignores groups"
The EvalNode evaluates the same stateful expression for all groups. This needs to change so that each group has its own state.

[2016-05-06 15:43] nathanielc commented on #253
Closing. See https://github.com/influxdata/docs.influxdata.com/pull/426

[2016-05-06 15:43] #253 closed

[2016-05-06 16:00] rossmcdonald opened #522 "New Nightly Build URL"
This is a PSA that we are going to be changing the nightly URL from the existing:
[code]
To:
[code]
All builds will also be removed from the `kapacitor-nightly` bucket after today to avoid confusion. Let me know if anyone has any questions or concerns!

/cc @nathanielc

[2016-05-06 22:32] #374 closed

[2016-05-08 09:41] nhproject opened #525 "Streams Not Working In 0.12"
Hi

I have a machine with Kapacitor 0.11, the "old" machine. I have a CPU task there, works great (stream). I also have some other batch ticks which works great too.
I created a new machine with Kapacitor 0.12. I copied all the mentioned tasks to this new machine, changed the syntax to the new one (pipes for chaining, dots for properties)
All batch tasks works well, the cpu stream task doesn't do

[2016-05-08 10:59] nhproject commented on #525
I will also mention that when converting the stream test task to batch, the batch works.

[2016-05-08 11:58] nhproject commented on #525
This is the tick file:

`var msg = MSG

var data  = stream
		|from().measurement('cpu').where(lambda: "cpu" == 'cpu-total').truncate(1s)

var past_percentile_50 = data
		// Calculating the 50%ile of used CPU from the last half an hour
		.groupBy(time(30m),'host','node_name','dc','env','domain')
		|window().period(30m).every(30s)
		|percentile('usage_idle',50.0)
		|eval(lambda: 100.0 - "percentile"

[2016-05-09 08:17] shanab opened #526 "kapacitor record stream hangs"
I am trying to go through the example in [Introduction - Getting started](https://docs.influxdata.com/kapacitor/v0.12/introduction/getting_started/), but when I try to run the following command it just hangs:
[code]

Telegraf seems to be reporting to InfluxDB normally

More details here:
* InfluxDB version: 0.12.2
* Kapacitor version: 0.12.0 (git: master 32d4d1b8f688e2d310f4e9413b3fe6ac3ef73c70)
*

[2016-05-09 10:16] jdursel opened #527 "Improvement: alert timeout"
Hi,

For the project I'm working on, I have to send the alert at most once per quarter and if the state hasn't changed, the alert must be thrown again at minute 0,15,30,45.

For the moment, I'm using a join trick to do it. By storing the alert state in an "alert" measurement and resetting it to "0" every 0,15,30,45 min of hour. When an alert is triggered, a "1" is stored into the measurement. The

[2016-05-09 13:02] gargooza opened #528 "strip trailing comma from {{ .Group }}"
This is just a cosmetic issue but can we get that trailing comma stripped from the {{ .Group }} template? I understand it as a separator between groups, but it looks a little out of place at the end.

[2016-05-09 13:37] #522 closed

[2016-05-09 14:38] rossmcdonald commented on #525
@nhproject Can you show us the output to a `SHOW SUBSCRIPTIONS` run from the InfluxDB server? It sounds like there is something wrong with the subscription forwarding if batches work but streams do not.

[2016-05-09 19:41] nathanielc opened #529 "Report HTTP stats by endpoint"
Currently stats about HTTP endpoints are tracked haphazardly. Some endpoints are tracked from some early code but most are not. All endpoints should be counted and it should rely on the handler to do so.

[2016-05-09 20:42] sslupsky commented on #271
Hi @nathanielc

I have just run into a similar problem.  I have several measurements.  Let's call them P1.a, P1.b, P1.c, P2.d, P2.e, P3.f.  Each measurement has several fields.  Let's call the fields "C1, C2, C3".  I would like to create one node in Kapacitor to check one of the fields in all of the measurements against and threshold and generate an alert.  Thus,

SELECT mean("C1") FROM "metrics".

[2016-05-09 23:30] sslupsky opened #530 "Feature Request: Suppress "data" and "details" from the Alert node log output"
It would be helpful to have an option with the Alert node to suppress the "data" that gets output after the user specified message.

{"id":"P274.c2c1a284","message":"Battery is CRITICAL, value: 3.1897","details":"None","time":"2016-05-06T00:00:00Z","level":"CRITICAL",**"data":{"series":[{"name":"P274.c2c1a284","tags":{"channel":""},"columns":["time","mean"],"values":[["2016-05-06T00:00:00Z",3.1897

[2016-05-09 23:33] nathanielc commented on #530
@sslupsky Suppressing `details` is possible via setting it to the empty string:

[code]

[2016-05-09 23:40] sslupsky commented on #530
Hi, @nathanielc

Thanks for the quick response!!!

When I set the details property to an empty string, it still outputs the "details" tag in the log, but the value is empty?  Can it be completely suppressed?

{"id":"P274.c2c1a284","message":"Battery is CRITICAL, value: 3.1897",**"details":""**,"time":"2016-05-06T00:00:00Z","level":"CRITICAL","data":{"series":[{"name":"P274.c2c1a284","tags":{"chann

[2016-05-10 07:07] nhproject commented on #525
<img width="908" alt="screen shot 2016-05-10 at 10 06 22" src="https://cloud.githubusercontent.com/assets/15214994/15138199/f938c212-1696-11e6-87ba-69eeae634733.png">

[2016-05-10 07:08] nhproject commented on #525
In the destination written my public IP of the Kapacitor machine with some random UDP port

[2016-05-10 18:30] fcastello commented on #117
Is this already implemented?

[2016-05-10 18:31] fcastello commented on #357
Is this already implemented?

[2016-05-10 18:36] fcastello opened #532 "x509: certificate signed by unknown authority For POST messages"
I am getting this error

[cpu_alert:alert2] 2016/05/10 17:39:50 E! failed to POST batch Post https://user:pass@myurl/submit_result/: x509: certificate signed by unknown authority

I know the server needs some tweaking in the configuration but is it possible to skip ssl verification.

There is very little info about the post method in alert node. Some pointer will be helpful.
Also can you point me

[2016-05-10 19:01] nathanielc commented on #117
@fcastello nope

[2016-05-10 19:06] nathanielc commented on #532
@fcastello Currently it is not possible to ignore SSL cert errors.

Code locations:

* Struct that defines available options: https://github.com/influxdata/kapacitor/blob/master/pipeline/alert.go#L397
* Method that posts the alert data:  https://github.com/influxdata/kapacitor/blob/master/alert.go#L742

This is in part because it does very little.

[2016-05-10 19:07] #419 closed

[2016-05-10 20:36] nathanielc commented on #530
No it cannot be completely suppressed.

[2016-05-11 00:24] piniondna commented on #398
I'm at the same point on this problem, but I can't seem to get the configuration to work out...
[code]

I'm using docker-compose (v2 syntax) which automatically creates a network for the containers.
The kapacitor host is called `capacitor` and the influxdb host is `influxdb`.
The hostname in the kapacitor.config file is set to `kapacitor`.
The cluster.id file contains `sensors`.
The bind address i

[2016-05-11 21:36] rossmcdonald opened #537 "panic: runtime error: invalid memory address or nil pointer dereference"
Version info:

[code]

Panic:

[code]

[2016-05-12 01:33] #537 closed

[2016-05-12 10:23] cryptokush commented on #532
tr := &http.Transport {
                TLSClientConfig: &tls.Config{InsecureSkipVerify: true},
        }
        client := &http.Client{Transport: tr}
        _, err := client.Post(post.URL, "application/json", buf)

        if err != nil {
                a.logger.Println("E! failed to POST batch", err)
        }

quick hack, no config

[2016-05-12 12:08] lpalm opened #539 "Better handling of count alerts"
A very common use case is to alert if the count of some event is higher than some threshold over a time window. For example, errors, timeouts, logins, requests. Currently we can simulate this by adding a point to InfluxDB with a meaningless value (e.g. 1) each time the event occurs. We can then compare the count of these values over a window and compare it against the alert threshold. We only use

[2016-05-12 16:29] nathanielc commented on #539
@lpalm Thanks for the detailed write up.

Currently the deadman switch works are you describe with one exception, that it will never forget a given tag set and will continue to emit 0 for it forever. I like the suggestion of dropping it after a single 0 has been emitted.

Also in the case that the deadman's switch receives no points at all it will emit 0s for a `nil` tag set so that you know that

[2016-05-12 16:31] nathanielc commented on #539
@lpalm Also note that `|count` is not used explicitly since each point represents an event and the counting is being done implicitly via the `stats` node.

[2016-05-12 21:49] motilevy opened #540 "invalid log level: """
Seems like setting loglevel is broken on 0.13

kapacitor version

[2016-05-13 08:30] lpalm commented on #539
Hi Nathaniel,

Thanks for the information. Sounds like deadman/StatsNode will do exactly what we'd like it to do for counts dropping below a threshold. But what about alerting if a count goes **above** a threshold (let's say, 10 in one minute), and making sure that it resets back to OK if the count drops to zero?

And a tangential question about the use of nonNegative: If we take the derivative()

[2016-05-13 10:48] jeroenjacobs1205 opened #541 "Cannot add tasks anymore since 0.13"
kapacitor define -name disk_alert -type "stream" -tick /tmp/disk_alert.tick -dbrp collectd_db.default

results in

    unknown type "unknown TaskType 0"

Works fine in 0.12. Removing quotes around "stream" doesn't make a difference.

[2016-05-13 12:06] lpalm opened #542 "Could Kapacitor query InfluxDB in parallel when creating a recording?"
I've been watching the InfluxDB logs to see the queries  Kapacitor makes while creating a recording and it looks like queries are made sequentially for each batch. In our simple use case, each batch is independent. Is it possible or would it even make sense to parallelize some of this querying in order to speed up backtesting?

[2016-05-13 15:09] mglazer opened #543 "Kapacitor 0.13.0: /tasks API endpoint doesn't support default parameters"
According to the docs, I should be able to do:

[code]

However, this gives me:

[code]

Running:

[code]

Gives:

[code]

Running:

[code]

Gives output, but I still get:

[code]

[2016-05-13 15:22] nathanielc commented on #541
Several CLI command changes with the release ,see the CHANGLOG or the new help message for details. The equivalent command is now:

[code]

[2016-05-13 15:29] nathanielc commented on #543
@mglazer Thanks for reporting these I'll try and get a fix out soon.

[2016-05-13 15:39] mglazer opened #544 "Kapacitor 0.13.0: Alert Names with '/' in them can be created, but can't be updated"
I created an alert with a notional name: `login/time`.

Upon trying to update this alert, or getting it back, I'm blocked.

I've tried:

[code]

[code]

Curling:

[code]

Shows the task in the JSON.

[2016-05-13 15:52] mglazer opened #545 "Kapacitor 0.13.0: Simple task creation example in documentation isn't correct"
Page: https://github.com/influxdata/kapacitor/blob/master/client/API.md#tasks

Documentation example says you can do:

[code]

However, doing so results in an error. You can make this work if you do:

[code]

[2016-05-13 16:00] nathanielc commented on #545
@mglazer Thanks for filing these issues. I'll make sure we get a fix out today on these. Sorry for the hassle.

[2016-05-13 19:30] nathanielc commented on #544
@mglazer See #546 for a fix. Essentially your existing tasks with a `/` will continue to function but new tasks will not be allowed to have the `/` character. If this is a deal breaker lets discuss...

[2016-05-13 20:28] mglazer commented on #544
That's fine. I'm not in production yet so throwing away these alerts and recreating is fine.

[2016-05-13 20:38] #543 closed

[2016-05-13 20:42] #544 closed

[2016-05-13 20:42] #545 closed

[2016-05-13 20:44] nathanielc commented on #542
@lpalm I like the idea, I'd have to think on it a bit for other tasks that may not be so isolated.

[2016-05-16 20:40] sslupsky opened #550 "Is it possible to include a variable in the deadman message?"
I have reviewed issue #259

I have followed the advice and defined a variable as follows:

var db = "database"
var rp = "default"
var measurement = "P100"

Then, I used the variable in a batch node:

var location = batch
  |query('SELECT mean(value) FROM db.rp.measurement')

What I would like to do in the deadman node is output the measurement name ("P100"):

|deadman(1.0,1d)
    .id(measurement)

[2016-05-16 22:41] nathanielc commented on #550
@sslupsky

What you are trying to do does not work ATM, but #259 is next on my list of issues to tackle and I'll take this use case into account. Thanks.

[2016-05-16 23:30] sslupsky commented on #550
Hi @nathanielc

Thanks for getting back to me, that is what I thought was the case.  In part, the purpose of my machinations is to workaround the limitations regarding grouping the fields and measurements.  It would be very helpful if the fields and measurements could be grouped.

[2016-05-17 12:42] sunnylbk opened #551 "Can kapacitor post alerts to a specific user in slack?"

[2016-05-17 13:39] rossmcdonald opened #552 "[feature request] Be able to reference TICK variables in alert message"
Currently it is not possible to reference TICK script variables in alert messages. For example:

[code]

This can be useful for conveying message details that include the value that triggered the alert as well as what threshold/value the alert is firing from.

[2016-05-17 15:54] nathanielc commented on #551
@sunnylbk  Yes use `@username` as the channel.

[2016-05-17 21:22] nathanielc opened #553 "Periodically check if new InfluxDB DBRPs have been created"
Currently Kapacitor only creates subscriptions on startup. We should add both and API endpoint to tell Kapacitor to add update subscriptions as well as optionally do so on a periodic basis.

[2016-05-17 21:43] savagegus commented on #82
This is working fine for us in production, let me know if if needs any more love.

[2016-05-17 22:20] nathanielc commented on #259
I am starting work on adding template tasks. Here is my current plan:

Template tasks will have a set of typed template variables defined in a template TICKscript, more on that in a sec. These template tasks will have basic CRUD operations. A normal task can be created from a template task by specifying the set of values for the template vars. The template vars will be typed so its clear what vali

[2016-05-18 02:55] xiocode opened #555 "lambda time func not work in 0.13.1"
TICK script
[code]

Error:
[m2_online_request_alert:alert2] 2016/05/18 03:00:00 E! error evaluating expression: Failed to handle 1 argument: expression returned unexpected type invalid type

[2016-05-18 07:21] AbdulHameedM opened #556 "Kapacitor is startup is failling"
Influxdb + Telegraf is working good,any idea?

 Error
[run] 2016/05/18 12:44:56 I! Kapacitor starting, version 0.13.0, branch master, commit ce28f6dced073e473b44f592517fa6c4d05b5e65
[run] 2016/05/18 12:44:56 I! Go version go1.6.2, GOMAXPROCS set to 1
[srv] 2016/05/18 12:44:56 I! Kapacitor hostname: localhost
[srv] 2016/05/18 12:44:56 I! ClusterID: eb59dfe2-3573-4448-a370-2205e95497ec ServerID: 805

[2016-05-18 10:54] AlexGrs commented on #540
I have the same issue on kapacitor 0.13

[2016-05-18 11:00] AlexGrs opened #557 "Add support to publish RAW alert to rabbitmq"
It would be really nice to add a new Alert output node to rabbitmq.

I made a python scripts I called with the exec script, but it feels dirty. I am not familiar with Go so I don't really know how to write an ouput node for kapacitor.

The params needed for this type of alert would be:
- A valid rabbitmq URI (https://www.rabbitmq.com/uri-spec.html)
- exchange
- routing key

[2016-05-18 12:10] sunnylbk commented on #551
Thanks @nathanielc!

[2016-05-18 12:10] #551 closed

[2016-05-18 13:23] rossmcdonald commented on #525
@nhproject Can you check to see if Kapacitor is listening on the subscription UDP ports? If it's still not working, I'd recommend dropping all of the existing Kapacitor subscriptions and restarting the Kapacitor service.

[2016-05-18 13:29] rossmcdonald commented on #556
It looks like you're running with an older version of InfluxDB. Kapacitor 0.13 can only be used with InfluxDB 0.13.

[2016-05-18 17:39] yosiat commented on #259
@nathanielc Template tasks sounds great!

But, and to answer the need for lambda expressions - you must first set the limit of template tasks, how much generic do you want it to be?
In my use case, if template tasks supports lambda expression I will have only 2 to 10 templates at most.

By the way, what will be the api for this? POST with json of the templates values, for example:
[code]

[2016-05-18 17:55] nathanielc commented on #259
@yosiat Yes, I think we want the template tasks to be a generic as possible with the exception of being able to change the DAG pipeline itself.

Yep, that JSON looks about what I had in mind.

Also I think we can forget the `var` vs `tvar` distinction and just make it so all `var`s are template vars, keep it simple.

[2016-05-18 18:04] thom-nic commented on #259
Is anyone from the InfluxData team collaborating with the Grafana team?  I found this issue b/c I want to use Kapacitor for user-defined (not dev/ops defined) alerting on data that I'm displaying from InfluxDB to Grafana.  The Grafana team are working on an alerting frontend (see grafana/grafana#2209). I don't know if they plan to have a single backend or if it will be pluggable.  But If the goal

[2016-05-18 18:49] #540 closed

[2016-05-18 19:27] mtslzr opened #561 "Getting "mismatched type to binary operator" for int64/int64 or float64/float/64 in 0.13"
Working a script for checking memory usage. We pull total and used (in bytes) from InfluxDB, so I need to generate the percent myself. In 0.12, I was able to do something akin to this, an example of usage being over 50%:

[code]

Unfortunatley, since 0.13, damn near any combination of the above (using float or int) results in an error like this:

[code]

Still learning this, so my gut say it's som

[2016-05-18 19:41] nathanielc commented on #561
@mtslzr We significantly changed the implementation of lambda expressions in 0.13 so something like probably messed up somewhere. I'll take a look.

[2016-05-18 19:50] oldmantaiter commented on #82
@savagegus I have not had the time to eval Kapacitor fully yet, so if it works for you I'll take your word for it and close out this issue. Thanks! This will make it easier when we get around to using it.

[2016-05-18 19:50] #82 closed

[2016-05-18 20:53] #283 closed

[2016-05-18 21:21] nathanielc commented on #561
@mtslzr I can't reproduce this locally, could you share a more complete example where you are getting this error? Thanks.

[2016-05-18 21:23] #500 closed

[2016-05-18 22:44] sslupsky opened #564 "Deadman is not working"
I am wondering if someone can point out my mistake.

I have a batch query, an alert and a deadman.  The alert appears to work fine.  The deadman however, fires all the time and I am receiving the alert email every day.  It should only fire if no data has been received in a 24 hr period.

The TICKscript is as follows:

[code]

When I receive the email, there is nothing at the beginning of the detai

[2016-05-19 02:58] jsvisa commented on #556
@rossmcdonald thanks, it works.

[2016-05-19 11:55] Talbion opened #565 "variables in .TICK script?"
Hello,

I've recently setup Influx + Kapacitor (latest) and got the alerts setup and working great.
Now, I'd like to use variables instead of plain-text values (such as the '30' for CRIT).

Is it possible to read variables from a config file, that for example would be located in the ETC folder of the Kapacitor?
Or maybe there's another way to pass variables to TICK files?
(Just as reference, I'm p

[2016-05-19 15:18] nathanielc commented on #565
@Talbion Yes, and not yet. You can define vars in a script like this:

[code]

But currently that is all you can do. I am working on  a change to be able to set those vars dynamically via the API see #259 for more details.

[2016-05-19 15:28] #556 closed

[2016-05-19 15:33] nathanielc commented on #565
Closing in favor of #259

[2016-05-19 15:33] #565 closed

[2016-05-19 15:36] nathanielc commented on #564
@sslupsky  I see two issues:

1. The `|eval(lambda; "mean").as('mean') isn't doing anything so it should be removed.
2. The field you want it `emitted` not `collected` that changed a while back. I just noticed the docs are wrong :( I'll get those updated...

Let me know if that fixes the issue

[2016-05-19 15:47] nathanielc commented on #561
@mtslzr I figured it out, and I am chasing down the bug now....

[2016-05-19 15:50] #521 closed

[2016-05-19 20:47] yosiat commented on #561
@nathanielc what's the bug? Sounds very weird bug..

[2016-05-19 21:17] nathanielc commented on #561
@yosiat  I just posted the PR https://github.com/influxdata/kapacitor/pull/567

Besides some refactoring of the error messages, it boiled down to `isDynamicNode` not checking binary nodes. See https://github.com/influxdata/kapacitor/pull/567/files#diff-9de6492423b4172b3853bd681fd787ae

[2016-05-19 23:02] nathanielc commented on #539
Yes, nonNegative skips values where the derivative would be negative. But the emitted value is an increasing counter (total points emitted since task started), it never decreases. So the derivative will go to 0 but not negative.

[2016-05-20 02:32] qianlnk opened #570 "smtp panic EOF"
smtp conf：
  # Skip TLS certificate verify when connecting to SMTP server
  no-verify = false
  # Close idle connections after timeout
  idle-timeout = "2s"

panic: EOF

goroutine 8 [running]:
panic(0xc62140, 0xc8200120d0)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
github.com/influxdata/kapacitor/services/smtp.(*Service).runMailer(0xc820198be0)
	/root/go/src/github.com/influxdata/kapacitor/ser

[2016-05-20 06:55] yosiat commented on #259
@nathanielc by the way, can I compose lambda variables? for example, accept something like this:
[code]

and then in the tick script, do something like this: ``crit(lambda: a OR b)``

[2016-05-20 15:24] entertainyou commented on #526
I have the same issue on a debian machine.

[2016-05-20 16:04] #561 closed

[2016-05-20 16:27] nathanielc commented on #259
@yosiat Yes, I expect that to work. How would you want the state to work? One shared state for the merged expression or 3 separate states for a, b and the combined expression. I think three separate states is cleaner and easier to reason about.

For example:

[code]

You would be confused if the count functions in `a` and `b` affected one another.

[2016-05-20 16:27] #555 closed

[2016-05-22 08:45] Talbion commented on #565
OK thanks for the quick response @nathanielc !

-talbion

[2016-05-23 03:42] minhdanh commented on #526
Me too, experiencing the same.
Kapacitor: 0.13
InfluxDB: 0.13
OS: Amazon Linux 2015.09

[2016-05-23 08:15] SPARTAN563 opened #571 "Null/missing fields in measurement cause lambda expressions to hang"
When using a lambda expression to filter a stream on properties which may not be present on the measurement, Kapacitor stops processing the stream with the following log entries in `/var/log/kapacitor/kapacitor.log`:

[code]

## Full Example

Let's say we submit two forms of event to a measurement stream, they are defined as follows:

[code]

[code]

And we have a filter which is defined as follow

[2016-05-23 21:05] nathanielc commented on #526
Is this the same issue as #148?

[2016-05-24 06:41] shanab commented on #526
I don't think so. My problem was that I generated Kapacitor config file using `kapacitord config` command using root, so the resulting dirs in the config file where pointing at `/home/root/.kapacitor/...`.
And when I tried to run kapacitor as another user, it complained and I didn't notice it.

I ended up using a specific config file instead of generating one, and it worked as expected.

[2016-05-24 06:45] nhproject commented on #525
Closing this issue. Was my fault - wrong IP on config file.
Thanks!!

[2016-05-24 06:45] #525 closed

[2016-05-24 08:23] shanab opened #573 "Points with empty retention policy are not matched"
I'm using InfluxDB Relay to forward data to 2 InfluxDB instances + 1 Kapacitor instance. The client sending points is not explicitly setting a retention policy. As a result the points were not captured by stream task, as kapacitor mandates to supply a retention policy.

My kapacitor log looks like this:
[code]

Is there any chance that kapacitor matches an empty retention policy as "default" in th

[2016-05-24 12:02] lpalm commented on #539
Got it. Thank you. My final outstanding question is if there is a way to alert the second time if some count goes above the threshold, drops to zero, then goes above the threshold again.

[2016-05-24 13:08] bfgoodrich commented on #73
Have Kafka streams as a source of data for Kapacitor would be amazing and would avoid sending data from InfluxDB to Kapacitor as well.

[2016-05-24 21:33] beckettsean opened #574 "[feature request] version checking"
### Proposal:

On startup, if connection to the configured InfluxDB or Kapacitor fails, check for a version mismatch rather than reporting a potentially cryptic error.

### Current behavior:

If there's an incompatibility between Telegraf and another TICK component the error message may be cryptic or not even logged until a particular action is attempted and fails.

### Desired behavior:

On start

[2016-05-25 04:46] jsvisa opened #575 "Hangup inside recording strems"
My tick script is like below:

[code]

It seems kapacitor records too many streams, So I'm decrease where expression to below:

[code]

then I need to redefine the task, but  kapacitor hangs up, seems it will process the redefine request after all streams be processed.

[2016-05-25 11:30] shanab commented on #573
Closing this as I just saw a [pull request](https://github.com/influxdata/influxdb-relay/pull/22) on relay that allows using a default retention policy.

[2016-05-25 11:30] #573 closed

[2016-05-25 19:44] titilambert opened #576 "Kapacitor doesn't seem resubscribe when influxdb restart"
Hello,

It seems that Kapacitor doesn't resubscribe if InfluxDB restarts.
How to reproduce:

1. Launch InfluxDB
2. Launch Kapacitor
3. Run `show subscriptions` => You see the Kapacitor subscription
4. Restart InfluxDB
5. Run `show subscriptions` => You DON'T see the Kapacitor subscription

Same behaviour when dropping databases:

1. Launch InfluxDB
2. Create DB `test`
3. Launch Kapacitor
4. Run `s

[2016-05-26 15:59] LaPetiteSouris commented on #526
Hi @shanab

Would you mind posting your kapacitor config file ? It would be really helpful for my case

Regards

[2016-05-26 20:35] nathanielc commented on #571
@SPARTAN563  have you seen the `DefaultNode` it should be able to fill in missing values for you:

[code]

As for

That is curious indeed, could you share your complete TICKscript? It might explain that behavior.

[2016-05-26 20:48] nathanielc commented on #576
@titilambert The subscriptions are stored as part of the database meta data like retention policies. Does a restart of InfluxDB cause other data to be lost as well?

Kapacitor doesn't need to `resubscribe` to InfluxDB for each startup, it creates the subscriptions once and then they should persist.

As for the second workflow Kapacitor currently does not look for new databases except at startup. S

[2016-05-26 21:23] nathanielc commented on #575
@jsvisa How long does it hang? It should stop almost immediately and not processes any new data, only the data it has already received will be processed. How much data are you sending per second to the task?

[2016-05-26 21:53] nathanielc commented on #552
Would string concatenation be enough?

Example:

[code]

[2016-05-26 21:54] mingraham opened #580 "Local InfluxDB (Linux) and Containerized Kapacitor (Docker) Not Communicating"
Hello,

I've spent the past couple of days trying to figure this out (surfing through some of the issues and Googling much), so I'm going to just ask now. I am dockerizing the TICK stack (or a version of it) at my job, and I have the case where each component is in its own container already completed (i.e., influxdb in its own container and kapacitor in its own container).

Where I am stuck is whe

[2016-05-26 21:54] rossmcdonald commented on #552
@nathanielc Definitely. Really just any way to reference them would be great.

[2016-05-26 22:02] nathanielc commented on #580
@mingraham To make sure I understand.

1. InfluxDB is running on different host than Kapacitor
2. Both processes are running inside docker containers

Correct?

If so a couple of questions:

1. What is the `hostname` setting in the Kapacitor config. If you are in the InfluxDB container will that hostname resolve to the correct address of the Kapacitor host/container?
2. Have you opened up the UDP

[2016-05-26 22:04] nathanielc commented on #552
@rossmcdonald Great, with this PR #577 this should be possible. I'll add a test case to make sure.

[2016-05-26 22:29] mingraham commented on #580
Hi, thank you for getting back so quickly.

InfluxDB is NOT running inside a container, it is sitting on the Linux host. Kapacitor is dockerized ON that Linux host, so, to my understanding, I should just have to map ports from the container to the host it is sitting on, which, again to my understanding, should make it easy to get InfluxDB to be able to send data into the dockerized Kapacitor.

In

[2016-05-27 01:07] jsvisa commented on #575
Seems it hangs forever, what I can do is restart kapacitord, after restarted, the task which was disabled before restart was really **disabled**, seems Kapacitord handle it well, but didn't response in time.

I have almost 200 nodes, which using Telegraf to send `cpu` information every 10 second.

[2016-05-27 04:58] SPARTAN563 commented on #571
Thanks, let me quickly check whether that helps matters and let you know.

The tick script I'm using looks like this:

[code]

and results in the following DOT graph

[code]

Error log looks like this (repeated ad-infinitum):

[code]

I've checked this using both `|where` and the `|from().where()` blocks - it simply changes where the error appears (always tracking the `where(lambda: ...)` expressi

[2016-05-27 05:22] SPARTAN563 commented on #571
Just a quick update on this - the `|default()` node appears to have removed the errors I was seeing in the error log, however I'm still seeing it hang - guessing the hanging is caused by something else in that case.

[code]

And its corresponding DOT after a couple of minutes.

[code]

Very curiously, I'm not seeing anything being joined for whatever reason (however, when I reload the script it ca

[2016-05-27 06:41] codeb2cc opened #581 "kapacitor record command ignores cluster property"
Kapacitor: 0.13.0
InfluxDB: 0.13.0

I have multiple InfluxDBs configured in the kapacitord. For batch task the `record` command always try to get data from the default InfluxDB. But if I enable the task, kapacitor correctly query the InfluxDB which I've defined in the `cluster` property.

[2016-05-27 23:24] #570 closed

[2016-05-28 00:54] james-lawrence opened #583 "need better insights into whats going on with tickscripts."
been trying to debug a simple tick script using influxdb/telegraf/kapacitor based on the sample code.
[code]

it doesn't perform anything. I have no idea if its the from() section just not generating any data or something wrong with the alert() section.

I know the data is getting to influxdb from this query which outputs a number of records:
[code]

What would be nice is a way to dump the results

[2016-05-28 01:10] nathanielc commented on #583
Try, `|log()`

On Fri, May 27, 2016, 6:54 PM James <notifications@github.com> wrote:

--
Nathaniel Cook
Kapacitor Lead
https://influxdata.com

[2016-05-28 01:15] james-lawrence commented on #583
tried it didn't seem to do anything either, i now have a tickscript working though so moving on for the time being.

[2016-05-29 00:11] popstas opened #584 "Kapacitor restarts too long if reporting enabled"
Kapacitor restarts 11-12 seconds if enabled reporting to https://usage.influxdata.com

Without reporting enabled:
[code]

[code]

With reporting enabled:
[code]

[code]

[2016-05-29 17:44] yosiat commented on #73
@nathanielc Can we revive this issue?
I think supporting different "stream source" can be great deal (for us, as well), and I think I can submit pull request for this.

I am thinking about two approaches:

- Custom nodes such as "KafkaSourceNode", that will be like stream node - without the forking and connecting to edges, maybe more like BatchNode?
- Service like http service that will read from

[2016-05-30 07:35] shanab commented on #526
@LaPetiteSouris sure, here it is:
P.S: You should make sure that `/opt/kapacitor` is owned by `kapacitor:kapacitor`.
[code]

[2016-05-30 10:59] jsvisa commented on #583
@james-lawrence

[code]

to

[code]

[2016-05-30 12:30] jsvisa opened #585 "Add more stateful global functions"
Hi, @nathanielc I like Kapacitor, I want Kapacitor alert out when it meets the below two conditions:

 1. The spread of CPU usage within window is larger than n1;
 2. And the sigma of CPU usage with the same window is larger than n2;

If I want to imple that, seems i have an `eval` node like below:

[code]

But by now, seems Kapacitor only support `sigma`, `count` lambda expressions, so I want to

[2016-05-30 13:41] nathanielc commented on #585
Have a look at the NewFunctions method in tick/functions.go

On Mon, May 30, 2016, 6:30 AM Delweng Zheng <notifications@github.com>
wrote:

--
Nathaniel Cook
Kapacitor Lead
https://influxdata.com

[2016-05-31 05:49] jsvisa commented on #585
@nathanielc Thanks for your advise, I just send a [Pull Request #586](https://github.com/influxdata/kapacitor/pull/586), could you please send me any feedback

[2016-05-31 14:35] nathanielc commented on #73
Absolutely, this is something we have wanted to prioritize internally but haven't had the resources yet.

I think the second approach is best. I would model it after the `graphite`, `collectd`, and `udp` services.

[2016-05-31 17:35] gargooza opened #587 "bug: leading zero seems unnecessary"
v0.12

I got an error trying to define a task because my alert condition was "min" > .0058

"{↵    "Error": "parser: unexpected . line 11 char 31 in \": \"min\" \u003e .0058)\". expected: \"number\",\"string\",\"duration\",\"identifier\",\"TRUE\",\"FALSE\",\"==\",\"(\",\"-\",\"!\""↵}"

I added a leading zero before the decimal point so that it reads "min" > 0.0058 and now it works just fine.

[2016-05-31 20:44] #331 closed

[2016-05-31 20:49] nathanielc commented on #472
@melor I believe I have finally found the source of this bug. Internally an extra call to stop a stopped task was being made. In most cases the second stop request would have been a noop, buf if that stop request was blocked long enough to allow a start request to make it through the the task would be stopped right after starting it. I ran into the issue while working on #577 and fixed it there.

[2016-05-31 20:52] nathanielc opened #588 "Add tests for NumTasks/NumEnabledTasks"
I recently found a bug in the stats counting for tasks. Newly created tasks after a Kapacitor startup were not being counted. This needs to be tested so we don't get those kinds bugs.

[2016-05-31 20:59] #472 closed

[2016-05-31 20:59] #483 closed

[2016-05-31 20:59] #552 closed

[2016-05-31 21:21] melor commented on #472
@nathanielc I verified that v0.13.0 + 59433e312c65da7a61802d2a93fe694e1214a3e6 fixes the problem. Thanks!

[2016-05-31 21:42] #587 closed

[2016-05-31 23:16] #588 closed

[2016-06-01 00:20] #584 closed

[2016-06-01 17:05] yosiat commented on #73
@nathanielc Where are the graphite/collectd services?

I want to start developing it with support for ActiveMQ, specifically I want ActiveMQ because it has support for [Message Grouping](http://activemq.apache.org/message-groups.html) which will help scale kapacitor if you message group id is combination of measurement and it's tags.

I think I will start another issue for ActiveMQ with simple exp

[2016-06-01 17:14] nathanielc commented on #73
The graphite/collectd services are imported from the InfluxDB code base.

Sounds good.

[2016-06-01 17:39] mingraham opened #592 "Kapacitor Batch Undefined Error"
Hello,

I have been looking around for why I am getting this error and cannot find an answer, so I am hoping there is a quick, easy answer to this.

I'm rewriting a TICKscript I have that was using streams, and now I would like it to use batches. When I define the TICKscript to overwrite the previous, I get `invalid task: name "batch" is undefined. Names in scope: time,stream`.

My Kapacitor versi

[2016-06-01 17:44] nathanielc commented on #592
You need to change the task type `kapacitor define TASK_NAME -type batch` should do it.

[2016-06-01 17:48] mingraham commented on #592
Thank you, knew it was something simple! Much appreciated. Was in a time crunch and know how quickly you reply, thanks!

[2016-06-01 17:48] #592 closed

[2016-06-02 10:35] titilambert commented on #576
I close this one, it duplicates #553

[2016-06-02 10:35] #576 closed

[2016-06-02 10:35] titilambert commented on #553
@nathanielc Are you working on it ? If not, I can get it (I really need this one)

[2016-06-02 14:31] nathanielc commented on #553
@titilambert I am not working on this ATM. Thanks for taking a look!

[2016-06-02 15:38] titilambert commented on #553
@nathanielc I already got something, I just need more tests before create a PR

[2016-06-02 16:06] mingraham opened #594 "Rounding Decimals in Kapacitor"
Hi,

In my `.message` property off an `alert()` node, I use a lot of tags and fields to write a detailed message to Slack. The only part I cannot seem to find online is how to round the decimals to, say, 2 decimal places. It would increase the readability by a large amount, and is quite needed.

If this is not able to be done in Kapacitor, is there a way from the InfluxDB side (because I am using

[2016-06-02 16:10] nathanielc commented on #594
Have a look at https://github.com/influxdata/kapacitor/issues/479

[2016-06-02 16:19] mingraham commented on #594
Thank you very much.

[2016-06-02 16:19] #594 closed

[2016-06-02 20:28] nathanielc commented on #580
@mingraham HTTP based subscriptions are now merged into master. Can you test this out building from master to see if using HTTP subscriptions gets you going?

[2016-06-02 20:29] nathanielc commented on #495
This was fixed in #524

[2016-06-02 20:29] #495 closed

[2016-06-02 20:30] nathanielc commented on #410
This was an issue with the window node not propagating errors correctly.

[2016-06-02 20:30] #410 closed

[2016-06-02 20:31] #377 closed

[2016-06-02 20:33] nathanielc commented on #298
For now we are going to leave the behavior as is, since there hasn't been a strong push to change it. We can revisit later if need be.

[2016-06-02 20:33] nathanielc commented on #279
This was fixed as part of the API rewrite.

[2016-06-02 20:33] #279 closed

[2016-06-02 20:35] nathanielc commented on #259
This has been implemented in #577

[2016-06-02 20:44] nathanielc commented on #550
As of #577 it is possible to use string concatenation to do this:

[code]

Note, the use of single quotes for the vars and the use of double quotes in the query string to protect against keyword conflicts.

This does present a small security issue where the user supplied vars could try and SQL inject, but the arg passed to `query` is parsed inside Kapacitor and reformatted before sending to Influx

[2016-06-02 20:44] #550 closed

[2016-06-02 21:08] #259 closed

[2016-06-02 21:11] nathanielc commented on #539
@lpalm It should alert the second time. Do you mean only alert if it happens twice?

[2016-06-02 21:14] nathanielc opened #598 "Expire groups from stats"
Specifically what this means is the the deaman's switch won't alert indefinitely for truly dead groups.

Relevant discussion https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/influxdb/RezJplJdxU8/j8PFLd94DgAJ

[2016-06-03 01:56] mingraham commented on #580
Oh exciting. I went a different route, though I may come back to this and will respond here with my results if I do.

[2016-06-03 01:56] #580 closed

[2016-06-03 03:38] qianlnk opened #601 "alert:events sent"
how can i set events are sent to handlers if the alert is in a state other than 'OK' only? when the state change, I don't need alert.

[2016-06-03 09:21] wunzeco opened #602 "Kapacitor fails to define task with email "to" property"
I am unable to define a task that sends out email alert to a specific email address when CRITICAL is breached.

Here are details of my host:

**Operating System:** Ubuntu 14.04 (64-bit)
**Kapacitor version:**  Kapacitor 0.13.0 (git: master ce28f6dced073e473b44f592517fa6c4d05b5e65)
**Install source:**   Pre-built package

I was following online documentation at https://docs.influxdata.com/kapacitor

[2016-06-03 10:37] jdursel opened #603 "Is there a kind of "If/else" available in "eval" nodes?"
Hello,

I would like to do something like if/else to store a state in a new output measurement.

data
   |eval(lambda: if "value" gt 18 then 1 else 0).as("active")

Is it possible?
Thank you
John.

Kapacitor "0.12"

[2016-06-03 12:40] yosiat commented on #603
@jdursel I think you can do something like this:
[code]

Then active will be boolean.

[2016-06-03 13:35] lpalm commented on #539
I was under the impression that for a batch with zero points, no window was emitted, so that we could miss alerts. E.g. Let's say we want to alert if the count goes above 5 and we have the following sequence of counts at each batch evaluation:

0 // No window emitted, OK
3 // Window emitted, below threshold, OK
6 // Above threshold, CRITICAL -> alert
0 // No window emitted, CRITICAL still, but no

[2016-06-03 15:08] nathanielc commented on #603
And if you want to use and int type instead of boolean just convert it:

[code]

Which will output a 1 or 0 accordingly.

[2016-06-03 15:15] #416 closed

[2016-06-03 15:57] nathanielc commented on #539
@lpalm  Yes, you are correct. The stats node will emit the 0 and resolve the alert so that it will trigger a critical a second time.

Although you will run into a second problem, which is that the `emitted` value is the number of windows emitted not the number of points in the window. I have debated the usefulness of this and I think its time to change the emitted count for batch edges to be the n

[2016-06-03 16:00] lpalm commented on #539
Much appreciated. Feel free to close this if you plan on letting me know in a different way. All my questions here are answered.

[2016-06-03 16:10] nathanielc commented on #602
@wunzeco Thanks for the detailed report. This looks like a bug, I'll let you know what I find out.

[2016-06-03 16:21] nathanielc commented on #539
@lpalm  Thanks, see #605 for info on how the StatsNode will count batches. In short is being changed to be by number of points not number of  batches.

[2016-06-03 16:21] #539 closed

[2016-06-03 16:23] nathanielc commented on #598
This is related to the work being done here #605

[2016-06-03 18:17] mingraham opened #607 "Email Alerts Not Working From Dockerized Kapacitor"
Hi,

As the last piece of a large project I am working on, I need to get email alerts from a TICKscript working, where the TICKscript is running inside a Dockerized container with Kapacitor.

In the `docker-compose.yml` file, I have the following for the Kapacitor service:

[code]

I have the "to" field specified in the alert as `.email('<valid_email_address>')`. I am also alerting to Slack in thi

[2016-06-03 18:22] nathanielc commented on #607
Looks like there is a bug with defining the `to` field https://github.com/influxdata/kapacitor/issues/602

As a work around for now you can define the to field in configuration using env vars but that won't work if the to field need to change per task.

[2016-06-03 18:23] mingraham commented on #607
I had also tried `KAPACITOR_SMTP_TO_0: <valid_email_address>` previously, is this what you are referring to?

[2016-06-03 18:23] nathanielc commented on #607
Yes

[2016-06-03 18:30] mingraham commented on #607
That did not work either. I exposed port 25 thinking it needed to access the host's port 25, and then I changed the host from `localhost` to `kapacitor`. Are there any red flags in these steps?

[2016-06-03 18:33] nathanielc opened #609 "Add test for SMTP services and Email Alert handler"
Anyone know a good Go SMTP mock server that is easy to use for testing?

[2016-06-03 19:56] #602 closed

[2016-06-03 22:58] nathanielc commented on #601
Are you looking for `.stateChangesOnly`? https://docs.influxdata.com/kapacitor/v0.13/nodes/alert_node/#statechangesonly

[2016-06-03 22:59] #585 closed

[2016-06-03 22:59] #583 closed

[2016-06-03 23:01] nathanielc commented on #508
@bogdanveres There isn't a way to do that, but I think it would be useful. I am going to create a new issue to track that and close this one.

[2016-06-03 23:01] #508 closed

[2016-06-03 23:02] nathanielc opened #612 "Get unix timestamp from `time` var for alert messages."
The notification contains a link to a Grafana dashboard. Is there a way to add the timestamps to a link?

i.e.

http://192.168.1.10:3000/dashboard/db/device_1_live?from=1462448901244&to=1462452501244

My message now:

.message('Cycle failed. Current cycle {{ index .Fields "Cycle" }}. Total cycles failed: {{ index .Fields "TestFailed" }}. Cycle failed on device Device_1. <http://192.168.1.10:3000/d

[2016-06-03 23:03] #541 closed

[2016-06-03 23:04] #530 closed

[2016-06-03 23:05] nathanielc commented on #527
@jdursel  A timeout argument has been added to the `.stateChangesOnly` property that should do what you want.

https://docs.influxdata.com/kapacitor/v0.13/nodes/alert_node/#statechangesonly

[2016-06-03 23:05] #527 closed

[2016-06-04 14:54] gargooza opened #613 "PATCH won't change task id"
v0.13

I'm trying to change the name of a task. The API docs say "If a task already exists then use the PATCH method to modify any property of the task." The task id is listed as a property so I had hoped I could change the name of a task by issuing a PATCH with a new id. Even though the API replies with a 204, the task name is not actually changed.

For example, if I try to change my task name fr

[2016-06-04 15:20] melor opened #614 "alerts: threshold values for lowering alert levels"
## Currently

Alert is generated at every alert level change when going up info -> warn -> critical and when coming down critical -> warn -> info -> ok.

## Problem

When monitoring for example free disk space level, the value often hovers both below and above the threshold values, causing e.g. a warn -> ok -> warn -> ok -> warn ... cycle. Flapping() percentages cause delays and are not optimal fo

[2016-06-06 11:25] jsvisa opened #615 "derivate returned "cannot perform derivative elapsed time was 0""
I'm using telegraf to record netstat info to influxdb, and have a tick to calculate the net speed of traffic like below:

[code]

The kapacitord prints the error log:

[code]

Seems the Kapacitor received the same points in one stream. And I add some more detail message inside [kapacitor/derivative.go at master · influxdata/kapacitor](https://github.com/influxdata/kapacitor/blob/master/derivative.

[2016-06-06 14:13] freeseacher opened #616 "lots of errors "no field or tag exists for used_percent""
Hi!

I got minor problem with kapacitor 0.13 deployed as docker container.
the error is
[code]
i got several of this at one second.

i have only one tick script
[code]
as far as i can see it looks good and loads without any errors.
i have only one data source. that is influxdb 0.13.
despite of error alarms are successfully created and closed. But there are too many of them in logs.

[2016-06-06 15:07] #553 closed

[2016-06-06 16:10] #581 closed

[2016-06-06 21:01] nathanielc commented on #616
The `AlertNode` is complaining that the "used_percent" field is not set on the data points.

To make the error go away you can set a default value. For example:

[code]

[2016-06-06 21:09] nathanielc commented on #615
@jsvisa Not, sure. Can you add a `|log()` before the derivative so we can see what data is being passed into the derivative function?

On a side note, derivatives are not computed across window boundaries so you end up dropping one point per window. If you want a more continuous derivative move the windowing step to after the derivative step.

[2016-06-06 21:39] #613 closed

[2016-06-06 21:41] freeseacher commented on #616
Tnx for advice.

Do i need to set default for every field ?
I do not really understand where field is not exist. in received subscription data ?
is it temporary error ? and will be fixed in next versions ?

[2016-06-06 23:35] nathanielc commented on #616
@freeseacher There are lots of reasons why that field may not exist. I would suggest starting at the source and following it down the chain. Looks like you are using telegraf to generate the disk usage data so start there.

Since you are only consuming the `used_percent` field in this script that should be the only field you need to default.

[2016-06-07 03:23] jsvisa commented on #615
@nathanielc I don't know what happened，I simplier the tick into below:

[code]

In the telegraf side, the output print out:

[code]

In the kapacitor side, the output is below:

[code]

Seems Kapacitor received the same point twice?  But this case is not always happened, after a simple statistic, about 12/17 happened.

[2016-06-07 07:33] jsvisa opened #619 "[feature request] functions to cast float size to pretty size"
I want to add a function to cast float size to human readable string.

Assume we have the function as `pretty_size`

[code]

@nathanielc any idea?

[2016-06-07 13:20] titilambert commented on #616
Hello !
I get the same behavior with kapacitor 0.13.1 and from upstream (06/06/16)
On my side, I'm using a measurement with several fields; the source of this issue seems come from this point.
It seems, kapacitor processing fields ONE BY ONE. So I got some bad alert because, `desired` fields is empty.

Here all my config and output:

My tick file:
[code]

Data in InfluxDB

g| time | available | cu

[2016-06-07 13:28] bl1nk opened #620 "Alert not resetting to ok state"
We are using the following tick file to alert on unhealthy hosts in our load balancers. Problem is that the alert does not reset if `unhealthyhostcount.maximum.count` returns to 0. We're not sure what's causing that problem, but a function like `.ok(lambda: "value" == 0)` would help here.

Is there something we're overlooking or is this behavior intended?

[code]

[2016-06-07 13:33] titilambert commented on #616
Also, with

[code]
I got only good alert

But with
[code]
I don't get any alert....

[2016-06-07 14:12] titilambert commented on #616
I got quite what I wanted with :
[code]

The last issue: I can NOT get tags value inside message/id/details ...

[2016-06-07 15:04] titilambert commented on #616
Well ! I got what I wanted with:
[code]

[2016-06-07 15:23] nathanielc commented on #619
@jsvisa Do you want the pretty version available as a field in the data or simply as part of an alert message?

[2016-06-07 15:32] titilambert commented on #616
BTW, I still get a lot of
[code]

[2016-06-07 16:12] nathanielc commented on #616
@titilambert Kapacitor does not process the fields one by one but as  whole per point.

So I am confused by your examples. Is it possible that Kapacitor is receiving different points where the available and desired fields are only ever set on one point at a time?

Based on your most recent example it looks like you want to trigger an alert if the `available` field is less than the `desired` field.

[2016-06-07 16:14] nathanielc commented on #620
@bl1nk Your script looks correct. Could you share more details about the data you are sending to Kapacitor? Also the output from a `|log()` node before the alert node would be helpful as well. The log output will be with the Kapacitor daemon logs.

[code]

[2016-06-07 16:17] nathanielc commented on #615
@jsvisa Can you share the output of `kapacitor show TASK`? Kapacitor should not be duplicating points and this would be the first I have heard of it, so I am inclined to think its something else.

[2016-06-07 17:55] wunzeco commented on #602
System details:
**Operating System:** Ubuntu 14.04 (64-bit)
**Kapacitor version:**  Kapacitor **1.0.0~beta1** (git: master c6f7db54eeccc0cced849740a53f256458259966)
**Install source:**   Pre-built package

@nathanielc
Just to confirm that I get a different error when I try to define a task as described in my first post.

[code]

Thought you might want to know.
Thanks

[2016-06-07 18:27] nathanielc commented on #602
That error is really obscure and needs to be fixed, but basically it means use single quotes on the email address string.

[2016-06-07 20:59] titilambert commented on #616
@nathanielc Thanks for your answer.

Done and Confirmed !

Your example works pretty good. But I have some questions ;)
 - How can I see that my point are not sync ? (I just know that: in my measurement some points don't have `desired` neither `available` fields. But some others have both)
 - Am I forced to use `default` node ? What about if my field can be negative ? How can I filter it ?
   Mayb

[2016-06-07 21:13] nathanielc commented on #616
The best method is to use the LogNode. It will log the points directly as they are received. Something like this will log them before any processing is done so you can debug the issue.
[code]

At the moment yes. What do you want to do with points that have no field? Drop them? The EvalNode will drop points with missing fields and it has a `.quite` property to make it not log errors for missing fie

[2016-06-07 21:16] titilambert commented on #616
@nathanielc That's perfect ! I prefer the `eval` method it could be use on all data :)
Thanks !

[2016-06-07 21:19] #616 closed

[2016-06-07 21:29] aaronknister opened #622 "error using non_negative_derivative in batch query"
When I try to use non_negative_derivative in a batch query I get an error that I need to specify the group by interval even though it looks to me like I did. Here's my TICK script:

    var read_stats = batch
        |query('''SELECT non_negative_derivative(last("bytes"), 1s) as
    bytes FROM "gpfs"."default"."read_stats" where fs = 'dmd' ''')
        .period(10s)
        .every(10s)
        .gro

[2016-06-07 21:42] nathanielc commented on #622
@aaronknister Thanks for the report. As a work around you can add in the needed GROUP BY to the query and it will be overwritten by the `.groupBy` property

[code]

@jsternberg Is there a way to parse a query without validating it? What's going on here is that Kapacitor wants to parse the supplied query and then modify the AST as per the specified options like `.groupBy(time(10s), *)` but since th

[2016-06-07 21:44] jsternberg commented on #622
I've wanted to separate the parsing from the validation, but I haven't had time to work on it. If you want to start the work, I can review it when you're done.

[2016-06-07 21:46] nathanielc commented on #622
@jsternberg That was me volunteering you, not the other way around ;)

OK, I'll see what I can do. Since there is a workaround (although ugly and confusing) I may not get to this for a bit since its represent a lot of work.

[2016-06-08 02:55] jsvisa commented on #615
@nathanielc Thanks for your reply, the tick is no special, the `show` output is below:

[code]

[2016-06-08 02:57] jsvisa commented on #615
Is it any possible for  Kapacitor to throw the same point back to `stream`, then it received the same point twice or any more?

[2016-06-08 03:00] jsvisa commented on #619
@nathanielc for me, the first is better, and the second is sufficient by now. In your opion, which one is useful?

[2016-06-08 07:30] jdursel commented on #603
Hello,
Thank you for your answers. Unfortunately, this doesn't work.
The first one gives : expression returned unexpected type bool
The second one gives : error calling int: cannot convert bool to integer
I didn't try with float(), but i don't expect it to work better :-)

It is probably due to the version of kapacitor 0.12

[2016-06-08 07:40] jdursel commented on #603
I think it is the same kind of issue as : https://github.com/influxdata/kapacitor/issues/501
Kr

[2016-06-08 08:02] jdursel commented on #527
Thank you, it will greatly simplify the script :-)
Have a nice day.

[2016-06-08 08:44] wunzeco commented on #602
I can confirm using single quotes worked. Thank you

[2016-06-08 10:27] qianlnk commented on #601
No, I don't want message be sent when state change, but it always send message when state return to 'OK'.

[2016-06-08 13:47] nathanielc commented on #603
Correct the suggested solutions require 0.13 or greater. Also #501 should
be closed, as it was already implemented in 0.13.

On Wed, Jun 8, 2016, 1:41 AM jdursel <notifications@github.com> wrote:

--
Nathaniel Cook
Kapacitor Lead
https://influxdata.com

[2016-06-08 14:40] #501 closed

[2016-06-08 14:40] #603 closed

[2016-06-08 14:42] nathanielc commented on #601
@qianlnk Can you provide an example TICKscript and data that demonstrates what you are expecting?

[2016-06-08 14:59] nathanielc commented on #619
The first is more useful. Should be a simple addition. One need only add the function to `tick/stateful/functions.go` Kapacitor already makes use of the 	"github.com/dustin/go-humanize" package so it only a matter of connecting it all together.

[2016-06-08 15:01] jsvisa commented on #619
I'll start the task later, and send a PR.

[2016-06-08 17:21] #526 closed

[2016-06-08 17:24] nathanielc opened #624 "Support Group By fields"
Kapacitor only allows you to group by tag values. It seems useful to enable Kapacitor to be able to group by fields. This will introduce the potential for high cardinality issues but after #610 we will have a solution to help relieve that pressure.

Also this fix should probably incorporate a fix for #466

[2016-06-08 17:27] nathanielc opened #625 "IP Geotagging"
Add the ability to add fields or tags to data for is geo location based on IP.

[2016-06-08 21:08] sslupsky commented on #564
Hi Nathanial,

Apologies, I was traveling out of country for several weeks and just now getting back to this.

I can understand the “emitted” versus “collected” will correct the issue the the details output.

However, I do not understand how this will change the operation of the deadman?  It seems that your suggestions will not actually stop the deadman from incorrectly firing?

[2016-06-08 21:34] nathanielc commented on #564
@sslupsky Can you share the output of the `kapacitor show` command for your task after it has fired a few false positives?

I few other issues have been filed about false positives from the deadman switch but so far I have been unable to reproduce any of them, so any specific details you can provide would be nice. I want to get to the bottom of this.

[2016-06-08 21:56] gargooza opened #626 "PATCHing task id stops execution"
1.0.0~beta1 (git: master c6f7db54eeccc0cced849740a53f256458259966)

When I change the id for a task that is enabled and executing the status remains enabled, but the execution state becomes false. Thanks to your solution to https://github.com/influxdata/kapacitor/issues/613 I can at least change the name successfully, but now my newly named task stops executing. I can successfully PATCH some task

[2016-06-09 07:24] ljagiello opened #627 "[1.0.0~beta1] .Time returns different values"
Kapacitor: 1.0.0~beta1-1 (official deb package)
OS: Ubuntu 14.04 LTS

I was playing with `holtWinters` and I've noticed weird behaviour of `.Time`. It returns different values depends on how it was triggered.

TICK file (almost like example):
[code]

When I run:
[code]
Result is:
[code]
and that is correct (it's future time).

When kapacitor triggers task result is:
[code]
This is current time whe

[2016-06-09 09:27] theist opened #628 "kapacitor config doesn't work without prevoius config in beta"
OS ubuntu 16.04 64 bits
kapacitor kapacitor_1.0.0~beta1_amd64 deb package

steps to reproduce:

    wget https://dl.influxdata.com/kapacitor/releases/kapacitor_1.0.0~beta1_amd64.de
    dpkg -i kapacitor_1.0.0~beta1_amd64.deb
    mv /etc/kapacitor/kapacitor.conf /etc/kapacitor/kapacitor.conf.dpkg-old
    kapacitord config > kapacitor.generated.conf

    config: must configure valid data dir. To gen

[2016-06-09 14:35] sslupsky commented on #564
@nathanielc Ok.  I will do so.  I made the change to the "emitted" as per your suggesting and restarted the deadman yesterday.  I should start seeing the emails later today or tomorrow.

[2016-06-09 15:32] bbczeuz commented on #628
Try renaming your current config (in /etc/kapacitor/) and then regenerating it.

[2016-06-09 15:46] nathanielc commented on #628
@theist You are correct that the existence of an existing config should not matter when generating a new default config.

I copy pasted your steps in a fresh ubuntu install and was able to successfully create a default config. Could something else be going on?

[2016-06-09 21:26] theist commented on #628
Yeah! @nathanielc You are right ... moving / creating files I created the kapacitor.conf file empty. It seems that the unix stdout redirection creates the file before kapacitor reads it an it fails when there's an empty file and not if there's no file, and this can happen or not depends on events speed.

look (inside a docker container, ubuntu 14.04, kapacitor beta 1.0.0)

[code]

So it seems that

[2016-06-09 21:51] mingraham opened #631 "Two Lambdas in Eval Node Not Retaining Fields"
Hello,

I have been debugging an issue where a message alerted to my Slack channel from Kapacitor v0.13.1 looks like
[code]
whereas it previously was working with a message like
[code]

My TICKscript looks like the following:
[code]

I cannot seem to figure out what went wrong here, because I do not remember changing the syntax.

[2016-06-09 22:25] mingraham commented on #631
After further debugging, it seems that I am doing something wrong with using two lambdas in one `eval` node. When I split that logic into two `eval` nodes, I seem to be able to retain all the fields I am using/creating. Any ideas why it is no longer working? I have tried the above on both 0.13.0 and 0.13.1.

[2016-06-10 01:18] cheribral opened #633 "Example UDF python code problems"
I've been trying to work through the UDF examples on CentOS7 using python 2.7.5.  I first had to uninstall protobuf rpms and install the package with pip.  Then I had to comment out all the syntax='proto3' lines in udf_pb2.py.  That got it past python's complaints, but kapacitor is failing to start with this error on the moving average example:
"failed to load process info for "pyavg": error proce

[2016-06-10 09:26] bl1nk commented on #620
We pull these metrics from cloudwatch and feed them into influxdb via some python script we put together. I just found out that kapacitor does not log any state changes if the value drops to 0. That means, that null-values just don't exist in influxdb.

I'd use `fill(0)` in kapacitor, but after reading the documentation this seems to be possible on joins only. Is there a way to work around that pr

[2016-06-10 14:28] gargooza opened #634 "Progress status of live replays doesn't change between 0 and 1"
1.0.0~beta1 (git: master c6f7db54eeccc0cced849740a53f256458259966)

If I start a live replay and then do periodic GET requests to the /kapacitor/v1/replays/REPLAY_ID endpoint the approximate progress value is always zero until the replay finishes, at which point progress value is 1.

The replay itself takes ~7 minutes to run and I make the periodic GET requests roughly every second. I'd expect tha

[2016-06-10 15:01] nathanielc commented on #634
@gargooza Updating the progress hasn't been implemented yet. The API has been fleshed out but currently only uses values of 0 or 1. See #506 for details.

[2016-06-10 15:01] nathanielc commented on #634
Closing as dup of #506

[2016-06-10 15:01] #634 closed

[2016-06-10 16:21] nathanielc commented on #631
@mingraham I have fixed the issue #635. This was a definite regression and tests have been added to prevent further regressions.

[2016-06-10 16:29] mingraham commented on #631
Ok, thank you @nathanielc. Is the updated code in the nightly build?

[2016-06-10 16:48] mingraham commented on #631
Also, what build is the last stable build without this bug in it? I am taking the TICKscript I am referencing into production today, and would like to use stable builds.

[2016-06-10 16:57] #631 closed

[2016-06-10 17:09] nathanielc commented on #631
Its not in the nightly build yet.

I believe you would have to go back to v0.12 to avoid this bug.

FWIW I will be cutting 1.0.0-beta2 early next week with this fix.

[2016-06-10 17:18] mingraham commented on #631
Ok, thanks for the quick work, much appreciated!

[2016-06-10 17:26] nathanielc commented on #628
@theist You are correct bash will truncate a file before output is redirected there. So specifically running `kapacitord config > /etc/kapacitor/kapacitor.conf` will cause the error since the config is truncated first. Which is confusing.

I think we should change the `kapacitord config` command to behave like the `kapacitord run` command where the config is either explicitly set or defaults are u

[2016-06-10 17:41] mingraham commented on #631
@nathanielc I actually am not able to find a version of Kapacitor that is 0.12. Where should I download this from?

[2016-06-10 17:57] #628 closed

[2016-06-10 19:06] #626 closed

[2016-06-10 19:53] nathanielc commented on #633
@cheribral Kapacitor requires that you use version 3.0.0-beta-2 of the protocol buffer libs.

See `install-deps.sh` for a script which can install these deps from source since packages are not widely available yet.

[2016-06-10 19:56] nathanielc commented on #627
@ljagiello When using holt-winters it may return less data then asked if the prediction algorithm becomes unstable. This might be what you are seeing.

 Can you add a `|log()` after the holtWinters call to see what data its returning?
Then we can confirm if the times themselves are changing or if less than expected data is being returned.

[2016-06-10 20:01] nathanielc commented on #620
@bl1nk There is a `|default()` node which can fill missing fields

[code]

But it will only do so if the point itself exists but the field is missing.

If the case is that when the count is 0 a point is not sent to Kapacitor then you would need to use something like the `|deadman` switch in order to detect that case.

[2016-06-10 20:11] ljagiello commented on #627
@nathanielc quick question where I should see result of that `|log()`?

[2016-06-10 21:09] ljagiello commented on #627
That's DOT when it's triggered by `kapacitord` and `Time` is wrong
[code]

[2016-06-10 22:02] nathanielc commented on #627
@ljagiello  The output of `|log()` is with the Kapacitor daemon logs typically STDERR or /var/log/kapacitor/kapacitor.log.

[2016-06-10 22:22] ljagiello commented on #627
Broken result:
[code]
Good result:
[code]

[2016-06-13 09:12] bl1nk commented on #620
@nathanielc I don't think a point is sent to Kapacitor. I'd need a reverse `|deadman` switch then, but I'm not sure how to do it correctly.

[2016-06-13 10:54] SKoschnicke opened #640 "Mistake in 0.13 documentation for deadman"
I think there is an error in the comment of the second example for [the deadman function](https://docs.influxdata.com/kapacitor/v0.13/nodes/alert_node/#deadman):

    var data = stream
        |from()...
    // Trigger critical alert if the throughput drops below 100 points per 1s and checked every 10s.
    data
        |deadman(100.0, 10s)
            .slack()
            .channel('#dead_tasks')