[2016-09-12 19:12] octalthorpe commented on #885
Will do.

[2016-09-12 19:37] octalthorpe opened #894 "Enhancement: Exposing TICK Vars to Alert template expansion"
Currently there is no way to access TICK variable from within a alert template, so pre expansion needs to be done.  As an example the following will not work as 'host_count_warn' and 'host_count_critical' are not present in the template expansion variable scope.
[code]

The current solution is to pre-expanded using the "string" function the variable before the template is executed, i.e.
[code]

It

[2016-09-13 01:56] ygtzf commented on #891
@nathanielc

 I'm so sorry for my mistake,  my command is not correct, my command is
**"kapacitor define {task name} {tick script name}"**, but it has no error log.

Also, when I type command **"kapacitor enable {task name}"** , if the task name
is not exist, kapacitor have no error log.

Once again apologize for my mistake.

Thanks!

[2016-09-13 03:51] csbond commented on #888
@nathanielc  I don't know Telegraf can send the data directyle to Kapacitor , i think i am sending it InfluxDB and then relying on subscritions to forword the data.

Here is my config file:
Telegraf config:
[telegraf-conf.docx](https://github.com/influxdata/kapacitor/files/468745/telegraf-conf.docx)
Kapacitor config file:
[kapacitor-conf.docx](https://github.com/influxdata/kapacitor/files/468769/k

[2016-09-13 06:25] Abhinavm8 opened #896 "Evaluate a Memory usage in Tick Script"
Hi @nathanielc

I want to evaluate a memory usage of given node such that (x) . and that value of (x) comes in  int type like  ie 2345678234 . using the eval with humanBytes function i can parse into normal human readable format but when i want to compare these value with my threshold value it is saying

{{ error evaluating expression for level CRITICAL: mismatched type to binary operator. got str

[2016-09-13 17:17] phemmer opened #897 "join node emits incorrect data when script disabled"
While trying to come up with a solution for https://groups.google.com/forum/#!topic/influxdb/sPWnPkr8pxU I noticed that when a script is disabled, a `join` node can emit incorrect data. For example:

[code]

when the above script is run, and fed data, and then disabled, the following is the result:
[code]

Notice that last line, how it has `crit.emitted`. This field shouldn't exist. I don't know w

[2016-09-13 17:20] Daxda commented on #891
@nathanielc Here's how I proceed.

This is the example tick script I want to define and enable.
[code]

I define the tick script with `kapacitor define test_script -tick test.tick -dbrp "db_x.autogen" -type stream`
kapacitor show test_script yields:

[code]

After that I modify the tick script by inverting the boolean comparison to `        .where(lambda: "http_response_code" == 200)`

Then I relo

[2016-09-13 18:09] phemmer opened #898 "Allow window() to include latest data point"
It would be really useful if `window()` could emit the latest data point instead of all but the latest. The use case is wanting to obtain the last X seconds worth of data each time a new data point comes in. In this scenario we are emitting the window on every incoming data point, thus we don't need to hold back the latest data point so that we can make sure it fits inside a window.

For example,

[2016-09-13 18:52] nathanielc commented on #896
@Abhinavm8 humanBytes converts the int into a string which is no longer suitable for comparisons against your threshold.

Try something like this:
[code]

[2016-09-13 18:56] nathanielc commented on #897
@phemmer This is because when the task is disabled, all data in the tasks is flushed out before it finishes. Since the join has the `.fill(0)` option it sees points from only the warn data stream and fills in fields for the `crit` stream by coping the fields from the 'warn' stream. Fill should probably be improved to include a set of field names to fill instead of assuming the field names are the

[2016-09-13 19:00] nathanielc commented on #891
@Daxda Did you `define` the task again after modifying the file? Kapacitor stores its own copy of the TICKscript for tasks. The workflow is:

[code]

The `reload` action is a way of telling Kapacitor to stop and then start the task, such that it starts from a clean state, i.e. all counters are reset to 0 etc. The `define` action automatically reloads the task unless the `-no-reload` flag is provid

[2016-09-13 20:05] phemmer commented on #897
If all data is flushed, then it should have a value. The `crit` stream is a windowed version of the `warn` stream. Thus if the window is flushed, it should at the very least have `crit.emittedsum:1`.

[2016-09-13 20:10] nathanielc commented on #888
@csbond You are using UDP as the transport from InfluxDB to Kapacitor. Either take care to make sure your UDP buffers are large enough to avoid dropping packets (see [this](https://docs.influxdata.com/influxdb/v1.0/tools/udp/#main-nav), or switch to using HTTP for subscriptions, by setting the `subscription-protocol = "http"` in the `[[influxdb]]` section of the config.

[2016-09-13 20:14] nathanielc commented on #898
@phemmer I like your suggestion of using the `0` value for the every property. There may be some weird edge cases where this doesn't work well, but at first glance it seems like a reasonable request.

[2016-09-13 20:25] Daxda commented on #891
Aww :( I guess I misinterpreted the use of reload then.
Sorry for the confusion.

[2016-09-13 20:26] #891 closed

[2016-09-14 07:47] jsahlen opened #900 "Kapacitor receives data from InfluxDB, but task doesn't"
I've been trying to get Kapacitor alerts working, starting with the sample `cpu_alert` task, but I've run into some problems.

I already have data being written by Telegraf to an InfluxDB database called `telegraf`:

[code]

After starting `kapacitord`, Influx tells me:

[code]

And Kapacitor seems to be receiving the data from InfluxDB:

[code]

However:

[code]

Running on Debian 8, on the same

[2016-09-14 08:32] csbond commented on #888
Yes,my UDP buffers are too small,when i increase it to 8m,kapacitor can receive the full data!
Thank you.

[2016-09-14 08:32] #888 closed

[2016-09-14 10:43] TomerAmirV opened #901 "The details section of the AlertNode returns all double quotes as UTF-8 code"
I tried to create a simple alert for high cpu, and for some reason all the alert section of the AlertNode is encoded in UTF-8. Is it on purpose?
Here is my output from the log:

`{"id":"cpuStats:nil","message":"My Test Message","details":"{\u0026#34;Name\u0026#34;:\u0026#34;cpuStats\u0026#34;,\u0026#34;TaskName\u0026#34;:\u0026#34;high_cpu\u0026#34;,\u0026#34;Group\u0026#34;:\u0026#34;nil\u0026#34

[2016-09-14 14:41] rossmcdonald commented on #901
@TomerAmirV This is on purpose. From the documentation [here](https://docs.influxdata.com/kapacitor/v1.0//nodes/alert_node/#details):

You can also override what is included in the details using the `.details()` property method, or make it blank with `.details('')`.

[2016-09-14 14:41] #901 closed

[2016-09-14 15:20] andycarlsonuk opened #902 "Panic on Windows during record"
I suspect that Windows is not well supported or widely used but the binary is available so I gave it a try. Some things worked for me but not enough to create usable alerts. I've tried 0.13.0, 0.13.1 and 1.0.0 with similar results. The same things work fine on a Linux VM.

Here is one example of a panic...

E:\kapacitor-1.0.0-1>kapacitor show amdocs_cpu
ID: amdocs_cpu
Error:
Template:
Type: batch

[2016-09-14 15:40] andycarlsonuk commented on #902
The backslashes in the above text shown by GitHub are actually double backslashes in my files. I guess I should have posted four backslashes. Sorry for any confusion.

[2016-09-14 15:42] bbczeuz opened #903 "[Question] UDF Snapshot and unknwon Request MessageCase"
Hi,
What is the meaning of the SnapshotRequest? Shall my UDF send an array with the whole state information? This could be quite big (aggregating lots of data). Will Kapacitor automatically trigger a RestoreRequest upon reload?

Sometimes, my UDF I seems to receive Requests with MessageCase == MESSAGE_NOT_SET. Is this a bug in my Server/Agent/Handler, or what does this mean?

Kapacitor v1.0.0, lib

[2016-09-14 15:58] phemmer opened #904 "difference() buffers too many points"
[code]

[code]

Notice how the first `log4` line comes through after the 3rd `log2` line, meaning the `difference()` node has received 3 data points. And the value it emits is the result of the difference of the first 2 points.

This is with kapacitor build from eccff59

[2016-09-14 16:27] nathanielc commented on #900
The retention policy is different. The task is expecting telegraf.default while Kapacitor is receiving telegraf.autogen.

[2016-09-14 16:32] nathanielc commented on #903
In reply to a SnapshotRequest your UDF can return what ever data it wishes to preserve. Yes, the data will be restored when the UDF is reloaded. This data is opaque to Kapacitor.

This is the first time it has been reported. Could you share more details about when this occurs? Details about the previous message received or any logs from the Kapacitor daemon would be helpful.

[2016-09-15 07:21] jsahlen commented on #900
Aha. Somehow I assumed that `default` would mean the database's configured default RP. I feel stupid that I didn't even try changing it. Working perfectly now – thanks so much!

[2016-09-15 07:21] #900 closed

[2016-09-15 08:46] gavinzhou commented on #824
I try  tutorial
https://docs.influxdata.com/kapacitor/v1.0/introduction/getting_started/

size is 0B

[2016-09-15 11:03] Abhinavm8 commented on #896
thanks for your reply @nathanielc
It did work. One more concern is that it is giving the data in GB . what if we want that   data to be represented in MB .?
Or if  we want to measure the metrics for Disk I/O they should be in wps or rps ?

[2016-09-15 15:36] bbczeuz commented on #903
MESSAGE_NOT_SET: It probably was a bug in my code. I'm using unix sockets for communication.
It typically happened to the message after I received one or two 313B long kPoint messages (broken msgs were 101B long, starting with 0x5f 0x73 0x74 0x65... or 11B-16B long, starting with 0x75 0x73 0x61 0x67 0x65 0x5f...

Now I increased buffer space and it works fine (buffer_size was 1024B, messages were

[2016-09-15 15:36] #903 closed

[2016-09-15 15:55] nathanielc commented on #903
@bbczeuz Thanks for digging in. After you get the C++ code working if your are willing we'd love to take a look at it and maybe adopt it as the C++ handler implementation in Kapacitor.

[2016-09-15 16:00] nathanielc commented on #896
@Abhinavm8 The `humanBytes` function tries to keep the number of digits that you have to read small. If you want a consistent representation then its not hard to do yourself.

[code]

[2016-09-15 17:22] souravTT opened #907 "Batch query is not join some times (bug in tolerance)"
// This is my script
var today_trips = batch
    |query('''
            SELECT count(count) as count
            FROM "product"."default".leads
            ''')
        .period(24h)
        .cron('28 18 * * * *')
    |log()

var yesterday_trips = batch
    |query('''
            SELECT count(count) as count
            FROM "product"."default".leads
            WHERE "time" < now() - 1d

[2016-09-15 19:25] octalthorpe opened #908 "Task internal alert state resets on task update"
If I have a predefined task, and it has been running and falls into an alert state I can see in a show of the task that the alert has fired, and we are all good.   See alert14.
[code]
Lets say for argument sake that the values I am using  in the lambda comparisons are not quite tuned properly, so I need to bump up a threshold, I regenerate my tickscipt since I have variables that set thresholds, a

[2016-09-15 19:41] octalthorpe commented on #908
Logs from kapacitor itself, closing and finishing that task on the PATCH call from kapacitor util during my update of the tickscript.

[code]

[2016-09-15 20:13] nathanielc commented on #908
@octalthorpe This is expected behavior. The task state is not preserved during an update.

There have been a few proposals for how to deal with this issue, see #744

We are currently in the process of improving the alerting system and the snapshot system which will enable state to be preserved see #884  and #905

[2016-09-15 21:06] bbczeuz commented on #903
@nathanielc Chances are good, that I'll open a PR for the C++ implementation. It's still very alpha like, WIP.

[2016-09-15 21:26] seesiva opened #910 "Capturing start and stop time of events"
I'm having a scenario where we are capturing the start event and stop event continuously. Where start is considered as value 1 and stop is considered as value 0. We would  like to record one start and one stop as a combined columns to determine the time elapsed between these two events using Kapacitor with stream. Any pointers which would help.

[2016-09-15 21:54] jayannah opened #911 "Kapacitor config to support multiple InfluxDB config"
Influx Config:

sender ---> InfluxRelay  (hostname: influxwrite) --> Multiple InfluxDBs (for HA)
Reader --> LoadBalancer (hostname: influxread)  --> one of the InfluxDB

So for seding data to InfluxDB, we use http://influxwrite:8086 (replay server) & for reading the data from InfluxDB, we use http://influxread:8086

Requirement: Use Kapacitor to read data, do stats and transformation, send back th

[2016-09-15 22:38] seesiva commented on #910
The problem I'm trying to solve is similar to this https://github.com/influxdata/kapacitor/issues/643

[2016-09-15 22:43] seesiva commented on #643
Can this help to build a counter ? Example: One transition from ON to OFF where keep on adding the count as+1 also determining the time elapsed between ON and OFF states.

[2016-09-16 11:32] octalthorpe commented on #908
Great, I will wait on that behaviour then.  Thanks.

[2016-09-16 11:32] #908 closed

[2016-09-16 12:51] alparslanuysal opened #912 "Unreadable characters in alert log file"
Kapacitor version:  1.0

This is my template;
var measurement string

var where_filter = lambda: TRUE

var field string

var crit lambda

stream
    |from()
	.measurement(measurement)
	.where(where_filter)
    |alert()
	.crit(crit)
	.stateChangesOnly()
	.idField(field)
	.levelField(field)
	.log('/home/alparslan/template_alerts.log')
	.mode(0644)

This is my json file;

{
    "measurement": {"type"

[2016-09-16 14:25] mdamir commented on #781
@nathanielc Where can I get list of all env variables defined in the kapacitor.conf file. I want to be able to override these config values through ENVs. Specifically, I am interested in the influx db endpoints.

[2016-09-16 14:50] rubycut opened #913 "option to fill up window"
As it currently works in kapacitor 1.0.0

|window().period(300s).every(60s)

This will emit as soon as 60 seconds passes. In other words, period is not honored.

While every(60) it seems logical to send every 60 seconds, this creates many fake alerts immediately after task is loaded (period didn't fill up yet).

So, there should be option fill() which should not emit anything until first period pa

[2016-09-16 14:56] beckettsean commented on #794
1.0 final is out with images available.

[2016-09-16 14:56] #794 closed

[2016-09-16 14:58] rossmcdonald commented on #912
@alparslanuysal Are you referring to the encoding in the `details` key (`\u0026#34`, etc.)? If so, please see my comment [here](https://github.com/influxdata/kapacitor/issues/901#issuecomment-247035340).

[2016-09-16 14:58] beckettsean commented on #277
@nathanielc how do you feel about closing this in favor of the docs repo issue I just opened?

[2016-09-16 15:07] rossmcdonald commented on #911
The double brackets in the configuration (`[[influxdb]]`, for example) means it can be specified multiple times. So to use Kapacitor with multiple InfluxDB instances, you'll need to create multiple `[[influxdb]]` sections. For example:

[code]

Note:
* The different `name` values
* The `read` InfluxDB instance is set to `default = true`, so it will be the default query endpoint
* The `write` Influ

[2016-09-16 15:07] #911 closed

[2016-09-16 15:19] nathanielc commented on #913
@rubycut Thanks for the suggestion.

[2016-09-16 15:22] nathanielc commented on #781
@mdamir All configu options can be overridden using the env vars.

The env var name should be KAPACIOTR_{SECTION_NAME}_{OPTION_NAME}.
Here are the relevant docs for InfluxDB but the same pattern/logic holds for Kapacitor https://docs.influxdata.com/influxdb/v1.0/administration/config/#environment-variables

We don't have an enumeration of all ENV vars for Kapacitor at the moment.

[2016-09-16 15:23] #912 closed

[2016-09-16 15:26] nathanielc commented on #910
@seesiva Yes, #643 will enable start event stop event detection.

[2016-09-16 15:26] #910 closed

[2016-09-16 15:27] nathanielc commented on #903
@bbczeuz Awesome! Excited to see it.

[2016-09-16 15:29] nathanielc commented on #277
@beckettsean Works for me. Thanks

[2016-09-16 15:29] #277 closed

[2016-09-16 15:31] nathanielc commented on #907
This exact question was asked and answered here https://groups.google.com/forum/?pli=1#!topic/influxdb/LYo-_NSHoEc

[2016-09-16 15:31] #907 closed

[2016-09-17 07:17] stephanstapel opened #916 "Crash of Kapacitor 1.0.0 on Windows x64"
Hi,

I am more than happy that you finally provide (I know: non supported) Windows binaries.
I installed Kapacitor 1.0.0, followed the Getting Started guide.

My first simple tick script looks like this:

[code]

when doing the test run, as described in the getting started using

`kapacitor record stream -task cpu_alert -duration 20s`

I reliably get the following crash:

panic: runtime error: inv

[2016-09-18 03:27] wei-hai opened #917 "Does Kapacitor support writing alert back to influxdb directly?"
We would like to display the alert as annotation on grafana together with the data it is scanning, the only solution I can come up with is to let Kapacitor post the alert to a server and let the server parse the alert body and then inject it into influxdb.

[2016-09-18 15:02] bogdanveres opened #918 "Runing Kapacitor in docker container"
I have the following docker file:

`FROM buildpack-deps:jessie-curl`

`RUN gpg \`
    `--keyserver hkp://ha.pool.sks-keyservers.net \`
    `--recv-keys 05CE15085FC09D18E99EFB22684A14CF2582E0C5`

`ENV KAPACITOR_VERSION 1.0.0`
`RUN wget -q https://dl.influxdata.com/kapacitor/releases/kapacitor_${KAPACITOR_VERSION}_amd64.deb.asc && \`
    `wget -q https://dl.influxdata.com/kapacitor/releases/kapacito

[2016-09-18 16:42] Abhinavm8 commented on #896
thanks
 it works for me .

[2016-09-18 16:42] #896 closed

[2016-09-19 00:37] socol1 opened #919 "mysql slave alert"
I want to monitor the slave status of the MySQL ,when the state is normal, the value is 1, but not in normal state for null, I want to know the value of null, how can I judge through the script:
![image](https://cloud.githubusercontent.com/assets/18021407/18620368/cf4a394e-7e43-11e6-843b-fd362372825b.png)

The following is my script:

var crit_threshold = 1
var data = stream
        |from()

[2016-09-19 14:13] TomerAmirV opened #920 "Cross version problems"
I am trying to install and utilize kapacitor with our influxdb.
Our influxdb version is 0.13

At first I tried to use Kapacitor 1.0.0 since it says on the site that it should work with influxdb 0.13, but I could not get it to work.

Then I tried to install another influxdb version 1.0.0 to make sure it's not the kapacitor instance, and it worked.

Then I tried to install kapacitor 0.13 and tried t

[2016-09-19 15:08] nathanielc commented on #918
@bogdanveres What version of Kapacitor are you using? Based on these command it looks like you are using a really old version that didn't support docker well. Can you try updating to the latest 1.0 version?

[2016-09-19 15:09] nathanielc commented on #919
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-09-19 15:12] nathanielc commented on #920
@TomerAmirV Kapacitor and InfluxDB will only work if their major version is the same.

As for why the task is not working in version 0.13 I need more information to be able to you get to the bottom of the issue. First off the output of `kapacitor show task_name` would be the most helpful.

[2016-09-19 19:01] wei-hai commented on #917
influxDBOut() writes everything back to the database instead of the alert only. So my guess my requirement is not met.

[2016-09-19 19:50] rossmcdonald opened #922 "Expose Kapacitor hostname to tasks"
Currently there is no method for templating the Kapacitor instance's configured hostname in a task. It would be great if you could reference the Kapacitor hostname, similar to `.TaskName` for referencing the name of the task. For example:

[code]

This would make it easy to differentiate between different backend Kapacitor instances.

[2016-09-19 20:06] titilambert opened #923 "Add SNMPtrap service"
Hello !
I need to add a SNMPtrap service for alerting.
Are you open to this ?
I think about using this lib : https://godoc.org/github.com/soniah/gosnmp which is the same as telegraf.

Thanks for your answer

[2016-09-19 20:26] #838 closed

[2016-09-19 20:31] rossmcdonald commented on #917
@wei-hai Can you provide us with the TICK script, the current output, and then the output you would expect to see? Writing the alert back into InfluxDB should include all of the alert details except [the message itself](https://github.com/influxdata/kapacitor/issues/869). Adding the message didn't make it in to v1.0, but will be included in Kapacitor v1.1 and is currently in the latest nightlies.

[2016-09-19 21:48] nathanielc commented on #923
@titilambert Are you wanting to generate SNMP traps or collect existing traps?

[2016-09-19 21:53] nathanielc commented on #922
@rossmcdonald  What other things from the config would be useful in an alert message?

I'd like to add all of these at once. If there are a bunch of them maybe we place them in a nested struct like: `{{ .MachineInfo.Hostname }}`. If its only the hostname the ever seems useful then we can added it as a top level field.

[2016-09-19 22:38] titilambert commented on #923
To generate snmptraps. Does it fit with the roadmap ?

[2016-09-19 22:43] wei-hai commented on #917
batch
   |query('''
       SELECT sum(success)/sum(attempt) AS ratio
       FROM "mydb"."default"."signup"
   ''')
       .period(5m)
       .every(5m)
       .groupBy(time(1m))
   |alert()
       .id('Kapacitor alert')
       .message('signup success/attempt ratio is low, ratio={{index .Fields "ratio"}}')
       .crit(lambda: "ratio" < 0.4)
       .log('/etc/kapacitor/alert.log')
       .pagerDut

[2016-09-20 06:13] balamurugan-code opened #924 "Feature Request"
Dear Team,

Your work is awesome. I request you to add the following new feature to kapacitor.

Use case:
On insert, store specific column of a newly inserted record, in another table

Ex:

Newly inserted record in table firsttable

**firsttable**

timestamp|value|otherdata
-------------|-------|-------------
01-10-2016 10:00|50|35

On insert store this timestamp,value in second table,
ex:

**seco

[2016-09-20 07:38] TomerAmirV commented on #920
Sorry it took some time, and thanks for the response!

here is the result you asked for:

[code]

This was taken from a kapacitor 0.13 instance with influxdb 0.13

[2016-09-20 12:02] TomerAmirV commented on #920
Ok... Found my bug... Opening in a different issue

[2016-09-20 12:02] #920 closed

[2016-09-20 12:10] TomerAmirV opened #925 "Cannot connect to influxdb on non default port"
We are using influxdb and kapacitor 0.13.0

We changed the default `[http]` port int the influxdb configuration to `8118` from `8086`.
I installed kapacitor, and changed the `urls` from:
`urls = ["http://localhost:8086"]`
to:
`urls = ["http://localhost:8118"]`

When I do that, the kapacitor log does not report on any error, and it also seems like it manages to subscribe to influxdb, but when I add

[2016-09-20 12:43] Daxda opened #926 "[Enhancement - Low priority] Multiline definitions in .message aren't trimmed"
First off, I'm *aware* that `alert()`'s `.message()` isn't supposed to be used for multiline strings.

I would love to see some basic string trimming (just like in the `.details()`) for the `message()` area.
This would allow me (any of us) to remain in a certain line length limit in our editors.

To show you what I mean I use the following TICKscript as an example:
[code]

This would, if the `leve

[2016-09-20 15:09] nathanielc commented on #923
@titilambert I am only marginally familiar with how SNMP traps work but it seems like it would be similar to adding a new alert handler and service. There are many existing PRs already that do similar work.

[2016-09-20 16:00] nathanielc commented on #924
@balamurugan-code Thanks for the detailed request.

Since InfluxDB does not have native support for time fields do you plan to store the time as a string or an integer?

[2016-09-20 17:46] bogdanveres commented on #918
@nathanielc I'm using the latest version of Kapacitor (1.0.0).
Here is the output for `docker version`:

`Client:`
 `Version:      1.9.1`
 `API version:  1.21`
 `Go version:   go1.4.3`
 `Git commit:   a34a1d5`
 `Built:        Fri Nov 20 17:56:04 UTC 2015`
 `OS/Arch:      linux/amd64`

`Server:`
 `Version:      1.9.1`
` API version:  1.21`
 `Go version:   go1.4.3`
` Git commit:   a34a1d5`
 `Built:

[2016-09-20 20:51] #777 closed

[2016-09-20 21:00] nathanielc commented on #918
@bogdanveres  These snippets you provided:

-name cpu_alert \
-type stream \
-tick Alert.tick \
-dbrp SIDATA.default

and

.from().measurement('SIFEAT')
.where(lambda: "value_12" >= 65600)
.alert()
.warn(lambda: "value_12" <= 65600)
.crit(lambda: "value_12" >= 65600)
.log('/tmp/high_cpu.log')

are not Kapacitor 1.0.0 compatible, they are older syntax from version 0.10.0 and are no longer supported

[2016-09-20 21:02] nathanielc commented on #925
@TomerAmirV This should work without issue. The config you show is correct. Version 0.13 means you are using UDP ports, can you confirm that the UDP port is open on the Kapacitor host?

What is the output of `show subscriptions`?

[2016-09-20 21:19] nathanielc opened #928 "Allow configuration to be set via the API"
A user should be able to configure new alert handlers without having to restart the Kapacitor instance, this allows for external system to provide sensitive credentials to Kapacitor without having to directly manage the config file.

Some questions:

* If the config is changed via the API does the config on disk get updated? If so then the config needs to be writable by the user running the Kapaci

[2016-09-20 21:26] titilambert commented on #923
PR: #929
I'm just starting to get it working.
Need some cleanup and templatingx

[2016-09-20 22:22] #886 closed

[2016-09-21 08:58] TomerAmirV commented on #925
Thanks!
The Kapacitor and Influx are installed on the same machine, but I validated anyway, and the UDP port is open (Managed to send udp packets)

When I enter `show subscriptions`, I see that kapacitor is subscribed to all of out databases both on `udp` and `http`.

Here is an example from one of the databases

[code]

[2016-09-21 10:59] OrangeTux opened #930 "Publish Python UDF package on PyPi."
It's cumbersome to install the Kapacitor UDF for Python because its not on Python's package index.

[2016-09-21 11:45] ygtzf commented on #615
@jsvisa
I have the same issue, and I collect datas by collectd.
As @bbczeuz  advise, when I check the process of collectd, I find there are two processes.
I kill one, the kapacitor is ok.
So I think you may be the same issue. Please check carefully.

Thanks

[2016-09-21 17:04] rossmcdonald commented on #917
@wei-hai Ah, okay, the current functionality will emit every sample to InfluxDB. One way to get around this is to add a `where()` node before the `influxDBOut()` to limit what is emitted to InfluxDB. For example, updating your script to:

[code]

Will only write the value `0.3` to InfluxDB (including the id and level of the alert being triggered).

[2016-09-21 17:05] #917 closed

[2016-09-21 17:06] nathanielc opened #931 "K8s Scheduler output"
The output should be able to trigger scheduling events from Kapacitor.
The idea is that you can define autoscaling criteria based off rich application metrics in addition to system level metrics.

[2016-09-21 17:12] nathanielc commented on #930
@OrangeTux This is a good idea. If it helps we do host a tar of just the python sources which can be found here:

https://dl.influxdata.com/kapacitor/releases/python-kapacitor_udf-1.0.0.tar.gz

I don't think we publish that link anywhere though, so I'll go fix that.

[2016-09-21 22:28] ejether opened #933 "Alert per value in field of groupBy"
Is there a way to have separate alerts base on a single tick for different fields of data?

Example:

For each of 'typeNames' show, I'd like there to be an individual alert on the media of each 'typeName'  instead of an alert, in this case, based on the median 'queueSize' of *all* of the types selected?

I'd like this so I don't have to create a separate tick for each of the "typeNames" that I hav

[2016-09-22 03:33] jsvisa commented on #615
@ygtzf Thanks for your advise, but I've found it's the InfluxDB's bug.

[2016-09-22 06:38] dstreppa opened #934 "Resume alert"
I would ask if it possible to have only one resume email/log/else when more trigger alerts occur. Below an example (tag 'host' has cardinality 2). If there is an alert on both the two tag values I receive two email alerts. This should be a problem if I have hundreds/thousands of tag values, I will receive a lot of emails. It should be useful to have only one email with alerts related to all the ta

[2016-09-22 07:14] gucheen opened #936 "HTTP api docs: incorrect format and examples of dates of recordings"
OS: OS X
Kapacitor: 1.0.0
pre-built package

As written in docs, dates of recordings('start', 'stop') are RFC3339Nano formatted. However, the server-side actually accept an ISOString.

For example, the incorrect parameters:
[code]

Will get an error: `"parsing time \"\"2006-01-02T15:04:05Z07:00\"\" as \"\"2006-01-02T15:04:05Z07:00\"\": cannot parse \"07:00\"\" as \"\"\""`

And the correct paramete

[2016-09-22 07:14] OrangeTux commented on #930
@nathanielc Thanks for the link.

I also send in PR #935 which adds `protobuf` to `setup.py`.

[2016-09-22 12:00] TomerAmirV commented on #925
Ok, Apparently the problem was something else.
When I removed all the subscriptions, and the restarted Kapacitor, it started working.
When does Kapacitor remove it's subscription?
Does influxDB support multiple subscriptions?

Could it be that since influxdb failed to send a report to  an older subscription, it did not send one to the new subscription?

How can I prevent this bug from happening ag

[2016-09-22 19:39] mattyjones opened #937 "tickfmt readability changes"
I really like the use of tickfmt but I has some questions as to why specific conventions were implemented and if a PR to adjust them would be accepted.

This looks ugly to me, I conceede it is a matter of personal taste but in large tick scripts I would like to see something a little more condensed.

[code]

This preserves some of the whitespace but the variables are not spaced out with a newline.

[2016-09-22 23:49] nathanielc commented on #937
@mattyjones I like these suggested format changes. In general there is some weirdness with comments currently, just haven't had the time to clean it up.

PRs welcome :)

As for the pagerduty example based on syntax alone you can't determine the indentation, but preserving the original indentation seems like a good middle ground.

That way if you have this:

[code]

It is fixed to this:

[code]

Or

[2016-09-22 23:53] mattyjones commented on #937
See when I run `tickfmt` it does the following:

[code]

gets changed to
[code]
 I am running bleeding edge on the whole tick stack

[2016-09-23 14:31] Sovigod opened #938 ".Time returns different timezone"
Kapacitor 1.0.0 (git: master c4953cf494f6019995434a6c152496013b7b474b)
OS: Gentoo

I have a problem with the output variable `.Time`
On Critical level it is `2016-09-23 03:16:14.19193294 +0300 MSK`
On OK level it is `2016-09-23 00:09:14.191912305 +0000 UTC`

example TICK file

[code]

[2016-09-23 15:07] octalthorpe opened #939 "Deadman - False Triggers"
There seem to already be a few issues open on the deadman firing falsely.  In my case I even see times where the deadman fires indicating it received a single point, which should have meant it would have passed that check.

[code]
and in the logfile, it appears there is at least 1 point
[code]

My tick script is as follows
[code]

In other cases I see that I received 10 points in 5m, which is doub

[2016-09-23 19:07] octalthorpe commented on #939
A bit more digging and I have found that my production environment is not having this issue.  The tick scripts/tasks are generated by infrastructure so they should be identical except for the variables being used in the scripts.

I am looking at both now and the kapacitor I am having issues with is pegging out the CPU on the instance I am running on.  So I am going to dig into that a bit.

[2016-09-24 06:13] dpoke opened #940 "Alerting issues"
i am testing kapacitor v 1.0.0 with influxdb v 1.0.0

at influx - subscriptions show:

retention_policy	name						mode	destinations
autogen			kapacitor-a2s1b1dd-b66f-423f-b5b5-f9157agg89eb	ANY	[http://localhost:9092]

i verified that cpu usage idle data is getting stored at influxdb ok.

kapacitor shows the task as running:

ID                            Type      Status    Executing Databases and

[2016-09-25 19:34] jmmk commented on #940
I ran into something similar. It looks like you are using retention policy `default`, but the default retention policy is actually called `autogen`. Try using `kapacitor define ... -dbrp alert.autogen ...` to register the task.

[2016-09-26 01:06] dpoke commented on #940
Yes, that was the problem. Thank you for your response!

[2016-09-26 01:06] #940 closed

[2016-09-26 12:42] rubycut opened #941 "task updates not working"
I am updating existing tasks using PATCH httpd request, but it seems that update doesn't work properly, for example if I add new httpdOut node, it is not displayed, when fetched with browser.

Also alerts don't trigger.

I am using kapacitor 1.0.0

For now, I am just deleting tasks and recreating them again, then everything works.

[2016-09-26 16:09] mglazer opened #942 "Kapacitor subscriptions fail with InfluxDB when SSL is enabled for Kapacitor"
I'm a little unsure if I should file this in Influx or in Kapacitor, but I'll file it in Kapacitor anyways.

# Steps to reproduce

1. Enable SSL for Kapacitor
2. Enable SSL for InfluxDB
3. Create an alert which subscribes to any retention policy from InfluxDB

# What you see

In kapacitor error logs:

[code]

In Influx Error logs:

[code]

It seems the issue is in `subscriber/http.go`:

https://gi

[2016-09-26 16:54] shaunwarman opened #943 "Unable to get simple alert working"
InfluxDB version: 0.13
Kapacitor 1.0.0 (git: master c4953cf494f6019995434a6c152496013b7b474b)

InfluxDB and kapacitor running on same host.

kapacitor.conf
[code]

test.tick
[code]

[code]

[2016-09-26 18:04] nathanielc commented on #943
@shaunwarman Major versions of Kapacitor and InfluxDB must match in order to work. Either upgrade InfluxDB to 1.0 or downgrade Kapacitor.

[2016-09-26 18:04] #943 closed

[2016-09-26 18:06] nathanielc commented on #942
@mglazer You need to set the `subscription-protocol` to `https` instead of `http` in the Kapacitor configuration file.

[2016-09-26 18:07] nathanielc commented on #941
@rubycut Can you provide a simple script using curl that reproduces the issue?

[2016-09-26 18:11] nathanielc commented on #939
@octalthorpe Thanks for adding in more details. The CPU issue is interesting, there were very few changes between rc1 and the final release. Can you reliably reproduce the CPU issue or was it a one time thing?

As for the real issue at hand I'll try and take a look later this week to see if I can get to the bottom of these deadman issues.

[2016-09-26 18:16] nathanielc commented on #925
There was an `http` based subscription and you are using 0.13 which doesn't have support for `http` subcriptions. This probably means that you spun up 1.0 Kapacitor at one point and it created the `http` subscriptions. Kapacitor will clean up old subscriptions that have the same ID, but since you had two unique Kapacitor clusters IDs, the 0.13 Kapacitor didn't clean up the old http subscription si

[2016-09-26 18:17] #925 closed

[2016-09-26 18:19] nathanielc commented on #934
@dstreppa Not currently but we are working on a new alerting system that will enable this kind of behavior. See #884

[2016-09-26 18:28] #615 closed

[2016-09-26 18:32] nathanielc commented on #933
@ejether I am not clear on what you are asking. Can you share the output of `kapacitor show task` for one of your tasks?

Based on what you shared it looks like you are templating the TICKscript with some external values but I am not quite sure I follow what the final result looks like.

[2016-09-26 20:45] mglazer commented on #942
Hey Nathaniel:

Thanks for the quick response. I did that, but now I'm seeing the following:

In influx:

[code]

In kapacitor:

[code]

I'm using the exact same certificates/keys between influx, grafana, kapacitor. In kapacitor.conf I have:

[code]

(note: I've tried uncommenting the ssl- lines and commenting them, doesn't seem to do much). I'm not totally certain how the relationship between kap

[2016-09-26 21:28] nathanielc commented on #930
@rossmcdonald Are you familiar with PyPi? I have used it but not published to it yet. My guess is its not too hard.

Also is there a good place we could publish the python tarball links on our downloads site? That way we have at least some visibility to the fact that we have created a install-able tarball.

[2016-09-26 22:41] ejether commented on #933
Thanks for responding, I have since changed the Tick so the output of what your requesting would no longer make sense. Unfortunatly I didn't save the output of the previous tick either.

I'll see if I can do a little better job explaining it.

The JSON blob shown is the output to the log file in the  `.log` node in the tick. In the data values section of the json blob shown there "typeName" column

[2016-09-27 10:07] dstreppa commented on #934
Thank you @nathanielc, I will follow #884. Close this issue if you prefer.

[2016-09-27 13:32] rydeng opened #944 "can not start kapacitor service"
1. kapacitor version as follows:
$ kapacitor version
Kapacitor 1.1.0~n201608260813 (git: master b8be8acef0e2f73250141b84e232323e99ad754b)
2.kapacitor.conf:
hostname = "localhost"
data_dir = "/var/lib/kapacitor"

[http]
  bind-address = ":9092"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/kapacito

[2016-09-27 15:33] rossmcdonald commented on #944
What does `/var/log/kapacitor/kapacitord.err` look like?

[2016-09-27 17:05] rubycut opened #945 "Impossible to reload task with kapacitor cli"
Sometimes, tasks are not visible on the ```kapacitor list tasks``` command but they are visible through api.

Also kapacitor first runs GET command, then he fetches this "unexisting task", and then runs the PATCH http command, which doesn't update properly this unexisting task.

If task is not visible in the ```kapacitor lists tasks``` command, then it should be visible though api also.

As a resu

[2016-09-27 17:10] rubycut commented on #941
If task is in weird state, which means it exists in /kapacitor/v1/tasks/task_name, but it doesn't exist in /kapacitor/v1/tasks, then I can't delete it, and I can't recreate it.

[2016-09-27 17:20] rubycut commented on #941
So, kapacitor cli first executes GET request "GET /kapacitor/v1/tasks?dot-view=attributes&fields=link&limit=100&offset=0&pattern=ping&replay-id=&script-format=formatted" to see if task is present, so, since empty response is returned, it never executes DELETE request.

[2016-09-27 17:29] rubycut commented on #941
And even doing DELETE request manually with curl, I need to do it twice, it's stuck somewhere:

[code]

[2016-09-27 19:09] shaunwarman opened #946 "Simple count of fields for alert"
Influx version 1.0.0
Kapacitor version 1.0.0

Sorry for the ask. I seem to have some issues getting the correct count of statuses.

Example:
[code]

I want to get a count of all status codes, but I need to do something similar to `count("field")` Does this look correct?

Edit: worked after restart of kapd.

[2016-09-27 19:35] maxs commented on #557
Perhaps, this project helps to support raw amqp messaging https://github.com/streadway/amqp
To be more flexible it would make sense to have message properties and body format abilities.

[2016-09-27 20:50] rossmcdonald commented on #930
@nathanielc I am not, though I read through some docs and it looks relatively straightforward.

Regarding the download links, I think we should put the links somewhere in the repo or documentation in the short-term. For getting them on the Downloads page, we'll need to have a larger discussion with @toddboom.

[2016-09-28 03:08] shaunwarman commented on #946
Oddly, I'm getting some weird round numbers that don't reflect what's in grafana or queried in influx. What should have been a test of 40 returned 800. Is this stateful?

[2016-09-28 06:46] OrangeTux commented on #930
@rossmcdonald @nathanielc I'm author of several packages on PyPi. It's not hard to upload a package as a tarball. [This guide](https://packaging.python.org/distributing/) covers all aspects in length, but here a TL;DR:

* Add README to the root of the Python package
* Add `long_description` arg to `setup()` in `setup.py`.
* Add `classifiers` arg to `setup()` to `setup.py`.
* Add a file `setup.cfg`

[2016-09-28 11:13] rydeng commented on #944
@rossmcdonald There is not this file?
- -?

[2016-09-28 15:22] nathanielc commented on #946
@shaunwarman Could you provide example data that shows the issue you are having?

[2016-09-28 15:24] nathanielc commented on #941
@rubycut Thanks, I have a few ideas as to what might be happening at this point.

[2016-09-28 15:32] nathanielc commented on #933
@ejether If I understood correctly then you should be able to use an `|eval()` node to convert the field into a tag and then groupBy that tag to get separate alerts.

[2016-09-28 15:48] rossmcdonald commented on #944
Hmm, that's odd. What if you try starting the daemon manually? For example (as root):

[code]

[2016-09-28 16:21] ejether commented on #933
Great!
I'll give that a try.
Thanks

[2016-09-29 02:56] shaunwarman commented on #946
Could my expectations of `|count` be off? It should count the points which should be filtered based on `|where` correct?

Could the timing in the count be off because "Aggregation functions always use the batch time."

[2016-09-29 08:48] rubycut commented on #941
Yes, I don't see any point in updating tasks, just drop them and recreate every time.

[2016-09-29 14:47] zargex opened #948 "Can't follow the 'Getting started' tutorial"
Hi, I have some problems with Kapacitor but I don't know how to fix it. I'm only trying to do the 'Getting started' tutorial but I have problems recording the sample data to test the alert, basically it didn't record anything, in fact, it got stuck when I did `kapacitor record stream -task cpu_alert -duration 20s`

I'm using Debian Jessie and Kapacitor, Telegraf and Influxdb version `Version: 1.0.

[2016-09-29 16:12] octalthorpe commented on #939
I should be able to get to reproducing tomorrow, and update with my findings.

[2016-09-29 16:47] shaunwarman commented on #946
Thanks @nathanielc for the help..

It looks like influxDB will dedupe data upon queries, but kapacitor won't. So alerts with count could seem inflated. Will switch to a batch approach to get the dedupe benefits from influxDB.

[2016-09-29 16:47] #946 closed

[2016-09-29 21:37] zargex commented on #648
Hi, I'm having a issue like you had @bstascavage, how you can solve it? .
I'm using Telegraf, influxdb and kapacitor version 1.0

[2016-09-29 21:41] bstascavage commented on #648
I never really did.  I can only get Kapacitor to work when it is running on the same server as InfluxDB.  I can't get it to work on a remote server :(

[2016-09-29 21:48] zargex commented on #648
Sorry to hear that, but currently I'm running kapacitor and influxdb in the same machine.
I opened a new Issue (#948) because i have been trying to fix it for a few days.
If you (or @nathanielc and @rossmcdonald ) can see it, I will appreciate it.

[2016-09-29 22:24] nathanielc commented on #948
@zargex What is the output of `kapacitor stats ingress`?

[2016-09-29 23:30] zargex commented on #948
`kapacitor stats ingress`
[code]

[2016-09-30 09:10] Crapworks opened #952 "Tags are not available via .Tags"
I am evaluating the TICK stack as a cloud monitoring solution for my company and was setting up a test environment with InfluxDB, Telegraf and Kapacitor. I was using your example TICK script for cpu alertings and slightly modified it to send alerts to alerta:

[code]

This is working fine so far, except for using my tags. .Tags only consists of:
`map[host:myhostname]` but I have some more tags on

[2016-09-30 14:08] bentatham opened #953 "HipChat alert doesn't create emoticons"
If I create a message in the alert like this:
``.message('({{ index .Tags "host" }}) {{ .Level}} - cpu idle: {{ index .Fields "usage_idle" | printf "%.2f" }}%')`` doesn't work.``

Which gives, for example, a message like this:
``(avocado) OK - cpu idle: 85.41%``

The emoticons don't work.  I think this is because, as per the [hipchat docs](https://www.hipchat.com/docs/apiv2/method/send_room_notifi

[2016-09-30 14:10] bentatham commented on #953
Created [issue for Hipchat](https://jira.atlassian.com/browse/HCPUB-1771) too, just in case.

[2016-09-30 16:31] zargex commented on #948
Hi @nathanielc , finally i could resolve my problem, it was a influxdb problem.
In my config file wasn't there a `[subsciber] ` section, so influxdb couldn't sent data to kapacitor.
I added this to my file:
[code]
Thanks for all.
I'm going to close this issue right now.

[2016-09-30 16:31] #948 closed

[2016-09-30 17:09] nathanielc opened #955 "The subscription count value is incorrect in `kapacitor stats general`"

[2016-10-01 21:56] mglazer commented on #942
Dove into this a bit. This ended up being an InfluxDB issue.

See PR: https://github.com/influxdata/influxdb/pull/7392

Feel free to close this.

[2016-10-03 14:19] donnut commented on #939
I seem to encounter a similar issue. Deadman once every few days reports hosts going done rapidly one after the other. I'm using the cpu measurement too.

[2016-10-03 15:35] rossmcdonald commented on #922
@nathanielc Sorry for the delay! Hostname is the only thing I could see being useful, unless you can think of anything else.

[2016-10-03 23:16] pauldix opened #957 "Output Endpoints should have API for sending test message"
For the alerting endpoints like Slack, SMTP, PagerDuty, etc there should be an API endpoint to send a test message. That way after a user has set their configuration they can test that it works before creating a TICKscript. Just makes it simpler to troubleshoot if they create a TICKscript and then things don't work.

[2016-10-03 23:17] pauldix opened #958 "Slack settings should include icon_emoji and username options"
Just a little more customization for the Slack messages that get sent.

[2016-10-03 23:36] nikhilagrl opened #959 "InfluxDB 0.13 and Kapacitor version 1.0.0 - record in kapacitor hung"
I am using InfluxDb and Kapacitor in same EC2 instance. When i use record command after it's hung.

Please help. follow are few response for debug.

[root@ip-100-109-5-161 opt]# kapacitor stats ingress
Database                      Retention Policy              Measurement                   Points Received
_kapacitor                    autogen                       edges                         12

[2016-10-04 15:37] rossmcdonald commented on #959
Major versions of Kapacitor and InfluxDB must match in order to work. Either upgrade InfluxDB to 1.0 or downgrade Kapacitor.

[2016-10-04 15:37] #959 closed

[2016-10-04 15:39] rossmcdonald commented on #944
@rydeng Were you able to figure out what the problem was?

[2016-10-04 18:19] nathanielc commented on #942
@mglazer Thanks for the InfluxDB PR! Closing this...

[2016-10-04 18:19] #942 closed

[2016-10-04 18:26] nathanielc commented on #952
@Crapworks Since you are computing the `mean` of the data, all tags are lost unless you also group by them. Change your group by list above to include the tags you want.

[2016-10-04 19:35] vmahedia commented on #891
@nathanielc changing `reload` to update the task or  adding a new option called `update` sounds like a good option to put in.

[2016-10-05 09:07] lazywhite commented on #526
same here, why this issue is closed ? I can't find the solution

[2016-10-05 17:03] nathanielc commented on #526
@lazywhite The reason why the recording hangs is because Kapacitor is not receiving any data. There are many reasons why Kapacitor may not be receiving any data, dependent on the environment in which you are running Kapacitor. Can you post to the mailing list with the details of your situation so we can help you out?

The mailing list can be found here [influxdb@googlegroups.com](mailto:influxdb@g

[2016-10-07 17:25] RainerW opened #960 "Getting started on fresh ubuntu 16 environment not working"
I followed the getting started guide and some of the tickets here, but it allways hung up when recording.
So i tried it on a fresh install with the same result :

Installed software :
 1. install fresh ubuntu 16
 2. install influxdb_1.0.2_amd64.deb
 3. install telegraf_1.0.1_amd64.deb
 4. install kapacitor_1.0.2_amd64.deb
 5. install grafana_3.1.1-1470047149_amd64.deb (optional)
 6. restart influx

[2016-10-07 17:32] nathanielc commented on #960
The task is expecting data from telegraf.default but Kapacitor is receiving data for telegraf.autogen. Updating the task `kapacitor define cpu_alert -dbrp telegraf.autogen` should fix the issue. I'll update the getting started guide to reflect the change in retention policy name.

[2016-10-07 17:59] beckettsean commented on #960
fixed by https://github.com/influxdata/docs.influxdata.com/pull/776

[2016-10-07 17:59] #960 closed

[2016-10-09 15:04] superbool opened #961 "What the '\\u0026#34;' means in the json string."
I‘m using the latest version of Kapacitor（1.0.2）,the I got a lot of '\\u0026#34;' in the json string， like this:
[code]
what's that mean?
Thank you.

[2016-10-10 02:33] evbo commented on #894
In addition, another use case is accessing fields or tags by a variable key, for instance:

[code]

I have not seen a workaround that can accomplish this yet, other than writing individual templates for each field of interest being alerted on.

[2016-10-10 03:26] timkoopmans opened #962 "Connecting with non admin user to influxdb from kapacitor"
Hi,

Given a non admin user in influxdb:

[code]

It does not seem possible to connect to influxdb from kapacitor with this non admin user. The following error is presented:

[code]

Advice [here (Allow a non-admin user to USE DATABASE in the CLI)](https://www.influxdata.com/tldr-influxdb-tech-tips-april-21-2016/) suggests specifying a database parameter (in the CLI) to avoid the `SHOW DATABASES`

[2016-10-10 04:02] phemmer commented on #962
See also https://github.com/influxdata/influxdb/issues/4785

[2016-10-10 07:43] RainerW commented on #960
column name "Retention Policy", damn, should have realized this. Now it records, thanks.

[2016-10-10 10:57] violet-day opened #963 "question about how to calculate percent throught specific tag"
I have a measurement like this:

[code]

In this measurement,I'd like to calculate each `desc`'s percent in total.
Below is the tick

[code]

Strange thing is the `total` not match the `inner` though the same time .Here is the logs:

[code]

But if I just add `come_from` within groupBy in `total` and `inner`,it works.

Is there any way to calculate percent the `desc` tag?

[2016-10-11 02:33] superbool commented on #900
I found it today .

[2016-10-11 15:07] manojgour commented on #459
I'm facing the same issue:
When I execute curl command to post messages to my slack channel, it works fine (by setting https_proxy). But when I integrate with Kapacitor it won't work and gives the following error:
failed to send alert data to Slack: Post https://hooks.slack.com/services/######/######/####: dial tcp 54.230.196.204:443: i/o timeout

Please let me know if something else is missing he

[2016-10-11 15:44] nathanielc commented on #459
Seems that Kapacitor doesn't support HTTP proxies well. #841 is a feature request to add proxy support for the various alert handlers and external integrations for Kapacitor.

Let's consolidate this issue there.

[2016-10-11 15:44] #459 closed

[2016-10-11 15:50] nathanielc commented on #962
@90kts:  @phemmer Is correct the user with which Kapacitor connects to InfluxDB needs to be able to run:

* SHOW DATABASES
* SHOW SUBSCRIPTIONS
* CREATE/DROP  SUBSCRIPTION
* SELECT ....

If you disable subscriptions then only SELECT queries will be needed.

The management of subscriptions is considered an admin level permission.

[2016-10-11 15:58] nathanielc commented on #963
This is what the [on](https://docs.influxdata.com/kapacitor/v1.0/nodes/join_node/#on) property on the join node is for. But is currently has a bug where you need to use at least two tags to get it to work.

This TICkscript should work for you:

[code]

The join node only joins points that have the same group unless you specify the `on` property to tell it how to join across groups. In this case yo

[2016-10-11 16:17] nathanielc commented on #961
@superbool  See https://docs.influxdata.com/kapacitor/v1.0/nodes/alert_node/#details The `\u0026#34` bits are utf-8 encoded characters.

[2016-10-11 16:17] #961 closed

[2016-10-11 21:07] 90kts commented on #962
OK so I guess my issue is more around have 'write only' privs for kapacitor into influx. Doesn't seem like it's possilbe without giving the kapacitor user admin privs. Happy to close this issue if that is intended behaviour.

[2016-10-11 21:15] nathanielc commented on #962
@90kts It possible to use Kapacitor with a write only InfluxDB user. Kapacitor doesn't explicitly check permissions so if you only use the subset of features Kapacitor provides that don't require the admin priv, then a write only user should work.

Specifically you would need to:

* Setup subscriptions by hand and disable subscriptions in the Kapacitor config(this way Kapacitor doesn't try to mama

[2016-10-11 22:04] joshuajoh opened #965 "Joins not working on single row result set with large tolerance set"
I am trying to setup a TICK script to store Holt-Winters prediction for the next 90 minutes, but I want to execute and store this value every 5 minutes.  The end-goal is a real time graph of the current value and some percentage of the min/max of the holtWinters values.

Due to how the HW functions works, the time returned is always a factor of the predicted time range, so a continuous query will

[2016-10-11 22:06] 90kts commented on #962
OK great thanks, I understand now what you mean by managing subscriptions.

[2016-10-11 23:05] nathanielc commented on #965
@joshuajoh You seem to have the correct script for the most part, but some things don't make sense to me.

I think the basic problem is that the times are not aligning with the group by time boundaries. For exmaple this query will only return values with times on 90m boundaries.

[code]

Running that query every minute and updating its time bounds accordingly you are still going to get results tha

[2016-10-11 23:51] nikhilagrl commented on #959
*[root@ip-100-109-5-161 opt]#  kapacitor stats ingress*

Database                      Retention Policy              Measurement
              Points Received

coriolis-qa                   autogen
coriolis.api.v1.analytics.realm100156

*My Tick Script:*

stream

    | from().measurement('coriolis.api.v1.analytics.events.realm100')

        | where(lambda: "cpu" == 'cpu-total')

    | alert()

[2016-10-12 13:13] mquignon opened #966 "Support include directory for configuration files"
Hi!
As you did with Telegraf, it would be great to add the possibility for using an include directory for configuration. This would enable socket UDF modules individually packaged as Docker containers for example.

Something like telegraf implementation sounds perfect for this use.

kapacitor.d/module1.conf would look like:
`[udf.functions.module1]`
`    socket = "/tmp/module1.sock"`
`    timeout

[2016-10-12 14:56] joshuajoh commented on #965
Hi @nathanielc,

The 90m time bucket should "slide" along with current time.

I didn't realize the join command also performed rounding on the tolerances.  I did find an entry in the destination measurement that matches the 120m tolerance that was set.

Adding an option to influxDBOut() to adjust the time might be one possibility; however, there might be a better way to solve this that I am not se

[2016-10-12 19:51] nikhilagrl commented on #959
Hi,

Could you help i am trying to use default alert with cpu_alert script,
getting below error while using record cmd.

[root@ip-100-109-5-161 opt]# kapacitor list tasks
ID                            Type      Status    Executing Databases and
Retention Policies
coriolis-qa                   stream    disabled  false
["kapacitor_example"."autogen"]
cpu_alert                     stream    enabled

[2016-10-12 19:56] nathanielc commented on #959
@nikhilagrl Your question seems to be unrelated to the parent issue. We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-10-12 23:29] nikhilagrl opened #967 "The command kapacitor record stream -name cpu_alert -duration 20s - just hangs"
Kapacitor version - Kapacitor 1.0.2 (git: master 1011dba109bf3d83366c87873ec285c7f9140d34)
InfluxDB: 1.0.2 :  master	""	"ff307047057b7797418998a4ed709b0c0f346324"	"1.0.2"
Both installed in 1 EC2 Instance.

**kapacitor record stream -task cpu_alert -duration 20
No response - Kapacitor is hung.**

Lot of points received in Kapacitor - example below.
[root@ip-100-109-5-161 influxdb]# kapacitor stats

[2016-10-13 10:33] ConfiDev opened #968 "Run Tasks on demand with external arguments"
Our current system would receive data every few minutes, about every 15 min, once a day a big chunk ( data in 15 min granularity) and then there will be manual data insertions.
All of that data have to be downsampled to hourly and daily granularity with the addition of creating pre-calculated more or less complex statistics.

My current problem is, that I cannot create a batch tasks for either the

[2016-10-13 14:53] nathanielc commented on #967
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

A similar question was just asked, I believe you will find the answers there.

[2016-10-13 14:53] #967 closed

[2016-10-13 15:08] nathanielc commented on #968
@ConfiDev If I understand correctly you want to process a chunk of data once it arrives, but you can't schedule a tasks since the data arrival time is unknown. I think the best option for you here will be the `replay-live` feature. It allows you to replay a set of data against task defined by certain time bounds. This can be called via the API or using the kapacitor CLI tool.

For example this com

[2016-10-13 15:13] nathanielc opened #969 "Unlink Subscriptions on shutdown"
Once #928 is fixed, along with that fix will come the ability to unlink subscriptions when they are changed. It seems like a good idea initially to unlinksubscriptions on shutdown so that InfluxDB is not trying to send data to a stopped Kapacitor instance.

This will work well in more dynamic environments, since a clean shutdown Kapacitor instance will not leave any traces behind. In the case that

[2016-10-13 16:32] nathanielc commented on #958
@pauldix When you say `username` option do you mean be able to send message to a user by username or configure the username of the Kapacitor slack integration?

The former is already possible via the `channel` option, in Slack a user is just a channel with an `@` in front instead of a `#`

[2016-10-13 16:59] pauldix commented on #958
@nathanielc To set the bot so it sends as a user. See https://api.slack.com/methods/chat.postMessage

[2016-10-13 18:03] ConfiDev commented on #968
Awesome, that sounds just like what I need. Thanks for the tip.

[2016-10-13 18:13] #968 closed

[2016-10-14 17:57] nishpatwa opened #971 "E! query failed: error parsing query: derivative aggregate requires a GROUP BY interval"
Kapacitor is failing to execute query from tick script.
However the query runs perfectly from inxluxdb console.

--TICKSCRIPT--
// Dataframe
var data = batch
  |query('''SELECT derivative(mean(bytes_recv),1s)*8 as "in" FROM "telegraf"."autogen"."net" where time > now() - 10m GROUP BY time(20m),host,interface, *fill(0)''')
    .period(period)
    .every(every)

-- ERROR--
[interface_speed_alert_bat

[2016-10-14 22:25] AWinterman opened #972 "Incomplete documentation"
- There's no documentation on the meaning of the "|" character.
- The CLI has no documentation, and the help command doesn't tell the user how to specify auth credentials.

[2016-10-14 23:14] nikhilagrl opened #974 "Kapacitor - recording not found: no recording exists"
[root@ip-100-109-5-161 kapacitor]# kapacitor record stream -task high_count -duration 20s
643cf52e-859f-4dbd-a162-bea1bf899691

[root@ip-100-109-5-161 kapacitor]# kapacitor list recordings 643cf52e-859f-4dbd-a162-bea1bf899691
ID                                      Type    Status    Size      Date
643cf52e-859f-4dbd-a162-bea1bf899691    stream  finished  23 B      14 Oct 16 23:36 UTC

[root@ip-100

[2016-10-17 15:27] octalthorpe commented on #939
sorry @nathanielc I was on vacation.  I will get to reproducing this issue early this week to see if I can give your more information.

[2016-10-17 15:56] nathanielc opened #975 "Recording returning immediately from aborted edge, no data and no error"
The behavior is that running:

`kapacitor record stream ...`

returns immediately, the status of the recording is `finished` but logs show the edge was aborted and no error shows up in the logs either.

[Logs](https://github.com/influxdata/kapacitor/files/533960/CyQN1Eyf.txt)
[Stack Trace](https://github.com/influxdata/kapacitor/files/533961/DAqRwUbi.txt)

[2016-10-17 16:53] theist opened #976 "AlertNode .details in slack as attachment ??"
Enhancement.

I've been looking to the code and playing a bit with AlertNode Slack service and it seems to send only the .message to the slack as attachment "text". It would be nice to send .message as attachment "title" and .details as attachment "text".

This is because I often use the same alert node to alert several services and, to make alert informative enough in slack I need to make .messag

[2016-10-18 09:58] YKlausz opened #977 "invalid influxql func mean with field used_percent: invalid field type: <nil>"
Hi all;

Here is my script from an alerting :+1

[code]

Timeseries come from influxdb, it turn out that for my measurement 'mem' there is no value for 'used_percent' because two different daemon write in measurement 'mem' in unfluxdb so mu mean function fail .
I tried to add  .where( lambda: "used_percent'" != '' )) => it worked but no alert are triggered .
My purpose is to ignore those timeserie

[2016-10-18 13:27] pbrumm commented on #824
I had a similar issue.  I set the following setting to udp and data started to flow
subscription-protocol = "udp"

[2016-10-18 15:29] nathanielc commented on #977
Use the [DefaultNode](https://docs.influxdata.com/kapacitor/v1.0/nodes/default_node/) to set a default value before the mean operation.

[2016-10-18 16:03] YKlausz commented on #977
Thank you, now I am wondering something else:
The default value will set a value, so will this value be used in the mean function ?( I think yes)
I have found a little workaround which is to rename the incoming target measurement in order to differentiate them properly.
Before I had two different metrics with commons fields in the same measurement and now I have those metrics in two different meas

[2016-10-18 20:03] nathanielc opened #978 "Sigma Stateful function should have rolling window period"
The stateful sigma function is useful in that it compute deviations from the norm easily, but currently it doesn't support limiting the window that it tracks. Meaning it computes the moving mean, and stddev for all points seen. For it to be more useful, older values need to be forgotten via a moving window. Essentially this should look like the moving_average function but with the sigma pieces add

[2016-10-19 11:44] TomerAmirV opened #979 "Templates in InfluxDBOutNode tag"
Hi,

I am trying to use the InfluxDBOutNode to write the results of my tick script back to InfluxDB, and I would like to add a tag that indicates the task who wrote the line,
something like this:

[code]

unfortunately, this writes "{{ .TaskName }}" in the database.

Is there another way to do this?

[2016-10-19 14:12] sukantasaha commented on #824
Thank You So Much , I will try this

On Tue, Oct 18, 2016 at 6:57 PM, Pete Brumm <notifications@github.com>
wrote:

[2016-10-19 19:10] nathanielc commented on #969
This will cause data loss when the subscriptions are not presetn, it would be better to make it easier to clean up after subscriptions  via a `DROP ALL SUBSCRIPTIONS WITH NAME "aaaa"` or similar query.

[2016-10-20 11:58] igorpejic commented on #976
+1
Or please explain how you can get the data that is located in details through {{ index }}?

[2016-10-20 22:53] nathanielc commented on #979
No, there is no way to get the task name in a tag.

[2016-10-20 22:58] nathanielc commented on #976
@theist I like the suggestion, at this point we can't change the existing behavior of the slack integration. Is there another property like `text` or `title` that would work for details without changing the behavior of  .message?

@igorpejic What data are you looking to pull out of the details? It should all be available via the `index` method like you say.

[2016-10-21 03:06] nathanielc commented on #931
Closed in #964

[2016-10-21 03:06] #931 closed

[2016-10-21 12:28] maxs commented on #557
A valid rabbitmq URI should be configured per task and keep connection open. Alert node just builds up the message properties and body and publish to specific exchange.

[2016-10-21 17:08] nathanielc opened #981 "Add in memory Key/Value cache that tasks can access."
It is a common  for a task to want to be able to access non time series data. Providing a generic key value cache that tasks can access would fit many of these use cases.

A few uses cases that have come up:

 * Checking quotas/thresholds.
 * Silencing certain alerts by flagging them as in maintenance mode or the like.

Initial design seems like a key-value store that can be modified via the API a

[2016-10-21 18:42] wei-hai opened #982 "provide option to subscribe at measurement level"
## Feature Request
### Proposal:

We have a database that includes many measurement and we are only interested in specific measurement when it comes to generating alert using Kapacitor, to reduce the traffic between influxdb and kapacitor servers we would like kapacitor to subscribe to specific measurement instead of the whole database.
### Current behavior:

Kapacitor can only subscribe at databa

[2016-10-21 20:29] nathanielc opened #983 "Allow recordings to be defined via the API"
Recordings are a useful tool for validating the Kapacitor + TICKscripts are working as expected. Currently there is no way to create a recording besides creating a task an performing a recording. It would be nice if they could be created directly via the API instead of indirectly through a task.

[2016-10-21 20:30] wanaryytel opened #984 "Eval clears all variables"
Hey,
I have a small TICKscript for monitoring when the server runs out of free disk space. Looks like this:

[code]

PS. Although Github displays it weird, I don't have indentation like that in the actual script.

Problem is the commented out `|eval()` part that for some reason clears all my incoming variables and if I comment that in, no alerts are triggered since all variables are `<nil>`. Is th

[2016-10-24 13:14] jonaz commented on #814
im pretty sure cpu/usage is 0-1 Which means your limit of 3 and 4 will never be reached. Try ```select * from "cpu/usage" limit 10``` on your influxdb server to verify.

[2016-10-24 16:29] #928 closed

[2016-10-24 21:12] nathanielc commented on #984
@wanaryytel Your example looks correct. Can you share some sample data that can reproduce the error?

[2016-10-24 22:01] rolele opened #985 "Starting an empty kapacitord and registering the alerts later is fragile"
I am running kapacitor in swarm mode.
kapacitord is a running container that I start using:
[code]

This service is quite useless I have to run another service and do a trick to tell swarm that it is not a long running service and when it ends this is normal do not try to restart it (--restart-condition none):
[code]

Ok so I can include that in my ansible script so everything is fine at startup.

[2016-10-24 22:07] nathanielc commented on #985
@rolele Are you preserving the `kapacitor.db` file across restarts? If so then your alerts will be remembered and start when Kapacitor starts back up.

From the looks of it your `mounts` section is saving the specific tick file you want but not the data that Kapacitor stores. By default Kapacitor stores data in `/var/lib/kapacitor` and it should be persisted across restarts or the new instance wil

[2016-10-24 22:12] rolele commented on #985
This was not clear to me. Thanks a lot. I will try that soon.
I can close this for now.

[2016-10-24 22:12] #985 closed

[2016-10-25 08:23] wanaryytel commented on #984
@nathanielc How should that data be gathered? By recording and saving it to a file?

[2016-10-25 09:45] igorpejic commented on #976
I don't know if this is very related to the issue, but since you asked me I will answer here.

Even being able to access the values in "details" won't help me, I'm afraid.

So let me explain:
I am making a logging alerting system. I have logs in the influxdb database and I want to trigger alerts based on them. I have tried doing it with stream and it worked fine, but sending an alert for each log

[2016-10-25 10:30] schmurfy opened #987 "infludbOut .tag with variables"
I wanted to add a dynamic tag to my data but it seems I can't add expression in them:

[code]

I removed the non important parts, in that example the alarm id is built as expected but I can't manage to do the same for a tag added in the influxDBOut, is it possible ?

[2016-10-25 12:30] rolele commented on #423
@jonseymour very interesting test-case thanks.
Can you tell me how you got the query that get produced by the tick script?
I try to debug my scripts but I find it very difficult.

[2016-10-25 12:41] bfgoodrich commented on #73
I hate to ask, but any chance that someone is working on this still - or did this kind of fall by the wayside in favor over higher priorities?

[2016-10-25 15:01] nathanielc commented on #984
Sure that works well, the recording data files are stored in `/var/lib/kapacitor/replays` by default. Or just a text file with line protocol that reproduces the error would be enough. Thanks

[2016-10-25 15:04] nathanielc commented on #976
@igorpejic Makes sense, could you open a new issue with the above information so it can be tracked separately? Thanks

[2016-10-25 15:10] igorpejic opened #988 "Batch query aggregated data in message"
I am making a logging alerting system. I have logs in the influxdb database and I want to trigger alerts based on them. I have tried doing it with stream and it worked fine, but sending an alert for each log was too much for me.

Because of that I tried to make a batch alert every 10 minutes with a window of 10 minutes to check for all the logs in the database and alert on them. This is why I need

[2016-10-25 17:18] #957 closed

[2016-10-25 18:21] nathanielc opened #989 "Return updated config element in response to POST request"
It would be nice if the /config API endpoint returned the modified config in response to a POST request so that a subsequent GET request is not needed.

[2016-10-25 18:23] nathanielc opened #990 "Alert Node should validate Message/ID templates etc"
Currently if an Alert specifies an invalid template it will not be discovered until it is executed the first time. It would be better of the defining of the task validated the template first.

[2016-10-25 18:24] #958 closed

[2016-10-25 18:58] wanaryytel commented on #984
@nathanielc Is there a way to go through the .srpl file data to make sure there isn't any sensitive data in that? It seems to be binary format by default. Or another way to get the output of the recording?

[2016-10-25 19:02] nathanielc commented on #984
@wanaryytel Sure, the `.srpl` file is really just gzipped text data so you can extract it and take a look.

[2016-10-25 19:25] nathanielc opened #992 "Be able to convert a batch to a stream explicitly"
While most nodes can handle batch or stream data there are a few cases where an explicit conversion is appropriate.

1. For a UDF that can only handle a single edge type.
2. For  streaming aggregate functions, i.e. movingAverage and cumulativeSum both reset counters on batch boundaries. A user may wish to remove those boundaries explicitly.

[2016-10-25 20:38] wanaryytel commented on #984
@nathanielc
Here you go :)

[8b940579-27f7-4d90-9a91-cdf74e1ad96d.txt](https://github.com/influxdata/kapacitor/files/551740/8b940579-27f7-4d90-9a91-cdf74e1ad96d.txt)

[2016-10-25 21:45] nathanielc commented on #971
@nishpatwa The issue is that the group by time components must be specified in TICKscript.

[code]

[2016-10-25 22:38] ayebayley commented on #944
@rossmcdonald I have the same issue. I'm using a default config, on a VM.

Even when starting manually as root as you mentioned above, Kapacitor just hangs on startup, nothing after the logo and this line: 2016/10/25 22:24:29 Using configuration at: /etc/kapacitor/kapacitor.conf

Any thoughts?

[2016-10-25 22:40] #955 closed

[2016-10-25 22:41] nathanielc commented on #944
@ayebayley Startup is likely blocked trying to talk to InfluxDB. Turn on debug logging to make sure, or otherwise disable InfluxDB.

[2016-10-25 22:50] ayebayley commented on #944
@nathanielc  Here's what i pulled from /var/log/kapacitor/kapacitor.log  .... I didn't see a kapacitord.err as mentioned above

[run] 2016/10/25 22:43:06 I! Kapacitor starting, version 1.0.0, branch master, commit c4953cf4$
[run] 2016/10/25 22:43:06 I! Go version go1.6.3
[srv] 2016/10/25 22:43:06 I! Kapacitor hostname: localhost
[srv] 2016/10/25 22:43:06 I! ClusterID: e08d223f-9e55-4cb4-af77-e7c6d

[2016-10-26 10:13] rolele opened #996 "Kapacitor uses the same default port as Kafka"
Knowing the popularity of Kafka  I am wondering if it is worth changing the default port 9092 of kapacitor.

[2016-10-26 13:14] Crapworks commented on #952
Hi @nathanielc

thank! That worked!

[2016-10-26 13:14] #952 closed

[2016-10-26 13:42] Crapworks opened #997 "disk_alert_stream.tick example checks memory measurement"
Hi!

I am just going through your telegraf examples for learning purposes. The example here `kapacitor/examples/telegraf/disk/disk_alert_stream.tick` should alert on disk usage status but it is checking the memory measurement. Just for your information :)

[2016-10-26 14:27] jonaz opened #998 "support for variables in alert details?"
Im running kapacitor version 1.0.2

My trying to provide different email messaged depending on which operational environment they occur in. I thought templates would be a good way to do it.

[code]

Ive tried both ```{{GRAFANA_URL}}```
and variable concatenation with
[code]

None of them works. I not sure if im doing it wrong or if i've misunderstood the docs.

The docs only mentions:
[code]

[2016-10-26 14:42] jonaz commented on #966
Was just about to report this when i found this issue. This will also enable system configuration tools like ansible and puppet to edit just the filed needed instead of having to generate a major config file.

[2016-10-26 15:17] forestjohnsonpeoplenet opened #999 "inconsistent behaviour between influxdb subscriptions and /write endpoint"
We are using the TICK stack with the InfluxDb relay according to the diagram at https://github.com/influxdata/influxdb-relay#description

(Well technically it's the "TRIGK" stack since we are using grafana instead of chronograf :P)

We thought that the cleanest way to configure kapacitor would be to have the relays forward data to it directly, rather than having kapacitor subscribe to one of the i

[2016-10-26 15:30] forestjohnsonpeoplenet commented on #999
After a bit more googling I found this PR which fixes the issue in exactly the way I am suggesting, but on the influxdb-relay rather than on Kapacitor:

https://github.com/influxdata/influxdb-relay/pull/22/files

So, it's possible to set it at the relay. It's a little bit hard to find. Either that should be documented somewhere in the Kapacitor documentation or the same configuration option should

[2016-10-26 15:41] #997 closed

[2016-10-26 15:41] nathanielc commented on #997
@Crapworks Thanks!

[2016-10-26 19:22] nathanielc commented on #996
@rolele Thanks for the heads up. At this point we are committed to our 1.0 promise of no backwards incompatible changes, so this change will not be possible. Its simple enough to change the port via the config so it shouldn't be a large barrier in setup even if the same host is running Kafka.

[2016-10-26 19:22] #996 closed

[2016-10-26 19:26] nathanielc commented on #944
@ayebayley

This line here `[srv] 2016/10/25 22:43:06 D! opening service: *storage.Service` doesn't have a corresponded `opened` line, which means that the Kapacitor process is stuck opening that service. That service tries to open a boltdb database which might be locked. Have you checked for another running Kapacitor process anywhere? That would be my guess as per the logs you posted.

As for dis

[2016-10-26 19:28] nathanielc commented on #998
@jonaz Try this:

[code]

See https://github.com/influxdata/kapacitor/issues/894 for a similar request.

[2016-10-26 19:28] #998 closed

[2016-10-26 19:39] nathanielc commented on #999
@forestjohnsonpeoplenet I think the same option should be added to Kapacitor.

[2016-10-26 20:00] nathanielc commented on #937
@mattyjones Sorry, for the late response. My examples above are how I would like it to work, not how it currently work.

[2016-10-26 21:20] #999 closed

[2016-10-27 01:39] ayebayley commented on #944
@nathanielc  Thanks for the help so far!

So i checked the processes, only one kapacitor was showing. Restarted the VM, still the same issues. Now uninstalled kapacitor, reinstalled and the logs are looking different but still hanging in the record stream task. It appears that the necessary subscriptions are in Influx as well.

run] 2016/10/27 01:19:01 I! Kapacitor starting, version 1.0.2, branch

[2016-10-27 05:34] ayebayley commented on #944
@nathanielc i'm now recording data. Switched to udp as in #824  and everything works ok it seems. Are there any downsides to udp instead of http? Lots of people seem to be having http issues

[2016-10-27 15:05] phemmer opened #1002 "`kapacitor show` does not properly escape regexes"
If you have a task with a regex in it, when you run `kapacitor show` on the task, slashes in the regex are not properly escaped.

[code]

will output from `kapacitor show` as:
[code]

[2016-10-27 16:29] nathanielc commented on #1002
@phemmer What version are you using? This has been fixed in https://github.com/influxdata/kapacitor/commit/4604e64808f9cefff0b7f785c0bc9e01fccd05ba

[2016-10-27 16:29] #1002 closed

[2016-10-27 16:31] nathanielc commented on #944
@ayebayley UDP will drop packets so you will have to make sure you are configuring your UDP kernel settings appropriately and monitoring any dropped data.

What version are you using?

[2016-10-27 20:41] corylanou opened #1003 "Permission Issue in DEB package for log file"
The main log file `kapacitor.log` is currently assigned ownership to the `kapacitor` user.  However, the `kapacitor.err` is assigned onwership to the `root` user.  Since our other projects use `root`, we should make it consistent and use `root` for the log as well.

## Kapacitor Logs
[code]

## Influxdb logs
[code]

## Telegraf logs
[code]

[2016-10-27 20:47] nathanielc commented on #1003
The kapacitord process writes directly to its log file so the kapacitor user needs to be able to write to the file, unlike InfluxDB and Telegraf that redirect the logs via the init system.

We should probably change the ownership of both InfluxDB and Telegraf if we want to be consistent.

[2016-10-27 20:49] jwilder commented on #1003
Is kapacitord running as root?

[2016-10-27 20:49] nathanielc commented on #1003
No, its running as the kapacitor user.

[2016-10-27 21:55] dbienapfl opened #1004 "Kapacitor crashes during /replay/query"
If you submit a job to "/replay/query" and there is a 'group by' clause in your query, kapacitor 1.0.2 (deb package) will crash quite reliably:

{
   "task":"Generic_disk_watch_52756c6d46379338",
   "id":"Generic_disk_watch_52756c6d46379338",
   "recording-time":true,
   "clock":"fast",
   "query":"SELECT \"value\",host,cluster FROM graphite.\"default\".\"disk_free_percent_rootfs\" WHERE time > 14

[2016-10-27 22:17] rossmcdonald commented on #1004
@dbienapfl Does the Kapacitor service panic? If so, can you provide the logs from the time of the crash?

[2016-10-27 23:22] dbienapfl commented on #1004
The log file stops entirely - no further entries.  All requests to kapacitor just time out - nothing returns from the http api - all connections just time out.

The docker container stays alive and can be logged into and appears normal.

The AWS vm shows un-remarkable load (<2 on 4cpu, while running influxdb @ 8-10k pts/min, and the now frozen kapacitor)

At the time of the last failure there was

[2016-10-30 11:43] TomerAmirV opened #1005 "Different alerts per state"
Hi,

I would like to have different behavior per state.

**Example**
Let's say that I have a tick script for CPU usage.
I want to send a HipChat notification for every WARN level reports, and I want to send both HipChat notification and an Email for CRIT level reports.

Can I do this from the same tick script?

Also, I would like to log every entry to a file/influxDBOut, and I want to report sate

[2016-10-31 14:44] #977 closed

[2016-10-31 15:47] nathanielc commented on #1005
This is not currently possible without using multiple alert nodes. But we are designing a new alerting system where something like this will be easily configured.

[2016-10-31 17:29] nathanielc commented on #1004
@dbienapfl Were there any logs sent to stderr probably found in `/var/log/kapacitor/kapacitor.err`

[2016-10-31 17:44] dbienapfl commented on #1004
[logging]
  file = "STDERR"
  level = "DEBUG"

All of the output will be found in the previously attached kapacitor_logs.out file - this is 2/3 of the mystery - there is no useable output that I am able to find.

During my testing I did see one trend - the window of time asked for in the query had an effect on the crash - extremely short time periods < 1min could flush properly following a restart

[2016-11-01 00:45] politician opened #1006 "InfluxDB 0.13.1 not delivering points to any subscription."
I'm trying to troubleshoot a kapacitor installation, but I cannot prove that `influxdb` is correctly sending points to a subscription regardless of whether it's UDP, TCP, or HTTP.

We're starting from a setup that is working correctly:
- standard influxdb 0.13.1 install
- standard telegraf 0.13.1 install listening on UDP port 8092
- `echo "test n=1" > /dev/udp/127.0.0.1/8092` from Bash writes poin

[2016-11-01 12:29] phemmer commented on #1006
Just fyi, I think you have the wrong repo. If you suspect this is an InfluxDB issue, the issue tracker for InfluxDB is here: https://github.com/influxdata/influxdb/issues

[2016-11-01 14:17] octalthorpe commented on #939
So the CPU usage issue is not to do with version differences, but rather having too many subscriptions pointing back to the same instance of kapacitor.

I am running kapacitor in a docker container, and each time I update the container it may get placed on the same host, but since it is in a container any state is lost from the previous run is lost and a new subscription is created.
[code]
So this

[2016-11-01 14:26] manojgour opened #1007 "Kapacitor to generate alerts based on existing data in Influx"
I worked with getting started tutorial on Kapacitor and it worked smooth. I guess I understood the flow and its working at the high level. When I try to generate alerts without Telegraf ON and try to generate alerts based on existing data in Influx, it won't work. The recording will hang and nothing happens and the moment I bring up Telegraf again then Kapacitor recordings starts to work.

Use cas

[2016-11-01 15:53] nathanielc opened #1008 "Enable pipeline.Pipeline to be able to return a tick.ast.Node"
In order to programmatically construct and manipulate TICkscripts we need to be able to complete the transformation cycle of ast.Node -> pipeline.Pipeline -> ast.Node.

[2016-11-01 16:13] politician commented on #1006
Honestly, I think it's a configuration issue.  Since this subscriptions feature was added specifically for Kapacitor, I figured that you guys would be the experts on setting up the InfluxDB configuration correctly.  That's why I've posted this issue to this repo.

[2016-11-01 16:15] nathanielc commented on #1006
@politician What version of Kapacitor are you using? InfluxDB and Kapacitor need to be the same major version in order to work. In other works you need to be using Kapacitor 0.13 with InfluxDB 0.13

[2016-11-01 16:22] politician commented on #1006
[code]

Thanks! That looks like it might be the problem.

[2016-11-01 16:25] politician commented on #1006
However, that doesn't really explain why my test above didn't receive any traffic.  Those test steps don't involve Kapacitor, just the subscriptions capability.  Ideas?

[2016-11-01 17:10] nathanielc commented on #1006
@politician TCP is not supported in any version of InfluxDB and HTTP support was added in 1.0. As for the UDP try the test without step 2. Some versions of nc try to implement connection based udp, meaning they will drop subsequent packets from sources that are not the first source.

[2016-11-01 17:22] nathanielc commented on #1007
@manojgour If you want to use existing data in InfluxDB you need to use a batch task and write a query to get the data. A stream task only work for current data being stream into Kapacitor.

Also using deadman plus recordings has a few issues, seehttps://github.com/influxdata/kapacitor/issues/691 so its a little difficult at the moment to test deadman switch tasks :(.

[2016-11-01 17:22] nathanielc commented on #1004
@dbienapfl Yeah it sounds like Kapacitor might be OOMing, because of the amount of data being queried. Which is why I asked about  stderr logs since I expected to see a gloang panic stack trace.

[2016-11-01 18:56] m4ce opened #1009 "Alert based on last N values"
Hi,

I woud like to know what you guys recommend as the best way of achieving the following:

1) crit if the last value received == 0
2) critReset only if ALL of the last N values > 0 (where N can be 3 for instance)

I know how to accomplish the first, but not both together :(

Thanks for any help.

[2016-11-01 19:22] titilambert opened #1010 "Get the newest point instead of the oldest point in a batch alert."
Here my TICK file
[code]

This works correctly. It  checks every 1 min for "gauge > 0" on each points on last 3 min to generate an alert and when we got 1 point with gauge = 0, I got the recovery alert.

The issue, is in the message {{ index .Fields "gauge" }} takes the value of the first point (the oldest point) of the 3 min window ...
So I got "# Unavailable replicas: 6 " But it should be "# Una

[2016-11-01 19:28] nathanielc commented on #1009
@m4ce That second part can be accomplished using a `min` over the window.

Something like this should work

[code]

[2016-11-01 19:57] m4ce commented on #1009
thanks @nathanielc. That's very helpful indeed, didn't know about join.

I'd like to understand more about this kind of scenarios.

What if I were dealing with strings here and wanted to check that the last N values are == "up". Would I have to create another stream counting how many metrics have value == "up"?

[2016-11-01 21:33] nathanielc commented on #1009
@m4ce yes, you can do essentially the same thing by counting the values and then comparing counts.

[code]

[2016-11-01 21:35] m4ce commented on #1009
@nathanielc, thanks for the extra tip there. I love the DSL, it's starting to sink in.

I will close the "issue".

[2016-11-01 21:35] #1009 closed

[2016-11-02 07:18] TomerAmirV commented on #1005
Thanks @nathanielc

[2016-11-02 11:35] schmurfy commented on #553
What about the api endpoints, was it added too ? I can't find it in the documentation but it may just not be documented so I prefer to ask directly. If There isn't it would be nice to have a way to tell kapacitor to updates its subscriptions.

[2016-11-02 12:48] gkpraveen1988 opened #1013 "Unable to get the alerts from remote influxdb"
Hi,
Need your help..
Have a scenario.
1. Installed influxdb and kapacitor on the same machine and created the tick scripts to monitor the points. Alert the same in slack channel- however, this works absolutely fine.
2. Pushing the data to influxdb (same measurement) from another machine. The data is getting uploaded to the influxdb. But it is not getting monitored by kapacitor and not alerted in s

[2016-11-02 13:59] TomerAmirV commented on #1013
I had the same issue, and I think what solved it is that I changed the `host` field in `kapacitor.conf`
If what I did is correct, it should be the hostname where the influxDB can reach the Kapacitor DB, since they do not keep an active connection, and Kapacitor does not seem to poll the DB.

If this does not work, wait for someone that knows more than me 😄

[2016-11-02 14:16] octalthorpe commented on #1013
I also ran into a few issues with not getting data when I first started to use kapacitor.
Thinks things I did/learned.

1) Check that your subscriptions look correct on the influxDB host.  i.e. "SHOW subscriptions". Make certain that the interface the metrics will be pushed to is what kapacitor is listening on. i.e. localhost or 127.0.0.1 etc. Also that the host can connect and talk to kapacitor o

[2016-11-02 15:03] nathanielc commented on #553
@schmurfy It has been added and was left undocumented.

To trigger an explicit event to update subscriptions make an empty bodied POST request to `/kapacitor/v1/subscriptions`

[2016-11-02 15:06] nathanielc commented on #553
@schmurfy I should have also mentioned that as of v1.1.0 which is has an rc2 release out now there is a new API for configuring Kapacitor. Since the API allows adding/removing and modifying InfluxDB clusters in the Kapacitor config it naturally needed to support dynamically linking subscriptions. Depending on why you needed to update them this may be a better option. See the CHANGELOG for more det

[2016-11-02 15:55] #919 closed

[2016-11-02 17:10] titilambert commented on #913
@nathanielc Any workaround for this ?

[2016-11-02 17:28] nathanielc commented on #913
@titilambert Sadly no. But I am doing 1.2 planning right now and this is similar to some other work I plan to get done so I'll add it to the 1.2 milestone for now.

[2016-11-02 17:29] titilambert commented on #913
@nathanielc even with batch mode ?

[2016-11-02 18:25] politician commented on #1006
Well, it looks like we were able to upgrade InfluxDB to 1.0 and it successfully began streaming points to subscriptions using the same configuration.  I assume that the capability just didn't actually ever work in 0.13.   Thanks a lot for the help and that nc/UDP tip @nathanielc.

[2016-11-02 18:25] #1006 closed

[2016-11-02 20:12] rossmcdonald commented on #1013
In addition to what others have mentioned, a good way to verify data is being forwarded from InfluxDB is to run the command (on the Kapacitor instance):

[code]

Which will display metrics for the DB/RP's that the instance is receiving.

[2016-11-03 05:21] vipulkhullar opened #1014 "Change timezone and rounding off time in kapacitor alerts"
Can there be a provision to change timezone of kapacitor alerts ex from UTC TO IST . Also
can  "2016-11-02 09:39:05.560565984 +0000 UTC"   be changed to something like" 2016-11-02 09:39"  or any other format

[2016-11-03 07:53] shuowang123 opened #1015 "The kapacitor can't alert after the task was reloaded."
I have 10 nginx servers that are using kapacitor for alerting. The `TICKscript` as follow:

[code]

The kapacitor can normally alert after a nginx was dead. But It can't alert after a nginx was dead while the task was reloaded. It's so weird.

If I really want to remove a nginx server in another case, what should I do?

[2016-11-03 08:35] adrien-mogenet commented on #971
@nathanielc Can you confirm this doesn't work when processing streams?

_e.g. _
[code]

Will trigger `invalid TICKscript: invalid dimension object of type kapacitor.TimeDimension` because of the `time()` in `groupBy` clause. However what I'm attempting to do seems legit, right? :-)

[2016-11-03 12:50] phemmer commented on #1015
See #744

[2016-11-03 15:05] schmurfy commented on #553
thakns I will have a look at it, for now this is for testing purposes, I create the influxdb database on the fly and was looking for a way for kapacitor to immediately notice them.

[2016-11-03 15:45] rossmcdonald commented on #971
@adrien-mogenet That doesn't work for streams. You should use a `window` if you want to break the data from the stream into time increments. For example:

[code]

[2016-11-03 16:49] rossmcdonald commented on #1013
@gkpraveen1988 Are you still not getting points forwarded to the remote instance?

[2016-11-03 21:48] earthnut opened #1016 "Is there any workaround for fill(0) issue in influxDB"
The latest influxdb 1.0.2 has the issue https://github.com/influxdata/influxdb/issues/6967.

The health check alert works good for previous version influxdb (0.9.6)
Each host will send out heartbeat every 10s. The alert script will monitor a time window. And any host has no point in a window, the alert will be raised for that host.
So base on that, the alert query is something like

     `SELECT s

[2016-11-04 13:09] gkpraveen1988 commented on #1013
Hi ross, finally found the issues.
on to my influxdb there were bunch of datapoints added simultaneously.  Hence for a stream mood hold good only if the one data points are pushed at one time. Changed it to batch mode and then started working. Thanks for you help.
@tomer I changed the host in kapacitor.conf.

[2016-11-04 13:09] #1013 closed

[2016-11-04 13:16] gkpraveen1988 opened #1017 "Combining batch and stream (or any alertnative)"
Hi All,
Have a scenario. There is an influxdb configured with 4 columns and the data points are pushed regularly.
however, there is target, duration, files, bytes files in influxdb. for different targets there is different duration. i.e. target A has duration 200, target B has duration 100, target C has duration 150, target A has duration 100 and so on......
If there is new data point coming in wi

[2016-11-04 17:47] rossmcdonald commented on #1016
I believe the only way to get around this limitation is to use a `deadman` node to alert on the lack of points being received by a host. For example:

[code]

More documentation [here](https://docs.influxdata.com/kapacitor/v1.0//nodes/batch_node/#deadman).

[2016-11-04 21:08] #785 closed

[2016-11-06 16:30] manojgour commented on #1007
So I created a batch alert based on the example given in getting started guide. Seems like recording works fine but when I enable actual alert, doesn't work this time.

$ kapacitor list recordings
ID                                      Type    Status    Size      Date
c84d799a-1850-4b43-9028-b90a3108c744    batch   finished  121 B     06 Nov 16 11:16 EST

$ kapacitor show batch-test-alert
ID: bat

[2016-11-06 22:40] wanaryytel commented on #984
@nathanielc Hey, I updated to the latest release but it didn't fix the problem. I think you missed the part in the initial description that said "I guess one problem might be that I'm passing more variables to keep() than are changed in that |eval(), but I tried it with only free as well and got the same results."

That's exactly what I'm seeing. Output from the same script's `kapactior show low_d

[2016-11-07 09:58] TeosVerdi opened #1020 "Task stops executing for no apparent reason"
Hello everyone, i'm using Telegraf+Kapacitor to alert when machines get high cpu usage.
Linux and macOS readings work and alert fine, but the Kapacitor task i built for Windows machines fails for no apparent reason, while having the same structure.
Please, help me find the culprit.
**komaru.tick** (Template)
[code]
**wincpu.json** (Windows alert, which doesn't work)
[code]
**cpu.json** (Linux/OSX

[2016-11-07 11:22] jlark opened #1021 "HTTP API create task with template-id not working"
Hi Guys,
I'm testing the HTTP API for Kapacitor. I've noticed when trying to create a TASK from a template through the HTTP API for Kapacitor, it's not working as expected (or my expectations could be wrong).

As an example I have a database in influxdb called  'test' , I've also created a template called 'template test'

I create my template using the following script:
[code]
with response

[code

[2016-11-07 11:32] gkpraveen1988 opened #1022 "Unable to print the value for a condition"
Hi All,

Wrote the below tick scripts to print the field "Duration" in the slack channel for the condition of "target". However, the below seems to be not giving any alerts in the slack channel

var period = 2s
var every = 2s
var data = stream

|from()
  .database('asgbackup')
  .retentionPolicy('autogen')
  .measurement('drive_info')
  .where(lambda: "target" =~ 'Mysqltest6')
  .groupBy(*)
|windo

[2016-11-07 13:28] usdin opened #1023 "Spread batch query in time interval to reduce load in influxdb"
If hundred batch tasks are defined to run every minute. Kapacitor does all hundred queries at once, which creates load on Influxdb. Is there any way to distribute queries on time interval so Kapacitor does not burst Influxdb. Like telegraf have configurable jitter in flush interval.

[2016-11-07 16:03] nathanielc commented on #1022
@gkpraveen1988 Does your `drive_info` measurement have a `duration` field? Or are you expecting `duration` to be the duration of the alert?

[2016-11-07 16:04] rossmcdonald commented on #1020
The error:

[code]

Means that Kapacitor received a null value for the `Percent_Processor_Time` field. Are you sure the field is being sent with the Telegraf data? You can use a `|log()` node to have the task print out the data being received.

To get rid of the error message, you can use a `|default()` node to default that field to a value, but you might want to verify the data being sent by Tele

[2016-11-07 16:16] nathanielc commented on #984
@wanaryytel I tested this again with your replay file and the above script. It works as is. Both the `free` and `free_gb` fields exist on the data when it is passed to the alert node.

Specifically which version did you test?

[2016-11-07 17:16] nathanielc commented on #1007
@manojgour I am not sure what issue you are having, the pasted output shows the alert is still disabled.

[2016-11-07 17:28] nathanielc commented on #1021
@jlark Your expectations are correct.

What version of Kapacitor are you using?

The below script works for me:

[code]

[2016-11-07 17:55] nathanielc commented on #1023
Agreed we have an open issue, see https://github.com/influxdata/kapacitor/issues/712

[2016-11-07 17:55] #1023 closed

[2016-11-07 20:35] wanaryytel commented on #984
@nathanielc Both v1.0.2 and v1.1.0-rc2. Exactly the same behavior. I'm not 100% sure if all the variables are cleared, but when the `eval` is commented in, no alerts are triggered. It was just my assumption that when all variables are undefined, then that could be a probable reason for not triggering alerts.

[2016-11-07 22:51] nathanielc commented on #984
@wanaryytel Hmm, that is odd.

Can you try this TICKscript? It just has a few log nodes added in:

[code]

Then could you share the log lines that start with `PRE/POST EVAL`? That should help us get to the bottom of what is going on.

[2016-11-08 06:07] ygtzf opened #1025 "Have no notice when state changed after a task is disabled and re-enabled."
Hi,

Kapacitor version: 0.13

My scenario is:
1. create a task A
2. change the value of metric greater than threshold to trigger an alert (I can receive a notice that an alert is triiggerd)
3. disable the task A
4. change the value of metric lower than threshold
5. enable the task A

I want to receive a notice of OK when the task is re-enabled.

But, there is no either notice.

I find the DOT is c

[2016-11-08 07:26] jlark commented on #1021
Hi @nathanielc, very odd.
version info below:
[code]

[2016-11-08 10:01] wanaryytel commented on #984
@nathanielc Ran your script (and added the `gb` variable at the start) for about 5 minutes, but again - no alerts triggered and no log file created for it.

[code]

File at /var/log/kapacitor/ld.log wasn't created, but I do have logfiles for all the other scripts that don't include an `eval` function. Also checked the kapacitord.err log, which indicated that everything was fine. Any more ideas wha

[2016-11-08 11:25] jdursel opened #1026 "Fields cannot be found after using eval keep with named fields"
Hi,

Some fields from previous nodes are disapearing when using eval keep with fields parameters

here's the script which is not working because field ppos cannot be found on last keep
[code]

To make it work, it is mandatory to either remove all named fields from the keep (obviously leaving some unnecessary fields in the payload for influxdb) or to add the fields in lambdas, "as" and "keep":
[cod

[2016-11-08 12:49] jdursel commented on #1026
version 1.0.2
May be linked to #984

[2016-11-08 13:14] phemmer commented on #1025
See #744

[2016-11-08 15:29] manojgour commented on #1007
@nathanielc- Appreciate your help and patience.
I was referring to issue with batch tasks are not working as expected; whereas batch record seems to work fine by returning ids. I've created another batch tasks.

Batch recording-
# kapacitor record batch -task platform_batch -past 20m
2157d4bb-0ab4-437b-8512-f6792e01bba6

# kapacitor show platform_batch
ID: platform_batch
Error:
Template:
Type: bat

[2016-11-08 16:05] nathanielc commented on #1021
@jlark  Does the above script break for you? FWIW version 1.1.0 was released today, you could try upgrading to see if that fixes it.

[2016-11-09 01:59] ygtzf commented on #1025
@phemmer  Thanks! I got it.
Do you have any way to temporarily circumvent?

[2016-11-09 03:49] gkpraveen1988 commented on #1022
Hi Nathan, Thanks for your response.
Measurement = drive_info
Database = asgbackup
Retentionpolicy = autogen

target = tag
bytes, duration, files = fields

Also, tried some thing of the below. this is not alerting in slack channel.

var last_value = batch
    |query(''' select target as last_target,bytes from "asgbackup"."autogen"."drive_info" LIMIT 1 ''')
        .period(30d)
        .every(5s)

[2016-11-09 05:51] usdin commented on #1023
Can we limit number of simultaneous query on InfluxDB?

[2016-11-09 09:37] jlark commented on #1021
Sure will try this and let you know. Thanks!

[2016-11-09 12:05] ygtzf opened #1027 "How to rename influxdb tag vlaue."
Hi,

I have a feature requests, and not see in issuses.

Rename tag value of influxdb.

I think it can add to influxDBOut node.

Thanks!

[2016-11-10 04:25] hasit commented on #420
@lpalm,

I think I will be able to fix this. Can you give a little bit more information? What is the command that you are running (e.g. `kapacitor list recordings ...`)?

[2016-11-10 12:58] lpalm commented on #420
@hasit , yes I was just running `kapacitor list tasks` with tasks longer than 30 characters.

[2016-11-10 14:58] manojgour commented on #1007
@nathanielc Below batch TICK script works fine:
var data = batch
    |query('''
        SELECT sum(sev3c) AS stat
        FROM "eapimetricsdaily"."default"."incidentsdata"
        WHERE "time" > now() - 30d
    ''')
        .period(5m)
        .every(5m)
        .groupBy(time(1m))
data
    |deadman(2.0, 1m)
    .log('/home/ubuntu/kapacitor/alerts/incidentsdata-alerts.log')

Deadman doesn't solve m

[2016-11-10 15:49] rossmcdonald commented on #1020
@TeosVerdi Does using `default` fix the issue? Or were you able to determine the cause of the problem?

[2016-11-10 16:01] jayannah opened #1028 "Why kapacitor throws already subscribed error?"
When I start the kapacitor for the 1st time, It is successful and I do see the subscriptions added in influxdb with same kapacitor cluster id as in /var/log/kapacitor/cluster.id file.

When stop the kapacitor and restart again, it fails saying the subscription <cluster-id> already exists..

If the subscription already exists, it should continue with default setting, why start of kapacitor fails?

[2016-11-10 16:07] jayannah opened #1029 "Kapacitor not subscribing to all database"
When I start the kapacitor, it is successfully started.

When I login to InfluxDB and verify, the kapacitor is subscribed to most of the databases, but not ALL.

I  have given admin user name & password in the kapacitor.conf and as the "admin" user of Influxdb has all grants for every database by default, why kapacitor is not subscribing to all database.

We have around 30 database created and kap

[2016-11-10 16:08] rossmcdonald commented on #1028
@jayannah What version of Kapacitor are you running?

[2016-11-10 16:18] jayannah commented on #1028
Just updated the versions used.. thank you.

Kapacitor version: 1.1
Influxdb version: 1.0

[2016-11-10 16:43] nathanielc commented on #420
@hasit Thanks for volunteering! I actually fixed this a few days ago but forgot to close this ticket, sorry about that.. See https://github.com/influxdata/kapacitor/pull/1018

Feel free to look over my solution if you like, as I just put together a simple fix.

[2016-11-10 16:43] #420 closed

[2016-11-10 16:52] nathanielc commented on #1007
@manojgour Can you post your question to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list?

Since it looks like you just need help figuring out the right TICKscript for your use case. You will find more people are able to help there since more people will see your question. Please add a complete example of what your are trying to accomplish with example data etc. I'll

[2016-11-10 16:52] #1007 closed

[2016-11-10 17:03] nathanielc commented on #1029
@jayannah Are there any errors in either the kapacitor or influxdb logs? I have tested Kapacitor subscribing to 100+ subscriptions and it is working without issue.

Are there any more details you can share?

[2016-11-10 17:05] nathanielc commented on #1023
@usdin No. While not the same you can put limits on your InfluxDB server, in which case if Kapacitor was too aggressive it would get errors back instead of overloading the InfluxDB server.

[2016-11-10 17:07] nathanielc commented on #1022
Add `.align()` to your batch queries. This will ensure they have matching times when they go to be joined.

[2016-11-10 17:09] nathanielc commented on #1027
@ygtzf Have a look at https://docs.influxdata.com/kapacitor/v1.1/nodes/eval_node/#tags. You can copy the tag to a new name and then use the delete node to remove to old tag.

[2016-11-10 17:10] nathanielc commented on #1028
@jayannah Can you share the output of `show subscriptions`?

[2016-11-10 17:20] jayannah commented on #1029
I dont see any errors in kapacitor logs

[run] 2016/11/10 10:48:53 I! Kapacitor starting, version 1.1.0, branch master, commit 939fdf670b028c142944977dcfcb045cac2343ed
[run] 2016/11/10 10:48:53 I! Go version go1.7.3
[srv] 2016/11/10 10:48:53 I! Kapacitor hostname: kapacitor_1aqa
[srv] 2016/11/10 10:48:53 I! ClusterID: 2317c7c5-7a99-4f98-8219-09b938851995 ServerID: c34c673a-3797-4837-a75b-3fb97c469

[2016-11-10 17:44] hasit commented on #420
@nathanielc oh yes. When I was reading the main.go file, nothing seemed out of place that would make the printing go wrong.

[2016-11-10 20:07] #913 closed

[2016-11-11 16:20] phemmer opened #1033 "Consistent log time formatting"
The `log()` node emits different time formats based on different chaining methods.

For example, with:
[code]
produces:
[code]

Notice the different time formats at the end, `2016-11-11T11:13:29.785557848-05:00` vs `2016-11-11T16:13:39.785561457Z`. This makes debugging a bit of a pain.

[2016-11-11 16:21] nathanielc opened #1034 "Update Kapacitor HTTPD TLS config to match InfluxDB"
InfluxDB has introduced a new config option called `http-private-key`. We should add an equivalent config option to Kapacitor.

[2016-11-11 16:28] nathanielc commented on #1033
Thanks for the report, this should be an easy fix.

[2016-11-11 17:05] #898 closed

[2016-11-13 10:55] niteshsarode opened #1035 "Could not create alert on non telegraf database"
I created a database named example using influxdb-python
In my database, I have a field key as value.
This is how my database looks like

Using database example

name: measurements
------------------
name
packet

name: packet
------------
time			value
1257894000000000000	0.59
1257894010000000000	0.5
1257894020000000000	0.4
1257894030000000000	0.6
1257894040000000000	0.64
1257894050000000000	0.88
1

[2016-11-14 02:42] ygtzf commented on #1027
@nathanielc  It seems to be the tags can only save a field key as tag key. Can 'Eval' only handle field value?

[2016-11-14 15:58] jayannah opened #1036 "Kapacitor: Alert conditions are ingored"
Hi

I have written the TICK script to query the data from InfluxDB, calculate tablespace_used and I want to write back to InfluxDB if the tablespace_used is > 0.6 in this example.

The below TICK is able to query the data and write the data back to InfluxDB successfully.

However, it is writing the entry into Database (Oracle_Intellix_TableSpace_Alerts meansurement) and to /tmp/batch_alerts.log ev

[2016-11-14 16:20] nathanielc commented on #1035
What is the output of `kapacitor stats ingress`?

[2016-11-14 16:22] nathanielc commented on #1027
@ygtzf No eval can do tags. For example given a point with tag `k0` this eval will rename the tag to `k1`.

[code]

[2016-11-14 16:25] nathanielc commented on #1036
@jayannah I believe I just answered this question on the mailing list. https://groups.google.com/forum/?pli=1#!topic/influxdb/MO0db46k_cY

Closing the issue.

[2016-11-14 16:25] #1036 closed

[2016-11-14 18:52] jayannah opened #1037 "After adding .keep(value field names), alert stopped working"
Kapacitor: 1.1
InfluxDB 1.0

Hi

Below is my TICK script and it was working fine before I add the .keep fields.
          .keep('USED_MB')
          .keep('TOTAL_MB')
1. After adding the above 2 lines in eval node, the script is not writing anything to the file and also to the InfluxDB.
2. Even before adding these 2 fields, the script was writing only time & value of tablespace_used into the log f

[2016-11-14 19:10] niteshsarode commented on #1035
`Database                      Retention Policy              Measurement                   Points Received
_internal                     monitor                       queryExecutor                 13
_internal                     monitor                       cq                            13
telegraf                      autogen                       cpu                           65
_internal

[2016-11-14 20:40] nathanielc commented on #1037
You should use `.keep('TOTAL_MB', 'USED_MD', 'tablespace_used')` to keep the specified list or `.keep()` to keep all fields.

[2016-11-14 20:42] nathanielc commented on #1035
@niteshsarode As you have seen, Kapacitor is not receiving any data for the `example` database.  You should check your subscriptions with the `show subscriptions` influx query to make sure Kapacitor has subscribed to the `example` database. If the subscription isn't there then check your Kapacitor config to make sure you have excluded it.

[2016-11-14 21:13] #327 closed

[2016-11-14 22:33] niteshsarode commented on #1035
`name: example
-------------
retention_policy	name						mode	destinations
autogen			kapacitor-aedbbdd0-4202-4064-9f27-920fe61524dc	ANY	[http://localhost:9092]`

I think kapacitor has successfully subscribed to example database.

[2016-11-14 22:37] nathanielc commented on #1035
@niteshsarode Try writing new data to the database and checking the ingress stats again.

[2016-11-14 23:40] rossmcdonald opened #1039 "[feature request] Improve handling of data gaps"
At the moment, Kapacitor does not do well when points are not being received. For example, when using `|join()` against multiple input streams, the join node cannot recognize the absence of points (necessary for `.fill()`) until more points are received. This can be limiting in environments where data streams may be sparse (it could be minutes, hours, days before more points are received) and aler

[2016-11-15 04:09] jayannah commented on #1037
thanks. It worked. Not sure why adding .keep() multiple times didn't work. It will be great if these details added to documentation.

Please let me know how I can contribute to the documentation from mylearnings and help our community.

[2016-11-15 04:09] #1037 closed

[2016-11-15 04:14] jayannah commented on #1028
In the show subscription I do see kapacitor is subscribed to all the databases. Only problem is , when I stop the kapacitor with control C and rerun again with or without any configuration change, I see kapacitor fails to run again.

I do the following steps as work around to make the kapacitor registers successfully again and start
1. remove cluster.id from /var/lib/kapacitor/
2. remove server.id

[2016-11-15 04:14] jayannah commented on #860
Works fine in V1.1

[2016-11-15 04:14] #860 closed

[2016-11-15 04:22] jayannah commented on #1037
Also, when I use .keep() all the tags and fields are written along with new fields. But as per the documentation,"Tags are always preserved regardless how keep is used", but the tags didn't written to the database without .keep() used. Do you think it is a bug or mistake in documentation?

[2016-11-15 07:11] skycgz opened #1040 "How to send two measurement in a stream tick"
I want to monitor the system state by several measurement, and one occour any warning that all the measurement will send. So I write the tick
[code]
and the error occour like :
[code]

but at the same time, I got two message like :

[code]
[code]

How can I make two alert combine into one by using stream not by batch

[2016-11-15 16:30] nathanielc commented on #1037
@jayannah The tag, weren't actually tags, this is a subtle issue. In InfluxQL if you do `select * from ...` then all field and tags are returned as fields. If you want tags to be returned as tags you must group by those tags. i.e.

[code]

Then tags will be correctly set and the eval keep won't effect them.

[2016-11-15 16:46] nathanielc commented on #1028
@jayannah I haven't been able to reproduce this issue. Can you maybe provide more details? Specifically the relevant influxdb config in kapacitor.conf and the output of show subscriptions, along with the output of `kapacitor stats general`. That should help us narrow down what is going on. Thanks

[2016-11-15 16:58] nathanielc commented on #1040
This line here:

[code]

is causing the issue. Since the union is being taken half of the points contain only load value and the other half contain cpu values. Instead if you join, then you will have one point with both cpu and load fields.

The error is complaining that the `user.value` field doesn't exist, which is true when the point being evaluated is a load point. But you do get valid alerts

[2016-11-15 17:42] skycgz commented on #1040
ok, it works, thank you :)

[2016-11-15 17:45] #1040 closed

[2016-11-15 21:09] nathanielc commented on #1033
@phemmer Can you share your complete TICKscript that had the inconsistent time behavior? I can't seem to reproduce it. Thanks

[2016-11-15 21:53] nathanielc commented on #1026
@jdursel #984 was fixed in version 1.1. I have tested your script with 1.1 and the issue seems to be resolved. Can you confirm?

[2016-11-15 21:55] nathanielc commented on #984
Can you check the `/var/log/kapacitor/kapacitor.log` file? It will have the `PRE EVAL` and `POST EVAL` log lines so we can determine what might be causing the issue.

[2016-11-15 22:31] wanaryytel commented on #984
@nathanielc
Hey,
here's an excerpt:

[code]

[2016-11-16 08:35] ws816 opened #1042 "What is the correct process for removing a service alerting?"
I have a server that runs nginx service. I want to remove nginx from the server, but the kapacitor still alert. I tried to delete series from influxdb, but it didn't work. What is the correct process for removing a service alerting?

[2016-11-16 08:57] jdursel commented on #1026
I confirm, the issue is resolved in version 1.1.

thanks

[2016-11-16 08:57] #1026 closed

[2016-11-16 15:17] winem opened #1043 "logrotate.d ignores kapacitor configuration due to bad file mode"
By default, kapacitor creates the logrotate configuration in /etc/logrotate.d with 664 as permission.

logrotate has the following requirements:
- configuration file owner must be root
- configuration file mode must be 664

Otherwise, you'll get this error when running logrotate -f /etc/logrotate.conf
root@host-1:/etc/logrotate.d# logrotate -v  -f /etc/logrotate.conf
reading config file /etc/logro

[2016-11-16 16:09] nathanielc commented on #1042
@ws816 Can you share your TICKscript?

[2016-11-16 16:31] nathanielc opened #1045 "Panic during replay-live"
I can reliably reproduce a panic `close of closed channel` when performing replay-live actions.

[code]

[2016-11-16 16:50] nathanielc commented on #984
@wanaryytel Great, the logs show that the fields are being kept correctly. As for why the alert is not triggering it seems to be a different issue. Could it be that these conditions are not correct?

[code]

[2016-11-16 16:52] nathanielc commented on #1045
Nevermind, this has been fixed in a newer version.

[2016-11-16 17:33] #1045 closed

[2016-11-16 17:42] skycgz opened #1047 "cannot add child mismatched edges"
I define several batch in a tick, such as
[code]
when I join them them, I got an error:
[code]
but the tick is running well when I join batch1 and batch2

my join tick script is :
[code]
PS: I guess is that the DerivativeNode is causing the issue

[2016-11-16 23:59] notfol opened #1048 "[alerta] Support the "correlate" attribute"
See http://alerta.readthedocs.io/en/latest/server.html#simple-correlation. Add support for the `correlate` attribute so when a alert with the same `resource` is received with an event in the
correlate list of related events with any severity, then the alert is correlated.

[2016-11-17 01:48] ws816 commented on #1042
I use template to define a task, the template as follow:
[code]
The vars as follow:
[code]

[2016-11-17 01:50] ws816 commented on #1042
What is the correct process for removing a service alerting? remove series from influxdb?

[2016-11-17 07:02] poulikov opened #1049 "deadman doesn't work as expected"
Hello

I want to receive alert when data is missing

I have such config

[code]
but I always get "CRITICAL postback_strem Postbacks data is missing timefrime 5m, value `<no value>`"

in influxdb
[code]

[2016-11-17 08:09] bharathrajbk opened #1050 "Ignore certificate / security while sending notifications to Hipchat"
@nathanielc ,

I am trying to send notifications to our organization's hipchat server which is on SSL layer.

I would like to ignore the security option (something that `curl -k` does).

I looked around the hipchat service.go and this can be done by inserting the following lines of code -

[code]
This can be set based on a flag in the configuration such as -
`Ignore Security for Hipchat = boolean`

[2016-11-17 08:14] bharathrajbk commented on #1050
@nathanielc ,

Never mind... I got the hipchat server working without security. :)

However, this feature would be nice.

Thanks,
Bharath

[2016-11-17 08:58] wanaryytel commented on #984
@nathanielc It is the first thing that comes to mind, but considering
1) I have another script (without eval) that has the same threshold values that does alert me with the same data
2) I have tried much higher thresholds with no avail

it seems improbable at best.

Is there anything else I can try?

[2016-11-17 14:18] anima1234 opened #1051 "Kapacitor - [alerta error while sending out alert]"
Hi,

When I try to send out alert using .alerta() in kapacitor it throws up the below error message in kapacitor logs.

E! failed to send alert data to Alerta: failed to understand Alerta response. code: 405 content: <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p>

Conf

[2016-11-17 16:06] nathanielc commented on #1042
@ws816 Currently the only way to do this is to disable/enable the task. This is because the deadman node doesn't forget any services. There is an open PR https://github.com/influxdata/kapacitor/pull/610 to fix this but it has some challenges and we are working on a fix.

[2016-11-17 16:06] #1042 closed

[2016-11-17 16:09] nathanielc commented on #1050
@bharathrajbk Thanks for the code snippet and detailed write up. I am hesitant to add config options that expose insecure behaviors, and since you are working I'll close this issue for now.

In general there are a few ways to work around this issue that don't require ignoring TLS certs.

[2016-11-17 16:09] #1050 closed

[2016-11-17 16:11] nathanielc commented on #984
@wanaryytel Use the `|log()` to debug why your alert is not firing. With the log node you can see exactly the data that the alert node is processing and determine if it is working as expected.

[2016-11-17 16:11] #984 closed

[2016-11-17 16:12] nathanielc commented on #1049
@poulikov Is Kapacitor receiving the data? You can verify this via `kapacitor stats ingress`. You db rp and measurement should be listed.

[2016-11-17 16:14] nathanielc commented on #1051
@anima1234 Hmm, the Alerta integration hasn't changed in a few releases. I wonder if the Alerta API has changed in a newer version and now Kapacitor is out of date.

[2016-11-17 16:17] nathanielc commented on #1047
@skycgz The derivative of a batch is still a batch. It just contains the derivative value between each of the points in the batch. In contrast the last and mean operations convert a batch edge to a stream edge since they only output one point from the entire batch.

When you want to join the result of a last or mean operation with a derivative what were you expecting to be joined? Since the deriva

[2016-11-17 16:18] anima1234 commented on #1051
Hi Nathan,

I did not get you when you say kapacitor is out of date. Can you please
explain.

On Nov 17, 2016 9:44 PM, "Nathaniel Cook" <notifications@github.com> wrote:

[2016-11-17 16:20] nathanielc commented on #1051
@anima1234 I am not sure if Kapacitor is out of date or not. Meaning the Alerta API may have changed and Kapacitor hasn't been updated with the new changes. All I know is that the Alerta integration hasn't change in Kapacitor for several months. What version of Alerta are you using and when was it released?

[2016-11-17 17:10] skycgz commented on #1047
for example, I just what to compute the different value between 6:00 and 6:01 by using derivative, and get the mean or last value at 6:01, and how to do?

[2016-11-17 17:28] nathanielc commented on #1047
After computing the derivative then take only the last derivative result. For example change these lines

[code]

to be like:

[code]

[2016-11-17 18:24] allen13 commented on #1051
The url you are using looks like it may be wrong. Using http://xx.xxx.xxx.xxx:8080/webhooks/anomaly will POST alerts to /webhooks/anomaly/alert.
Is /webhooks/anomaly where your alerta root url is located?

[2016-11-17 18:36] allen13 opened #1052 "[alerta] TLS Support"
Currently Kapacitor is sending the Alerta api token as a url param which is unencrypted even when ssl is used. Alerta supports tokens being provided via headers and I am working to make this change. In addition I am adding an option to skip TLS verification for convenience purposes.

[2016-11-17 18:57] skycgz commented on #1047
It is no error message now, but I can't join the data:
[code]
it logs nothing

[2016-11-17 19:29] nathanielc commented on #1052
@allen13 Thanks!

[2016-11-17 19:31] nathanielc commented on #1047
Hmm, can you share the full `kapacitor show` output? Thanks

[2016-11-17 20:04] bharathrajbk commented on #1050
Thanks @nathanielc !

[2016-11-17 20:26] poulikov commented on #1049
@nathanielc  Actually, I'm not sure, but I have another task with follow config

[code]

and this task works fine and it gets data from the same db, rp and measurement

btw, `kapacitor stats ingress` output

[code]

[2016-11-17 20:31] nathanielc commented on #1049
@poulikov The second task is a batch task, which means that Kapacitor is querying the data. For a stream task (your first example), Kapacitor expects the data to be pushed to it. This typically happens via subscriiptions, which are automatically setup by Kapacitor.

 You can see the current subscriptions by running the query `show subscriptions`.

The `kapacitor stats ingress` output does not incl

[2016-11-17 20:54] poulikov commented on #1049
@nathanielc
output of `show TASK_NAME`
[code]

[2016-11-17 20:58] poulikov commented on #1049
and output of `show subscriptions`

[code]

[2016-11-17 21:08] nathanielc commented on #1049
So the task is not getting any data as per this line: `stream0 -> from1 [processed="0"];`

Try writing data to Kapacitor directly using curl and the `/write` endpoint, it is the same as InfluxDB. See if that works as you expect, then you can debug why the data isn't making it from InfluxDB to Kapacitor.

[2016-11-17 21:17] poulikov commented on #1049
@nathanielc
Yes, InfluxDB can't connect to Kapacitor, because InfluxDB doesn't know of host "kapacitor", it's my mistake.

thanks a lot

[2016-11-17 21:17] #1049 closed

[2016-11-18 02:23] ws816 commented on #1042
@nathanielc Is there another way to monitor process without using deadman? I think the process monitoring is basic requirement.

[2016-11-18 02:54] skycgz commented on #1047
Here it is:
[code]

and I also have an other question:
I want to return diskusage with path, but the "path" can't group by in query. It seems that it can be solved by using several "where", but it needed write so many query, so how do I make it simple to use?

[2016-11-18 07:40] skycgz commented on #1047
I solve the problem, it should be
[code]
not
[code]
and I find that when I use different batch(for example: b1 b2),
b1 uses .group(k1,k2)
b2 uses .group(k1)
and b1 join b2 is that getting no value, and log() log nothing

[2016-11-18 19:58] nathanielc commented on #1047
@skycgz Correct Join joins on groups so if the upstream nodes have different groups they will not join. Glad you got it working

[2016-11-18 19:58] #1047 closed

[2016-11-18 22:03] jayannah opened #1054 "Kapacitor: fails to start when Database not found in one database but exists on other DB"
Versions: Influx 1.0, kapacitor 1.1

Start of kapacitor fails and noticed that it failed due to the database not found.  We have 2 influxDB databases behind the LB. Some has created test_database on one influxDB and forgot on other InfluxDB. This makes kapacitor fails to start .

Checked  the kapacitor.conf to see if the there is an option to ingore the subscription errors and brings up the kapaci

[2016-11-18 22:40] mattyjones opened #1055 "First class Debian package support"
I was looking at creating first class support for both kapacitor and telegraf for Debain. Are there thoughts on this here? There is currently no official packages for Debian and I am running tlegraf on it, in a production capacity and would like support for it.

[2016-11-19 00:08] nathanielc commented on #1054
@jayannah In general pointing Kapacitor at load balanced InfluxDB severs and using subscriptions is not going to work. For this use case you should simply disable subscriptions entirely.

FWIW I just answered a question about a similar setup on the mailing list, you might find it useful, https://groups.google.com/forum/?pli=1#!topic/influxdb/yImf4Uok2T4

[2016-11-19 04:35] strizhechenko commented on #974
Can you show  your `high_count.tick` and `kapacitor.conf`?

[2016-11-19 06:53] nikhilagrl commented on #974
Hi,

below trial.tick and kapacitor.conf, i have attached kapacitor.conf

trial.tick

stream

    |from()

    .measurement('coriolis.api.v2.provision.realm100')

    |alert()

                .crit(lambda: "count" > 50)

        .log('/var/log/kapacitor/trial12345.log')

.email('nikhil.agrawal@asurion.com')

kapacitor.conf

# The hostname of this node.

# Must be resolvable by any configured Infl

[2016-11-21 07:06] anima1234 commented on #1051
@nathanielc we are using the these versions of alerta(client & requests)
alerta 4.8.11
alerta client 4.8.3
requests 2.12.0
@allen13 'http://xx.xxx.220.xxx:8080/api/webhooks/anomaly' is what that URL looks like where alerts are getting posted. I am able to trigger alerts using a simple python script, but the same does not happen through configs of Kapacitor. Any pointers will be highly appreciated.

[2016-11-21 13:44] phemmer commented on #1033
Just updating that I haven't forgotten about this. Just been busy. Will try and get some time to come up with a minimal reproducible test case.

[2016-11-21 14:05] allen13 commented on #1051
Try using http://xx.xxx.220.xxx:8080/api in your kapacitor config.

[2016-11-21 16:29] #1052 closed

[2016-11-21 16:31] nathanielc commented on #1033
@phemmer Thanks!

[2016-11-21 17:06] nathanielc commented on #974
@nikhilagrl I am not sure what the issue is. The issue title mentions and error about the recording not existing, but your example output doesn't contain that error. Can you provide more details about what is not working as you expexted?

[2016-11-21 17:10] allen13 commented on #1048
This is a pretty straight forward modification. You just need to update the alerta config class and and add it to the alerta post data. https://github.com/influxdata/kapacitor/tree/master/services/alerta

[2016-11-21 18:01] jayannah commented on #1054
Thanks for the details. But subscriptions to all databases through the load balancer is working fine for me. It failed only when one influx has a database which is not in other database (both influxdb are behind LB for HA).

[2016-11-21 18:10] nathanielc commented on #1054
@jayannah If you are subscribing through the load balancer are you duplicating all queries through the load balancer then? If so then you have duplicated your subscriptions and Kapacitor is receiving duplicate points for everything. Is that correct?

If I am way off base please describe your setup in detail so I can better address your use case. Thanks

[2016-11-21 19:28] rossmcdonald commented on #1055
We recommend using the [InfluxData package repository](https://www.influxdata.com/package-repository-for-linux/) whenever possible, since it is kept up-to-date and is integrated into our release pipeline. You are more than welcome to create official packages for Debian, though, if you have the time and expertise. Kapacitor and Telegraf both have pretty fast release cycles right now, so I think kee

[2016-11-21 22:03] nikhilagrl commented on #974
I am not receiving emails as notification.

On Mon, Nov 21, 2016 at 9:06 AM Nathaniel Cook <notifications@github.com>
wrote:

--
Sent from iPhone

[2016-11-22 04:42] ckdarby opened #1056 "Will not allow alert to be enabled"
[code]

[code]

[code]

[code]

[code]

[code]

[2016-11-22 07:19] anima1234 commented on #1051
@allen13 thanks a lot.. that helped. Much appreciated.

[2016-11-22 09:44] skycgz opened #1057 "can tick define a array variable"
when I define a tick, I found that it is so many variables in alert, such as
[code]
it is that a way to reduce amount of code? such as I define a array variable:
[code]

[2016-11-22 20:39] allen13 commented on #1051
No problem! @anima1234 Can we close this issue?

[2016-11-22 22:31] nathanielc commented on #1057
@skycgz This is not possible.

[2016-11-22 22:50] nathanielc opened #1058 "Drop Old Data"
Currently Kapacitor expects data to arrive in order. If data arrives out of order the behavior of the task is undefined. It would be nice to improve Kapacitor to simply drop old data so that accidentially writing old data doesn't cause unknown unwanted behavior.

My initial thoughts are that the `StreamNode` could easily accomplish this.

[2016-11-23 14:23] earwin opened #1059 "broken debian package build"
fpm `--directories` stanzas in `build.py` become a part of package description:
[code]

[2016-11-23 15:50] rossmcdonald commented on #1059
It looks like this was introduced with https://github.com/influxdata/kapacitor/commit/80d4e71e6e5aab53aefb4d03a20dad5ac59985fb. I'll have a fix up shortly.

[2016-11-23 18:19] #1059 closed

[2016-11-24 13:07] AAbouZaid commented on #75
Hmmm I'm not sure, but isn't this issue about creating a "Custom field" in general?

Now there is `details` field, but what if a field needs to be added? (as same as the level of `details` field, not inside it).

I think this is not covered here. Should I open a new issue?

[2016-11-24 20:03] lsitzmann commented on #916
I've got exactly the same problem running kapacitor v 1.1.0 on a windows 7  host.
Will there be any chance to run kapacitor on a windows system soon, or are there special configruations to be set?

[2016-11-24 20:10] stephanstapel commented on #916
I can confirm that I also still have the bug on Windows 10 x64.

[2016-11-25 07:13] usdin opened #1061 "Add metrics unit in alert message."
In kapacitor alert message values are passed directly. Which make message ugly like

If template is

`Approximate Data Size is  {{ index .Fields "stat" }} kb`

which gives

`Approximate Data Size is  1.223241e+06 kb`

Here value is less readable. How about adding function in go-template which can format value, it should convert _1.223241e+06 kb_ to _1.2 gb_.
It can be called in template
`Approxima

[2016-11-25 11:19] toni-moreno commented on #760
Related to this issue.

@podshumok , @nathanielc Could you report me if [[graphite]] section is already working on Kapacitor?

 I also would like to know if there is a way to query for data from graphite (only needed related to the tickscript measurement)  rather than duplicate  all my graphite metrics to send also to the kapacitor daemon ? sending

[2016-11-25 19:08] ckdarby commented on #1056
@nathanielc What is the best way to debug when kapacitor has no stats for a database that it has a subscription for?

[2016-11-28 04:17] usdin opened #1062 "Join in batch query not working"
Kapacitor version: v1.1

I am running following tick script:

[code]

Join doesn't contain any fields. Output of join is
[code]

whereas each batch node gives proper results. Am I missing something.

[2016-11-28 10:23] tnkdev opened #1063 "Alert transition handling"
Hi everyone,
i am new to Kapacitor. I have a question, we can use Kapacitor to generate an alert. So how we can generate an action handler when the the alert is ceased. The TICK script is as following:
cpu
    |alert()
        .warn(lambda: "usage_idle" < 95)
        .exec('/tmp/raise_handler.py','Raise Alarm')
        .warn(lambda: "usage_idle" > 95)
        .exec('/tmp/clear_handler.py','Clear A

[2016-11-28 16:51] nathanielc commented on #1061
@usdin  Have a look at this https://docs.influxdata.com/kapacitor/v1.1/tick/expr/#human-string-functions

[2016-11-28 16:51] #1061 closed

[2016-11-28 16:53] nathanielc commented on #760
@toni-moreno No, you cannot query graphite from TICKscripts.

The graphite service is working, if you are having a specific issue please let us know the details.

[2016-11-28 16:54] nathanielc commented on #75
@AAbouZaid Yes, if you have a use case in mind please open a new issue.

[2016-11-28 17:02] nathanielc commented on #775
The solution to this is proposed to make use of a new mechanism called the blob store. See https://github.com/influxdata/kapacitor/blob/master/BLOB_STORE_DESIGN.md

[2016-11-28 18:36] nikhilagrl commented on #974
Hi,

Please find tick script and kapacitor.conf in the previous email.

I have setup email notifications but not receiving email.

Thanks,
Nikhil

On Mon, Nov 21, 2016 at 9:06 AM, Nathaniel Cook <notifications@github.com>
wrote:

--

*Thanks,Nikhil Agrawal | +1 408 505 8443*

[2016-11-29 04:16] khoxsey commented on #775
I am interested in the use case mentioned in the design document, to load and store trained model data. In particular, there are families of filters built from time-series models (the many variations of AR and MA, for example) in which the runtime execution is a relatively simple computation of weights and a moving window of values.

There is a class of problems of this type that lend themselves w

[2016-11-29 08:19] gkpraveen1988 opened #1064 "Issue with outliners"
Hi Team,

Facing issues while importing the outliners py file in to the tick scripts. Trying to find out the standard deviation in a series.
Clone the repository "https://github.com/influxdata/kapacitor/tree/master/udf/agent/examples/outliers" and got the outliers.py file.
With that, have made the modifications in kapacitor.conf file.

[udf.functions.outliers]
     prog = "/usr/bin/python"
     ar

[2016-11-29 09:58] usdin commented on #1062
Increasing tolerance worked. My bad.

[2016-11-29 09:58] #1062 closed

[2016-11-29 15:17] liurenjie1024 opened #1065 "kapacitor outputs strange data"
I have a database and a measurement which get two data points every minute, and my test tick is the following:
[code]
and I define my task as following:
[code]

I created a record with the following code:
[code]

When I replay the record with the task, I expect only two messages in the log file. However, a lot of strange data appears in log, some of them even have timestamp in the future.

[2016-11-29 15:42] ckdarby commented on #678
Closing as this was all the way back in 0.13

[2016-11-29 15:42] #678 closed

[2016-11-29 16:42] simonvc opened #1066 "What's the best way to learn tickscript"
I'm finding the learning curve quite steep for tickscripts. What's the best way to experiment with them?

Is there a way to set up some kind of REPL or live feedback type system so you can see data being filtered?

[2016-11-29 17:33] nathanielc commented on #1064
@gkpraveen1988 You need the google protobuf python libraries. There is a setup.py file provided to install the kapacitor python agent. That should help you get the needed deps.

[2016-11-29 17:37] nathanielc commented on #1065
@liurenjie1024 By default a recording replays the data relative to the current time. If you want the recording to use the timestamps on the original data use the `-rec-time` flag, when replaying the recording.

[2016-11-29 17:38] nathanielc commented on #1066
@simonvc Have you played with the record/replay features? They provide a way to run a task repeatedly with a static set of data. While not quite like a REPL its similar.

[2016-11-29 17:40] nathanielc commented on #1063
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-11-29 17:40] #1063 closed

[2016-11-29 17:44] nathanielc commented on #1056
@ckdarby If Kapacitor doesn't have stats for a database then it hasn't received the data. In that case to debug it you need to follow the path from the subscription to Kapacitor. InfluxDB should log any network related errors it encounters when trying to write data.

The steps I follow are typically:

1. Write a point using curl directly to Kapacitor. Check the ingress stats. From the Kapacitor ho

[2016-11-29 18:00] forestjohnsonpeoplenet commented on #1066
I created this to help solve that problem https://github.com/sequentialread/tickscript-studio
disclaimer, this is my 3rd party thing, not from influxdata

[2016-11-29 18:07] forestjohnsonpeoplenet opened #1067 "/write endpoint inconsistent content-type under error condition"
test case:

when POSTing the invalid line protocol to the `/write?db=test` endpoint:

[code]

Expected result:
content-type: text/plain
[code]

OR

content-type: application/json
[code]

Actual result (bug):
content-type: application/json
[code]

[2016-11-29 21:24] forestjohnsonpeoplenet opened #1068 "graphviz dot cannot visualize dot parameter on /kapacitor/v1/tasks?dot-view=labels"
[code]

I am pre-processing the dot parameter from its "human friendly" mode (?dot-view=attributes) like this:

[code]

The resulting dot looks like this:
[code]
Which produces an image such as:

![](http://i.imgur.com/o0hTi33.png)

[2016-11-29 21:47] joelittlejohn opened #1069 "Deleted tasks are still enabled and can't be replaced or deleted"
Kapacitor 1.1.0 (git: master 939fdf670b028c142944977dcfcb045cac2343ed)
Ubuntu 14.04.5 LTS

When I define a kapacitor task like:

[code]

and then delete it like:

[code]

the task seems to become a 'zombie'. It is not shown when running `kapacitor list tasks`, but running `kapacitor show healthcheck_alert` shows:

[code]

I now can't seem to delete, define, enable or disable this task. These kapac

[2016-11-29 23:35] nikhilagrl opened #1070 "Kapacitor in AWS QA Env"
Hi,

I have InfluxDb and kapacitor installed in my AWS QA environment.
What are the changes required in Kapacitor.conf , I am trying to send email notification's.

[2016-11-30 02:20] liurenjie1024 commented on #1065
@nathanielc Thanks for the reply. I used the flag but the output is still weird to me.  When
[code]
begins to execute, kapacitor is supposed to record data from now. However it seems that kapacitor tries to poll data as much as possible, and even data several days has been recorded. Isn't this a problem?

[2016-11-30 04:24] jayannah commented on #1054
Thanks. Here are the details and kindly clarify the followings

 We have 2 InfluxDB instances behind LB. The kapacitor uses LB URL as InfluxDB URL.  While writing data, we send the data to relays which will write the data to both influxdb instance

1. Can't we use Kapacitor without subscription to a Database?
2. To achieve HA when we have more InfluxDB instances and influx instances may change, ho

[2016-11-30 11:05] AAbouZaid opened #1071 "AlertNode JSON custom field"
Recently I needed to some data in the JSON payload that AlertNode creates, but I couldn't find a way to do that.
I think we need a way to add more data to AlertNode's JSON payload.

This should be as same as level of main ones like "id", "message", "level" ... etc.
But not just string (maybe list or dict).

[code]

Info:
* Kapacitor: v1.1

Thanks

[2016-11-30 14:54] liurenjie1024 commented on #1065
I've checked the logs and the following confuses me:
1. The same record appears several times in the log, but with different duration. I have no idea the meaning of duration in the log.
2. Records show up in the log is not in the order of event time. Records of several days ago may event appear.

[qps.txt](https://github.com/influxdata/kapacitor/files/622075/qps.txt) is part of my log file. The ti

[2016-11-30 17:07] nathanielc commented on #1071
@AAbouZaid What data did you want to add? In other words what was the source of the data?

[2016-11-30 17:39] AAbouZaid commented on #1071
@nathanielc It could be anything I think.

It could be a fixed string inside TICK script, or something comes form Influx query (just like what we have in "details" where query tags or fields could be used inside it).

[2016-11-30 17:46] forestjohnsonpeoplenet commented on #1069
I think I have seen this before as well.

[2016-11-30 18:03] nathanielc commented on #1070
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-11-30 18:03] #1070 closed

[2016-11-30 18:07] joelittlejohn commented on #1069
After some further investigation I've found that I can still update the alert using `kapacitor define` followed by `kapacitor enable`. I just can't delete or disable the alert, because it seems that Kapacitor does not think this alert exists.

[2016-11-30 21:21] #1029 closed

[2016-12-01 11:03] gkpraveen1988 commented on #1064
Hi Nathanielc, Thanks for your input and I was able to fix the issues. Now the outlier script is getting executed explicitly and able to see the process.

There is an another issue I am facing. I wrote the tick scripts as below to check the std deviation of last 30 points which I have in the test influxdb.

batch
    |query('''
     SELECT value
     FROM "testdata"."autogen"."drive_info"
     '''

[2016-12-01 16:56] nathanielc commented on #1064
@gkpraveen1988 Are you using the outliers UDF unmodified? The output if the `@outliersAvg` step is a batch of all the discovered outliers, which are identical copies of the points sent into the UDF. Essentially the UDF is a `where` filter node that filters out normal points and only keeps outliers.

Therefore the `as` property is not supported since there is no computed resutl to return, rather ju

[2016-12-02 03:14] svolence opened #1074 "package context: unrecognized import path "context" (import path does not begin with hostname)"
[code]

[2016-12-02 03:39] #1074 closed

[2016-12-02 10:50] m4ce opened #1075 "Expression to check if a tag exists"
Hi,

I know you can build conditions like: {{ if ne .Level "CRITICAL" }} .. {{ else }} .. {{ end }}

How to check if a specific tag or field exists?

Also, is there any specific documentation I should refer to regarding this templating syntax?

Thank you for your help.

[2016-12-02 11:41] gkpraveen1988 commented on #1064
Thank you very much Nathanielc,

Could you help me understanding the |log() method in tick scripts.
   stream.from()...
      |window()
          .period(10s)
          .every(10s)
      |log()
      |count('value')

Like at what scenario I can use that and if I use like the below.

    |log()
     .level('INFO')
     .prefix('value')
Just wanted to know what is the use of the above. Please help m

[2016-12-02 18:26] nathanielc commented on #1075
For docs on the template engine see https://golang.org/pkg/text/template/

There is no method to check if the field exists, you have to compare against a value of the field or tag. The [DefaultNode](https://docs.influxdata.com/kapacitor/v1.1/nodes/default_node/) is useful here, since it can set a value if the field or tag doesn't exist.

[2016-12-03 12:34] elvarb commented on #1058
Something I had not thought about being an issue but clearly can cause issues.

Does kapacitor not take into account the metric timestamps?

[2016-12-05 10:37] emirozer opened #1076 "Failed to send alert data to Alerta: Token is invalid (where as the token is valid)"
Latest master deployed with  (no prepackaged use, just go build the master kapacitor)

kapacitor.conf have the following set:

[code]

This is what we see in the logs:

[code]

I have three remarks:

* the token is valid. confirmed manually.

* alerta does not even receive the request to return a 401. so for some reason kapacitor thinks the token is invalid by itself? (tested this by, forking aler

[2016-12-05 14:48] emirozer commented on #1076
in the logs i can see these btw:

[code]

[2016-12-05 16:22] emirozer commented on #1076
So i think i have an idea what broke.

39b5a8db

At https://github.com/influxdata/kapacitor/commit/39b5a8dbd2b37dea29a671b88e8db1b14d3fc4dc#diff-669ef0be807fb0d87f7b5f88fca10430R194 this line, the auth is being done by the keyword 'Bearer' but this is for OAUTH2 token authentication.

So this broke for us because we merely just use http://alerta.readthedocs.io/en/latest/authentication.html#api-key

[2016-12-05 16:44] nathanielc commented on #1064
See this https://docs.influxdata.com/kapacitor/v1.1/nodes/log_node/#level

But basically it logs the data that passes through the node. The logs appear where ever you have instructed the kapacitord process to send it logs.

[2016-12-05 16:57] nathanielc commented on #1058
@elvarb Kapacitor only takes into account the metric timestamps, it does not care what the current time is according to the system. Meaning if you write data to Kapacitor with timestamps of last year then that task will think it is last year. All times are computed as per the timestamps on the metrics.  Each task keeps track of the `current` time which is defined as the greatest timestamp seen fro

[2016-12-05 17:01] nathanielc commented on #1076
@emirozer That sounds reasonable @allen13 Can you also take a look?

[2016-12-05 17:03] nathanielc commented on #1065
@liurenjie1024 Can you confirm that the measurement `com.mediav.rtut.parser.CookieEventParserBolt.qps` isn't receiving writes for old timestamps? You may be running into this https://github.com/influxdata/kapacitor/issues/1058

[2016-12-05 18:10] allen13 commented on #1076
I'll check it out.

[2016-12-05 18:28] allen13 commented on #1076
@emirozer You are correct. The custom version of golerta I am using uses Bearer instead of Key. This was an oversight on my part. Apologies. I will get a pull request in ASAP.

[2016-12-05 18:51] nikhilagrl commented on #974
Hi Nathaniel,

Query 1: How to stop the running tick script.

Query 2: How to customized email alert, Please find attached tick script,
config file, Current email alert and required email alert format.

--

*Thanks,Nikhil Agrawal | +1 408 505 8443 <(408)%20505-8443>*

[2016-12-05 18:53] allen13 commented on #1076
Pull request in https://github.com/influxdata/kapacitor/pull/1077

[2016-12-05 19:04] nathanielc commented on #974
See https://docs.influxdata.com/kapacitor/v1.1/introduction/getting_started/ and https://docs.influxdata.com/kapacitor/v1.1/nodes/alert_node/#details

Since a specific issue isn't being reported I am going to close this issue now. We try to reserve GitHub Issues for actionable bug reports or feature requests. In the future please send general questions to the [influxdb@googlegroups.com](mailto:inf

[2016-12-05 19:04] #974 closed

[2016-12-05 19:33] elvarb commented on #1058
How does it handle queued up metrics?

For example disaster strikes network is down, local queues start to fill. When the network comes back up hours worth of metrics is pushed to kapacitor.

[2016-12-05 19:38] nathanielc commented on #1058
@elvarb So long as the metrics are written in increasing time order then the result is the same as if the metrics arrived in realtime.

This is this nice thing about using the metrics timestamps is it doesn't matter what the current time is the result is always the same for identical datasets.

[2016-12-05 19:56] elvarb commented on #1058
Ok then the chances of running into this issue is pretty slim. Only when backfilling old data.

[2016-12-05 20:05] emirozer commented on #1076
thanks for the quick reaction @nathanielc @allen13

[2016-12-05 20:05] #1076 closed

[2016-12-06 10:44] gkpraveen1988 commented on #1064
Thank you for the link.. Following the above link, wrote the below tick script for the last 30 records in influxdb, use outliers and log into a file.

batch
    |query('''
     SELECT value
     FROM "testdata"."autogen"."drive_info"
     ''')
     .period(5d)
     .every(10s)
    @outlierAvg()
     .field('value')
    |log()
     .level('INFO')
     .prefix('value')
    |alert()
     .message('Le

[2016-12-06 12:14] tmszdmsk opened #1078 "replay-live lacks tags data"
Hey, I have a stream type task that looks similar to:
[code]
when defined and enabled normally on live data outputs data to slack in expected format:
[code]

But, for faster feedback loop I wanted to test it using `replay-live` feature of kapacitor with query
[code]
Messages are sent to slack as expected, but tag placeholders are not populated with data:
[code]

[2016-12-06 16:12] ckdarby commented on #1056
Was running 1.X. Pulled latest influxdb, kapacitor and telegraf. It is now working.

I mentioned some feedback [here](https://news.ycombinator.com/item?id=13094106).

I love using these tools but I've always felt that debugging issues is extremely difficult.

[2016-12-06 16:12] #1056 closed

[2016-12-06 16:41] nathanielc commented on #1056
@ckdarby Glad you have it working, and thanks for the feedback!

[2016-12-06 16:44] nathanielc commented on #1064
@gkpraveen1988 That log entry just says that there are no points returned from the outlerAvg UDF, meaning that no outliers were found. As a result nothing was posted to slack since the batch was empty.

[2016-12-06 16:45] nathanielc commented on #1078
This is a subtle issue with how queries in InfluxDB work. In short `select * from ...` returns all fields and tags as fields. If you want to query to preserve tags as tags then add a `group by *` to the query.

[2016-12-07 18:01] m4ce commented on #1075
@nathanielc, thanks for the tip about DefaultNode. I think I can take it from there now.

[2016-12-07 18:01] #1075 closed

[2016-12-07 19:30] ckdarby opened #1079 "Allow GET Recording Downloads & PUT"

[2016-12-08 16:51] nathanielc commented on #1079
We have a WIP design doc for how we plan to implement this feature. https://github.com/influxdata/kapacitor/blob/master/BLOB_STORE_DESIGN.md

Thanks for the feature request.

[2016-12-08 17:20] ckdarby opened #1080 "Crit Lambda not triggering on 1 > 0"
[code]

[code]

[code]

[2016-12-08 17:29] nathanielc commented on #1080
@ckdarby Check the kapacitor daemon logs. My guess is you are running into a type conversion error.

[2016-12-08 18:02] ckdarby commented on #1080
Wouldn't this trigger an error on the task get response?

On Dec 8, 2016 12:29 PM, "Nathaniel Cook" <notifications@github.com> wrote:

[2016-12-08 18:43] ckdarby commented on #1080
No errors in /tmp/alerts.log

[code]

[code]

[2016-12-08 20:23] #1055 closed

[2016-12-08 21:43] ckdarby commented on #1080
Fixed. Was bool expression issue and trying to do int * float with the 0

[2016-12-08 21:43] #1080 closed

[2016-12-09 04:39] joshughes opened #1081 "Kapacitor Recording Hangs but Stats show incoming points"
Have capacitor 1.1 and Influx 1.1 and the following

[code]

Stats show incoming points to my database.

[code]

So Kapacitor is receiving data from influx which I have read is the usual issue here when there is a hang.

Here is the recording.

[code]

Stays at 0 B and the command just hangs.

Both Kapacitor and Influx are in containers and my client is on my main machine. All are the same version

[2016-12-09 05:17] joshughes commented on #1081
FInally solved the issue. The documentation on 'Getting Started' makes no mention or what `-dbrp kapacitor_example.autogen` is doing. So if you don't have a data retention policy that matches one currently in influx nothing will get processed.

Probably worth adding something to the documentation or doing a quick validation with influx to ensure the data retention policy exists. Either of those wo

[2016-12-09 05:17] #1081 closed

[2016-12-09 10:16] thealphaking01 opened #1082 "Error while calculating percentage"
I have been running a Kapacitor Tick Script on top of Influx, with the query

[code]

Here, "successful" is a field with value either 0 or 1 indicating failure and success respectively.

Now, everything is working correctly most of the time, giving me the correct success percentage but sometimes I suddenly get values more than 100, going even into thousands and ten thousands. I have tried replicat

[2016-12-09 12:11] jait-23 commented on #126
// **cod_alert.tick**
stream
   |from()
   .measurement('cod')
   |alert()
   .crit(lambda: "reading" > 87)
   .log('/tmp/cod_alert.log')

// **kapacitor.conf**
 [influxdb.subscriptions]
    # Set of databases and retention policies to subscribe to.
    # If empty will subscribe to all, minus the list in
    # influxdb.excluded-subscriptions
    #
    # Format
    # db_name = <list of retention po

[2016-12-09 12:51] jait-23 commented on #648
// cod_alert.tick
stream
|from()
.measurement('cod')
|alert()
.crit(lambda: "reading" > 87)
.log('/tmp/cod_alert.log')

// kapacitor.conf
[influxdb.subscriptions]
# Set of databases and retention policies to subscribe to.
# If empty will subscribe to all, minus the list in
# influxdb.excluded-subscriptions
#
# Format
# db_name =
#
# Example:
# my_database = [ "default", "longterm" ]
kerneltest = [

[2016-12-10 04:54] IvanTheFirst opened #1083 "process udf function fail with batch but works with stream [solved]"
Hello.
I wrote udf function and it's fails with batch in .tick file.  Can you help me with these issue?

kapacitor.log:

code of function:

[code]

tick file:

[code]

function in kapacitor.conf:

[code]

The same function works with stream tick:
[code]

[2016-12-11 03:59] ipsha1545 commented on #645
Hello
I am facing the similar issue.
1.Kapacitor,influxdb and telegraf all are running
2.I am able to see the database kapacitor_example  and the related data in SHOW DATABASES.
3.I am able to see an entry in kapacitor record stream but when I am executing kapacitor list recordings,its giving me 0 bytes of stream

version
Influxdb-0.13.0
Kapacitor-0.13.1
Telegraph-0.13.1

[2016-12-11 15:29] mytototo opened #1084 "GraphQL endpoint"
Hey,

Do you have plans about a GraphQL endpoint admin so we can consume it instead of the REST API ? Way much easier for a dashboard.

Thanks.

[2016-12-12 01:19] ipsha1545 opened #1085 "Kapacitor not recording data stream and alerts not visible in kapacitor log"
# Kapacitor not recording data stream and alerts not visible in kapacitor log

### I have a Fedora24(CentOS)  vm in windows10 host.I followed the article [here](https://github.com/influxdata/kapacitor/issues/648).

Following are the details
I tried with the exact same version of Influxdb,kapacitor and telegraf as was mentioned in the article but it seemed like many changes were made in kapacitor 1

[2016-12-12 10:05] AAbouZaid opened #1086 "Query connect_errors disappeared."
Hello,
After upgrade to Kapacitor v1.1.1 ... `connect_errors` disappeared from query node in DOT.

How to reproduce:
[code]
`connect_errors` not exists anymore.

Info:
Kapacitor v1.1.1
Ubuntu 14.04.5

[2016-12-12 15:39] rubycut opened #1087 "panic on kapacitor restart"
Kapacitor 1.0.0

Server couldn't be restarted, because it was constantly crashing while loading tasks on startup:

[code]

[2016-12-12 15:44] rubycut commented on #1087
Template was added first:
[code]
JSON:
[code]

Template itself:
[code]

[2016-12-13 12:09] dan505512 opened #1088 "Cannot use lookahead in regex"
While trying to use lookahead in a regex in my TICKScript i get an error:
"Error parsing regexp: invalid or unsupported Perl syntax: '(?!'.
I'm using Kapcitor 1.0.0
TICKScript:
[code]

Is there any other way i could do a negative lookahead kind of thing, or maybe is there a way to enable it?

[2016-12-13 18:53] rossmcdonald commented on #1088
Lookahead assertions are not supported by Kapacitor, since they are not supported by Go's regexp library. You can find all supported syntax [here](https://github.com/google/re2/wiki/Syntax).

[2016-12-14 21:26] IvanTheFirst commented on #1083
There is difference from stream and batch. When I start my batch I get this message in **ponit**:
[code]

but from tick script waiting 'mount_point_free_kb' tag inside. I just simply fix batch tick:
[code]

[2016-12-14 21:30] #1083 closed

[2016-12-15 11:36] usdin commented on #971
Kapacitor Version: v1.1.1
[code]

Above tick, when enabling gives error.

Am I missing something

[2016-12-15 14:33] gruberb opened #1089 "Get the amount of rows during a certain timeframe, alert if 0"
I am trying for a few hours now to get a certain select right. I want to get notified when a server is down, therefore I create a timeframe, and ask how many results I get back. Somehow, I cannot make it work.

**InfluxDB 1.1.1
Telegraf 1.1.0
Kapacitor 1.1.0**

[code]

Here with Deadman. Also, doesn't work:

[code]

Would be happy to get any suggestions!

[2016-12-15 16:37] nathanielc commented on #1089
The deadman node is an alert node. Try this:

[code]

[2016-12-15 16:44] nathanielc commented on #1085
@ipsha1545 The major version of InfluxDB and Kapacitor must match. Meaning if you are using 0.13.X InfluxDB you need to be using Kapacitor 0.13.X. Since you have upgraded Kapacitor to 1.1.X of Kapacitor you should also upgrade InflxuDB to 1.1.X.

Specifically there lots of bug fixes for the subscriptions in version 1.0 of Kapacitor/InfluxDB so upgrading my solve your problem.

[task_store] 2016/12

[2016-12-15 16:48] nathanielc commented on #971
@usdin This is an annoying bug, but you must specify the group by time in the query string and then it will be overwritten with the value from the `.groupBy(time(1m)...)` value.

We have an open issue for this but I can't seem to find it. When I do I'll link it here.

[2016-12-15 17:00] nathanielc commented on #1087
@rubycut Thanks for the detailed report. I'll take a look at this. If it helps you get up and running, that stacktrace is for a path that is processing data. Meaning the panic is coming from writing data to Kapacitor. If you disable all writes for a bit you should be able to start up Kapacitor and disable the offending task.

Either way we will get a fix for this.

[2016-12-15 17:03] nathanielc commented on #1086
@AAbouZaid This is because an underlying change to the client was made that doesn't distinguish between connect_errors and query_errors. You can still track the errors via the `query_errors` stat.

[2016-12-15 17:05] nathanielc commented on #1084
@mytototo No plans currently. Is there a specific API endpoint that isn't easy to use or are you looking more generally?

[2016-12-15 17:07] nathanielc commented on #648
@jait-23 Can you post your question to the mailing list? As this issue is already closed.

We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-12-15 17:09] nathanielc commented on #126
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-12-15 17:11] nathanielc commented on #1082
@thealphaking01 Can you share your TICKscript? It would also be helpful if you could add a `|log()` node after the query node so we can capture exactly what data is being returned. Thanks

[2016-12-15 17:15] nathanielc opened #1090 "Alert Node should log lambda evaluation errors"
See https://github.com/influxdata/kapacitor/issues/1080 the alert node can hide important errors that need to be logged.

[2016-12-15 17:52] #1088 closed

[2016-12-15 17:57] rossmcdonald commented on #1043
Fixed with https://github.com/influxdata/kapacitor/pull/1044. To anyone who encounters this, run:

[code]

[2016-12-15 17:57] #1043 closed

[2016-12-15 18:03] #1089 closed

[2016-12-15 20:22] mytototo commented on #1084
@nathanielc It's for a general use. Out of curiosity. Thanks for the answer.

[2016-12-15 20:22] #1084 closed

[2016-12-15 22:33] #918 closed

[2016-12-16 09:59] AAbouZaid commented on #1086
@nathanielc Cool then! Thanks a lot Nathaniel.
But is that mentioned anywhere? e.g. change log.
Just to make sure no one else will wonder why it gone.

[2016-12-16 14:51] flcaza opened #1091 "Alert"
I try to trigger an alert. What i do and what i have:
- all on same server
- influx --version InfluxDB shell version: 1.1.1
- telegraf --version Telegraf v1.1.2 (git: release-1.1.0 3da3a2279108d02c2158782794532de7cd7deacd)
- kapacitor Kapacitor starting, version 1.1.1, branch master, commit d1e0173df2b9f44c64b7bbf1a120a1bdb3ef683e

file:
- influxdb.conf
[meta]
  dir = "/var/lib/influxdb/meta"
[dat

[2016-12-16 15:17] flcaza commented on #1091
Ok, somehow i fix this, break 15 min dink 1 coffee and delete all.

Now is working ( i have data).

Next problem:
i record 1 second of alerts and i want to export/sent to Victorops.

 kapacitor show cpu_alert
ID: cpu_alert
Error:
Template:
Type: stream
Status: disabled
Executing: false
Created: 16 Dec 16 14:58 UTC
Modified: 16 Dec 16 15:13 UTC
LastEnabled: 16 Dec 16 15:07 UTC
Databases Retention P

[2016-12-16 16:18] nathanielc commented on #1086
@AAbouZaid Good point I'll update the change log.

[2016-12-16 16:29] nathanielc commented on #1091
@flcaza Did you set a routing key?

[2016-12-17 14:16] arpitkhendawat opened #1092 "Unable to get host name from the aggregation query on the tag name."
Hi Nathaniel,
Below is my code to determine the anomaly in cpu_idle measurement.
I am writing the log into the measurement 'cpu_idle_anomaly'.
On doing an aggregation query on the tag name, i am not getting the host name which i need to enter in cpu_idle_anomaly.
`var one_min_old = batch
	|query('SELECT mean(value), stddev(value) from sensu."default".cpu_idle group by host')
		.offset(10s)
		.peri

[2016-12-19 05:47] ipsha1545 commented on #1085
I upgraded Influxdb to 1.1.x but still the issue persists.Is there any way to fix it?

[2016-12-19 05:58] ipsha1545 commented on #1085
Is there any specific version of kapacitor,influxdb and telegraph for which the entire setup will work fine without issues,the stream of data will be visible in kapacitor and the alerts can be visible in the log file either on docker or on localhost?

[2016-12-19 09:52] flcaza commented on #1091
Fixed, was from Api key.

Thank you !

[2016-12-19 10:23] abadyan-vonage commented on #987
Same issue, I want to use a tag from the query data when I write back but it seems there is no way to do it.

[2016-12-19 13:24] folly3 opened #1093 "Check the last record for a specific host"
I want to create batch task, he checks if for a specific host the last time record is lower than the last 5 minutes.

My batch tick :

batch
    |query('''
        SELECT *
        FROM "telegraf"."autogen"."cpu"
        WHERE host = 'monitor2'
        LIMIT 1
    ''')
        .period(5m)
        .every(5m)
    |alert()
        .crit(lambda: "time" < now() - 5m )
        .log('/tmp/alerts.log')

b

[2016-12-19 17:02] nathanielc commented on #987
@schmurfy @abadyan-vonage You can use the `eval` node to first create the tag, and then write it out to InfluxDB. https://docs.influxdata.com/kapacitor/v1.1/nodes/eval_node/#tags

[2016-12-19 17:03] #1091 closed

[2016-12-19 17:05] nathanielc commented on #1092
@arpitkhendawat I think this is what you need https://docs.influxdata.com/kapacitor/v1.1/nodes/query_node/#groupby

[2016-12-19 17:47] irom77 opened #1094 "kapacitor on host with influxdb in container"
I prefer to have kapacitor running on Linux host and influxdb in the container. But it looks like influxdb running in the container can't connect back to kapacitor (subscription http://localhost:9092).
When trying to connect to host port 9092 from container running on this host 'curl -v 1.1.1.1:3003' I am getting '_curl: (7) Failed to connect to 1.1.1.1 port 3003: No route to host_'. I can ping 1.

[2016-12-19 20:36] yatahaze commented on #1085
I'm having the same issue. I upgraded everything to the latest listed on the website today. I can't get anything to work, yet all the communications seem to be working.

[2016-12-19 20:48] nathanielc commented on #1085
@yatahaze @ipsha1545 Any version >= 1.0 should be working without issues. Can you share the output of `kapacitor stats ingress`?

[2016-12-19 20:50] nathanielc commented on #1094
@irom77  So long as the URL in the subscription resolves and has network connectivity from within the InfluxDB container everything should work. There is a `hostname` configuration option as well as cluster specific `kapacitor_hostname` config option that enable you to control the address of the generated subscription entry.

[2016-12-19 21:06] yatahaze commented on #1085
Sure,
`# kapacitor stats ingress
Database   Retention Policy Measurement           Points Received
_internal  monitor          cq                                299
_internal  monitor          database                         1196
_internal  monitor          httpd                             299
_internal  monitor          queryExecutor                     299
_internal  monitor          runtime

[2016-12-19 22:45] nathanielc commented on #1085
@yatahaze  Looks like Kapacitor is receiving the data, can you share a TICKscript that isn't working? The entire output of `kapacitor show TASK_NAME` would be best.

[2016-12-20 06:27] niteshsarode commented on #1035
That doesn't work too!

I think I am unable to insert non-telegraf database properly.
For inserting hardcore database, I wrote a code in python that is given below
`import argparse
import pandas as pd

from influxdb import InfluxDBClient
from datetime import datetime

def main():
    user = 'root'
    password = 'root'
    dbname = 'example'
    current_time = datetime.utcnow().strftime('%Y-%m-%dT

[2016-12-20 06:56] flcaza opened #1096 "kapacitor id"
Hi,

Small problem :) All working well but i want to customize my id. What i want:
{"id":"cpu/hostnr1","message":"CRITICAL: blablabla

i try with different id:
    |alert()
        .id('{{ index .Tags "host" }}/{{ index .Tags "cpu" }}')
//        .id('{{ .Name }}-{{ index .Tags "service" }}')
//        .id('{{ index .Tags "host" }}')
//        .id('{{ index .Tags "host"}}/disk_used')

but what i g

[2016-12-20 09:55] flcaza commented on #1096
all .tick

stream
    |from()
        .measurement('cpu')
    // create a new field called 'used' which inverts the idle cpu.
    |eval(lambda: 100.0 - "usage_idle")
        .as('used')
    // |groupBy('service', 'datacenter')
    |window()
        .period(10s)
        .every(10s)
    // calculate the 95th percentile of the used cpu.
    |percentile('used', 95.0)
    |eval(lambda: sigma("percentil

[2016-12-20 10:38] abadyan-vonage commented on #987
@nathanielc, thanks.
I now realize I misunderstood how tagging works in kapacitor.
If I group by the tag in the query, it is automatically grouped by that tag in InfluxDBOut.
So, works for me.

[2016-12-20 12:53] ipsha1545 commented on #1085
Here is the TICKscript and the output.

stream
    |from()
        .measurement('cpu')
    |alert()
        .crit(lambda: "usage_idle" < 90)
        .log('/tmp/cpu_idle_alerts.log')

`[ticku@localhost ~]$ kapacitor show cpu_alert
ID: cpu_alert
Error:
Template:
Type: stream
Status: enabled
Executing: true
Created: 19 Dec 16 23:29 PST
Modified: 19 Dec 16 23:29 PST
LastEnabled: 19 Dec 16 23:29 PST
Da

[2016-12-20 16:11] #987 closed

[2016-12-20 16:23] nathanielc commented on #1096
@flcaza You need to group by the tags you want in order to preserve them through aggregation operations like `percentile`. So add both `host` and `cpu` to the groupBy list. That should get you started.

[2016-12-20 17:05] yatahaze commented on #1085
Here's mine:

[code]

And the other I've been testing:
[code]

[2016-12-21 01:06] ipsha1545 commented on #1085
[ticku@localhost ~]$ kapacitor stats ingress
Database   Retention Policy Measurement    Points Received
_internal  monitor          cq                         760
_internal  monitor          database                  1520
_internal  monitor          httpd                      760
_internal  monitor          queryExecutor              760
_internal  monitor          runtime                    760
_

[2016-12-21 06:47] flcaza commented on #1096
Great, all worked well.

Thank you Nathaniel

[2016-12-21 06:47] #1096 closed

[2016-12-21 06:56] flcaza commented on #1093
hi folly3,

try to go in influx database and see if you have any result for query, i try on my db and is working

SELECT * FROM "telegraf"."autogen"."cpu" WHERE host = 'dev_tools' limit 1
name: cpu
time                    cpu     device  host            pct_pct_idle    pct_pct_iowait  pct_pct_nice    pct_pct_steal   pct_pct_system  pct_pct_user    server          usage_guest     usage_guest_nice

[2016-12-21 08:36] folly3 commented on #1093
Hi flcaza,

Yes i have a result :

SELECT * FROM "telegraf"."autogen"."cpu" WHERE host = 'monitor2' LIMIT 1
name: cpu
time                    cpu             env     host                    usage_guest     usage_guest_nice        usage_idle              usage_iowait            usage_irq       usage_nice      usage_softirq   usage_steal     usage_system            usage_user
----

[2016-12-21 17:23] nathanielc commented on #1010
In summary you are doing two things:

1. Checking that all points in the last 3m have a `gauge > 0`
2. You want to report the value of the last point in the alert message.

If you separate out those parts and join them back together it will work:

Something like this:

[code]

[2016-12-21 18:43] djsly commented on #1010
Thanks this works!

do you want to keep this Ticket open to have a cleaner fix or this is by design ?

I will be converting all of our tick script that are using batch Node and will update if I find any use cases that this solution doesn't cover

[2016-12-21 19:45] nathanielc commented on #1010
@djsly Thanks! I'll close it.

[2016-12-21 19:45] #1010 closed

[2016-12-22 07:18] flcaza commented on #1093
Folly3, in past i have some similar problem, if you can stop influxdb, stop, telegraf, stop kapacitor, delete influxdb databases (i prefer to delete dir from /var/lib/influxdb), delete kapacitor database (again delete dir from /var/lib/kapacitor)
start influxdb (check if it is working, login from bash)
start telegraf (see if you have some data in influxdb)
start kapacitor - again initialize cpu.ti

[2016-12-22 13:03] darrenmillin opened #1098 "Feature Request - The formatting of "kapacitor list tasks" should handle long Task ID names."
If the command "kapacitor list tasks" is run, and there are Task IDs in the system with over 30 characters, the space between the Task ID and Type columns disappears. The table formatting
also becomes skewed:

root@influx:~# kapacitor list tasks
ID                            Type      Status    Executing Databases and Retention Policies

aaaaaaa_bbbbbb_ccccc_alert  batch     enabled   true      ["

[2016-12-22 15:28] folly3 commented on #1093
Ok thanks flcaza,

i have an other question :  how i can check if the batch query return a empty result ?

[2016-12-22 16:10] nathanielc commented on #1098
@darrenmillin What version are you running? I believe this was fixed in 1.1

[2016-12-22 20:21] darrenmillin commented on #1098
We are running 1.0.0-1 in production. I'll upgrade to 1.1 in test.

[2016-12-24 14:57] oiooj opened #1099 "Feature Request - From node support cluster propertiy"
Can `from` node support `cluster` propertiy, just like `query.cluster` in `batch`?

[code]

[2016-12-27 17:16] rossmcdonald commented on #1099
@oiooj When receiving points over a stream, Kapacitor doesn't have any notion of which cluster/host is sending the data to it, only the target database and retention policy. Please see https://github.com/influxdata/kapacitor/issues/489 for more information and workaround.

[2016-12-27 17:16] #1099 closed

[2016-12-27 17:17] rossmcdonald commented on #1098
@darrenmillin Have you been able to verify that upgrading to v1.1 fixes the issue?

[2016-12-27 17:20] darrenmillin commented on #1098
Thank you @rossmcdonald. The issue has been resolved with v1.1

[2016-12-27 17:20] darrenmillin commented on #1098
Thank you @rossmcdonald. The issue has been resolved with v1.1

[2016-12-27 17:21] rossmcdonald commented on #1082
@thealphaking01 Are you still seeing this issue? The information requested above would be very helpful in tracking this down.

[2016-12-27 17:21] darrenmillin commented on #1098
Thank you @rossmcdonald. The issue has been resolved with v1.1

[2016-12-27 17:21] #1098 closed

[2016-12-27 20:46] thealphaking01 commented on #1082
Nope. Will notify if I see this again. As I said, it wasn't reproducible.

Thanking You,

Abdur Rahman
+91 7338452011

On Tue, Dec 27, 2016 at 10:51 PM, Ross McDonald <notifications@github.com>
wrote:

[2016-12-27 21:02] rossmcdonald commented on #1082
@thealphaking01 Thank you, please do. I'll close this one for now.

[2016-12-27 21:02] #1082 closed

[2016-12-29 00:39] hraftery opened #1100 "UnionNode buffers points without warning"
After 4 hours on this one, I concede defeat.

Consider this TICKscript:

[code]

It works perfectly on recorded data provided the record uses a query to select historical data. However calling `kapacitor record stream` does not return and no data is recorded even if a point is inserted into either `one` or `two`.

Further, enabling the task produces no log output **until `x` points are added to ei

[2016-12-29 18:47] phemmer opened #1101 "Log to syslog"
It would be nice if kapacitor could log to syslog instead of just files or STDOUT/STDERR.

The current STDOUT logging poses a problem on systemd because of a limitation where journald splits lines at 2k chars (https://bugs.freedesktop.org/show_bug.cgi?id=86465). When using `|log()` statements to debug a script, these lines can easily exceed 2k, and thus get split up, making parsing rather difficul

[2016-12-29 18:53] phemmer commented on #1101
For reference, here's the PR of the implementation of syslog on influxdb: https://github.com/influxdata/influxdb/pull/902/files

[2017-01-03 10:00] jroda opened #1102 "Alerts are sent too late after trigger"
I have some problems with alerts via email. Sometimes the mail is sent several minutes/hours after alert is triggered.

I checked if it was a problem with my mails client but it wasn't the problem. Besides I tried with "slack" and the same error happen there.

Anybody got the same problem with alerts?

[2017-01-04 08:13] xigang opened #1104 "HTTP API create a task, response 204"
Create a task, response 204.

request:
[code]

reponse:

[code]

kapacitor.log

[code]

[2017-01-04 13:04] #1104 closed

[2017-01-04 13:07] xigang opened #1105 "Send post request to get CPU usage added to post URL?"
cpu_alert.tick
[code]

I want to add used filed to post URL

[2017-01-04 18:54] davidsiefert commented on #1085
+1

Having same issues with influxdb 1.1.1, kapacitor 1.1.1

[2017-01-04 20:35] davidsiefert commented on #1085
confirmed that influxdb+kapacitor 1.1.0 works--was able to get through the getting started guide now.  Hope this helps narrow things down to a range of changelists. ;)

[2017-01-04 23:07] ckawasaki-isp opened #1106 "Kapacitor issue - Batch joins not working as expected, one data stream not consistent data."
OS: 64-bit Ubuntu 16.04.1 LTS
Kapacitor Version: 1.1.0
Installation Source: Pre-built package

Test Case Script:

var errRetCodeName string

var errors = batch
|query('
    SELECT sum("' + errRetCodeName + '")
    FROM "reporting"."default"."return_errors"
    ')
.period(1m)
.every(1m)
.groupBy(time(1m),errRetCodeName)
.fill(0)
|httpOut('errors')

var successes = batch
|query('
    SELECT sum("RET

[2017-01-05 01:53] cheribral opened #1108 "Record query with group by is causing kapacitor to hang"
I'm trying to test some anomaly detection for streams with kapacitor-1.1.1-1 on some streams which seldom get points.  Because the streams are so rarely updated, I need to record several weeks worth of past information to test.  I can record a query with no group by, but that is pretty unhelpful.  When I put a group by on the query, kapacitor locks up, and has to be killed -9.

It's been a while s

[2017-01-05 04:26] #1105 closed

[2017-01-05 19:59] markhuge opened #1109 "Feature Request - var interpolation inside of query()"
When creating a template, it'd be really handy to be able to pass in a relevant string that varies between tasks vs having to pass the entire query into the var

[code]

[2017-01-05 21:43] rossmcdonald commented on #1109
@markhuge I believe you should be able to do this already with string concatenation:

[code]

But I agree that being able to use templated variable names would be the best solution.

[2017-01-06 03:05] xigang opened #1111 "invalid TICKscript: name "influxql" is undefined"
test.tick

[code]

[code]

[2017-01-06 17:10] rossmcdonald commented on #1111
@xigang The `mapReduce` node syntax was changed with a previous version, so what you are using now is invalid. You can find the documentation to the current syntax [here](https://docs.influxdata.com/kapacitor/v1.1/nodes/influx_q_l_node/).

To fix your issue, you'll want to use `|mean(filed)` instead of `|mapReduce(influxql.mean(filed))`.

[2017-01-06 17:10] #1111 closed

[2017-01-06 18:33] rbinnun opened #1113 "Delete Node doesn't Delete Tags"
Kapacitor: 1.1.1
InfluxDB shell: 1.1.1
Installation Source: Pre-built package
OS: Linux Mint 18 Sarah 64-bit | Kernel Linux 4.4.0-57-generic x86_64

In the example below the fields get deleted but the tags don't.
Am I missing something or is this a bug?

    var raw_event = stream
        |from()
            .measurement('raw_event')
        |delete()
            .tag('glocation')
            .fie

[2017-01-06 19:46] nathanielc commented on #1113
@rbinnun The stat counter only increments if a tag existed to be deleted. Can you confirm that the `glocation` tag exists on the raw data and has been deleted after the `|delete()`? Using `|log()` is a quick way to debug it.

[2017-01-06 19:49] nathanielc commented on #1108
@cheribral Can you provide the a simple example command that causes Kapacitor to lock up?

[2017-01-06 19:57] nathanielc commented on #1100
@hraftery I also discovered this and started working on a fix (see https://github.com/influxdata/kapacitor/pull/1038) but I ran into some significant road blocks. I am transitioning back into a bug fix phase at the moment so I'll take another stab at this.

Thanks for the details write up.

[2017-01-06 20:22] markhuge commented on #1109
@rossmcdonald Just FYI, the string concatenation *does* expand the variable, but it's not evaluated by the query. It looks like it needs to be wrapped in escaped single quotes to work:

`   |query('SELECT mean("value") FROM "myDB"."autogen".foo WHERE "thing" = \'' + thingName + '\'')`

[2017-01-06 20:28] rossmcdonald commented on #1109
Ah, yes, you will also need to include quotes around any literals. Thanks for letting me know.

[2017-01-06 23:15] hraftery commented on #1100
@nathanielc oh that's great! Good luck with it. I'm unfamiliar with the Kapacitor source, but let me know if I can help.

[2017-01-07 23:46] rbinnun commented on #1113
@nathanielc The `|delete()` is working just fine. I was showing a fragment of the code above. Once I added the `|log()` it helped me spot the issue pretty quickly - thanks!

[2017-01-07 23:46] #1113 closed

[2017-01-09 14:23] xigang opened #1114 "Trigger alarm to send POST, when the return to normal, also send a POST, notify the user program to resume normal"
Hello, I would like to use the following template to meet the conditions of the crit when the alarm to trigger the POST, when the return to normal, the use of POST to send a request to resume normal, how should I do?

[code]

thx.:)

[2017-01-09 16:12] m4ce opened #1115 "stateChangeOnly across kapacitor restarts"
Hi,

I noticed that when restarting kapacitor, alerts that were already already in CRITICAL state get re-evaluated and alerts trigger again, flooding the recipients.

Is there any way to prevent the above?

Thanks,
Matteo

[2017-01-09 17:17] rossmcdonald commented on #1115
@m4ce This is caused by alert state not being persisted across reboots. You can find more information in https://github.com/influxdata/kapacitor/issues/744.

[2017-01-09 17:17] #1115 closed

[2017-01-09 17:38] #1100 closed

[2017-01-10 13:57] m4ce opened #1116 "Field sometimes missing"
Hi,

I am using the system inputs plugin in telegraf to retrieve things like the uptime.

I've set up a tick script that looks like the following:

[code]

What is weird is that I had to add the default() node to default 'uptime' to -1 when not present. Though, when I query InfluxDB, the 'uptime' field is always available.

Kapacitor fails from time to time to find the 'uptime' field:

[code]

Hav

[2017-01-10 16:48] rossmcdonald commented on #1116
I think this is simply caused by Telegraf not sending the `uptime` field in every point to the `system` measurement, and is not a problem with Kapacitor itself.

Instead of using a stream task here (which requires that you use `default()`), I would recommend using a batch task. For example, changing your `data` definition to:

[code]

[2017-01-10 17:02] m4ce commented on #1116
@rossmcdonald, thanks for casting some light over this issue.

[2017-01-10 17:02] #1116 closed

[2017-01-10 21:20] nathanielc commented on #1114
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2017-01-10 21:20] #1114 closed

[2017-01-11 05:16] marksweiss opened #1118 "Kapacitor Recording using HTTP API sets stop time to start of the current minute"
==> curl -X POST -d '{"task": "fes", "stop": "2017-01-11T00:05:30Z", "id": "fes_PARSE_ERROR.recording"}' "http://localhost:9092/kapacitor/v1/recordings/stream"
{
    "link": {
        "rel": "self",
        "href": "/kapacitor/v1/recordings/fes_PARSE_ERROR.recording"
    },
    "id": "fes_PARSE_ERROR.recording",
    "type": "stream",
    "size": 0,
    "date": "2017-01-11T00:05:00.540955435-05:00"

[2017-01-11 10:36] zh4af opened #1119 "Unusefull to redefined the kapacitor listen port from 9092 to 19092"
## 1.update the kapacitor.conf
17 [http]
18   # HTTP API Server for Kapacitor
19   # This server is always on,
20   # it servers both as a write endpoint
21   # and as the API endpoint for all other
22   # Kapacitor calls.
23   bind-address = ":19092"
24   auth-enabled = false
25   log-enabled = true
26   write-tracing = false
27   pprof-enabled = false
28   https-enabled = false
29   https-certif

[2017-01-11 10:44] zh4af commented on #1119
kapacitor -url http://localhost:19092

[2017-01-11 10:45] #1119 closed

[2017-01-11 19:02] nathanielc commented on #1119
@zh4af Also

[code]

[2017-01-11 22:13] cheribral commented on #1108
I tried again using some standard stuff from telegraf to make sure it wasn't just our data.  This one will hang indefinitely for me while using 100 of a CPU.

kapacitor record query -query 'select tcp_syn_sent from metrics."default".netstat where time > now() - 5m group by host' -recording-id test -type stream

[2017-01-11 22:18] nathanielc commented on #1118
@marksweiss  What output were you expecting?

[2017-01-11 22:21] nathanielc commented on #1108
@cheribral Thanks, and just to confirm, if you run that query directly against InfluxDB it returns in a reasonable time?

[2017-01-11 22:36] cheribral commented on #1108
Yes, it seems pretty quick:
time influx -execute 'select tcp_syn_sent from metrics."default".netstat where time > now() - 5m group by host' >/dev/null

real	0m0.220s
user	0m0.026s
sys	0m0.011s

[2017-01-12 13:52] marksweiss commented on #1118
Sorry, about this utterly un-useful post. Thanks for replying anyway.

My question is around timestamp format and meaning when creating recordings by `POST`. The `date` field has the value `"2017-01-11T00:05:00.540955435-05:00"`. Does this mean the it received the time as UTC and is showing it as ET (my local time, which right now is -5 from UTC)? I was having issues around getting recordings to s

[2017-01-12 14:09] marksweiss opened #1122 "Recording hangs and records nothing if data to task stops before recording end time"
My use case is to use recording and replay for automated testing. I can't be the only one to think of this. We are using kapacitor to raise alerts given certain `TICK` logic and a given stream of input data events. Ideally we would like to:

- start recording
- send in a fixed deteministic set of event data at a kapacitor script
- stop recording
- validate alerts were raised

However, if I follow

[2017-01-12 14:29] m4ce opened #1123 "kapacitor processes duplicate messages"
Hi,

I am having a weird issue with Kapacitor which seems to occur only when using stream without specifying any window.

I am writing a message at a time into Influx but when doing 'kapacitor show task', I always see two messages being processed.

This is my template tickscript:

[code]

Because of two messages being processed, Kapacitor also generates two alerts as a result.

My understanding of

[2017-01-12 16:40] m4ce commented on #1123
Ignore this message, user error. The application was sending two messages at the same time.

It seems that when writing to Influx two identical messages (with the same timestamp), the point gets overwritten. As a result, Kapacitor will receive the new data point.

[2017-01-12 18:01] m4ce commented on #1123
Actually, I was wrong again :(

The application was indeed sending unique messages. I tested against a new database in Influx and the issue disappeared. After switching back to original database the issue cropped up again.

After I deleted the database and re-created it, the issue has gone away!

[2017-01-12 18:33] m4ce commented on #1123
Check this out:

[code]

Send a new measurement (directly to Influx):

[code]

Check the ingress again:

[code]

My tickscript:

[code]

I've created the task as follows:

[code]

[2017-01-12 19:15] rossmcdonald commented on #1123
@m4ce This is with OSS InfluxDB, correct? Or is this against a cluster?

[2017-01-12 19:17] m4ce commented on #1123
@rossmcdonald, yes this is with the OSS version, hence single instance

[2017-01-12 19:48] nathanielc commented on #1123
@m4ce Can you try writing directly to Kapacitor to see if the issue is with the InfluxDB subscriptions? i.e.

[code]

[2017-01-12 19:57] m4ce commented on #1123
@nathanielc, it only increases by one when I go through kapacitor.. so yes it's the InfluxDB subscription :(

[2017-01-12 20:10] m4ce commented on #1123
Hm, I may know now what's going on..

If I run 'show subscriptions' in InfluxDB, it returns 3 subscriptions to 'systems'.'default' all having different random names.

Not sure why Kapacitor is spawning three subscriptions? Could they be leftovers from previous runs?

[2017-01-12 20:56] m4ce commented on #1123
Okay, I can confirm it was due to the multiple subscriptions (they all had different cluster ids). I guess it was due to previous tests/runs.

I only noticed that when Kapacitor shut downs it doesn't remove the subscriptions. However, not sure if that is by design?

[2017-01-12 23:27] nathanielc commented on #1123
@m4ce OK, glad you figured it out. I'll close this for now.

[2017-01-12 23:27] #1123 closed

[2017-01-13 03:31] sfwn opened #1125 "kapacitor.db inside kapacitor-docker-container"
kapacitor docker image version: **1.0-alpine**
I run kapacitor through docker, volume `/var/lib/kapacitor/:/var/lib/kapacitor/` for data persistence.
But after I stop & remove kapacitor-docker-container, recreate & run this container again, I lost all my tasks by typing `# kapacitor list tasks` inside container.

Inside container, I found default config file `/etc/kapacitor/kapacitor.conf` with co

[2017-01-13 20:22] #872 closed

[2017-01-13 23:00] #1086 closed

[2017-01-16 05:18] huangdeheng opened #1128 "Iterate batch query records and join into a single message"
Hello there, I'm trying to generate a daily summary report using batch query. When querying with group by on some tag, a record set will be fetched. Is it possible to iterate the record set and fill each row data into a single message template? So that I can send email using this summary message. If it's not possible, can you suggest the best practice for such intention? Thanks very much!

[2017-01-17 05:29] sadhen opened #1129 "Logging: provide an option to separate the logs"
Currently, kapacitor logs the task debug info into the same log file. I suggest that it should log the task debug in to different log file. For example, task1.log task2.log task3.log . Or provide an config option to enable this feature.

It would be beneficial for integrating these task debug infos into a "tickscript studo".

For example, https://github.com/sequentialread/tickscript-studio take us

[2017-01-17 09:44] fdhex opened #1130 "OpsGenie alerts description is not the AlertNode Details"
Using the current version of the OpsGenie service for alerting, I assumed that the Description field within the alert created on OpsGenie would be the Details property of the alert node (event.State.Details), but it is in fact hardcoded to event.Data.Result, which is the unmodifiable result data of the InfluxQL query which resulted in the alert's creation.

You can see it there: https://github.com

[2017-01-17 10:44] ellis2323 opened #1131 "Augment the event Buffer size"
Hello,

I'm using telegraf to monitor snmp routers/switches/optical equipments. Currently it is more than 700 equipments. We use kapacitor in stream node to check pings with sensu as alerting system.

To make it works, i had pushed the limit of eventBufferSize from 100 to 5000. Not sure, i need so many events but the limit to 100 seems a little conservative.

The constant value is defined in alert

[2017-01-17 10:57] ellis2323 opened #1132 "Define sensu source in the sensu service"
Hello,

I'm using telegraf to monitor network equipments. I have many hundred of equipments. With kapacitor i'm checking the ping and push alerts on my sensu.
The problem is that you define the source in the kapacitor.conf:
services/sensu/service.go line 136 (method prepareData)

	postData["source"] = c.Source

With this config, all the alerts goes into the same client. So i have one client with o

[2017-01-17 11:03] Appeltabak opened #1133 "Telegram parseMode option Markdown should be case-insensitive"
Kapacitor is unable to send alerts to Telegram when the option `parseMode` is set e.g. to `markdown` instead of `Markdown`:

[code]

This occurred to me when using a template alert and template variables.

##### System info
Kapacitor 1.1.1 Official Docker image

[2017-01-17 12:46] jleclanche opened #1134 "Please add --version flag to Kapacitor"
Not being able to do `kapacitor --version` is really jarring.

Thanks!

[2017-01-17 19:22] nathanielc commented on #1134
Try `kapacitor version`

[2017-01-17 19:22] #1134 closed

[2017-01-17 19:26] nathanielc commented on #1132
@ellis2323 Thanks for creating the patch! See https://help.github.com/articles/creating-a-pull-request/ for how to submit a pull request against this repo and we can discuss getting it merged.

[2017-01-17 19:29] nathanielc commented on #1131
@ellis2323 Thanks for letting us know.  The event buffer/topic features a brand new. Can you share more details about what behavior you were seeing before and after increasing the eventBufferSize? How many events per second are you generating?  etc...

[2017-01-17 19:31] nathanielc commented on #1129
@sadhen Agreed, I had a discussion with the author of tickscript-studio around the same issue. I proposed that we create an HTTP endpoint that would stream the logs and you could specify the desired task logs via the query string etc.

Does that sound like it would also work for your use case?

[2017-01-17 19:33] nathanielc commented on #1128
@huangdeheng I think you are looking for the [flatten node](https://docs.influxdata.com/kapacitor/v1.1/nodes/flatten_node/). It can flatten all the points into a single point with many fields, then you can use the eval node to create the summary.

Let me know if that doesn't work out.

[2017-01-17 19:36] nathanielc commented on #1130
@fdhex Thanks for the detailed write up, I agree leaving the original behavior in tack makes sense as well as enabling the new behavior. I'll defer to @ericiles on further input but the request seems reasonable to me.

[2017-01-17 19:38] jleclanche commented on #1134
Nice!

[2017-01-17 19:41] ericiles commented on #1130
I agree that if the details property is used, it should definitely take priority over the current functionality, falling back to the current functionality otherwise. This will allow those that upgrade in the future to not have to modify their OpsGenie rules unless they choose to use the details property to customize what gets sent to OpsGenie.

[2017-01-17 19:45] fdhex commented on #1130
@ericiles An issue I can see is that Details has a default value (of {{ .json }}), so I'm not sure how to make that transparent so that old rules still get the same output, if they are not modified at all.

[2017-01-17 19:52] ericiles commented on #1130
@fdhex if that is the case, and the output contains the same information, just in a slightly different format, perhaps this simply needs to be a breaking change, and as such, rules on the OpsGenie side will need to be modified accordingly. Otherwise, the only other solution would be to require an additional property be set on the rule in order to use the details property, which doesn't seem optima

[2017-01-17 20:31] ellis2323 commented on #1131
I had many error messages from the file services/alert/handlers.go
[code]
I have actually 700 equipments i monitored with telegraf. In this case, i check ping response. Telegraf seems to check all equipments in the same second.

[2017-01-17 20:37] ellis2323 commented on #1132
Not really sure if it's the best solution. I think it could be easier not to use my hostname but use in "source" the ID. Or to put the source expr in sensu('{{ index .Tags "url" }}').

[2017-01-18 02:04] sadhen commented on #1129
Yes

[2017-01-18 03:50] zhangwangjin opened #1135 "Is it a bug?"
i am running kapacitor,but no reponse, i don't know why,please help me !
kapacitor record stream -task cpu_alert -duration 20s
no relay
The database is new one,
kapacitor define cpu_alert   -type stream   -tick cpu_usage_idle1.tick -dbrp xinmi_login.autogen
kapacitor record stream -task cpu_alert -duration 20s
5768d0b2-0e06-4cb2-9a0a-5e0f0384963d
but ..
kapacitor define cpu_alert   -type stream

[2017-01-18 04:46] hraftery commented on #687
+1

[2017-01-18 08:05] huangdeheng commented on #1128
@nathanielc Flatten node sounds like a promising approach, but I notice the generated single point will create dynamically named fields. Then how could I fetch some target fields by their original names?

[2017-01-18 08:13] huangdeheng commented on #1128
In addition, by using `Eval node`, I also need field names to do lambda calculation.

[2017-01-18 15:54] agrrh commented on #1102
Never happened to me.
Could you please show the tick script of this alert?
Which version of kapacitor are you using?