[2017-05-26 20:32] nathanielc commented on #1348
@petercelentano The CLI does support a `backup` command which backs up all tasks, templates, replays, recordings etc.

[code]
To restore simply provide the backup file to the Kapacitor process on startup. Live restores are not supported, which means it is still not quite an import/export tool but similar.

[2017-05-26 21:02] petercelentano commented on #1348
That's good to know that a backup functionality is there, but what I really needed was the ability to export or import specific alerts without taking downtime.

Starting in which version is the backup command supported?  I'm running v.1.1.1, and I do not see that option listed in the help file.  Also, is the kapacitor.db file an encrypted sqlite database? If so, where can I find the password to de

[2017-05-26 21:05] nathanielc commented on #1348
It was added in v1.3.0. The file is not encrypted and is actually a [boltdb](https://github.com/boltdb/bolt) file.

[2017-05-26 21:07] petercelentano commented on #1348
Thank you, I'll look into upgrading.  Thanks for the info on the DB file.

[2017-05-27 10:01] divgwd commented on #1408
@nathanielc Hi, can you let me know how to compile the code once it's edited, am new to golang :)

[2017-05-28 15:51] joaquin386 opened #1410 "kapacitor Join with offset"
Hi,

I am trying to launch a batch job.
Take the latest value of table cpu.
Takes the value 24 hours ago
Then Join the tables and creates a % if it is > 10% then produce an alarm:

I have been trying to use offset but the join doesn't work then even if I put .on('host')
I commented the lines I try. Period() takes the last 2h until the actual moment.
So I am quiet lost here.

var current = batch

[2017-05-28 16:15] joaquin386 commented on #1410
Well this is working now:

var time24h = batch
    |query('SELECT mean(usage_idle) FROM "kapacitor"."autogen".cpu')
        .offset(6h)
        .period(5m)
        .every(1m)
        .groupBy('host')
    |shift(6h)
    |last('mean')
        .as('mean')
time24h|alert()
        .info(lambda: "mean" > 0 )
        .log('/tmp/time24h.log')

[2017-05-28 16:22] joaquin386 commented on #1410
So closing the case.
The key here is to use the offset to go back, pick up the data with the period and every, Then shift the time forward to the actual date to later join it with another table.
Join seems to work with the same TMAX (recent date)

[2017-05-28 16:22] #1410 closed

[2017-05-28 17:46] hatim-stovewala commented on #1406
I'm not getting any output. The measurements 'test1' in which I'm dumping my output has no rows.
In the output of kapacitor show template, the batches_queried and points_queried is 0 that's means it is not fetching any results nor it is giving any error. So where is the problem.

[2017-05-28 17:51] hatim-stovewala commented on #1407
The hostname is 'localhost' in the kapacitor.conf. Do I need to change it to 'ef12c0ed23ed'?
However if this is the case, I'm just wondering how batch tasks runs properly with 'localhost' settings but stream task doesn't.

[2017-05-29 15:06] metroidprototype commented on #1404
Thanks, I'll have a closer look at the alert handlers API.

[2017-05-29 15:06] #1404 closed

[2017-05-30 14:31] sj14 opened #1411 "UDF is shutdown immediately after measurements are imported"
Hi,
I am testing the UDF [mirror.py](https://github.com/influxdata/kapacitor/blob/master/udf/agent/examples/mirror/mirror.py) function. When I import a file with about 2000 measurements in influxdb (influx -import -path=$file), the UDF is stopped after processing about 1000 measurements:
`[task_store] 2017/05/30 16:17:36 D! task normal_days finished
[task_master:main] 2017/05/30 16:17:36 E! Stoppe

[2017-05-30 15:46] desa opened #1412 "TestServer_Alert_Aggregate"
[code]

[2017-05-30 15:50] desa commented on #1412
dupe of https://github.com/influxdata/kapacitor/issues/1366

[2017-05-30 15:50] #1412 closed

[2017-05-31 15:23] devth commented on #1313
This feature would help when setting up TICK with automation (as opposed to by hand).

@james-lawrence care to share your script that loads your TICKs?

[2017-05-31 15:48] jackzampolin commented on #1313
@devth You can see an example of a loader script in the [`promtheus_metric_normalizer`](https://github.com/influxdata/prometheus_metric_normalizer/blob/master/define.sh).

[2017-05-31 17:22] sputnik13 commented on #1304
So we're in need of this functionality again, due to some changing requirements...  I think this could be either a separate reduce node or a modified eval node.  Having a separate reduce node would probably duplicate some code from the eval node but from the user's standpoint, the symantics would be simpler.

[2017-05-31 17:51] devth commented on #1313
I added a `post-upgrade,post-install` `Job` to the Helm Chart to load TICK scripts from a directory. Looks like:

[code]

Storing the script in a ConfigMap lets me avoid having to bake/push my own Docker image. In this case I'm using the official `kapacitor` Docker image.

[2017-05-31 19:33] jackzampolin commented on #1313
@devth Do you mind [putting up a PR](https://github.com/influxdata/tick-charts/pull/new/master) with that work in it?

[2017-05-31 22:59] nathanielc commented on #1304
@sputnik13 I want to make sure I understand the request. Basically the reduce node will maintain a single point and reduce each new point into that point via the provided lambda expression?

Meaning I could implement a `count` function by doing something like this?

[code]

And a sum could be (assuming the data has a field named `value`):

[code]

Am I on the right page?  If so what kinds of reduc

[2017-06-01 12:17] leopoul commented on #612
In our case we send a notification to hipchat and an email with the grafana direct rendered graph. To accomplish that we use the exec property in alert node. We have 2 python scripts, one for hipchat and one for email. For hipchat things are straightforward. Get current timestamp in Python script and call the render endopint of Grafana. Then we post the message with the rendered png in hipchat, ad

[2017-06-01 14:10] sj14 commented on #1411
It's the same for the [moving_avg.py](https://github.com/influxdata/kapacitor/blob/master/udf/agent/examples/moving_avg/moving_avg.py) file, which uses STDIO instead of sockets. There it already stops after processing about ~200 out of 2000 data points.

[2017-06-01 15:40] ravitoait commented on #1383
@nathanielc where exactly (file path) I can find error logs. I am using Mac machine. I am using below config for log:
[logging]
  file = "/Users/ravikumarsingh/Desktop/kapacitor.log"
  level = "DEBUG"
and I dont see any error in the file /Users/ravikumarsingh/Desktop/kapacitor.log.

Additionally, did you mean that whenever alert is triggered, a file with a name "alert triggered" would be generated

[2017-06-01 15:56] nathanielc commented on #1383
The string `alert triggered` should be present in the file `/Users/ravikumarsingh/Desktop/kapacitor.log`. In that same file there should be many other logs. The level of the log is indicated by a `D!` for debug and a `E!` for error logs. All logs of any level are in the `/Users/ravikumarsingh/Desktop/kapacitor.log` file.

You can use this grep command to find what I am looking for. (I am not on a

[2017-06-01 16:13] ravitoait commented on #1383
@nathanielc this is very weird, as I can't see any string "alert triggered" in the /Users/ravikumarsingh/Desktop/kapacitor.log though I can see so many alerts being generated.

Ravis-MacBook-Pro:AlertUsingKapacitor ravikumarsingh$ grep -C 20 'alert triggered' /Users/ravikumarsingh/Desktop/kapacitor.log
Ravis-MacBook-Pro:AlertUsingKapacitor ravikumarsingh$

Ravis-MacBook-Pro:AlertUsingKapacitor rav

[2017-06-01 16:21] hansgustavson commented on #1250
+ 1

We are facing the same problem when using the Kapacitor/VictorOps integration.

[2017-06-01 16:28] ravitoait commented on #1383
@nathanielc another thing which I noticed, when I changed the level to ERROR, I can see so many below message in the kapacitor..log:

[httpd] ::1 - - [01/Jun/2017:11:26:00 -0500] "POST /write?consistency=&db=_internal&precision=ns&rp=monitor HTTP/1.1" 204 0 "-" "InfluxDBClient" ff709a43-46e6-11e7-8002-000000000000 1102

Are these errors?

[2017-06-01 18:54] desa commented on #1217
Just got another report of a similar issue with the `mysql` telegraf plugin. Any thoughts on the matter @danielnelson?

In the meantime, for `v1.3` of Kapacitor I have something that should work as a temporary work around. The idea is to use the newly added `isPresent` function.

[code]

This may need a bit more tweaking to make it work, but the general idea is there.

[2017-06-01 18:54] desa commented on #1217
@markuskont @austinbutler ^^^^

[2017-06-01 19:27] danielnelson commented on #1217
@desa I agree with the points sparrc made, to me it seems any real fix must be done in Kapacitor.  However, if we are adding metrics separately in Telegraf we should probably change it.  It looks like the mysql plugin does indeed do this, can you open an issue?

[2017-06-03 01:06] sputnik13 commented on #1408
@divgwd there's a build.sh at the root of the repo

[2017-06-03 01:09] sputnik13 commented on #224
is this still needed given you can do ```kapacitor delete recordings 59*```?

[2017-06-04 13:09] azigelman commented on #612
Thanks a lot!
Haven't quite gotten into it yet, will try and report back

[2017-06-04 22:50] sputnik13 opened #1422 "nribv"

[2017-06-04 22:51] #1422 closed

[2017-06-05 09:41] cbarzu opened #1423 "Reset window data ?"
I would need some help with mi tickscript, if this isn't the correct place to ask for it please close the ticket.

I want to scale my application if last 4 points were below a threshold. But, I have the next problem.
Scaling an application may take more than 1 minute, so my telegraf will return that de average cpu is below that threshold, and kapacitor will scale my app again which is not correct.

[2017-06-05 12:30] petercelentano opened #1424 "Sending an alert to multiple event handlers"
Hi all,

Quick question: does kapacitor support sending alerts to multiple event handlers (sending an alert to both email and slack event handlers simultaneously).  I'm running kapacitor 1.2 currently.

Thank you!

[2017-06-05 17:10] druchoo commented on #1336
Hi @nathanielc, have you had a chance to look into this?

[2017-06-05 21:17] nathanielc commented on #1423
@cbarzu  We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the community board at [community.influxdata.com](https://community.influxdata.com/). Thanks!

[2017-06-05 21:17] #1423 closed

[2017-06-05 21:17] nathanielc commented on #1424
Yes, just setup each handler in your TICKscript.

[2017-06-05 21:17] #1424 closed

[2017-06-06 09:03] cbarzu commented on #1423
Ok @nathanielc , I will ask there then. Thanks for your response.

[2017-06-06 16:03] hanej commented on #1405
Can we get the latest version pushed out to the repo?

[2017-06-06 17:39] nathanielc commented on #1405
@austinbutler @hanej The repo is now up-to-date with 1.3.1. Sorry for the delay.

[2017-06-06 17:39] #1405 closed

[2017-06-07 13:54] rmiggily commented on #643
👍  for the feature.
For something like status with known states there are some workarounds as @nathanielc mentioned. However we are trying to detect changes in a string field with arbitrary values. I modified the example:
[code]
We would like to be alerted whenever  myfield value changes.
[code]
I guess the script should look like this:
[code]
Any help would be great.

[2017-06-07 17:10] xylene1980 opened #1426 "exec error in Tick script"
I get exec plugin error as below :

`E! exec command failed: Output: : fork/exec /usr/local/bin: permission denied`

when i try to run a shell script from Tick script.

Please find the alert node as below :

[code]

Thanks,
Sunil

[2017-06-08 18:16] henry-megarry-tr opened #1427 "alerting after threshold has been met for x amount of minutes"
We would like to be able to alert after its been failing for certain number of minutes. This is to ignore the momentary spikes. What would the best way about going about this?

[2017-06-08 18:48] ravitoait commented on #1383
@nathanielc Finally using Chronograf, I got the alert integrated with Slack, but while integrating with email, I am  getting below errors( we are using SendGrid as SMTP server)
[smtp] 2017/06/08 18:22:12 E! gomail: could not send email 1: mail: no address

Below is my Kapacitor.conf for SMTP:
[smtp]
  enabled = true
  host = "smtp.sendgrid.net"
  port = 587
  username = "**"
  password = "*****"

[2017-06-09 12:58] bbczeuz opened #1428 "[bug] RHEL/Centos 7 package installation fails"
...seems to be mainly a packaging problem.

@ maintainer: PLEASE: Other than on the Debian family, on Redhat based Linuxes, installed packages typically do NOT auto-start nor auto-enable themselves (i.e. not creating said links)

### How to reproduce
[code]

### Expected
- No error msg
- Not creating links in `/etc/systemd/system/multi-user.target.wants`. This is somewhere between surprising and e

[2017-06-09 15:25] desa opened #1429 "Wrap errors in validation check for server/config..go"

[2017-06-09 15:54] nathanielc commented on #1427
This can easily be done via the use of window nodes and the alert `.all` property.

Can you send you questions to the community board at [community.influxdata.com](https://community.influxdata.com/) so that we can have this discussion preserved better for others?

[2017-06-09 15:54] #1427 closed

[2017-06-09 16:00] nathanielc commented on #1428
@bbczeuz Thanks for the detailed report. I agree that this is not correct behavior for RHEL/CentOS systems we will work towards a fix.

[2017-06-10 02:26] #982 closed

[2017-06-13 10:32] SamuelToh opened #1431 "Support for InfluxDB Fill('Linear') in QueryNode.Fill property"
A new linear fill feature was recently introduced in influxdb 1.1. The Fill property of the current QueryNode only supports 0, null and previous. Will be good to update QueryNode.Fill to keep in sync with what influxdb has for Fill.

[2017-06-13 10:43] #1431 closed

[2017-06-13 17:10] zargex opened #1433 "Understanding Kapacitor’s deadman Act"
Hi, I'm using telegraf to supervise some process. So I thought it could be interesting if kapacitor is able to notify me when any process die.

I think this can be done with Kapacitor's deadman switch (if a process die, telegraf's procstat input can't send data to influxdb). But i'm having troubles with this, if I kill the process, Kapacitor will send the alert, but when I restart the process, Kap

[2017-06-13 22:26] danyli78 opened #1434 "Kapacitor unable to look at multiple subscriptions"
version: kapacitor v1.3.0
centos: 7.2.1511

I have multiple influxdb subscriptions in kapacitor.conf, one of them is set to default and the other one is not. Both are enabled.

default subscription contain DB name: "org1"."default"
2nd subscription contain DB name:  "kapacitor"."default"

Kapacitor stats looks like it's getting data from both subscriptions:

[code]
Yet I am getting this error in t

[2017-06-13 22:43] nathanielc commented on #1434
@danyli78 Can you share your relevant config for the influxdb instances and the TICKscript giving the error?

[2017-06-13 22:49] danyli78 commented on #1434
[code]

[2017-06-13 23:03] #1434 closed

[2017-06-14 12:26] mykolaminaiev opened #1435 "Influx write http curl missing fields"
I try to perform curl write to influx
curl -i -XPOST "http://host:8086/write?db=test&u=root&p=root" --data-binary 'events title="fixVersion",text="Git branch",tags="sometag"'
and I get error
{"error":"unable to parse 'events': missing fields"}
What I did wrong?

[2017-06-14 12:26] #1435 closed

[2017-06-14 17:35] panovodv commented on #1358
As an enduser you get to send more metadata (location, class, component, severity) and then you can use event supression rules based on that.

[2017-06-14 22:32] nathanielc commented on #1433
@zargex Can you share the first part of the TICKscript as well, the part before the deadman?

[2017-06-14 22:51] zargex commented on #1433
[code]
I put the deadman after  the `from` section and before the `eval`section.

[2017-06-15 00:14] SamuelToh commented on #1408
@divgwd there is a guide on how to build and run the tests in CONTRIBUTION.MD file. See [here](https://github.com/influxdata/kapacitor/blob/master/CONTRIBUTING.md).

[2017-06-15 00:38] SamuelToh commented on #1351
@JulienChampseix As an alternative solution I am thinking you could build a User defined function (UDF) using your favourite programming language to check whether a point data is bank holiday or not. That way you won't be restricted to TICK script's syntax or ability.

So the idea is that you would send all of the point data to the UDF and get tagged with "isHoliday" = True|False.

Then in your TI

[2017-06-15 01:34] mdbartos opened #1437 "Batch queries on data points that lie in the future"
I'm currently trying to use kapacitor to program event triggers based on weather forecast data. These data are indexed on timestamps that can be up to one week in the future. However, from what I can tell, it seems that kapacitor is not able to run batch queries on data indexed by timestamps that lie in the future.

Let's say that the weather forecast data extends from the current time to 1 hour i

[2017-06-15 01:44] lkx007 commented on #557
+1

[2017-06-15 06:09] zhangleqi opened #1438 "Error found when convert int to float"
This is the error found in /var/log/kapacitor/kapacitor.log:
`[system_load:eval2] 2017/06/15 13:55:29 E! Cannot call function "float" with args signature (missing), available signatures are [(boolean), (string), (int), (float)].`
And this is the system_load tickscript:
`stream
    |from()
        .database('telegraf')
        .retentionPolicy('autogen')
        .measurement('system')
        .grou

[2017-06-15 07:27] ChristianTrolleMikkelsen opened #1439 "Possible bug with windows and httpout"
Hi

When i setup a rule which uses windowed data by tick script OR via chronograf my httpOu do not fire.
Here is an example:

`
var db = 'telegraf'
var rp = 'autogen'
var measurement = 'win_cpu'
var groupBy = ['brand', 'host']
var whereFilter = lambda: TRUE
var period = 30m0s
var every = 10m
var name = 'Windows - Report high cpu usage'
var idVar = name + ':{{.Group}}'
var message = '{{ index .Tags

[2017-06-15 11:55] SamuelToh commented on #1439
I suspect your problem is due to `trigger` been an empty dataset.
Suggests using the LogNode to dump the content of `trigger`.

Example:
[code]

[2017-06-15 13:41] JGjorgji opened #1440 "Systemd service file is broken when trying to enable the service"
The systemd service file has this:

[code]

This conflicts with the service name itself which is the same leading to errors by systemd if you try and enable the service:

`Failed to execute operation: Too many levels of symbolic links`

After removing the `Alias` it works fine.

[2017-06-15 14:33] davemt commented on #1106
I am also seeing this issue. If one side of join is empty it becomes an inner join and no points go through. This is a particular bummer for error rates alerting via join, because if there are no errors we want to reset an alarm but we do not get the datapoints to calculate that it is 0.

[2017-06-15 16:16] sputnik13 commented on #1304
@nathanielc yes it's along those lines, the specific thing we need is actually more like the following

[code]

I took a stab at it, please take a look when you have a moment

[2017-06-15 16:25] eswak opened #1442 "Writing an UDF in Node.js"
Hi,

I searched through the documentations (website & .md files on github), but I didn't find how to create my own UDF in nodejs.

More specifically : what are the kind of messages that should be passed over STDIN/STDOUT for a custom child process UDF to work ?

I can only find examples of python/go UDFs that require some external packages (python `kapacitor.udf.agent` & go `github.com/influxdata/

[2017-06-15 16:34] eswak commented on #643
We can do it easily with the `derivative`.
Here's a example of an on-line threshold crossing that only outputs changes :
[code]

[2017-06-15 17:01] nathanielc commented on #1442
@eswak I am not too familiar with writing nodejs apps but I can layout the parts and if you want to contribute a skeleton UDF that would be wonderful.

See [this](https://github.com/influxdata/kapacitor/tree/master/udf/agent#writing-an-agent-for-a-new-language) for writing a a UDF for a new language.

If you have any question or need more clarification on anything let me know.

[2017-06-16 02:05] qhyou11 commented on #1348
If there were some new tasks add to Kapacitor, kapacitor.db couldn't update the content in time. As I did the test,only when Kapacitor stop, kapacitor.db  would be updated.
Is it possible to execute some command to make kapacitor.db updated online?

[2017-06-16 08:59] JGjorgji commented on #1440
So i just browsed the bugtracker and this seems the same as #1428

[2017-06-16 12:07] kamanaPE opened #1444 "Multiple states on a node"
I have a stream monitoring disk space on a number of servers, each with several shares/partitions. My script groups by both host and path.

An alert is triggered onChangeOnly, with defined warn and crit levels. However, the logged alerts suggest  node only has one state to share between all the groups, with the following unwanted consequence:
Even though all separate partitions are stable on their

[2017-06-16 14:46] bbinet commented on #1288
Yes, this would be really useful to have.
Any ETA?

[2017-06-16 14:49] bbinet commented on #1406
I think @hatim-stovewala wants string interpolation, see: #1288

[2017-06-16 15:43] nathanielc commented on #1444
@kamanaPE Looks like a typo in the groupBy node,

Should be:
[code]

[2017-06-18 02:25] peaksnail commented on #1312
i have completed this plugin with guide,thanks

[2017-06-18 02:25] #1312 closed

[2017-06-19 12:58] ChandanKundu opened #1446 "passing multiple parameters from tick script to python UDF without json structure"
I have implemented tick script with multiple parameters using json like structure:
var knum = 3
var alpha = 0.001

var data = batch
    |query('''select a1 as axis1, a2 as axis2, a3 as axis3 from robot.autogen.axes''')
        .period(1m)
        .every(1m)
       |eval(lambda:'{"axis1":'+'"'+string("axis1")+'"'+',"axis2":'+'"'+string("axis2")+'"'+',"axis3":'+'"'+string("axis3")+'"'+'}')
    .as('

[2017-06-19 18:42] nathanielc commented on #1446
@ChandanKundu I am not sure what you are trying to accomplish. Can you provide some broader context? What are you trying to do with passing multiple parameters to the UDF? Do these parameters vary per data point? Or are they static for the lifetime of a UDF?

[2017-06-20 06:59] ChandanKundu commented on #1446
Dear Nathaniel,

Thank you very much for showing interest on my question. My objective is to
perform k-means clustering in UDF (python) in batch mode. The user will
select the variable names along with number of clusters in runtime. As per
my knowledge, it is not possible to select variable names from kapacitor(
if possible, please give me suggestion). Therefore, the user will use one
UI to select

[2017-06-20 07:49] kamanaPE commented on #1444
Thank you for that correction.

Fixing the syntax error changed the behavior of the alerts, presumably to what I had in mind. Does that mean that the alert node is capable of monitoring more than one state? One per grouping?

[2017-06-20 10:12] kamanaPE opened #1447 "variables in messages and resetting alert level by stateDuration"
A couple of things I have been trying to accomplish, but as of yet failed to:

1) When using stateDuration to trigger alerts, I might want to include in the message how long state has been. E.g
.message(' {{ index .Tags "host" }} has been swapping for X minutes.')
where X is the states duration. Syntaxes I have tried include {{ .state_duration }}, {{ "state_duration" }} etc. None of them led to th

[2017-06-20 18:47] nathanielc commented on #1447
@kamanaPE The `state_duration` value is a field so it can be accessed by indexing into the set of fields.

Try `{{index .Fields "state_duration"}}`.

For your second question use `.stateChangesOnly(1d)` which will repeat the alert after 1d has passed even if the state hasn't changed.

[2017-06-20 18:47] #1447 closed

[2017-06-20 18:48] nathanielc commented on #1444
Yes, an alert node tracks state per group.

[2017-06-20 18:48] #1444 closed

[2017-06-20 18:56] nathanielc commented on #1446
A UDF can declare the options it needs to initialize. An example TICKscript using a kmeans UDF could look like this.

[code]

If you want those options to be configurable per task use vars and templates.

[code]

[2017-06-21 02:39] SamuelToh opened #1448 "Update GroupByNode documentation."
As highlighted in [here](https://community.influxdata.com/t/kapacitor-tags-in-groupby-node/1330/3)

Quote:

However in the current v1.3 documentation, it states that.

Only tags that are dimensions in the grouping will be preserved; all other tags are dropped.

This is incorrect.

[2017-06-21 07:28] lblt commented on #971
Hello I have exactly the same problem.

Kapacitor version 1.3

My TICKscript

[code]

The error message

@nathanielc something new? Have you found the issue you were talking about?

[2017-06-21 09:32] lblt commented on #971
Following what @nathanielc indicated I finally made it work. A random WHERE statement has also to be given.
The script:
[code]

[2017-06-21 10:25] lblt commented on #1288
How can I do if I have multiple fields/tags? Do I have to declare them as
[code]
and then to iterate the
[code]
? Seems complicated...

[2017-06-21 10:48] rmiggily commented on #643
Thank you for your response. I guess `derivative` would solve the problem for numeric fields, but the problems stays for fields with `string` type. Correct me if I am wrong. But I think  `derivative` cannot be applied to non-integer values. What can we do if the field is of type `string`?

[2017-06-21 15:07] nathanielc commented on #1288
@lblt Yes, you are correct. And the current state is complicated hence this open issue to improve.

[2017-06-22 07:57] lblt commented on #1288
Hi @nathanielc thank you for your answer!

[2017-06-22 08:29] lblt opened #1449 "Deadman in a batch not working"
Hello!

I'm using Kapacitor 1.3 and InfluxDB 1.2.
I really can't figure out what I'm doing wrong in this small script:
[code]
When doing a record and a replay on my database (knowing there are hours without data at some points) nothing is being written on the deadman_alert.log ...

Any idea?

PS: there is no example of deadman in a BatchNode on Kapacitor Documentation, only an example in a StreamN

[2017-06-22 12:07] qi-zhou opened #1450 ".exec node"

[2017-06-22 12:07] #1450 closed

[2017-06-22 12:24] qi-zhou opened #1451 "how to pass args like Messages , ID in .exec node"
Anyone can  show me a complete example? Thanks!

I want to exec a script to send alert massage to dingtalk robot, but don't know to pass the alert massage, the official documentation does not have a relevant complete application case

[2017-06-22 15:27] nathanielc commented on #1451
That information is passed over STDIN to the process in a JSON format.

[2017-06-23 01:20] qi-zhou commented on #1451
@nathanielc Thank you for answering in time! I know what you mean but don't know how to implement in TICKscript.  Can you show  a complete example in official documentation or here, Thanks first!

[2017-06-23 07:52] zygis commented on #1358
Pagerduty just announced end of life for api v1.

[2017-06-23 15:04] nathanielc commented on #1358
Thanks @panovodv and @zygis for the info. PRs welcome on upgrading to the v2 API. If anyone wants to take a crack at it I'll help get you started.

[2017-06-23 15:45] nathanielc opened #1452 "Error messages for missing fields which are arguments to functions are not clear."
If you call a function in a lambda expression and the field is missing as an argument to the function you get and error message about the function not having a function signature for missing values and no mention of which field is missing is given.

See https://community.influxdata.com/t/kapacitor-shiftnode-and-join-in-stream/1401/2 for an example.

[2017-06-23 18:06] alparslanuysal opened #1453 "Alert node crit overrides"
Hi team, I want to use condition on crit() node, I could not find and info in documentation.
In kapacitor version 1.1 , I was able to chain two crit() node by using
.crit(lambda: "temperature" > max)
.crit(lambda: "temperature" < min)

However, in version 1.3,
.crit(lambda: "temperature" > max)
.crit(lambda: "temperature" < min)

It overrides the above crit() node.What is the best way for OR condi

[2017-06-23 18:36] nathanielc commented on #1453
Use
[code]

[2017-06-23 18:53] rconn01 opened #1454 "Ability to read env variables in tick scripts"
This may be available already but I couldn't find it documented anywhere on how to do it.

It would be great if there was a way for tick scripts to read env variables. The immediate use case here is for providing a link to a dashboard in an alert message. I would like to be able to pull the dashboard host from a env variable. This way we can deploy the same kapacitor alerts across all our envs

[2017-06-23 18:58] adambom commented on #1106
Seeing this behavior as well. Would be great to get some guidance on this.

[2017-06-23 21:05] phantasm66 opened #1455 "Kapacitor "show <task name>" shows no data points consumed, but "stats ingress" and strace do"
**OS:** CentOS Linux release 7.2.1511 (Core)
**Kapacitor and InfluxDB Versions:** 1.0.0

Built and installed from your source (no special/weird make options specified):
https://dl.influxdata.com/kapacitor/releases/kapacitor-1.0.0_linux_amd64.tar.gz

## Issue:

`kapacitor list tasks` shows the task running and enabled:
[code]

`kapacitor stats ingress` shows points received:
[code]

`kapacitor show

[2017-06-23 21:15] phantasm66 commented on #1455
I just reviewed what I just posted and see `batches_queried="9"`, `points_queried="26"` and `alert2 [processed="9"]` now, which were all goose eggs for hours on end before I attached to the kapacitor process w/ `strace` and then detached after a minute or two. Once i detached `strace` I started seeing incrementing values for `batches_queried`, etc..

This seems extraordinarily weird...

I had also

[2017-06-23 21:25] nathanielc commented on #1455
@phantasm66 Kapacitor has stream and batch tasks. Batch tasks query data from InfluxDB and stream tasks consume data that is directly written to Kapacitor via the API. The `kapacitor stats ingress` number only report data that is  written to Kapacitor vai the API, it does not count data that is return in query results.
As such the ingress stats are not relevant to the batch task processed numbers.

[2017-06-23 22:00] phantasm66 commented on #1455
I truncated my task list output above, to show just the one that I'm currently working with (the batch one). There are 6 other kap tasks running here (for days). Those other 6 are stream tasks. For several hours today, while i reviewed/debugged stuff.. I noticed that the stats ingress output did not show anything, even for the 6 stream tasks.

They all started to show up in ingress output (stream

[2017-06-24 10:00] alparslanuysal commented on #1453
It worked, thank you so much @nathanielc

[2017-06-24 10:00] #1453 closed

[2017-06-24 20:24] adityacs commented on #1407
@hatim-stovewala could you please provide your "batch" and "stream" tick scripts?

[2017-06-24 20:29] adityacs commented on #1426
@xylene1980 This is just a user permission problem. As what user you are running kapacitor?
Does that user has permission to run 'recoverDisk'?
Else, try giving "755" permission to 'recoverDisk'.

[2017-06-24 20:36] adityacs commented on #1328
@shukla-praveen Use "Chronograf ". You can configure, enable and disable alerts and also see how many alerts were triggered from "Chronograf" UI.

[2017-06-26 10:13] winem opened #1457 "InfluxDBOut drops fields"
Hi,

I encountered an issue with InfluxDBOut. The data is not written to the new measurement. The task creates the new measurement and keeps the tags, but without the values.

Kapacitor version: 1.3.1-1
OS: Ubuntu 16.04 LTS

I verified this on several hosts and with very basic tasks.

Example 1:
[code]

Example 2:
[code]

Example 3:
[code]

I double-checked that points are written to telegraf.one_

[2017-06-26 10:24] winem opened #1458 "Keep track of updates for hosts"
Hi,

I want to create a stream task that updates a new series whenever there is a write to any series for a host.

I tried this in many ways but was not that successful yet (which might be caused by #1457 ).

In the end I just want to be able to query the new series for "select * from track_hosts where time < now() - 5m" to get a list of "outdated" hosts.

My most recent tick script I used for my

[2017-06-26 13:09] xylene1980 commented on #1426
@adityacs Kapacitor is running as '496' user

[2017-06-26 13:27] adityacs commented on #1426
@xylene1980 The syntax used is wrong. Usage is as below
`node.exec(executable string, args ...string)`

'/usr/local/bin' is not executable '/usr/local/bin/recoverDisk' is executable path. "args" are args to your executable.

[2017-06-26 15:43] nathanielc commented on #1458
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the community board at [community.influxdata.com](https://community.influxdata.com/).

[2017-06-26 15:43] #1458 closed

[2017-06-26 15:45] nathanielc commented on #1457
@winem Can you share the output of `kapacitor show TASK_NAME` for your example tasks? That will give us an idea of why the data isn't arriving.

[2017-06-26 16:47] winem commented on #1458
This can be closed. Sorry.

[2017-06-26 17:05] shukla-praveen commented on #1328
Thanks @adityacs, will checkout chronograf's configure alerts functionality.

[2017-06-27 15:07] lblt commented on #828
Hi, I perfectly agree with @bfgoodrich
Have new features been implemented in 1.3? @nathanielc

[2017-06-28 08:47] winem commented on #1457
@nathanielc I installed the TICK stack in the customer environment and used the same scripts and it works. So, I will double-check the setup on my side and try to reproduce the issue once again. Will provide the details as soon as it's done (probably until end of the week).

[2017-06-28 10:40] maxs commented on #557
Ping. Is it possible to be implemented?

[2017-06-28 21:21] wonkaba commented on #1215
In case any one is also running across this issue, the cause of the problem is the fact that I am assigning a static id to each alert. This means that alert has the same id and therefore when the alert gets resolved it resolves all of them and notifies all alerts that they are back up. The solution is to make the id be unique dynamically. In my case the id could b something like:
`.id('{{ index .T

[2017-06-28 21:21] #1215 closed

[2017-06-29 09:04] lblt opened #1459 "Does .field or similar exist for InfluxDBOutNode?"
In the InfluxDBOutNode documentation I didn't find the property .field .
The idea would be, as the property .tag, to add additional field to the InfluxDBOut, with code like
[code]
Is there a reason why it doesn't exist?

I found a way to do it through the evalNode:
[code]
This code will write on influxDB the two fields 'crit' and 'data':
[code]
But it doesn't look like the normal way to do it...

[2017-06-29 11:32] adityacs commented on #1433
@zargex Could you please try below script?

[code]

[2017-06-29 11:37] adityacs commented on #1451
@qi-zhou  below is a sample python script to read ".message field"

[code]

[2017-06-29 13:11] adityacs commented on #1438
@nathanielc Can you look into this?
I tried the above script and even I am facing issue.
Kapacitor version: v1.3.1

[2017-06-29 15:36] nathanielc commented on #1438
@zhangleqi It means that the `n_cpus` field is missing from some of your data points. I am not sure why and that error message is horrible. We have an open issue to improve the error message see https://github.com/influxdata/kapacitor/issues/1452

The reason the alert still works is that the points that are missing the `n_cpus` field are simply dropped. Since other points do have the field they ma

[2017-06-29 15:37] lcaflc opened #1460 "sensu alerts format"
Hi,

I'm working on integration between kapacitor and Sensu and it seems I've triggered a bug in alerts format check.
I've seen in #240 that you check for output to match expected sensu format before submit the request to it. However since introduction of #1299 you add a handler id to the alert ID. And this does not match the regex:
[code]
Is this a bug or a missunderstanding from me.

Thanks.

[2017-06-29 15:40] nathanielc commented on #1459
That is the normal way to do it. The reason `.field` doesn't exist is because it would create a field that always has the same value, which isn't of much use. On the other hand adding static tags to data is quite useful hence why .tag exists.

Although there is no need to divide by 1. You can rename a field directly using the eval node like:

[code]

[2017-06-29 15:45] nathanielc commented on #1460
@lcaflc Can you share your relevant configuration? The TICKscript, handler definition, sensu config section?

How are you defining the handler to be `load:nil`?

[2017-06-29 15:53] lcaflc commented on #1460
Here is my relevant kapacitor.conf, using version 1.3.1-1 on Ubuntu Xenial:
[code]

The Tickscript is the following:
[code]

I don't have any specific handler definition. anyway the message does not go up to sensu at the moment.

[2017-06-29 15:54] lcaflc commented on #1460
With this exact TICKScript I have this error:
[code]

I got a handler value but still not match the regex.

[2017-06-29 16:40] lblt commented on #1459
@nathanielc thanks for the quick answer!

[2017-06-29 19:36] sputnik13 opened #1461 "alert.post and http_post timeouts needed"
When the endpoint for an alert().post() or http_post() hangs and does not respond, the associated alert/http_post task hangs indefinitely.  Over time, with enough traffic, this leads to kapacitor becoming unresponsive and getting locked up.

[2017-07-01 03:29] wutaizeng opened #1463 "alert.email to all email address failed when one address is invaild"
Log information is:

[code]

When i remove `wangzy@paratera.com` from alert.email targets, then alert.email can work.

[2017-07-01 16:52] mengelmann opened #1464 "Add packages for Debian 9 "Stretch""
Please add packages for Debian 9 "Stretch" (https://www.debian.org/News/2017/20170617 released June 17th) to repository https://repos.influxdata.com/debian/

Thanks!

[2017-07-03 00:53] austinbutler opened #1465 "Add ability to import and export recordings"
Having a recording with the right data can be very valuable when testing. Currently it seems there's a backup option that would technically do this, but it would also back up everything else in the DB and requires stopping the service to restore. And there's both the API and the CLI where I can see the recordings, but I can't export or download them. It would be nice to have this option on the API

[2017-07-03 04:54] phemmer commented on #1465
See also #1341

[2017-07-03 09:16] lblt opened #1466 "Too many alerts even with stateChangesOnly - bug in evalNode?"
Hi!

I'm using Kapacitor 1.3 and InfluxDB 1.2.

I use an influxDBOutNode to write in influxDB. So as not to get spam all day long I use a stateChangesOnly(24h) on my alertNode.
Yet sometimes (not always, I didn't manage to find a criteria) multiple alerts are written on influxDB. Plus, values of fields are modified where they souldn't have been (I suspect due to an evalNode).

Here is my tick scri

[2017-07-03 12:41] phemmer commented on #1466
I do not see `stateChangesOnly` anywhere in your example.

[2017-07-03 14:06] lblt commented on #1466
@phemmer thank you for noticing I took the wrong example.

Here is another one with the right alert:

TICK script:
[code]
What I find strange:
[code]
All the alerts are "doubled" with 1 second interval, with the same ```field``` issue I mentioned above.

Thanks again!

[2017-07-03 14:24] lblt commented on #1466
I just replayed my first example with ```stateChangesOnly(24h)```, it lead to the same result as I expected.

As I said above the problem doesn't come from the "kapacitor part" of the script. **Indeed the correct number of alerts are logged.**

The problem seems to occur with or after the evalNode, in the influxDBOut process.

[2017-07-03 20:13] zargex commented on #1433
@adityacs I tried what you proposed, but I only got notification saying the alert is dead.
What I undertand is that my throughput  is very low, thus the deadman switch is triggered.

If I use the kapacitor's show command in that alert, I get:
`graph [throughput="0.00 points/s"];`
but sometimes I get
`graph [throughput="18.00 points/s"];`

Telegraf is using a default interval of 10 seconds for all

[2017-07-04 12:05] dan505512 commented on #1255
Hey Nathaniel,
I have now updated to 1.3.1 and tried disabling every task with more than 1 working cardinality and the leak hasn't stopped.
Is there any other way to find the cause of it?

[2017-07-04 14:07] bbczeuz opened #1467 "[bug] Panic on division by zero (panic: runtime error: integer divide by zero)"
[code]

Part of the TICKScript:
[code]
With `meas` and `total` NOT having the same types (e.g. int and float). While this is a clearly an error in the TICKScript, I do not expect kapacitor to panic. (panic doesn't happen when defining the script, but when data arrives)

[2017-07-05 04:54] qi-zhou commented on #1451
@adityacs Thank you very much!  Follow your example
It has been successful!

[2017-07-05 05:18] phemmer opened #1468 "Backfill stream data on script start"
When a script it started, it sometimes needs to accumulate certain amount of data before it can take action (e.g. alert). For stream scripts this means that you have to wait for a while.
It would instead be useful to have a feature on the `from()` node where when it first starts up, before accepting any data from the `stream` node, it runs a query against InfluxDB for data which matches the variou

[2017-07-05 09:07] adityacs commented on #1451
@nathanielc You can close this issue.

[2017-07-05 10:26] lblt commented on #1198
Hello! I have the same problem with Kapacitor v1.3:
[code]
@nathanielc  could you precise a bit more the workaround you were talking about?

[2017-07-06 09:57] eqinox76 opened #1469 "invalid TICKscript: no method or property "topic" on *pipeline.AlertNode"
Hi all,

first thanks for the great work with influx in general and its nice to see that the alerting side gets some love.

I try to use the new alert topics but even using the default example i get a error as if the feature is not yet implemented. Using the kapacitor-1.3.1.x86_64.rpm package for installation.

$ kapacitor version

$ cat test.tick

$ kapacitor define cpu_alert -type stream -tick t

[2017-07-06 10:13] rashmisy commented on #1382
Any plans of fixing this in the next release?

[2017-07-06 13:46] lcaflc commented on #1460
Hi all,

I've done some more search on this and I've just simplify the most possible the problem and is what I have.

My tickscript is the following:
[code]
This is the sample one with just a sensu send instead of logs.
And here is the error I have with this:
[code]
And my sensu configuration as simple as it can be:
[code]

[2017-07-06 14:18] lcaflc commented on #1460
Fixed my issue by replacing the default ID format in the TickScript:
[code]

Let you decide if you want to change this default behaviour or at least document this in the sensu alert handler https://docs.influxdata.com/kapacitor/v1.3//nodes/alert_node/#sensu

If this can avoid someone else loose some hairs on it :)

Thanks.

[2017-07-06 14:19] lcaflc commented on #1460
To support this, please note that as you cannot change the .id() using the Chronograf UI to define alerts you basically can't define sensu alerts using it.

[2017-07-06 16:06] desa commented on #1452
I agree that the error is super unhelpful, but I'm not exactly sure what the error should be in the  case of

[code]

when "x" is missing or has value of another invalid type.

Should I print out all of the arguments? Maybe something like

[code]

Or I could get more fine grained and only list the parameters that are invalid. This approach would be more involved.

[2017-07-06 16:18] wi3dzma commented on #557
+1

[2017-07-07 22:03] estezz opened #1471 "sendmail not working"
I have configured kapacitor SMTP but not getting any emails.  my kapacitor.conf is attached.  I am using kapacitor 1.3.1  also tried 1.2 sendmail works from the command line, and I wrote a java app to test sendmail and that works fine.  I will attach the java code as example.
[TestSmtp.txt](https://github.com/influxdata/kapacitor/files/1132455/TestSmtp.txt)

kapacitor.log
[smtp] 2017/07/07 21:54:1

[2017-07-10 04:39] austinbutler commented on #978
Is this still planned?

[2017-07-10 08:52] mengelmann commented on #1464
Just for reference: InfluxDB v1.2.4 packages for Stretch have been added to the repository already (https://github.com/influxdata/influxdb/issues/8556). Telegraf is also available for Debian Stretch.

[2017-07-10 09:43] lblt opened #1472 "SMTP protocol for sending email not working"
Hello!
I'm trying to send email using Gmail SMTP.
I tried to implement the advice given in #660 but whithout success...
My kapacitor.conf (I'm still testing so I send emails to myself):
[code]
The relevant part of my tick.script (the log is functioning well):
[code]
Any idea on what I am doing wrong?
Thanks!

[2017-07-10 15:17] #1093 closed

[2017-07-10 15:57] desa commented on #1469
@eqinox76 just verified myself that this appears to be working just fine on the version you've specified

Can you run
[code]

and see what the `X-Kapacitor-Version` is.

[2017-07-11 10:00] theoDiefenthal commented on #1327
+1 I have the same problem here....

[2017-07-11 17:47] AlbinOS opened #1473 "kapacitor define-topic-handler not working with .yml files"
Dear,

First of all, thanks you for the amazing work on the TICK stack, it's a real pleasure to use it in as monitoring system.

Unfortunately, I'm running into a weird issue with Kapacitor as we are trying to use the topic handler feature.

If you try to define a topic-handler using a YAML file but named with .yml extension you'll have a weird error :

[code]

The content of the .yml/.yaml file i

[2017-07-11 17:50] AlbinOS commented on #1473
Okey, while searching I saw that you already fixed the bug 2 month ago but I guess this is not yet released...

See #1403 and #1400, sorry for the false issue !

[2017-07-11 17:50] #1473 closed

[2017-07-12 12:00] cocampbe commented on #1428
Work around. Delete the link /etc/systemd/system/kapacitor.service. Then enable it via systemd.

[2017-07-12 12:38] laszlox opened #1474 "FR: WindowNode should be able to emit empty aligned windows rather than just skipping the empty ones"
Hi,

Currently the following will output nothing for days with no data-points:

[code]

when sending this (where t2 = t1 plus 2 days):
[code]

it outputs t1 and t2's days with counts 1, but skips the day between them (which had no data-points)

Sometimes we want 0 count for the days when we received no data-points at all, so that further stats (e.g. last x days rolling mean, etc.. can be accurate)

[2017-07-12 17:12] 1tgr opened #1475 "Feature request: Combine latest ticks from multiple sources"
Allows for combining data with uneven timestamps.

The behaviour:
1. Across N sources, keep track of the current values on each one
2. Wait until all sources have produced a tick
3. When a tick arrives from a given source:
    1. Remember the values from this tick as the current values for this source
    2. Output the current values across all sources

It's different from a join with tolerance be

[2017-07-14 11:35] zwg-zero opened #1477 "join point at timestamp of tMax with others use tolerance not work"
**my data:**
2017-06-02T00:49:57Z                   energy_kwh 1h        measure 962.5600000000001                        elec  main_power pm1_1                         sys       wx01  fac
2017-06-02T01:00:00Z                   energy_kwh 1h        measure 249                                      elec  main_power pm2_2                         sys       wx01  fac

**TICK script:**
var fac_sys_elec_

[2017-07-14 22:28] cardonator commented on #824
If you're using docker and got here, it very likely means your InfluxDB can't communicate with your Kapacitor container. Using http for subscriptions means that events will be pushed to Kapacitor from InfluxDB. Make sure you have a hosts entry or have the two containers on the same docker network.

[2017-07-17 07:15] gianarb opened #1478 "InfluxDbOut as alert provider"
Hello!

I am interested in storing alerts triggered by kapacitor in InfluxDB, because the number of alerts looks like a  time series and the behavior is interesting. We can get information out of it.

If the number of alerts triggered increases probably we can make proactive actions. I am doing something like this:

[code]
I have the same lambda configurated and I am using InfluxDBOut function the

[2017-07-17 09:55] kshcherban opened #1479 "Kapacitor fails to start when subscription already exists"
Relates to issue #679.
I have following configuration: all services run in AWS, 2 influxdb servers, kapacitor runs in a container ECS and had following env variables: `KAPACITOR_INFLUXDB_0_URLS_0=http://influx-server1:8086`, `KAPACITOR_INFLUXDB_0_URLS_1=http://influx-server2:8086`.
When one of the servers dies kapacitor stops sending alerts. Here's the error:
[code]
Probably it connects to the fir

[2017-07-17 12:20] davidhiendl opened #1480 "Securing access to Kapacitor / Configuring authentication"
The documentation makes no mention as to how to enable authentication on Kapacitor. The auto-generated configuration however has an option for it:

[code]

I wish to run Kapacitor in a hostile environment and manage it remotely. Therefor I need some form of authentication. Chronograf also seems to have options for specifying credentials to use with Kapacitor.

How are these credentials configured?

[2017-07-17 14:51] VladRassokhin opened #1482 "Consider forbidding multiline single quoted string literals in TICKscript"
First, thank you for providing quite simple language and EBNF definition as it really helps developing IDE plugins.

I'd like to ask you to change string literals started with prime symbol (`'`) behaviour to not allowing EOLs in them, to make them single line only.
Like in Python, `'` strings would be single line, `'''` strings would be multiline.

From IDE point of view, allowing string literals

[2017-07-17 14:52] VladRassokhin commented on #1482
If developers would agree I'll create pull-request for that.

This kind of issue already worked with Terraform ;) https://github.com/hashicorp/hcl/pull/139

[2017-07-17 16:28] desa commented on #1478
@gianarb For reference https://community.influxdata.com/t/linking-custom-kapacitor-tasks-to-chronograf/1394

There are additional methods on the `|alert()` node for adding the alert level and id to data passing through a tickscript. Those methods are `IdField`, `IdTag`, `LevelField`, and `LevelTag`.

The following should do what you want
[code]

[2017-07-17 16:28] #1478 closed

[2017-07-17 18:24] jcmcken commented on #1339
This might be a similar problem to what's described [here](https://groups.google.com/forum/#!topic/influxdb/-ukbEWrDTZc).

The solution in that case was to make sure your alert ``id`` is unique per stream. So if you're grouping by host and environment, make sure your ``id`` also has both of those data. Otherwise multiple streams will influence the same alert, and you'll get weird, out-of-order, un

[2017-07-17 19:32] gianarb commented on #1478
Thanks a o lot!

[2017-07-18 01:58] jaredscheib opened #1483 "Various Pushover problems"
It was hard to debug why my messages weren't showing up as being received by Pushover.

- [ ] i was getting a 200 back from Pushover, but no data about received messages was showing up there. it turns out that Pushover was returning `{"info":"no active devices to send to","status":1,"request":"686afdf1-7509-465a-8bf6-e75fccab8061"}` – this info was not being logged by Kapacitor
- [ ] mixed keys fo

[2017-07-18 14:28] yossale opened #1484 "Bug: Invalid field format when using tags() on eval()"
Kapacitor version: 1.3
Influxdb version: 1.3
Both on dockers running Debian GNU/Linux 8 (jessie)

I'm running this tick, which suppose to add a specific tag to when certain fields exist:
[code]

Upon writing to influxdb, I'm getting this error message:
`[cap_naming:influxdb_out4] 2017/07/18 13:00:06 E! failed to write points to InfluxDB: unable to parse 'cloudwatch_aws_ecs,app_name_1=qa-CreditServ

[2017-07-19 00:59] forestjohnsonpeoplenet opened #1485 "UDFs panic() when passed a point with a boolean field"
Hello,  I have been experimenting with applying filters to our entire metrics firehose using Kapacitor. The first thing I noticed was that i cannot use User Defined functions on a stream that contains points with boolean fields. It triggers this line to be hit:

https://github.com/influxdata/kapacitor/blob/master/udf/server.go#L522

For now I have created a patched version of kapacitor so I can wo

[2017-07-19 07:24] rjshrjndrn opened #1486 "count for threshold cpu usage in a moving window"
Hi,
I just started kapacitor and tick. It seems to be a powerful tool.

I am trying to count the threshold cpu usage, say >80% for a window of 5 mins and every 2mins.
I am not able to figure out how to reduce the count from the emitted 2 min window.
I just want to count in my active window.

my tick is

var curr = stream
    |from()
         .measurement('cpu_usage')
    |window()
        .period(

[2017-07-19 08:04] seuf opened #1487 "http write-tracing parameter ignored"
Hi,
I've noticed that the `write-tracing = false` parameter in the configuration file is ignored.
My kapacitor.log file is full of line like
[code]
The only way to disable the `POST /write ` messages is to set `log-enabled = false` in the http service configuration. Is it normal ?

[2017-07-19 15:57] nathanielc opened #1488 "UDF do not support boolean fields"
Add support to the UDF protobuf messages to support boolean fields.

Do not panic when an unknown field type exists but rather return an error.

[2017-07-19 15:58] nathanielc commented on #1488
Duplicate of #1485

[2017-07-19 15:58] #1488 closed

[2017-07-19 18:58] miko-code opened #1489 "NATS output"
as discussed in the community forum  [tick script nats](https://community.influxdata.com/t/tickscript-help/1666/2)
nats output directly instead of writing it back to  influx will provide a "push" ability.

[2017-07-19 19:33] nathanielc opened #1490 "Add name() function to lambda expressions that returns the measurement name of the point."
Adding this function will allow Kapacitor to manipulate the measurement name of the data like it can for fields and tags.

Something like this is what I have in mind:

[code]

See https://community.influxdata.com/t/appears-there-is-a-kapacitor-memory-leak-with-child-process-udf/1668/2 for a discussion where this feature would have greatly helped

[2017-07-19 21:49] jcmcken opened #1491 "Feature Request: "Stateless" Alerts"
We have a use case where we'd like to alert on Docker container failures in a Mesos cluster. Since the container is never "fixed" when broken, just re-launched, there's no way to remediate a particular alert (its Mesos task ID changes upon re-launch, so the identifiers in the previous alert state would no longer match). Setting up an ``AlertNode`` for such a condition would be fine, except we'd li

[2017-07-20 15:44] nathanielc opened #1492 "PagerDuty handler does not use the `.details()` property of alerts."
The pagerduty API has a field for extra `details` this field is hardcoded to be the json of the alert data. We should allow the details to be specified via the `.details` alert property. This change should be backwards compatible with the existing behavior as the default details value is the json of the alert data.

[2017-07-20 21:37] phemmer commented on #1492
Dup of #743

[2017-07-21 15:13] #1492 closed

[2017-07-21 15:21] lblt commented on #612
Hello!

I have a similar problem:

I would like to write a ```.message()``` an http link giving the path to a Grafana panel.

The problem is the two time formats are completely different: ```{{ .Time }}``` in my TICKscript gives a time formatted like ```2017-07-21 14:56:00 +0000 UTC``` while Grafana uses in its URL unix epoc format like ```1500649601```.

Is that now possible to convert from one f

[2017-07-21 15:30] nathanielc commented on #612
If anyone wants to take a crack at adding this all it takes is adding TimeUnix int64 field to [this](https://github.com/influxdata/kapacitor/blob/master/alert.go#L1017) struct and populating it [here](https://github.com/influxdata/kapacitor/blob/master/alert.go#L1075).

The document that there is now a `.TimeUnix` option available.

[2017-07-21 21:14] sputnik13 opened #1494 "Feature Request: Alert Event Handler for AWS SNS or Kinesis"
An AWS SNS or Kinesis handler for alert events would allow for very flexible handling of alert events by processing these events with a Lambda function.

[2017-07-22 15:30] gpestana commented on #1341
Hey @nathanielc and @phemmer, I've been thinking (and tinkering) on how to make TICKscript testing easier and more automated than we can achieve with the current recording/replay features. My proposal can be found [in this blog post](http://www.gpestana.com/blog/post/kapacitor-unit/) and after some manual testing I'm putting [kapacitor-unit](https://github.com/gpestana/kapacitor-unit) together.

W

[2017-07-24 15:17] mspiegle commented on #1303
@nathanielc I have a well-used instance of kapacitor (EC2 c4.8xlarge, 30k points/s).  I notice a constant 2-3% iowait across each of the 36 cores.  I believe it is related to the boltDB file.  Upon closer inspection of the boltDB file, it looks like the alert() node stores a number of keys.  If I had to guess, it looks like for each .crit() of my alert() node, kapacitor may initiate a write to bol

[2017-07-24 19:10] jaredscheib opened #1495 "Kapacitor alert passing through message with Go structs when no value for template"
<img width="1361" alt="strcuts1" src="https://user-images.githubusercontent.com/6403018/28540132-0a7f97ee-7069-11e7-99fc-f7bf9465ec2f.png">
![structs](https://user-images.githubusercontent.com/6403018/28540131-0a7e66d0-7069-11e7-9526-3bccdf2182df.png)

[2017-07-24 20:09] nathanielc commented on #1494
@sputnik13 I agree this would be a good feature addition to Kapacitor. Kapacitor already has a dependency on some aws client code for its scraping feature so creating an SNS or Kinesis handler should not add too much more beyond that.

Going to mark this feature request as help wanted for now.

[2017-07-24 21:02] nathanielc commented on #1495
@desa Can you take a look at this one?

[2017-07-25 12:12] theoDiefenthal opened #1496 "Static scalar writeback and improvement of error handling and messaging"
I tried to run a rather simple tickScript:

[code]

For computational purposes, we sometimes need timeseries with static values and an equidistant sampled time interval. From time to time, we change the "myScalarOut" as an output variable and let another value be written into the time series. Sometimes we need to update those times for a time in history. I know this should all be designed in a bet

[2017-07-25 15:22] nathanielc commented on #1496
@theoDiefenthal Thanks for the detailed report on the issue.

It should not be possible to use the `stats` node directly off the batch node as that makes no sense, that is a bug in Kapacitor. As a result it is panicing down in the callstack, which is why you are seeing weird behavior about to task existing but not really. This can and will be fixed.

If I understand correctly you want Kapacitor to

[2017-07-26 08:56] theoDiefenthal commented on #1496
@nathanielc Thanks for your reply.

Here are two scenarios:
1. I have a sensor which sends data at a high rate. I use kapacitor in order to aggregate this sensor data into 5 minute buckets. In front of the sensor, there is kind of a resistor. The sensor doesn't know about the resistor and sends it's data to my cloud gateway nonetheless.
The resistor itself is switched from time to time. (i.e. once

[2017-07-27 12:00] sbengo opened #1498 "Meaning of internal stats on "_kapacitor" internal stats"
Hi!

I'm starting to use Kapacitor 1.3 with InfluxDB 1.0.0.
In order to get internal statistics I created a task  with the following TICK script: `kapacitor_selfstats.tick`:
[code]

Which is creating and sending internal stats to my InfluxDB correctly, but, there is some documentation about what each one mean?

[code]

Thanks,
Regards

[2017-07-27 12:26] toni-moreno commented on #1014
Hi @nathanielc.

I'm quite surprised for the lack of support for timezones in a monitoring tool.. :(

We would like migrate part of our monitoring infrastructure to use with kapacitor , but  we can not send alerts with N hours  in the past to our system administrators. They will get confused on the time where to look for problems.

There is any plans to support TZ  ?
As a workaround could you send

[2017-07-27 15:26] desa commented on #1495
yup

[2017-07-27 15:35] desa commented on #1495
Looks like it's coming from here [alert.go#L1075-L1100](https://github.com/influxdata/kapacitor/blob/master/alert.go#L1075-L1100)

What should the expected behavior be? To some degree I think the current behavior is acceptable.

[2017-07-27 16:48] jregovic opened #1499 "[Feature Request] Customize JSON payload in http post"
When using the HTTPPost node, it would extremely useful to be able to customize the format of the message.

Ideally, I would like to pass the HTTPPost node a string that would be converted to json as the payload. When integrating with some simpler systems for posting data, I can avoid having too much middleware to configure.

[2017-07-27 19:17] #1499 closed

[2017-07-28 09:07] toni-moreno opened #1501 "[Feature Request] Add New Custom Time Window with predefined time slices"
Hi @nathanielc I would like use kapacitor to build an capacity planning  automation system.

We need a way to get data from some metrics in influxdb with a tick Script that could consolidate in one point per day , and after build a regression line to build a forecast to get how much time our systems will be running until we will reach a 100% resource consumption.

I've  reviewed all Tick Script no

[2017-07-28 13:29] llevar opened #1502 "{{.Tags}} is empty when querying InfluxDB populated by Collectd"
I'm using a setup where Collectd is pushing metrics into InfluxDB with alerts via Kapacitor and Chronograf on top. Influxdb is version 1.2 and Kapacitor and Chronograf is version 1.3. I can successfully create alerts via TICK files or via Chronograf and they get triggered appropriately, however when I try to format my message I don't seem to be able to get access to the relevant tag_keys and tag_v

[2017-07-28 20:47] winem commented on #1457
@nathanielc I installed the TICK stack in the customer environment and used the same scripts and it works. So, I will double-check the setup on my side and try to reproduce the issue once again. Will provide the details as soon as it's done (probably until end of the week).

[2017-07-28 20:47] #1457 closed

[2017-07-28 20:49] winem commented on #1457
Sorry, I had an accident and was out for a while. Did some tests and can't reproduce the issue. Therefore I'll close it.

[2017-07-29 17:19] adityacs commented on #1471
@estezz Is kapacitor installed on the same host where your mail server is installed? Is it TLS enabled?
could you please try with `no-verify=true`?

[2017-07-29 18:36] adityacs opened #1503 "Feature Request: Trigger alert based on result of previous alert"
This should address below scenario.

Say we have configured **tick** script to alert(email for ex) if node goes down. There might be two reasons for node going down. one, telegraf agent is down. two, node itself is down. In this case we want to evaluate what is the reason for node going down.

Here, we can configure ` .exec` and run some script to analyze the node failure and then return some resu

[2017-07-31 15:02] ambernetas commented on #1489
+1

[2017-07-31 15:17] desa opened #1504 "Task may subscribe to the same dbrp more than once (Bug?)"
Off of master at 055e09f

[code]

[2017-07-31 15:57] nathanielc commented on #1503
@adityacs This can be done currently via UDFs. Simply have the UDF augment the data with more information on the reason for the failure.

Agreed it would be nice to have first class support for this. If you try it out with a UDF let us know how it goes.

[2017-08-01 20:04] IgorGrizzzly commented on #1486
Answer: Here is what you need:
After your .window() node evaluate your expression for every point with .eval() into either 1 or 0, then sum up 1s in the next step:

    |eval(lambda: if ("value" >= 8, 1, 0))  // check individual point
        .as('crit')
    |sum('crit') // count number of bad points
        .as('sm')
    |alert()
        .crit(lambda: "sm" >= 2) // alert on 2 bad points per windo

[2017-08-01 21:40] #1452 closed

[2017-08-03 16:15] desa commented on #1399
Going  to close this as it was delivered a while ago.

[2017-08-03 16:15] #1399 closed

[2017-08-03 16:15] desa commented on #1203
Going  to close this as it was delivered a while ago.

[2017-08-03 16:15] #1203 closed

[2017-08-03 16:16] desa commented on #1192
Fixed by https://github.com/influxdata/kapacitor/pull/1233

[2017-08-03 16:16] #1192 closed

[2017-08-03 16:17] desa commented on #1173
Fixed by https://github.com/influxdata/kapacitor/pull/1221

[2017-08-03 16:17] #1173 closed

[2017-08-03 16:18] desa commented on #1400
Fixed by https://github.com/influxdata/kapacitor/pull/1403

[2017-08-03 16:18] #1400 closed

[2017-08-03 22:06] chamini2 commented on #1288
Related to #1109

[2017-08-04 09:43] Tonius opened #1510 "Enabled task is not reloaded after updating it with HTTP PATCH request"
## Description
When I update the TICKscript of an enabled task using a HTTP PATCH request, the task is not automatically reloaded by Kapacitor. Running `kapacitor show` does however show the updated script. To make Kapacitor use the updated script, I either have to use `kapacitor reload`, or disable and re-enable the task using two separate PATCH requests.

This behavior seems unintuitive to me, a

[2017-08-04 12:08] sbengo opened #1511 "Set up/reference Fields via vars to reuse them on all nodes"
Hi,

EDIT: Using Kapacitor 1.3.0

I'm playing with Kapacitor and trying to set up some alerts with stream and batch modes.
I'm trying to set up all params on a TICK script, but it's hard to define a field name on param and be reusable on lambda or other expressions:

- Its an easy way to set up a field name and use it on all expressions which can be part of?

The following table shows the differen

[2017-08-05 16:09] llevar commented on #1502
Any signs of life in this product?

[2017-08-07 18:57] jcr1984 opened #1513 "Feature request"
Whatsapp plugin will be great feature.

[2017-08-08 00:02] LatticeEngineering opened #1514 "Kapacitor fatal error: runtime: out of memory"
Kapacitor 1.3.0

Happens about once an hour. This is new.  Same tick scripts for months.
I moved from a AWS t2.small to a t2.medium hoping moving from 2G to 4G would help.
What can I post as helpful diagnostics.

I generate about 100 events an hour.
I have 24 tick script.

About half are 60 second averaging, the other half 5 minutes.

Systems feeding into telegraf approx 100.

Is there a metric fo

[2017-08-08 00:40] dandv commented on #1309
[Same issue with influxd](https://github.com/influxdata/influxdb/issues/7850) v1.3.

[2017-08-08 16:20] desa commented on #1514
@LatticeEngineering Would it be possible to get the output of

1. `kapacitor stats ingress`
2. `kapacitor stats general`
3. The logs around the time of the fatal runtime out of memory

Additionally, it would be helpful to get the output for `kapacitor show <task>`. For one of the two types of tasks you have.

[2017-08-08 16:23] desa commented on #1513
@jcr1984 can you provide a bit more details. Would you like there to be an alert handler for WhatsApp or did you have something else in mind?

[2017-08-08 21:53] mpechner commented on #1514
[root@kapacitor2 ~]# kapacitor stats ingress
Database  Retention Policy Measurement                    Points Received
_internal monitor          cq                                           1
_internal monitor          database                                     5
_internal monitor          httpd                                        1
_internal monitor          queryExecutor

[2017-08-08 21:53] mpechner commented on #1514
[root@kapacitor2 ~]# kapacitor stats general
ClusterID:                    93ada927-097c-41b1-954f-56a4c9ddf997
ServerID:                     16047fb4-c530-448b-b9cd-555b61664519
Host:                         kapacitor2
Tasks:                        24
Enabled Tasks:                22
Subscriptions:                6
Version:                      1.3.0

[2017-08-08 21:58] mpechner commented on #1514
The log file
[kaplog.txt](https://github.com/influxdata/kapacitor/files/1209685/kaplog.txt)

[2017-08-08 22:01] mpechner commented on #1514
A couple of show tasks:
[root@kapacitor2 ~]# kapacitor show kafka_sreg_dm
ID: kafka_sreg_dm
Error:
Template:
Type: stream
Status: enabled
Executing: true
Created: 21 Apr 17 19:53 UTC
Modified: 03 Aug 17 00:04 UTC
LastEnabled: 03 Aug 17 00:04 UTC
Databases Retention Policies: ["telegraf"."one_year"]
TICKscript:
// Dataframe
var dm_period = 60s

var dm_points = 1.0

stream
    |from()
        .datab

[2017-08-08 22:02] mpechner commented on #1514
I turned off the 2 biggest frequent flyers.  Hoping our engineers fix the issue one day.  If needed, I'll turn them back on.

Thank you.

[2017-08-09 00:53] gunnaraasen opened #1517 "Feature request: Expose /debug/vars stats with no authentication"
Exposing internal stats via an unauthenticated `/debug/vars` endpoint would be very useful for situations where the underlying system needs to monitor a Kapacitor node it does not own. Bonus points if there is an option to make this configurable.

[2017-08-09 06:40] badatya14 opened #1519 ""AND" operator with tick script templating and JSON"
Hi,
I was trying to implement kapacitor alerting using templating. The challenge I am facing is using AND operator while passing var values in JSON file. For example, I cant find an option to add other value items in value field using AND.
"where_filter": {"type": "lambda", "value": "\"cpu\" == 'cpu-total'"},
I want to see something like this:
"where_filter": {"type": "lambda", "value": "\"cpu\" =

[2017-08-10 10:02] kprd commented on #1519
Same here. or something like {"$and":[{"age":5},{"name":"Joe"}]}?

[2017-08-10 13:49] skuxy opened #1521 "Minor annoyance with autocomplete"
Hi,

when some task has a somewhat lengthy name, auto-completion by pressing tab sometimes appends task type to its name. I.e.

som -> <tab> -> some_task

ano -> <tab> -> anothertaskwithlongernamebatch (instead of anothertaskwithlongername)

I use Kapacitor 1.0.0, is this fixed in some later version? Thanks a lot!

[2017-08-10 16:22] desa commented on #1519
@badatya14 can you include the template tickscript and the vars file so I can  try to reproduce the issue. I cant quite tell if this is user error or an issue with Kapacitor itself.

[2017-08-10 16:24] desa commented on #1521
@skuxy Thanks for reporting the issue. What OS are you using?

Also, I'd definitely try upgrading to see if that resolves the issue.

[2017-08-10 16:28] desa commented on #1511
@sbengo This is a really good write up of the a common thing people bring up about tickscript. The fundamental issue is that sometimes some nodes use string values (`'`) and lambdas use references (`"`).

[2017-08-11 06:41] sbengo commented on #1511
Hi @desa , thanks for answering.

So, there is no actually a way to set up a single var that fills for lambda expressions, select and influxql right?

I would ask you to add more info in documentation about setting up vars depending on what node is used!

Thanks for all,
Regards!

[2017-08-11 09:43] sbengo commented on #1519
Hi @desa, I have been able to repro the issue, it seems to be related when loading JSON on template using -var function:

This is my TICKScript:
[code]

With this TICK, I defined the following tasks:

Task defined from | Definition of var "whereFilter"  | Result
---------------------|------------- |--------
Single-Task | var whereFilter = lambda: ("instance" == 'fooInstance' AND "device" == 'fooDe

[2017-08-11 18:55] desa commented on #1511
Unfortunately there is not

Great suggestion. I'm going to close this issue in favor of https://github.com/influxdata/docs.influxdata.com/issues/1238 on the documentation repository.

[2017-08-11 18:55] #1511 closed

[2017-08-14 12:00] skuxy commented on #1521
Hi, sorry for the delay, slipped this notification.

OS is CentOS release 6.7, upgrading is not possible at the moment, but perhaps in a couple of weeks. Will try it on local machine

[2017-08-16 11:55] toni-moreno commented on #1014
Hi @nathanielc  we need a  workaround  to fix the time sent in the message.

There is any way to force kapacitor execute a "date" command in the host server and attach the output to the message  on each triggered alert?

Thank you very much

[2017-08-16 13:53] ricohomewood opened #1523 "E! invalid math operator / for type missing"
I'm getting a strange error when running a TICKscript that is just getting an error rate across a series.

My setup:
InfluxDB: version: 1.3.3
Kapacitor: 1.3.2 (git: HEAD 2b6a049e5b9dc7d7e8d58a8bbde8d186dc8543e3)

Kapacitor.log is showing the following on a eval node:

[error_percent:eval5] 2017/08/16 12:50:30 E! invalid math operator / for type missing
[error_percent:eval5] 2017/08/16 12:50:30 E!

[2017-08-16 14:32] kirgizz opened #1524 "How compare values in alert message?"
Hello
Help me please with my issue: i need to compare values in alert message:

data
  |stats(120s)
   .align()
  |derivative('emitted')
   .unit(120s)
   .nonNegative()
  |stateCount(lambda: "emitted" <= 0.0)
  |eval(lambda: if ("state_count" > 0, "state_count"*2, 0))
    .as('time')
  |alert()
   .message('{{ .Level }};`. {{ index .Tags "host" }}` {{ if "time" = 0 }} available {{ else }} is unav

[2017-08-16 14:43] ricohomewood commented on #1523
looks like this issue was related to how the values are being sent to influxdb

[2017-08-16 14:43] #1523 closed

[2017-08-16 15:55] fdhex opened #1525 "Patching a task doesn't update it"
With Kapacitor 1.1 and 1.3 (only versions tested), with the prebuillt packages:

When patching (HTTP PATCH) an enabled task, the task definition is updated but the in memory task remains the same and it is necessary to disable then enable it to have the update taken into account.

Is this intended behavior?

[2017-08-16 16:29] fdhex commented on #1525
According to https://github.com/influxdata/kapacitor/issues/1195 this is intended, I guess we can close that.

[2017-08-16 21:10] leopoul opened #1526 "Alert when X out of Y CPUs are over Z% threshold"
Hi,

I have deployed telegraf on a number of VMs and for now I alert with Kapacitor based on total_cpu. I would like to do the following, however I'm kind of stuck and any help/idea would be appreciated:
- 10 VMs running telegraf and write data back to influxdb
- Each VM has varying number of CPUs (2,4,8, etc) but for the sake of simplicity let's say all have 4
- I would like to raise an alert per

[2017-08-17 07:02] #1525 closed

[2017-08-17 07:45] Finkregh commented on #930
This issue makes writing UDF fall out of the normal python-workflow of using PyPi for all modules :-(

[2017-08-17 18:20] timhallinflux opened #1528 "Eliminate requirement for root permissions for installation and execution"
Ensure that Kapacitor can be installed by a specifically permissioned user who is not root.

[2017-08-18 17:19] gauravg12345 opened #1529 "Kapacitor issue with Join On particular field"
I am trying to get the failure rate of the individual application, so in same measurement for the individual application I have failure and success message so i am trying to compute the percentage of the failure for the individual application. I am using the below tick script: But as you can see below Join is not processing any results.

Please update me if I am doing any thing wrong over here.

v

[2017-08-20 13:59] m4ce opened #1530 "Keep tags without having to groupby them"
I am trying to preserve a tag (to then show it in the alert notification) without having to group by it. Is there any way to achieve it? If I don't add it to groupby, it will be lost :/

[2017-08-20 14:02] m4ce commented on #1530
Never mind, i just realized that I can convert it to a field and then get the last value.

[2017-08-20 14:02] #1530 closed

[2017-08-21 08:27] leopoul commented on #1526
I found the solution after upgrading to latest influxdb (1.3).

Using telegraf this is the raw data:
[code]

Let’s define a threshold of 3.1% and let’s see how many cpus in total are over this threshold for the last 5 mins:

Using 2-level subquery (this would return emply results with influx 1.2 and this is where I got stuck):
[code]

That is 1 CPU at 1503270900000000000 that has usage > 3.1. From

[2017-08-21 08:27] #1526 closed

[2017-08-21 09:40] AlbinOS commented on #1514
Hi there, we also encountered an out of memory error with Kapacitor.

The behaviour was quite strange actually, it was not really a smooth growing leap but a very big and abrupt one:

![screen shot 2017-08-21 at 10 57 40](https://user-images.githubusercontent.com/1978405/29511673-12347a4c-8660-11e7-852a-beb213e43c0d.png)
![screen shot 2017-08-21 at 10 57 57](https://user-images.githubusercontent.c

[2017-08-21 15:47] davemt commented on #1106
Any thoughts on this issue? I've hit this a few times lately and it is a pain. If you could at least comment on whether this is expected and why it would be helpful. Happy to look into submitting a PR if it would be a straightforward fix and not some major rework.

[2017-08-22 07:25] austinbutler commented on #1217
@desa I worry that would just skip some points, is that not the case? In other words, it's not just making it so the error goes away is it? Will it wait to do the eval until both fields come in?

[2017-08-22 10:23] lisuiheng opened #1531 "Is there any way kapacitor input from one influxdb and output to other influxdb?"
I read the document but I did not  find any about this.
And I found when I define this task with other dbrp like  cpu_mean and telegraf , It does not output any thing.
`kapacitor define cpu_mean -type stream -dbrp cpu_mean.autogen  -tick cpu_mean.tick`
[code]

[2017-08-22 17:29] k1ng87 opened #1532 "Procstat alerts on all nodes when one influx enterprise node goes down"
I have a tick script that looks like this:

[code]

and telegraf input that has this:

[code]

I'm also running a 7 node influx cluster (3 meta and 4 data) and have a replication policy on the `monitoring` db as 2. I've simulated that when I take on influx node down, Kapacitor will throw a process down alert and then right after throw a process up alert on state change. The processes are fine, loo

[2017-08-23 14:37] desa commented on #1532
@k1ng87 Thanks for the report. I've got a couple asks

1. Does this happen if any one of the data nodes is taken down? If not, is there a specific one that causes the issue?
2. Would it be possible to see your Kapacitor configuration? The section on InfluxDB in particular.

My current thinking is that Kapacitor is configured against a specific InfluxDB data node in the cluster. And so when that no

[2017-08-23 14:53] k1ng87 commented on #1532
@desa its happening when any node goes down. I have kapacitor pointed to an route 53 record that sits in front of any ELB.

[2017-08-23 14:56] desa commented on #1532
@k1ng87 That rules that out. When you take down the data node, do you remove that node from the LB?

[2017-08-23 14:59] k1ng87 commented on #1532
nope...just do a `service stop`

[2017-08-23 15:00] k1ng87 commented on #1532
trying to simulate a failure...it happened when one of my data nodes (ec2 instance) went corrupt.

[2017-08-23 15:10] desa commented on #1532
I see. I think I know whats happening.

1. The process is stopped.
2. Eventually Kapacitor queries the node that went down since it was still in the LB.
3. That query fails and results in the deadman being triggered in a CRIT
4. The next query that comes up succeeds and it returns back to OK

There are a couple of things that I can think of that will somewhat remedy the issue in the short term.

1

[2017-08-23 15:23] k1ng87 commented on #1532
so right now its this:

[code]

so change the deadman or the query?

[2017-08-23 15:27] desa commented on #1532
I'd try doing

[code]

[2017-08-23 20:42] ElMoselYEE opened #1533 "Mean Stateful function should accompany the Sigma Stateful function"
The only output of sigma function is the standard deviations away from average, but without the average it's hard to reason if the value is higher or lower than normal without looking at the accompanying data.

For us, in some cases, whether recent activity is higher than normal or lower than normal is important, we'd like to differentiate in our alert criteria.

[2017-08-23 23:09] rapport opened #1534 "Support for HTTP PUT, PATCH, DELETE and other methods"
We are sending a HTTP PUT to make Hue Lights go red when an alarm goes off. Is there a way to do this directly from Kapacitor? (I found and use the HTTP POST but am missing other HTTP methods). For example in JavaScript I would send a PUT like this to switch the lights on and make them red:

var xmlhttp = new XMLHttpRequest();
xmlhttp.open("PUT", 'http://myhuelights/api/<username>/lights/<id>/stat

[2017-08-24 01:11] lisuiheng commented on #1531
influxDBOut has cluster field

[2017-08-24 01:11] #1531 closed

[2017-08-25 07:43] toni-moreno opened #1536 "Error on adding parameters to a socked based udf"
I'm working with kapacitor version:
 Kapacitor 1.3.1 (git: master 3b5512f7276483326577907803167e4bb213c613)

After testing successfully the mirror udf example (https://github.com/influxdata/kapacitor/blob/master/udf/agent/examples/mirror/mirror.go) I've added a new parameter "field" as in the example in (https://docs.influxdata.com/kapacitor/v1.3/guides/socket_udf/)

And this error happens:

[code

[2017-08-25 08:03] leopoul commented on #1534
Hi,

In our case, we have several python scripts which perform specialized external API tasks. For example, whenever an alert condition is reached, we execute a series of scripts that interface with the APIs of other tools. We do this via exec() whereas our python scripts live under /usr/bin. To get the .id, .message, tags, timestamp, alert level, etc we parse the stdin as json. As an example, we

[2017-08-25 09:16] toni-moreno opened #1537 "[Feature Request] Create new UDF type only for Alert Filtering"
I would like to add an advanced alert filter, based on some  properties not stored on the influxDB.

Now we can inject tags with an UDF in this way. and evaluate the external_tag in the AlertNode

[code]
In this way I will do as many SQL querys as points will be processed , but what we need indeed is not that. We need filter just before alert will be sent , and UDF as a property for the Alert node

[2017-08-25 10:01] toni-moreno commented on #1537
Hi . After some other test I've found a little improvement chainning two alert with the  injectTagsFromSQLDB UDF. But it should evaluate twice all conditions to trigger alerts in order to work propertly.

This would be the improvement

[code]

Now we will do the SQL query only when value > crit and when the state has changed. But we need again evaluate value > crit if we want the last alert handle

[2017-08-25 13:31] k1ng87 commented on #1532
So gave that a shot but it happened again last night in one of our QA environments...

[2017-08-25 14:39] desa commented on #1532
@k1ng87 hmm. My reasoning was a bit off previously. I was assuming, mistakenly, that there was only kapacitor interacting with the cluster.

I'm still pretty sure the issue is related to the LB. I'll do some work today to try to confirm my theory. I'm curious to know if the problem still exists if I remove the downed node from the LB.

My plan is the following

1. Start a 3 data node cluster
2. Po

[2017-08-25 14:57] k1ng87 commented on #1532
so I did upgrade to the current release of influx and taking a node down did not trigger deadman to go off.....but for some reason, deadman got triggered on the env last night...

[2017-08-25 15:13] desa commented on #1532
I'd definitely recommend trying the stream task.

[2017-08-25 15:18] k1ng87 commented on #1532
going to try it but can you help me understand why the logic would run differently in a stream vs batch?

[2017-08-25 15:31] k1ng87 commented on #1532
so I just tried it an it seems the streams one is missing the tags output in the data when it alerts...no bueno :-(

[2017-08-25 15:32] desa commented on #1532
Here's a reference with a bit more detail https://community.influxdata.com/t/batch-versus-stream-processing-combine/792/2

The difference between a stream and a batch is that with a batch task, Kapacitor issues queries to InfluxDB, and with a stream task, all writes to the InfluxDB cluster are mirrored to Kapacitor.

My running theory is that since the downed node is still a part of the LB, it's p

[2017-08-25 15:33] desa commented on #1532
Not sure I understand what this means. Can you show me the resulting alert data.

[2017-08-25 15:36] k1ng87 commented on #1532
yeah sorry...just made an edit to the post showing it...also...I'm on this version `Kapacitor 1.3.1 (git: master 3b5512f7276483326577907803167e4bb213c613)`

[2017-08-25 15:42] desa commented on #1532
Was this alert data

[code]
generated from a deadman?

[2017-08-25 15:44] k1ng87 commented on #1532
so it just happened again and this is what I see in the kapacitor logs when it happened:

[code]

[2017-08-25 15:47] desa commented on #1532
Whats the replication factor on `sdp_monitoring."13m"`

[2017-08-25 15:50] k1ng87 commented on #1532
have a replication factor of 2....running 4 data nodes and 3 meta nodes...

[2017-08-25 16:04] desa commented on #1532
@k1ng87 Just tested the stream version myself, and there's an initial trigger of the deadman that doesn't have tags, but that goes away after the deadman starts receiving data. Can you confirm that this is not the behavior you're seeing.

[2017-08-25 16:15] desa commented on #1532
Were those logs from the time when a data node was downed? Or just during normal runtime?

[2017-08-25 16:31] k1ng87 commented on #1532
no, the data nodes were up and running...that happened when I started to see kapacitor throw alerts on deadman...that was also when the tick scripts were running in batch mode but now redeploying to run in stream mode

[2017-08-25 19:18] k1ng87 commented on #1532
so I switched the tick scripts to do streams now but now I'm not getting alerts...I see that it is subscribed to influx and the tasks are running but don't see any alerts come through.

[2017-08-25 19:26] k1ng87 commented on #1532
nvm....configured the hostname wrong in the kapacitor config...working now

[2017-08-28 10:20] toni-moreno opened #1538 "[Feature Request] Add Parametrizable InfluxQLNode Functions for Templating"
I would like add as parameter in the template parameter file the InfluxQL funcion to apply over a certaing windows time.

This is what I can do now.

[code]

this is what I would like to do, at least for certain basic statistics like :

•	Last: Select the last point.
•	Max: Select the maximum point.
•	Mean: Compute the mean of the data.
•	Median: Compute the median of the data
•	Min: Select the mi

[2017-08-29 09:22] Kruler opened #1539 "Does kapacitor filter data?"
I have the following tick script
<pre>
stream
    |from()
		.database('manager')
		.retentionPolicy('autogen')
        .measurement('equity_summary')
	|log()
	|alert()
		.id('{{ .TaskName }}')
		.message('{{ .TaskName }} is {{ .Level }} value:{{ .Fields }}')
		.warn(lambda:"volume"<float('5.0e+02'))
		.crit(lambda:"margin"<float('5.0e+03'))
		.log('/tmp/alert.log2')
		.mode(0644)
		.tcp('localhost

[2017-08-29 15:36] nathanielc commented on #1539
@Kruler How does the data get written to InfluxDB, the above task does not write any data to InfluxDB?

[2017-08-29 15:55] Kruler commented on #1539
@nathanielc I'm so sorry that I carelessly copied only part of the ｔｉｃｋ script file code,and this is tha whole codes
stream
    |from()
		.database('manager')
		.retentionPolicy('autogen')
                .measurement('equity_summary')
	|log()
	|alert()
		.id('{{ .TaskName }}')
		.message('{{ .TaskName }} is {{ .Level }} value:{{ .Fields }}')
		.warn(lambda:"volume"<float('5.0e+02'))
		.crit(lambd

[2017-08-29 16:57] nathanielc commented on #1539
@Kruler Ok can you share the ouput of `kapacitor show TASK` for your task?

[2017-08-29 19:17] estezz commented on #1471
OK so to take the local system out of the equation I am now using AWS SES.  and see in the kapacitor.log
[smtp] 2017/08/29 19:07:47 E! error connecting to SMTP server gomail: unencrypted connection

not sure how to fix this.  I am actively using the SES email in a Java application.  I have tried all the ports available in the SES configuration.  Here is what the AWS documentation says
 ------
Serv

[2017-08-30 01:49] Kruler commented on #1539
@nathanielc
 $ kapacitor list tasks
ID           Type      Status    Executing Databases and Retention Policies
admin_test  stream    enabled   true      ["manager"."autogen"]

and this is the output of kapacitor
<pre>
{"id":"admin_test","message":"admin_test is OK value:map[pos_profit:7865 settled_pl:30342 unsettled_pl:25344 commision:14813 pl:20548 volume:17774 uid:325 equity:110000 margin:31423

[2017-08-30 06:29] toni-moreno commented on #1536
Hi @nathanielc  could you tell me if there is any error in  the Info() Init()  UDF API ,  on Kapacitor 1.3.1 (git: master 3b5512f) ?

[2017-08-30 10:59] ahsanali opened #1540 "Trying to compare current value with the one last week but join doesn't work"
I am trying to compare current mean with the one last week during the same hour. I am doing something close to this https://github.com/influxdata/kapacitor/issues/685. Here is my tick script

[code]

This is the diagraph

[code]
There is nothing for log12. Please let me know what I am doing wrong

[2017-08-30 15:58] nathanielc commented on #1539
@Kruler I need the output of `kapacitor show admin_test`, can you share that as well?

[2017-08-30 16:10] nathanielc commented on #1540
@ahsanali Looks like you are missing the `.offset` property to the query node.

[code]

Also no need to specify the `.on` property of the join as that is implicit in the group by dimensions. Using `.on` is a special case to perform right outer joins, but your use case looks like a simple inner join.

[2017-08-30 16:15] nathanielc commented on #1538
No specific plans yet, but this has come up a few times in the past. A change like this will add lots of complexity to the language. I like the simplicity of your suggested solution.

[2017-08-30 16:19] nathanielc commented on #1537
@toni-moreno My first thought is to have the alert node post the alert data to an external system. Then that system can make final checks against the SQL database before sending the email.

[2017-08-30 16:21] nathanielc commented on #1534
@rapport I agree with @leopoul suggestion here. While it is simple to change the HTTP method used during the request, changing the JSON structure is not. As such using a python script or similar gives you complete control over how the alert request is made.

[2017-08-30 16:48] m4ce commented on #1264
@nathanielc, I'd like to resume the discussion over this issue. As discussed, I have alerts which will never recover on their own as they are one-off error messages. How to go about this in Kapacitor? Is there any way to expire alerts after some time? What would you advice be on this matter?

[2017-08-30 17:23] rapport commented on #1534
Many thanks for the workaround ideas which are really useful... I will implement something like this for now. Regards adding support for REST. As REST is the architecture basis of the web I think it is a special case and should be supported out of the box if at all possible. I expect other user would also put this as high priority compared with other alert nodes. I found it fairly easy to format e

[2017-08-30 18:24] nradonicich opened #1541 "snmpTrap alert type does not send sysUpTime in trap PDU"
When configuring and testing the snmpTrap alert type, I have noticed that the sysUpTime OID does not get sent in the PDU. The SNMP Trap should contain [(RFC)](https://tools.ietf.org/search/rfc3416#section-4.2.6) sysUpTime as the first varbind, and  sysTrapOid as the second, and then all the data varbinds.

Currently the PDU contains sysTrapOid and then all the data varbinds, as small as this may s

[2017-08-31 10:05] Kruler commented on #1539
@nathanielc
$ kapacitor show admin_test
ID: admin_test
Error:
Template:
Type: stream
Status: enabled
Executing: true
Created: 29 Aug 17 09:33 CST
Modified: 29 Aug 19 09:43 CST
LastEnabled: 29 Aug 19 09:43 CST
Databases Retention Policies: ["manager"."autogen"]
TICKscript:
stream
    |from()
        .database('manager')
        .retentionPolicy('autogen')
        .measurement('equity_summary')

[2017-08-31 10:10] toni-moreno commented on #1536
I've just restarted and tested again , and now it seems to be working ok. Thank you very much for your fast response.

[2017-08-31 10:10] #1536 closed

[2017-08-31 11:14] toni-moreno commented on #1537
Hi @nathanielc  .If fact and UDF socket based , is like an external system.

What you suggest is build like a proxy-webhook but this proxy system will have part of the alert definition. And we prefer have all our alert definition in our tickscript.

Suppose this use case , where we need exclude alerts out of work hours and we have a SQL database with the following values

Device| AlertRange
------

[2017-08-31 15:39] m4ce opened #1543 "Alerta alertnode service template"
I realized the alerta alertnode services cannot be a template. It would be nice to have this feature though. I can prepare a PR for this unless there are objections.

[2017-08-31 16:49] jb08 opened #1544 "influx_stress load.sh uses --test flag that doesn't exist"
this bash script [line](https://github.com/influxdata/kapacitor/blob/master/examples/error_percent/load.sh#L65) yields an error. Also, the [link](https://influxdb.com/docs/kapacitor/v0.1/use_cases/join_backfill.html) in the README.md returns 404.

[code]

[2017-09-01 14:16] ahsanali commented on #612
or may be just add a new time function for lambda expression ?

[2017-09-01 14:19] ahsanali commented on #1540
thanks @nathanielc  ... I used shift -1w and it worked. Offset would work too. Here is the final tick:

[code]

[2017-09-01 14:19] #1540 closed

[2017-09-01 15:26] m4ce opened #1546 "Alerta tags not set"
When sending alerts to alerta, the tags field does not get populated at all.

The alerta API allows passing tags when creating an alert ( http://alerta.readthedocs.io/en/latest/api/alert.html).

We could pass the tags in the format `key=value,..`. If there are no objections, I will open a PR to add the support.

[2017-09-01 21:49] james-lawrence commented on #1313
sorry just wrapping around to this again.

[code]

[2017-09-01 23:32] nathanielc commented on #1539
Hmm so this line

[code]
Shows that `3` points have been written to the database and there were only `3` alerts during this period.   Have you ever see `write_errors` as non-zero?

[2017-09-01 23:51] #1485 closed

[2017-09-05 00:54] pshemk opened #1547 "panic: runtime error: invalid memory address or nil pointer dereference when running a replay when tick script contains post()"
Hi,

I was following instructions on [https://docs.influxdata.com/kapacitor/v1.3/introduction/getting_started/](https://docs.influxdata.com/kapacitor/v1.3/introduction/getting_started/)

Kapacitor is running in a container from the official image tagged _:latest_

Tick script i tried to use:
[code]
I recorded the stream:

[code]
But when I tried to replay it:

`root@kapacitor:/var/lib/kapacitor# k

[2017-09-05 01:09] pshemk commented on #1547
After commenting out '.post()' it works fine, so the issue is with '.post()'.

At a closer inspection I realised I have:

`.post('http://nagios-api:8080/message')`

with single quotes, when the docs here: [https://docs.influxdata.com/kapacitor/v1.3/nodes/alert_node/](https://docs.influxdata.com/kapacitor/v1.3/nodes/alert_node/) indicate that I should use double quotes, but with double quotes:

[co

[2017-09-05 10:05] ahsanali opened #1548 "PATCH template does not reload tasks"
**version**

`Kapacitor v1.3.1 (git:  3b5512f7276483326577907803167e4bb213c613)`

**kapacitor show-template generic_deviation**
[code]

**kapacitor show traffic**

[code]

Update template:
**kapacitor define-template generic_deviation -tick traffic.tick**

**kapacitor show-template generic_deviation**
[code]

Notice updated lambda has "-15.0"

Task is showing old tick
**kapacitor show traffic**
[c

[2017-09-05 10:11] ahsanali commented on #1548
UPDATE:  I had sent a POST request to define template after defining the task. I think that messed up internal mapping.

[2017-09-05 16:24] varaga commented on #891
@nathanielc - I see the same problem with extending the task by following
[code]
this was observed with Kapacitor version 1.3.x
I see no alert coming after redefining the task

[2017-09-06 12:00] llevar commented on #1502
Ping

[2017-09-07 03:51] mbresson opened #1549 "[Feature Request] Add stateless function now() to get the current local time"
Hi,
it would be nice to have a function now() returning the current local time, as it could be used in conjunction with [unixNano()](https://github.com/influxdata/kapacitor/pull/1390) to create alert conditions by comparing a timestamp stored in any field with the current time (as discussed in [this discussion thread](https://community.influxdata.com/t/solved-compare-a-date-field-with-now-in-kapac

[2017-09-07 09:34] varaga opened #1551 "[BUG]: 'Show subscriptions' show different results in influxdb despite deleting them"
Hi,
I'm running Influxdb 1.2.4 with relays on Linux system in AWS. I have set up (evaluating) Kapacitor (version 1.3.1). The kapacitor instance runs locally inside docker container from my laptop connected to the influx db server running on AWS. The config file that I use is as below...

[code]
   The kapacitor instance created multiple subscriptions on rp & dbs in influxdb instance. I shutdown th

[2017-09-07 12:46] sbengo commented on #1502
Hi @llevar ,you are chaining a `|mean('value')` on your `from()` node with an empty `groupby` clause.

If I'm not wrong, as it occurs on InfluxDB, you are aggregating data depending on your `groupby` clause. If it is empty, it will generate the field `mean` without keeping the tags, so it is doing the mean of all of your values without depending on your tags (filtered before with a where clause, o

[2017-09-07 12:51] sbengo commented on #1519
@nathanielc  , @desa  , are we doing something wrong?

Thank you,
Regards

[2017-09-07 15:39] Atmozfears commented on #1523
Did you find the solution on it?

[2017-09-07 15:40] Atmozfears commented on #1523
I got the same issue.
How did you solve?

[2017-09-07 19:36] desa commented on #1551
Can you give the specific commands that you ran? How did you delete the subscriptions?

[2017-09-08 08:39] varaga commented on #1551
here is the sample ...
[code]

[2017-09-08 12:19] pberlowski commented on #1490
This is something that would be very relevant to us during migration from our legacy system. Do you have any prioritization on this?

[2017-09-08 14:50] desa commented on #1551
@varaga And you ran that for every subscription on your InfluxDB instance? If so, I think this might be an InfluxDB issue and not a Kapacitor issue. As you've noted,

Which means that Kapacitor isn't a part of the issue. I'd recommend opening an [issue](https://github.com/influxdata/influxdb/issues/new) on the InfluxDB repo. But before doing that you could try upgrading to the latest version of In

[2017-09-08 15:57] #902 closed

[2017-09-08 19:47] seletskiy opened #1553 "Kapacitor can't select more than one field in aggregate"
Maybe I'm missing something obvious, but when I'm trying to create simple task to aggregate measurement and produce point with two fields, I've getting the error:

[code]

TICKscript:

[code]

It's always reporting error about second field (in this case it's `path`).

[2017-09-11 11:40] ahsanali opened #1554 "Time duration offset not working when using now"
This is a valid query in influx db:
[code]

While this tick does not work

[code]

This is needed to shift the partial window at the end when using group by time.
Currently Kapacitor throws this error:
[code]

[2017-09-12 04:11] Kruler commented on #1539
@nathanielc
I'm so sorry for that I am so late to reply to you. I haven't see any write error during this period. And I don't know why where are only three points triggering alert, which confused me a lot of time.

[2017-09-12 14:30] k1ng87 commented on #1532
I'd like to open this backup as this still keeps happening...I did notice that kapacitor was maxing out the CPU so we bumped the ec2 to a c4.4xlarge but now they keep happening sporadically where all of the deadman alerts go off.

The ec2 runs on an ASG and if I terminate the ec2 and let ASG build a new one it works fine for some time but the then the behavior comes back. Looked at disk space and

[2017-09-12 15:13] davestephens opened #1556 "Alerta Integration: Variables not being evaluated within services() declaration"
I have the following TICKscript:

[code]
The `services()` section of the Alerta config is being passed through to Alerta as a string rather than being evaluated beforehand. This is what Alerta receives:

[code]
There was a similar issue fixed last year that affected the environment field: https://github.com/influxdata/kapacitor/issues/306.

Am assuming that this a bug rather than me doing somethin

[2017-09-13 15:13] nathanielc commented on #1543
Fixed in #1545

[2017-09-13 15:13] #1543 closed

[2017-09-13 15:13] nathanielc commented on #1556
This looks like a duplicate of https://github.com/influxdata/kapacitor/issues/1543 which was fixed in #1545

[2017-09-13 15:13] #1556 closed

[2017-09-13 15:13] nathanielc commented on #1264
Fixed in #1545

[2017-09-13 15:13] #1264 closed

[2017-09-13 15:14] nathanielc commented on #1546
Fixed in #1545

[2017-09-13 15:14] #1546 closed

[2017-09-13 16:21] F4ncyMooN opened #1557 "Slack should use pretext field for uniformity"
I am working with kapacitor alert module now. But I have met some issue.
In kapacitor/services/slack/service.go,
[code]
The project only use text field, but from slack's api, we can see
[code]
There is a pretext field. I think this is useful for alert.
Alongside, the mapping between email and slack is different. I have to use two different alert node to deal with it.(For slack, nil -> pretext, mes

[2017-09-13 17:09] F4ncyMooN opened #1558 "Data Can't convert to html properly because of golang template"
I have some problems with golang template and email module.
I write a udf to generate some debug url for some specific alerts.
The tick script looks like this.
[code]
But in the email body, The string is safely but *not-expected* converted. (`<` is converted to `\u003c`, `>` is converted to `\u003e`). This kind of string is considered to be plain text but not html.
I think this is because golang t

[2017-09-13 17:35] kovetskiy commented on #1553
ping @nathanielc

[2017-09-13 22:38] lamchakchan commented on #870
Any updates on this from the Influx team?

[2017-09-14 03:40] SamuelToh opened #1559 "[Feature Request] Lookahead mode for Derivative node."
Based on the Derivative documentation found [here](https://docs.influxdata.com/kapacitor/v1.3/nodes/derivative_node/). The default behaviour for the node is that the result is calculated based on the current point value _less_ the previous point value.

**Quote:**

I see this behaviour as a "lookbehind" mode. While this addresses most of the standard use cases but not for point values that are cum

[2017-09-14 06:01] jmak35 opened #1560 "How can we pass a variable to the alert.exec() property?"
Hi,

I have a bash script I execute when an alert is triggered as define in this TICKscript:

[code]

I want to pass the 'power' as defined in the eval node, as an argument to the bash script. However when I try to register the TICKscript with the following command:

kapacitor define alert -type stream -tick alert.tick -dbrp database_name

I get the following error:

`invalid TICKscript: name "pow

[2017-09-14 07:18] oplehto opened #1561 "[Feature Request] Adding the .quiet() property to all node types and making it more configurable"
The eval node has a .quiet() property which is very useful for supressing errors and warnings that we don't necessarily care about. It would be great if more, or even all, node types would offer this functionality.

Ideally I'd like even with more control over which log level messages get supressed and possibly a lambda expression to supress specific errors. For example, we might want DerivativeNo

[2017-09-14 12:37] phemmer commented on #1559
Have you tried it?
Works fine for me:

[code]

[2017-09-14 13:04] varaga opened #1562 "kapacitor stats ingress but won't alert"
Hi,

    First of all, after evaulation of kapacitor, we are impressed with it's power to create alerts using TICK language. Thanks for the awesome work !

    I'm running Kapacitor & influxdb over version 1.2.3 & 1.2.4 respectively in production. Kapacitor is in it's experimenting stage... Both are running in separate networks and are routable to each other's address. Kapacitor is deployed in sub

[2017-09-14 16:04] varaga commented on #1562
@nathanielc - Request your support here !

[2017-09-14 16:05] oplehto opened #1563 "[Feature Request] Logging subsystem improvements"
As we scale up our Kapacitor deployment we are incresingly seeing situations where a badly configured task or even corrupt data being sent to a good task can cause a huge flood of logging. The log subsystem should be developed to help us better manage and even avoid these situations.

Some proposals for enhancements:
- [ ] Ability to send logs of each task and topic to separate files
- [ ] Control

[2017-09-14 18:25] lamchakchan opened #1564 "Subscription whitelist not used"
I'm not able to trigger the whitelisting option for `<database>.<retention-policy>`.   I would like to subscribe to only a single retention policy.  I'm also using environment variables for configuration.

`KAPACITOR_INFLUXDB_0_INFLUXDB_SUBSCRIPTIONS_telegraf=['2-weeks']`

Here is the result from `printenv`.

[code]

The `kapacitord` output for `stats ingress` shows everything being subscribed

[c

[2017-09-14 18:57] ivankudibal commented on #916
I think we can close this as duplicate of #902

[2017-09-14 19:01] nathanielc commented on #916
Agreed, thanks

[2017-09-14 19:01] #916 closed

[2017-09-15 00:27] SamuelToh commented on #1559
@phemmer Thanks a lot for looking into my issue. A few things here;

Firstly ->

Quote:

Yeah indeed. The point value for year 2019 should be dropped because there is no way you can calculate its usage until the point data for year 2020 is written to the measurement.

This is reflected in my "lookahead" derivative proposal above.

*Quote from my proposal:*
The derivative is computed for each point

[2017-09-15 10:14] oplehto commented on #1202
This would be very useful for a use case that we are seeing: https://community.influxdata.com/t/kapacitor-template-task-vs-a-single-task-with-branches/1335/2

I can foresee more similar cases on the horizon as we expand our Kapacitor use.

[2017-09-15 20:54] nathanielc opened #1565 "InfluxDBOut can't create a new retention policy when the database already exists"
InfluxDBOut always issues the `CREATE DATABASE dbname WITH NAME rpname` query, which fails if the database already exists but the retention policy does not.

[2017-09-18 08:44] varaga commented on #1562
Hi Guys, Can someone help here?

[2017-09-18 08:52] #1548 closed

[2017-09-18 08:53] ahsanali commented on #1554
Duplicate of https://github.com/influxdata/kapacitor/issues/169. So closing

[2017-09-18 08:53] #1554 closed

[2017-09-18 17:40] Nav31 opened #1567 "Have Kapacitor ONLY when alert has passed threshold specified in lambda function"
The following TICKSCRIPT causes data to be sent to an HTTP endpoint and written to the log file, even when the value of a metric being streamed is not greater than what is specified in the lambda function.
Example, lets say I want to write to a log file, and an HTTP endpoint when the value of some metric (os.cpu) is greater than 11.  I am seeing data being written to the log file where the value i

[2017-09-18 18:32] Nav31 commented on #1567
Also, in the documentation, I have seen `StateChangesOnly`.  This is a bit of an improvement, however, it would still alert when the state went from Critical back down to OK.  Where as I am **only** looking for an alert when state is changed to critical by exceeding value in lambda function.
Please correct me if I am wrong.  Any help will be greatly appreciated!

[2017-09-18 19:47] nathanielc opened #1568 "HTTP Post endpoints with custom HTTP Body"
The HTTP Post Node should allow for the body to be customizable. This way Kapacitor will be able to inter-operate with many different systems since the body can be customized.

Proposal:

* Add a `template` option to an httppost endpoint configuration that contains a Go template.
 Use a similar structure to alert messages to populate data for the template evaluation step.
* Add a `template_file` o

[2017-09-18 19:49] nathanielc opened #1569 "The HTTP Post node should allow logging on HTTP error codes"
Kapacitor should expose information about the response it receives after making the POST request.

* If the HTTP error code is not a 2xx, then the error code should be logged.
* Optionally the entire response body should be logged, if the error code is not 2xx
* Optionally the error code should be placed as a new field on the data.

@desa  Thoughts?

[2017-09-18 21:09] desa commented on #1569
I like it.

[2017-09-18 21:09] desa commented on #1568
sounds good to me.

[2017-09-19 00:42] SamuelToh commented on #1559
@nathanielc @desa

Just pinging to see if you guys have any opinion on this? This has been a show stopper for our project.

[2017-09-19 03:03] peaksnail opened #1570 "how to change tag value using regex"
Hi，
I have a tick like that

batch
	|query('''
		SELECT distinct("uid") AS uid  FROM measurement
		WHERE "source" = 'project_name'
	''')
		.period(1h)
		.every(1h)
		.align()
		.groupBy(time(1h), 'version')

I want to get the version distribution info.And the version info like x.x.x.date.

Now ,I want change the version to x.x.x that filter date  using regex or some other way.

Is there any way to

[2017-09-19 07:20] cangzhang opened #1571 "[Feature Request] Chinese character support for the endpoint GET /kapacitor/v1/tasks/TASK_ID"
I can get the task info with the command `kapacitor show 'high cpu usage 报警'` and get the detail as below
![image](https://user-images.githubusercontent.com/1357073/30579925-4d432ba2-9d4d-11e7-855c-2160f3fcfa44.png)
yet got nothing through the end point `GET /kapacitor/v1/tasks/TASK_ID`
![image](https://user-images.githubusercontent.com/1357073/30580092-f6baefda-9d4d-11e7-8b0a-f82f6de5c77c.png)
An

[2017-09-19 13:26] desa commented on #1559
I think it makes sense. I think a [similar issue on the InfluxDB repo](https://github.com/influxdata/influxdb/issues/7738). I think it makes sense to have implementations for forward, central, and backwards differences. Though I'm not 100% certain what a central difference would look like here.

[2017-09-19 20:41] gpestana opened #1575 "[Feature Request] Persist replay status after it finishes"
Based on the [documentation](https://docs.influxdata.com/kapacitor/v1.3/api/api/#get-task), it is possible to access a replay status by providing a _replay-id_ as a query parameter:

GET `/kapacitor/v1/tasks/TASK_ID?replay-id=REPLAY_ID`

However, if the replay has finished, the replay status is lost. When the above endpoint is queried and the replay has finished, the response is the following: `{"

[2017-09-19 22:17] nathanielc opened #1576 "Log ErrorField panics if the error is nil"
This is the offending line https://github.com/influxdata/kapacitor/blob/master/services/diagnostic/internal/log/field.go?utf8=%E2%9C%93#L397

[2017-09-20 15:07] #1576 closed

[2017-09-20 15:35] #1568 closed

[2017-09-20 21:26] danyli78 opened #1579 "pagerduty alert topic not working with match rule"
kapacitor version: v1.3.3

topic yaml file:

---
kind: pagerduty
match: "product" = 'apple.com'
options:
  service-key: '3434dfkjsdfjj;sdjfdf232'

error:

$ kapacitor define-topic-handler test-topic pagerduty ./test-topic.yaml
failed to unmarshal yaml handler file "./test-topic.yaml": error converting YAML to JSON: yaml: line 2: did not find expected key

if i remove the the match rule, it works f

[2017-09-20 23:05] kranthisai commented on #1276
@kchakraborty . Got the same issue. See more logs in /var/log/kapacitor/kapacitor.log
You may have to install python dependency. Install using `pip install protobuf`
Also, if you see any error saying udf_pb2 is not globally defined, then update ttest.py file, fourth line to

`from kapacitor.udf import udf_pb2`

[2017-09-21 07:48] #1579 closed

[2017-09-21 16:59] #1569 closed

[2017-09-22 03:38] nradonicich commented on #1541
Submitted https://github.com/influxdata/kapacitor/pull/1581 pull request to complete this task a little closer to the RFC

[2017-09-22 06:18] programmer-pragmatic opened #1582 "Accessing a record from outside window and add it to the data"
Hi,

I need to run a batch per hour and if values are missing at the start of the hour, I need to fetch the previous value (which will be out of current window) and add it to current window resultset.

For ex, If tickscript is working on 9 AM to 10 AM window, and it does not find any row @9:00 AM exact, it will fetch the last values (which might came at 8:30) and add this to current resultset for

[2017-09-22 06:19] programmer-pragmatic opened #1583 "Kapacitor not accessible over influxcloud"
Hi,

I have created one account over InfluxCloud, I can access Chronograh, read/write data, I can see Kapacitor configured over there, but cannot access it. Please let me know if I am missing something.

[2017-09-22 12:57] toni-moreno opened #1584 "[bug] can not add new templates after one deleted previously"
When trying to fix a mistake in one template I've deleted first.

Now I'm trying to define again with the same name  and this is the error.
[code]
with this output trace

[code]
I've tried to create again with other name, with this result:
[code]
I'm working with Kapacitor 1.3.1 (git: master 3b5512f7276483326577907803167e4bb213c613)

[2017-09-24 08:16] MarcDenman commented on #1547
I have just run into this as well, using the latest docker image I found that having `.post()` in my TICKscript caused the same error to occur.

I have ended up having to use the 1.2.1 container where the problem doesn't exist. I found the same issue with the 1.3 container.

[2017-09-25 09:26] ahsanali opened #1585 "Deadman resets critical when using lambda filter"
I am using deadman to test my cron jobs. i-e cron jobs push a metric to influx when they run and we send an alert if we notice that a point that should have been there is missing

kapacitor template
[code]

var
[code]
We get critical notifications at 7 & 8 for different cron jobs but then at 9 we receive OK notifications for all which is wrong.

slack logs:

[9:00 AM]
CRITICAL - Cron nightly_admin

[2017-09-25 15:11] desa commented on #1584
@toni-moreno can you include the exact repro steps?

[2017-09-25 15:13] desa commented on #1582
@programmer-pragmatic we reserve issues for bug reports and feature requests. Please ask your question at https://community.influxdata.com/

[2017-09-25 15:13] #1582 closed

[2017-09-25 15:15] desa commented on #1570
@peaksnail we reserve issues for bug reports and feature requests. Please ask your question at https://community.influxdata.com/

[2017-09-25 15:15] #1570 closed

[2017-09-25 15:17] desa commented on #1567
@Nav31 If I understand correctly, you just don't want `OK` alerts. You'd like to only be notified on non-OK level alerts?

[2017-09-25 15:21] Nav31 commented on #1567
@desa exactly, that is correct.

[2017-09-25 15:25] desa commented on #1567
This should currently be possible using `alert topics`, specifically using [match conditions](http://docs.influxdata.com/kapacitor/v1.3/guides/using_alert_topics/#match-conditions). It'll look something like

[code]

Let me know if that doesn't work. I'm going to close the issue for the time being. If it turns out that the behavior isn't sufficient I'll reopen it.

[2017-09-25 15:25] #1567 closed

[2017-09-25 15:26] Nav31 commented on #1567
@desa thanks a lot! I will look into that ASAP.

[2017-09-26 08:53] toni-moreno commented on #1584
Hi @desa I've finally recreated completely the kapacitor.db as it seems to have some corrupted data.

to reproduce the problem , I  did a simple delete template with working  tasks defined from this template running yet. And after a tried recreate again,  but I forgot the "-type stream", and the log shows the stack trace in previous comments..

The rename could be done with the correct command  (a

[2017-09-26 13:07] sbengo opened #1586 "Unexpected high system memory usage on single stream task"
Hi,

I'm working with Kapacitor 1.3.1 (git: master 3b5512f) to create some alerts with an InfluxDB subscription and after working on databases and several TickScripts we noticed an unusual high memory usage.

We have only enabled one task predefined with a template and filled with JSON which is retrieving data from `stream` mode to:

- Calculate the mean `every 1m` of `30m windowed` of `InputUtili

[2017-09-26 15:22] DJFliX commented on #557
We could even create a small script/application that connects to RabbitMQ, initialises and then listens on a socket. Every message published on the socket then directly goes to RabbitMQ in the predefined topic etc. etc.

Or there could even be a format for messages sent to the socket so we can customise the routing key/exchange per published message.

Ah well. Maybe building an output node for Kap

[2017-09-26 22:48] Benco1 opened #1587 "Kapacitor script fails to execute fully if measurement doesn’t exist - Alert trigger desired"
Running Kapacitor 1.3.1 ...

I have a simple Kapacitor script that does a `batch|query()` with a `count()` of datapoints and does it’s alerting based off of this count value.

The script works long as the measurement already exists in Influx (i.e., assumes at least one previous datapoint has been inserted).

HOWEVER, if the the measurement does not (yet) exist in Influx, the intended / expected be

[2017-09-27 09:54] toni-moreno commented on #1584
Hi @desa I' think this issue  could be easily resolved by only recreating de db, so I will  close, in  order to priorize  important issues

[2017-09-27 12:14] sbengo commented on #1586
Hi again,

@nathanielc, @desa, we did the same test with Kapacitor 1.3.3 (git: master eacb3730de19d7c70b6481f53100c20850d30b8b) and it seems to have the same behaviour explained on the comment above.

![memory_increase_131](https://user-images.githubusercontent.com/13196237/30912725-ff94c608-a38d-11e7-8d2e-4cf4a5e88c69.jpg)

Thanks,
Regards

[2017-09-27 13:33] desa commented on #1586
@sbengo Thanks for the report. What does the data that you're writing look like? How many tags, fields, etc.? Also the length of each of the tag keys and values would be useful.

One thing that we can do to lower the amount of things buffered is only keep the fields we need in the window
[code]

I noticed that in our window node, we emit the data to the pipeline every minute with the last 30m

[co

[2017-09-27 13:42] desa commented on #1584
@toni-moreno I'd like to reopen the issue just so that we have it logged somewhere. That way we can prioritize appropriately.

[2017-09-27 15:32] sbengo commented on #1586
Thanks for the quick answer.

In order to track which device/interface is giving errors, it is **completely necessary** to preserve the tags and show them on the `alert`.
We are using a generic template so we have no plans to hardcode the tag set on `keep()` function.

- How can we preserve those tags?
- There is any way to keep in memory as a variable map and after apply to the "message/details"

[2017-09-27 15:59] desa commented on #1586
Keep only applies to fields. All tags will be preserved. I'd try to use the `keep` with the window. This way you'll buffer less data.

Not sure I follow what you're trying to do.

[2017-09-27 16:30] desa commented on #1587
@Benco1 Can you include the script you're using? This sounds like it might be an InfluxDB issue, but there may be a work around in Kapacitor.

[2017-09-27 18:35] desa opened #1588 "[RFC] Add snippets/alternates to TICKscript"
# TICKscript Snippets
TICKscript support `snippets` of code that can be reused and dynamically inserted into different steps of the TICKscript pipeline.
Here is an example:
[code]
# TICKscript Alternates
In addition to snippets you can define alternate snippets based on some feature of the data being processed.
This allows you to specialize the behavior of a task for certain subsets of your data.

[2017-09-27 19:03] nathanielc commented on #1588
The alternates guarantee that each point only matches a single alternate. This is accomplished by ordering the alternates by the way they are found in the script. Then the last alternate to match for a given point is chosen.

This way you can read the list of alternates like a series of sieves, meaning that the last alternate that matches is the most specific (i.e. smallest hole) is the one is use

[2017-09-27 19:26] Benco1 commented on #1587
Very simple example with new measurement `does_not_exist_yet` (i.e., no prior datapoints in Influx). If I check the Kapacitor logs, I will see nothing after the `query()` node and the alert is clearly never triggered as I believe the `alert()` node doesn't even run.

Note that this script works perfectly if Influx recognizes the measurement (i.e., has received prior data for this measurement). @de

[2017-09-27 20:09] Benco1 commented on #1587
@desa so there is this known issue / feature request (with enthusiastic 👍  and surprisingly less enthusiastic response to said 👍 ) https://github.com/influxdata/influxdb/issues/6412.

IMHO, I believe `count()` should return a number, but I suppose there is some room for valid argument here. Regardless of the DB's behavior / choices, it's a little unnerving that a monitoring tool would depend upon

[2017-09-27 23:13] dp1140a opened #1589 "Custom JSON output for Alert Post and HttpPost Nodes"
This is a feature request for the ability to specify custom JSON output for the Alert Post and HttpPost nodes.  As it stands now there is no control over how the JSON looks and adding additional elements to it is not a trivial task.

In thinking how this might be implemented I could see a parameter that might point to a template file that could perform the mapping:

.template(String template, Bool

[2017-09-27 23:15] timhallinflux commented on #1589
Similar to: https://github.com/influxdata/kapacitor/issues/1071

[2017-09-28 01:44] littlebeer2100 opened #1590 "I want to gather a remote docker server metrics，but there is a error？"
Error in plugin [inputs.docker]: Error response from daemon

[2017-09-28 09:46] toni-moreno commented on #1589
This new feature would be greatly improved if could also use the Tick variables on the template as  requeted in (https://github.com/influxdata/kapacitor/issues/894)

[2017-09-28 09:47] bingoku commented on #1308
## alert-rules
[code]
## E! failed to
[code]

[2017-09-28 10:26] toni-moreno opened #1591 "Panic on closed channel over udf"
Hi while working with an UDF  my kapacitor (Kapacitor 1.3.3 (git: master eacb3730de19d7c70b6481f53100c20850d30b8b) has crashed.

These are my UDF  last logs
[code]
And these the panic on kapacitor

[code]

[2017-09-28 21:20] nathanielc commented on #1591
Thanks we will look into this.

[2017-09-29 01:07] SamuelToh commented on #1559
Thanks everyone for looking into this. I believe we may have found a workaround for it using the `Shift` node.

A little bit of creative programming here. We first use the derivative node to do the calc, then we shift the results backwards by a certain interval (duration) to correct the calculation.

That is, using the same dataset.

- Timestamp: 1 Jan 2017 Value: 100

- Timestamp: 1 Jan 2018 Valu

[2017-09-29 01:07] #1559 closed

[2017-09-29 07:59] comingby opened #1593 "Feature request: add/remove UDF through API/CLI without restarting Kapacitor."
As more and more alert requirements come to us, there is need to add/remove UDF to support these requirements frequently.

However, by modifying the UDF nodes in configuration file and restarting the Kapacitor, the existing alerts will be affected. We would like to have a more comfortable way to do this.

Thanks:)

[2017-09-29 08:29] JanDevDE opened #1594 "system-load | wrong measurement"
I'll create this issue on chronograf and kapacitor, because I don't know to which one it fits better.

So I created an alert which sends an alarm to Telegram if the system-load is greater than 0.8.
It works, but if the system is on complete idle it's getting strange. As you can see below, I get completely wrong measurements in the alarm. (And it spams it.)

Normal:

System Alert:nil is CRITICAL va

[2017-09-29 12:32] DaveBender opened #1595 "panic: ... SIGSEGV: segmentation violation code"
kapacitor is crashing with the error below, a segmentation violation.   Is there a way to debug where that's coming from?  The **.(*InfluxQLNode** reference makes it looks like a TICKscript error, but how can we determine which script is causing the problem, and, within that script (if that's the underlying cause), which line or variable is at fault?

[code]

[2017-09-29 16:58] dishmael opened #1596 "Chronograf Alert Count"
Chronograf is not reflecting the correct alert count for Kapacitor TICK scripts loaded from the command line.  It seems that Chronograf is only counting alerts that were created through the UI.

[2017-09-29 20:26] james-lawrence opened #1597 "window is not emitting data."
[code]

the 2nd log never receives any data. everything looks normal in the first log() statement.

version: 1.3.2

[2017-09-29 21:24] james-lawrence opened #1598 "stats node should support .as('x') so it doesn't overwrite fields."

[2017-09-30 17:09] absolutejam opened #1599 "[Question] Editors or tools to generate TICK script, InfluxQL, etc"
Hey guys and gals,

Just wondering if there are any recommended tools for creating any of the Influx DSL. I use a mix of Emacs and VS Code depending on my machine, so any plugins providing syntax highlighting, suggestions and or auto-completion would be ideal. Is there any facility for this? Something like SSMS would be great for InfluxDB and even syntax highlighting would help for TICK.

I also t

[2017-10-01 22:59] absolutejam commented on #1599
Nevermind! Looks like Chronograf is the perfect tool for this. Additionally, there are plugins for vim, atom and VSCode :+1:

[2017-10-01 22:59] #1599 closed

[2017-10-02 09:38] sbengo commented on #1586
Hi @desa , first of all thanks for your reply.

We did some test applying your suggestion of keeping only the 'InputUtilization' before the `|window()` node field and those are the results and questions:

[code]

## Test 1 - 2017/09/29 :

|Var | Value
|----|------
|period | 30m

|Mem before | Time to standby | Mem standby | Total increase
|---------- | --------------- | ----------- | -------------

[2017-10-02 11:08] Feralus commented on #1336
Hi @druchoo,
did you find a solution for the unsupported protocol scheme "" error?  I get the same error when I try to use alerta.

[2017-10-02 15:11] desa commented on #1587
We could try something like this

[code]

That might not work.

The idea behind this is if the measurement doesn't exist, and the query doesn't return data (because the measurement doesn't exist) the deadman will fire. As soon as data for the measurement appears, the deadman will no longer fire and the other alert conditions will take over.

[2017-10-02 19:59] jcmcken opened #1600 "Feature Request: Make 'publish' topic handler an AlertNode chain method"
Say that I want to add a logging topic handler to every one of my Kapacitor alerts, but those alerts already have alternate topics defined (e.g. for email alerts, etc.).

The current paradigm seems to be that I would set up ``publish`` topic handlers for each pair of topics. So if I had three topics A, B, and C, and my new logging topic D, in total I would need to create:

* A
* B
* C
* D
* publis

[2017-10-02 21:23] teedilo opened #1601 "How to query the Kapacitor version using the CLI, and how to determine version of a PR"
I'm trying the "kapacitor version" command as documented in the help, but I'm just getting "Kapacitor  (git:  )" in the command response:

[ec2-user@ip-10-103-37-72 kapacitor]$ kapacitor version
Kapacitor  (git:  )

Secondly, I'm actually trying to use the change in [https://github.com/influxdata/kapacitor/pull/1314/files](url).  I think it may have been working at one time but it's not any longer

[2017-10-02 21:36] teedilo commented on #1601
Thanks.  `kapacitor stats general` returned the info below.  I'm still not seeing a version, but maybe that's as expected if we are using a manually compiled binary.  Hmmm..

Thanks for the info on the change log for the PR.

[2017-10-02 21:55] teedilo commented on #1601
One more question...  The download page for Kapacitor says v1.3.1.  Does that mean that v1.3.3 is not yet generally available?  Thanks.

[2017-10-02 22:48] venkyrprabhu opened #1602 "kapacitor alerts to onpremise hipchat"
Hi,

Kapacitor provides configuration option to only update subdomain for hipchat.   Any reason why the entire hipchat url cannot be configured.
We have an on-premise hipchat and the endpoint is not in this format - https://<subdomain>.hipchat.com

Thanks
Venky

[2017-10-03 10:47] sbengo commented on #1586
Hello again!

I update the issue with another test:

## Test 4 - 2017/10/03

In this Test, we set up __5 task__ with the same cardinality: 4025 point into the same measurement and selecting different fields from the same time series (all fields are sent in the same write action)

We modified the TickScript: instead of using 3 different vars we defined the tickscript calling the stream node and cha

[2017-10-03 14:11] druchoo commented on #1336
@Feralus, Unfortunately not. We're not really using Alerta anymore so I haven't followed up.

[2017-10-03 17:43] #1601 closed

[2017-10-04 08:57] pmyjavec commented on #939
Hello @octalthorpe, sorry to bring up such an old issue.

I've been taking a look at this issue recently and I'm wondering if you were running Influx Enterprise or OSS when this behaviour was taking place?

Thank you!

[2017-10-04 19:16] adityacs opened #1603 "Feature Request: EC2 Autoscale"
Creating this ticket to just start the discussion.

@nathanielc For implementing this can we use AWS "go sdk" or we have to do our own REST API implementation as in K8 and Docker?

[2017-10-05 18:12] desa commented on #1597
@james-lawrence whats the output of `kapacitor show <taskID>`

[2017-10-05 20:10] james-lawrence commented on #1597
had to punt on the task, will get back to it next week probably.

[2017-10-06 09:26] oplehto commented on #1602
I'm using Kapacitor (1.3.0) with an on-prem hipchat and simply pointing the url config parameter to our hipchat server works fine:
`url = "https://myhipchatserver.mydomain.com/v2/room"`

[2017-10-06 09:58] toni-moreno commented on #1586
Hi @desa, @nathanielc  I'm working with @sbengo in these analysis and we have decided repeat the test but now we have disabled all other running tasks and measured the Process "Heap In use"  Instead of System Memory, as a more reliable way to measure memory consumption.

As in the previous tests , we need compute the mean of 15 minutes of "InputUtilization" on  aprox 4029 switch port interfaces an

[2017-10-06 11:29] ss682 opened #1604 "kapacitor missing/null value problems"
In the following kapacitor receives a stream from InfluxDB  that contains the fields used_space_fileStoreSummary and timeUntilEndOfLicence with their values.

I am facing problems in  Tickscript with missing values/fields, although it seems that kapacitor  receives successfully the values for this fields from InfluxDB (I checked this in a log file). So the fields shouldn't be missing.

When using

[2017-10-06 15:19] nathanielc commented on #1603
I believe we already have the "go sdk" as a dependency for some EC2 scrapping logic. If you can use that dependency to implement EC2 autoscalling that would be perfect.

[2017-10-06 16:22] donnut commented on #939
We were running OSS

[2017-10-06 16:54] nathanielc commented on #1604
My guess is that some of the points coming from InfluxDB have the fields and other don't.

So for your first question, Kapacitor logs it because some points are really missing the fields.

For question 2, it works in example 1 because the points that do have the fields make it through fine and the ones that don't are dropped.

For question 3, my guess is that none of your points have all the field

[2017-10-06 16:58] adityacs commented on #1603
@nathanielc Sure. Thanks

[2017-10-07 12:45] adityacs commented on #1603
@nathanielc What I realized is that, as in Kubernetes and Docker where we get "serviceName" tag to do "group by $serviceName" on the metrics. We don't have any tags like "autoscaling_group_name" in "System" metrics in telegraf. Without knowing, to which autoscaling_group the EC2 instances belong to, we don't have proper metrics in place to decide the auto scaling logic.

I have opened a ticket in

[2017-10-08 19:41] thuck opened #1605 "Feature Request: Access to {{ .Duration }} in alert message template"
[code]

Maybe I'm missing something, but If I try to use {{ .Duration }} as part of the alarm message I have an error:
[code]

Taking a look on the source code of the alert.go; I cannot find duration as part of the ```renderMessageAndDetails```
Am I missing something or this is not implemented? Also if implemented how could I change this from nanoseconds to hours or minutes.

[2017-10-09 08:05] ss682 commented on #1604
Thanks for your fast anwer.

Do you have an idea about how  it could happen that some points are missing the fields?

Kapacitor sends subscriptions to InfluxDB, which streams its data from the different tables/measurements it contains to Kapacitor. Could it maybe be that InfluxDB only streams the new data it received recently? Thus if in kapacitor tickscript we ask e.g. for "used_space_fileStoreSu

[2017-10-09 09:31] toni-moreno commented on #1586
## Test 5 ( change monInjectorUDF to default())

As a last test trying to release memory , we have removed completely the UDF functionality by a default node witch will inject 4 default fields ( as UDF did before). With this tickScript.

[code]
When enabled the node we can see this behaviour.

![image](https://user-images.githubusercontent.com/5883405/31331911-916d7b74-ace4-11e7-8530-f30c796c896a.

[2017-10-09 18:32] venkyrprabhu commented on #1602
Thanks @oplehto , i think i was having something funny going on with chronograf overriding the subdomain over kapacitor's url config.

[2017-10-09 18:32] #1602 closed

[2017-10-09 18:55] phemmer opened #1607 "Retry alert on failure"
It would be nice if kapacitor could retry alert calls on failure. A general purpose solution for all handlers would be great, but in our specific use case, we're looking for PagerDuty.

The use case is that PagerDuty (unfortunately) often fails. Normally these failures aren't a big issue as kapacitor will just perform the call again on the next point which is matches the `alert()` node's condition

[2017-10-09 20:37] lamchakchan opened #1608 "K8SAutoscale InCluster Configuration Problem"
I'm currently not able to get the `k8sAutoscale()` node to work.  When the `TICK` script is enabled, I get an error returned.

[code]

I've configured `kapacitord` using environment variables.  With my kapacitor docker container launched within my Kubernetes cluster.  I verified the environment variables exist.

[code]

I tried to find the initializer for the In-Cluster configuration and found thi

[2017-10-09 22:02] nathanielc commented on #1586
Hello @sbengo @toni-moreno , this is a great analysis. Thanks!

I'll answer your questions below.

Yes, in most cases Kapacitor stores the data as its written via the API, so if each point has repeated tags it is duplicated.  There are cases where we know that the tags will not be used and we can drop them. Your use of `movingAverage` si one of these cases. The moving average implementation only s

[2017-10-10 10:25] toni-moreno commented on #1586
Hi @nathanielc

## About hpprof

I've uploaded the pprof file  for version Kapacitor 1.3.3 (git: master eacb3730de19d7c70b6481f53100c20850d30b8b)

[kapacitor-heap.pprof-20171010.gz](https://github.com/influxdata/kapacitor/files/1371405/kapacitor-heap.pprof-20171010.gz)

## About recursive formulas.

 I've coded myself a new  aggregator for telegraf  (https://github.com/influxdata/telegraf/pull/216

[2017-10-10 10:47] absolutejam opened #1609 "Add ability to name nodes (For DOT output)"
It would be really great if there was a way to give a node an arbitrary name or tag, so that the output DOT graph was more useful. In more complex, branching scenarios, it's difficult to track which node is which.

[2017-10-10 11:22] tanji opened #1610 "Window node not functional with missing points"
I have several tickscripts that define window aggregation functions and are unfortunately not functional. Definition of the script below.

The error that shows up every 15s:

[code]

Indeed if I query the DB directly the last point is missing:

[code]

The query would have to use FILL(linear) or FILL(previous) in order to have non missing data.

I've tried adding `FillPeriod` to the WindowNode but

[2017-10-10 14:14] kaithar opened #1611 "UnionNode still buffering for no good reason"
So, like #1100 it seems I'm running a foul of UnionNode.

I was trying to do something to the effect of:

[code]

I was consistently seeing the influx node running at least 30 points behind the number of points it should have received from the wheres.  Watching it on stats I could see the node would "jump" every 30 seconds or so while the rest of the graph was processing at a fairly consistent 1 p

[2017-10-10 19:21] mkarlesky commented on #1553
I had this very same issue and found your post when searching on the error text. I'm no TICK script expert, but I figured out a solution from previous experience writing a derived value to Influx from two source streams.

At present it appears that TICK scripts do not have a mechanism to chain together multiple parallel operations. However, by using `join()` and `keep()` you can achieve what you n

[2017-10-10 19:34] nathanielc commented on #1611
@kaithar Can you share the `kapacitor show ` output of the task with the union node?

[2017-10-10 19:36] nathanielc commented on #1610
Use the default node to ensure all point have the field, see https://docs.influxdata.com/kapacitor/v1.3/nodes/default_node/.

[2017-10-10 19:36] #1610 closed

[2017-10-10 19:52] nathanielc commented on #1586
@toni-moreno Thanks for the pprof file. There seems to be a lot of the in use RAM relating to prometheus scrapping specifically AWS. Does that sound right? Have you configured Kapacitor to scrape AWS hosts?

# On Recursive formulas

The function in InfluxQL are nearly all implemented using this idea of consuming a single point at a time, and reducing the result as it goes along. The problem is tha

[2017-10-10 19:53] #1541 closed

[2017-10-10 20:02] nathanielc commented on #1608
Could you share the configuration file being used by the process?

Unfortunately there are some weird edge cases with using env to configure Kapacitor where the configuration file needs to have the right place holders in order to work.

[2017-10-10 20:08] lamchakchan commented on #1608
The kapacitor.conf is the default one packaged with the kapacitor Docker image.  In my setup, im not overriding this file.  Just layering configurations with ENV vars.

[2017-10-10 21:54] lamchakchan commented on #1608
I'm installing this using `helm`.  Here is the command with some values blanked out.

[code]

[2017-10-11 11:00] kaithar commented on #1611
@nathanielc
I had to recreate but here you go:
[code]

The rate seems correct but there should be a 1:1 match between the output of `from1` and `union19 -> influxdb_out20` but in practice...

[code]
That's 19-42 points behind, which is bad enough for a metric that's generating at 1 point/s... Since this is generating a full sweep I'm not sure which failure mode it would demonstrate on less regular

[2017-10-11 13:34] ewillia1983 commented on #870
+1

[2017-10-11 13:55] desa commented on #1595
@DaveBender Can you supply the associated tickscript and any other data that can be used to reproduce this.

[2017-10-11 13:58] desa commented on #1596
@dishmael I think this may be intended behavior. Could you repost this issue in https://community.influxdata.com/ until we can establish that there is actually an issue?

[2017-10-11 13:58] #1596 closed

[2017-10-11 14:00] desa commented on #1605
@thuck What is `Duration`?

[2017-10-11 14:02] dishmael commented on #1596
I did raise that as an [issue](https://community.influxdata.com/t/alert-count-not-updating/2486) on InfluxData's community and they said to raise it as a bug here.

How could that be "intended behavior"?  Chronograf should be showing the count for alerts that were created in the UI as well as from the command like via Kapacitor.  This seems like a bug to me.

[2017-10-11 14:03] desa commented on #1517
Fixed

[2017-10-11 14:03] #1517 closed

[2017-10-11 14:05] desa commented on #1596
@dishmael I've responded on community.

[2017-10-11 14:07] desa commented on #1600
@jcmcken what about something like
[code]

[2017-10-11 14:08] desa commented on #1598
@james-lawrence can you provide a bit more detail about whats happening with an example.

[2017-10-11 14:09] desa commented on #1594
@JanDevDE can you supply `kapacitor show <task name>` for the task in question.

[2017-10-11 14:14] desa commented on #1590
@littlebeer2100 I think this might be a [Telegraf issue](https://github.com/influxdata/telegraf/issues/new). Kapacitor does not have an `input.docker` plugin.

[2017-10-11 14:14] #1590 closed

[2017-10-11 14:17] desa commented on #1589
I think this is now currently possible via https://github.com/influxdata/kapacitor/pull/1572

[2017-10-11 14:35] desa commented on #1544
@jb08 `influx_stress` has been deprecated, I'd recommend using `[influx-stress](https://github.com/influxdata/influx-stress)` to generate artificial load.

Something like the following

[code]

I'm going to leave this issue open as a note to update the https://github.com/influxdata/kapacitor/tree/master/examples/error_percent example

[2017-10-11 14:38] DaveBender commented on #1595
The segmentation violation happened when the script hit a divide-by-zero error determining the error rate with `errors/total`.  During a slow spell, there were no records, so `total` was zero.  I corrected it by adding 1 to `total`, which is not elegant but gets around the problem.

[code]

I was wondering, though, how to connect the stack trace to the script causing the problem.  Does the `gorout

[2017-10-11 14:39] desa commented on #1547
@pshemk @MarcDenman Just to clarify, the panic only occurs when using a replay, or does it also occur when using the task is running?

[2017-10-11 14:41] desa commented on #1551
@varaga I'm going to close this issue as I believe it is not a Kapacitor issue. Will re-open if new evidence that this is an Kapacitor issue arises.

[2017-10-11 14:41] #1551 closed

[2017-10-11 14:47] desa commented on #1553
@seletskiy The example that @mkarlesky is spot on, since both `count` and `mean` are aggregates, they drop any fields other than the one that is being aggregated. To do what you want, you have to use `join` like so

[code]

[2017-10-11 14:49] thuck commented on #1605
@desa for the AlertNode there is some predefined fields:
[code]
This is extract from here: https://docs.influxdata.com/kapacitor/v1.3//nodes/alert_node/

If you check the json generated by the alert there is the field for duration there:
[code]
So, as far as I can understand, the Duration here should be the duration that we have on the json, that's is related to the time that the alert is in that

[2017-10-11 14:53] desa commented on #1605
From the documentation it looks like the following are available in the message template

http://docs.influxdata.com/kapacitor/v1.3/nodes/alert_node/#message
[code]

[2017-10-11 14:56] desa commented on #1605
Hmm weird, it should actually be available

https://github.com/influxdata/kapacitor/blob/master/alert/types.go#L100
[code]

[2017-10-11 14:58] desa commented on #1605
Wait, actually I'm wrong

https://github.com/influxdata/kapacitor/blob/master/alert.go#L1035-L1049
[code]

I'm going to change this to a Feature Request.

[2017-10-11 15:01] thuck commented on #1605
Great, thanks

[2017-10-11 15:03] desa commented on #1562
@varaga sorry for the delayed response. Couple asks

* Whats the output of `kapacitor stats ingress`
* are there any InfluxDB logs related to the `subscriber` service?
* can you try upgrading to 1.3 (I don't think this will make a difference, but I'd like to be sure)

From what I can tell it looks like the InfluxDB node cannot reach Kapacitor.

Notice how no data is actually reaching the task
[cod

[2017-10-11 15:07] james-lawrence commented on #1598
using the stats() node basically removes all the fields except for its own, which is pretty annoying when trying to use it to trigger an alert. I'll write a tick script demonstrating the issue later.

[2017-10-11 15:11] desa commented on #1605
@thuck if you're interested, it'd be a pretty easy contribution. Essentially it'd be

## Step 1
https://github.com/influxdata/kapacitor/blob/master/alert.go#L1035-L1049
Add `Duration` to the `messageInfo` struct

## Step 2
https://github.com/influxdata/kapacitor/blob/master/alert.go#L698
Modify `renderMessageAndDetails` to take in a duration and set it on the `messageInfo`

## Step 3
Write tests t

[2017-10-11 15:13] lamchakchan commented on #1608
My `TICK` script would also help too.  I realized there is a `node.cluster` property for the `k8autoscale` node which I'm not using.  But I also don't see it in the documentation for `1.3` either.

[code]

[2017-10-11 15:16] MarcDenman commented on #1547
@desa I only tried using a replay, for some reason I didn't even think about actually running the task and seeing if it happened "normally", sorry!

[2017-10-11 15:21] desa commented on #1595
@DaveBender From what I can tell, it doesn't appear to be an issue with the `eval` node, but rather an issue with the `influxQL` node.

Would it be possible to get the entire tickscript you're using and any associated line-protocol data that you think will help reproduce it.

[2017-10-11 15:21] desa commented on #1547
@MarcDenman no problem, I'm sorry that it's panicking in the first place. It definitely shouldn't do that.

[2017-10-11 15:23] thuck commented on #1605
@desa yep, I'll give a try on this, looks simple to implement

[2017-10-11 15:27] toni-moreno commented on #1586
Hi @nathanielc we have not any Prometheus scrapping configured. In fact we have updated version with old 1.1 config file ( there is not any [[scraper]] section in this file). After updated with all new sections like [[scraper]] , [[azure]], and others , and restarted I've repeated the last test.

## Test 6 ( added [[scraper]] enabled = false to the conf file ).

![image](https://user-images.github

[2017-10-11 15:50] lamchakchan commented on #1608
@nathanielc Is there a reason why `k8s.NewConfig()` isn't part of the initialization process in this [code block](https://github.com/influxdata/kapacitor/blob/master/server/config.go#L128-L167)?

[2017-10-11 16:19] desa commented on #1547
Would it be possible to get the output of

[code]

Specifically I'm looking for the `X-Kapacitor-Version` header. I'm pretty sure its 1.3.3, but I want to be certain.

I'm pretty sure this line [v1.3.3/alert.go#L365](https://github.com/influxdata/kapacitor/blob/v1.3.3/alert.go#L365) is where the panic is coming from. My guess is that the task master isn't set and as a result we're getting the pani

[2017-10-11 16:35] lamchakchan commented on #1608
I think the above missing code is it.  I'm going to build a local copy and test it and I'll make a PR for this.

[2017-10-11 18:21] pshemk commented on #1547
[code]

[2017-10-11 18:24] desa commented on #1547
Awesome! Thanks. I've got a PR open with a fix. Just need to add some tests and then it should be good to go.

[2017-10-12 14:38] #1547 closed

[2017-10-12 15:27] kranthisai opened #1615 "Tolerance not working with joins holt winters."
I have issue with kapacitor join node with tolerance. In the following code, data goes through join node only if two timestamps were equal

[code]

The following data points doesnt go through join node, even with tolerance(10s)

[code]

[code]

Any help greatly appreciated..

Thanks,
Kranthi

[2017-10-12 15:48] desa commented on #1615
@kranthisai please ask in  https://community.influxdata.com/

[2017-10-12 15:48] #1615 closed

[2017-10-12 17:18] JanDevDE commented on #1594
This was sadly just a company project which is now over so I can't provide any more details. <Closed>

[2017-10-12 17:18] #1594 closed

[2017-10-13 09:43] ahsanali opened #1618 "Setting tag in eval not persisted in alerts"
For example tag value is not persisted.
|eval(lambda: string("last_value"))
 .as('value')
 .keep('value')
 .tags('value')
|alert()
 .crit(lambda: "value" <= 0)

Now the alert data should have a tag for value along with all the group by. But apparently that is not the case.

[2017-10-14 14:26] thuck commented on #1604
@ss682 There is another ticket that explains why there is missing fields #1217 , I'm assuming you probably has the same problem as the one that is described there.
Basically telegraf, in some cases, will not send all the fields in the same measurement in the same line.  On influxdb you will see them together, but kapacitor is receiving the stream of the points.
So as an example; imagine the system

[2017-10-15 16:21] adityacs commented on #1603
@nathanielc Need some help.

 I am trying to run "dep ensure" and I am getting below errors. Kindly help me in solving these errors.

[code]

[2017-10-15 21:25] baselm opened #1620 "custom anomaly detection"
Hi,
I'm trying to this example in influxdata
https://docs.influxdata.com/kapacitor/v1.3/guides/anomaly_detection/
keep falling because the logs are given me an error
pen server: open service *udf.Service: failed to load process info for "tTest": error processing request of type info: global name 'udf_pb2' is not defined
Any help please

[2017-10-16 08:34] wing731 opened #1621 ""define-topic-handler" match is not work"
kapacitor version: v1.3.3

kind: smtp
match: "host" == 's001.example.com'
options:
    to:
       - aaa@example.com

`kapacitor define-topic-handler base_sys_fs smtp_dba halder/smtp_dba.yaml
failed to unmarshal yaml handler file "halder/smtp_dba.yaml": error converting YAML to JSON: yaml: line 1: did not find expected key`

if i remove the the match rule, it works fine.

[2017-10-16 12:07] toni-moreno commented on #1586
Hi @nathanielc suppose we would like to help you coding a new "like" influxQLNode recursiveStats as described before for basic stats which we can compute in a recursive way.

#### These could be the statistics got  (with one counter for number of points or time controller)

* count:  ( only has sense if configured with duration time controler instead of # points)
* max:  max value  ( only needs 1

[2017-10-16 17:49] nutztherookie commented on #1308
I'm having the same problem

fairly simple setup:
[code]

influx-SQL has this:
[code]

I tried `'load1'` and `'uptime'` and `'*'` and `'time'` .. none of it worked :(

[2017-10-16 18:27] jcmcken commented on #1600
That works for me. I don't particularly mind the actual syntax. My two suggestions were more a way to preserve the current syntax of the ``topic`` method

[2017-10-16 20:17] nutztherookie commented on #1308
I found the answer to this here: https://github.com/influxdata/kapacitor/issues/1604#issuecomment-336638206

[2017-10-16 20:51] lamchakchan opened #1623 "kubernetes InCluster client not working"
The Kubernetes InCluster setting is not working when kapacitor is mounted on a docker base image that can't resolve against `/etc/resolve.conf` search domains.

[code]

The host for `kubernetes` is hardcoded [here](https://github.com/influxdata/kapacitor/blob/master/services/k8s/client/client.go#L95).  This is dependent on DNS working.  All containers are mounted with ENV values with Kubernetes AP

[2017-10-17 08:37] adrianlzt opened #1624 "Missing 1.3.3 RPM in yum repo"
Kapacitor 1.3.3 was released 2017/08/11 but the [official repo](https://repos.influxdata.com/rhel/7/x86_64/stable/?C=M;O=D) still does not have the rpm.

[2017-10-19 02:33] avimar commented on #1471
I'm now trying amazon SES and getting the same error.

I can't use the configuration file it seems because I set the settings in the chronograf dashboard. Any way to clear that?

Any way to simply use the local sendmail, which I've had experience configuring before? or just using it and hoping it works?

I'm struggling to get alerts outward from kapacitor!

[2017-10-19 12:07] lfarkas opened #1626 "kapacitor.service file has bug"
currently in kapacitor.service the last line:
Alias=kapacitor.service
which cause error on all update since kapacitor reference itself which is nonsense. this line should have to be deleted!
[code]

[2017-10-19 16:08] oplehto opened #1627 "Feature Request: Indicate whether an alert is auto-recovering or not in the alert JSON output"
It would be useful to have an indication if NoRecoveries is set in the alert JSON output.

In my use case this will be used by custom monitoring system (via the exec handler) to display to the user whether a given alert will auto-recover or need to be manually acknowleged. We have a mix of both types of alerts.

[2017-10-20 02:18] binary0111 opened #1628 "Connect to InfluxDB via a Unix Domain Socket"
## Feature Request

### Proposal:

Add support for connecting to InfluxDB over a unix domain socket

### Current behavior:

We can connect to InfluxDB via UDP or HTTP(S) over TCP but not UDS. InfluxDB also supports HTTP over UDS.

See : https://github.com/influxdata/influxdb/pull/7135
         https://github.com/influxdata/telegraf/issues/3366

### Desired behavior:

Be able to talk to InfluxDB on

[2017-10-20 14:11] pikhovkin opened #1629 "open service *influxdb.Service: failed to link subscription on startup: invalid character 'M' looking for beginning of value"

[2017-10-20 14:30] thibodux opened #1630 "Kapacitord should remove pidfile upon exit"
Kapacitord does not remove the pidfile upon exit/termination.

See thread and fixes from Influxd tickets.
Original thread: https://github.com/influxdata/influxdb/issues/8983
Fix:  https://github.com/influxdata/influxdb/pull/8987

[2017-10-20 20:32] msherry opened #1633 "fill() seems to have no effect"
(Also posted to https://community.influxdata.com/t/kapacitor-fill-seems-to-have-no-effect-on-batch-queries/2825)

I’m trying to compute summary data over series data that may have gaps. I would like to fill with the previous value in case of gaps. My tickscript looks like this:

[code]

Any value I use for .fill() (previous, 0, null, etc.) yields the same results, and hours with missing values in

[2017-10-23 15:11] desa commented on #1313
@james-lawrence @devth @sputnik13 @sofuture @goller

We just recently implemented https://github.com/influxdata/kapacitor/pull/1481. Here is an [example](https://github.com/influxdata/kapacitor/tree/master/examples/load) of how we intend it to be used.  It would be great if you could give it a try and offer us any feedback.

[2017-10-24 03:42] dennisjbr opened #1634 "Enterprise Kapacitor packages should have have all sections with example values"
Example there are no sample lines for the following sections:

[enterprise]
  (license keys)
[cluster]

[alert]

[2017-10-24 11:48] ss682 commented on #1604
okay thanks for the tips thuck.

What I did now is to use batch to query the fields and additionally  use a window that takes into account all points of the last 9 minutes (.period()). Because kapacitor definitely received at least once a point with the  wanted field in this time period, this seems to solve the problem.

With the |last() node the value of a field that was received to the latest po

[2017-10-24 14:23] yesitspeter opened #1635 "No pushover notifications"
I obtained a paid pushover account, and set up Kapacitor to use Pushover.

![image](https://user-images.githubusercontent.com/13875703/31948522-02c84ee0-b88c-11e7-93ed-c932661043c6.png)

I was excited to be able to receive push notifications as a result of this, but despite intentionally setting alarms, no notifications were sent.  I am able to send test notifications from Pushover's website that

[2017-10-24 15:35] desa commented on #1635
@yesitspeter would it be possible to get the Kapacitor logs and the output of `kapacitor show <task>` for the associated task.

[2017-10-24 16:42] jcmcken opened #1636 "Document each node and chain method with explicit data examples"
It would be extremely useful if the documentation for each Kapacitor node and chain method included explicit example input data and the resulting output data in Influx line format or tabular format. Sometimes it's not very clear from the documentation what the result of applying a given method or node would be just from reading the description.

For example, the [join node](https://docs.influxdata

[2017-10-25 15:38] skuxy opened #1638 "JSON sent to programs/scripts to be executed via exec property modified slightly"
Before we had:

[code]

This changed slightly to:
[code]
That is, "series" under "data" field changed to "Series", which made some shell scripts triggered by our ticks to not work properly, due to them extracting tags buried inside those "series".

We fixed that problem, but I've just wanted to know how it came to this change? I've skimmed changelog and noticed nothing related to this change.
Addi

[2017-10-25 17:52] phemmer commented on #1638
What version did you upgrade from/to? We got bit by this same issue around 8 months ago. The name changed from `series` to `Series` and then back to `series` again. Broke our alerting each time :-(

See https://github.com/influxdata/kapacitor/commit/8ed20f124651557db7e099c0f2f8ac30ed372cbb#diff-bd7f9bc9538b2728f328cfbbeaf9b0a0R9

[2017-10-25 18:33] SrikarshVardhan opened #1639 "Problem with patching the script"
We are trying to patch this
"script": "batch\n    |query('''\n            SELECT count(response_time) as count\n            from \"sdp_monitoring\".\"13m\".\"net_response\"\n            where \"type\" = 'kafka'\n            ''')\n        .groupBy('cluster', 'host')\n        .period(45s)\n        .every(10s)\n    |where(lambda: \"count\" \u003e 0)\n    |deadman(1.0, 30s)\n        .stateChangesOnly(

[2017-10-25 20:24] SrikarshVardhan commented on #1638
We are facing this issue https://github.com/influxdata/kapacitor/issues/1639

[2017-10-25 20:31] SrikarshVardhan commented on #1534
Hi @nathanielc we are facing an issue while patching to script
https://github.com/influxdata/kapacitor/issues/1639

We are trying to patch this
"script": "batch\n |query('''\n SELECT count(response_time) as count\n from "sdp_monitoring"."13m"."net_response"\n where "type" = 'kafka'\n ''')\n .groupBy('cluster', 'host')\n .period(45s)\n .every(10s)\n |where(lambda: "count" \u003e 0)\n |deadman(1.0,

[2017-10-25 21:07] SrikarshVardhan commented on #1195
@alparslanuysal Are you able to patch your script. I am facing this issue. https://github.com/influxdata/kapacitor/issues/1639

We are trying to patch this
"script": "batch\n |query('''\n SELECT count(response_time) as count\n from "sdp_monitoring"."13m"."net_response"\n where "type" = 'kafka'\n ''')\n .groupBy('cluster', 'host')\n .period(45s)\n .every(10s)\n |where(lambda: "count" \u003e 0)\n |d

[2017-10-25 22:42] rapport commented on #1534
Invalid JSON sounds like you are not escaping some of the script correctly probably it is the double quotes unescaped in the wrong place:

For instance for
"script": "batch\n |query('''\n SELECT count(response_time) as count\n from "sdp_monitoring"

check the double quotes inside the script value as for starter you are not opening and closing the value correctly with double quote as you have unesc

[2017-10-26 07:32] absolutejam opened #1640 "Expand AlertNode message functionality"
Hey guys,

I [posted](https://community.influxdata.com/t/using-kapacitor-vars-within-alertnode-message-property/2722) on the community forums little while back, but it's more of a feature request, so I thought I'd make an issue. Hopefully this isn't stepping on any toes.

Basically, I feel like it would be beneficial if we could include `var` values within the alert message, as well as provide mor

[2017-10-26 07:40] skuxy commented on #1638
Hey @phemmer , we've went from v1.0 to v1.2 when our ticks got rowdy-ish. I guess transition to v1.3 will revert to old state (thus breaking scripts again)?

[2017-10-26 15:46] #1623 closed

[2017-10-26 15:51] desa opened #1641 "Logs API writes multiple http headers"
[code]

[2017-10-26 15:54] nathanielc commented on #1608
@lamchakchan Sorry for the last response, I have been out. I believe the NewConfig() was missing because of a backwards compatibility issue. Something about going from having just one k8s configuration section to allowing a list of them. I'll dig into this today and let you know. I saw your PR #1616, I'll let you know what I find.

[2017-10-26 16:26] austinbutler commented on #1624
And the [download page](https://portal.influxdata.com/downloads) is even further behind (1.3.1).

[2017-10-27 17:34] nathanielc opened #1642 "TestServer_RecordReplayStream is falling"

[2017-10-27 18:49] #1630 closed

[2017-10-27 20:01] nathanielc commented on #1608
@lamchakchan Does it work for you if you use `KAPACITOR_KUBERNETES_0_ENABLED` and `KAPACITOR_KUBERNETES_0_IN_CLUSTER`?

[2017-10-27 20:23] nathanielc commented on #1608
@lamchakchan I have been unable to reproduce your error. Using either the index or non-index env var names. Is it possible to share your helm package?

[2017-10-27 21:38] jjathman opened #1643 "Topic Handler with an invalid Kind attribute causes silent crash"
I'm new to defining a topic handler, my first attempt was to use HipChat. I couldn't find specific documentation for defining a topic handler for HipChat so I made my best guess. My initial handler spec file was:

`
---
kind: hipChat
match: changed() == TRUE
options:
  room: "influx-notifications"
...
`

I chose "hipChat" because that is the way the node is capitalized on the alert node in TICK sc

[2017-10-29 15:05] #1605 closed

[2017-10-30 08:48] rakshit-jain commented on #1624
Facing the same issue. Unable to install kapacitor using yum

[2017-10-30 13:26] 2solt commented on #1621
@wing371
It works for me like:
`match: \"host\" == 's001.example.com'`

[2017-10-30 15:45] nathanielc commented on #1638
@skuxy @phemmer You are right the `series` key changed. It was always supposed to be `series` and it was accedentially changed to `Series`. We reverted the change and added tests around it to ensure that doesn't happen again. Sorry for the trouble of having to deal with this. If you update to >= 1.3, the key will be `series`.

Relevent note from the CHANGELOG:

[2017-10-30 15:45] #1638 closed

[2017-10-30 16:35] nathanielc commented on #1607
@phemmer This makes sense and I think we need to add a system that allows for retries across all the alert handlers.

[2017-10-30 16:54] desa opened #1644 "Support JSON lines for log API"

[2017-10-30 17:54] desa commented on #1624
Can you confirm that this is still an issue?

[2017-10-30 19:07] adrianlzt commented on #1624
Now it is in place: https://repos.influxdata.com/rhel/7/x86_64/stable/kapacitor-1.3.3.x86_64.rpm

Thanks!

[2017-10-30 19:07] #1624 closed

[2017-10-30 19:59] skuxy commented on #1638
@nathanielc thnx for the warning! We'll keep this in mind for the next upgrade.

[2017-10-30 20:31] yesitspeter commented on #1635
@desa  Sorry for the delay.  Can you give me some guidance here?  I don't know what task is associated.

[2017-10-30 20:32] desa commented on #1635
For each task in `kapacitor list tasks` run `kapacitor list <task id>` and report back the results.

[2017-10-30 20:41] yesitspeter commented on #1635
Here is the output of show :

`

root@tick:/var/log/kapacitor# kapacitor list tasks
ID                                                 Type      Status    Executing Databases and Retention Policies
chronograf-v1-37a3b73b-bfc4-4628-b522-aea43893c531 stream    enabled   true      ["telegraf"."autogen"]
root@tick:/var/log/kapacitor# kapacitor show chronograf-v1-37a3b73b-bfc4-4628-b522-aea43893c531
ID

[2017-10-30 20:45] yesitspeter commented on #1635
I just noticed this error in the Kapacitor logs:

`[chronograf-v1-37a3b73b-bfc4-4628-b522-aea43893c531:alert3] 2017/10/30 13:42:45 E! failed to send event to Pushover json: Unmarshal(non-pointer struct { Errors []string "json:\"errors\"" })`

[2017-10-30 20:53] desa commented on #1635
what version of kapacitor are you using?

[2017-10-30 21:05] #1644 closed

[2017-10-30 22:08] yesitspeter commented on #1635
@desa I am using version 1.3.1

[2017-10-30 22:10] yesitspeter commented on #1635
@desa and I'm noticing this is closed.  Any explanation as to why?

[2017-10-30 22:39] desa commented on #1635
Complete accident on my part. My apologies

[2017-10-31 01:30] wing731 commented on #1621
@2solt
It's not works for me ...

Your kapacitor version ?

kind: smtp
match: \"host\" == 's001.example.com'
options:
    to:
         -- aaa@example.com

kapacitor define-topic-handler base_sys_fs smtp_dba halder/smtp_dba.yaml

failed to create handler: invalid match expression: parser: unexpected unknown state, last char: '\\' line 1 char 1 in "\"host\" =". expected: "number","string","duration"

[2017-10-31 03:13] rakshit-jain commented on #1624
Thanks for the support. Issue is resolved
Regards 

Rakshit Jain +91-9999429474

    On Monday, October 30, 2017, 11:24:44 PM GMT+5:30, Michael Desa <notifications@github.com> wrote:

Can you confirm that this is still an issue?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-31 04:56] jiamicu opened #1647 "The 'hostname' in config not working when using docker"
I have a influxdb container on '192.168.0.1:8086'.
Then I start a kapacitor container with `kapacitor:latest`:
[code]
Here is my config
[code]
but in influxdb , I got this:
[code]
I try to change the host value to 'kapacitor', but got another:
[code]
Finally I try this, and it works:
[code]
The result:
[code]
:smile::smile:

[2017-10-31 08:36] jaapz commented on #1607
We use HTTP post to an internal API whenever kapacitor triggers an alert, however sometimes these POST's fail because they happen when we are updating our internal API, or it's unavailable for other reasons. It would be of great use to us if kapacitor would be able to hang on to alerts and retry them when that POST requests fails (time out, 500 http error).

[2017-10-31 11:54] 2solt commented on #1621
`Kapacitor 1.3.3 (git: HEAD ce586f35e89e75a1779e2b493caba15d66295a15)`
Yeah, sorry its:
`match: "\"host\" == 's001.example.com'"`

[2017-10-31 14:51] #1641 closed

[2017-11-01 01:54] wing731 commented on #1621
Thanks, it works

[2017-11-01 15:46] yesitspeter commented on #1635
@desa  No worries.  Is there any more information that you need?

[2017-11-01 15:48] desa commented on #1635
I think that should be enough. I think that you might need to specify few additional things on the pushover node

[code]

So I think this might be a documentation issue, but I'm going to need a little time to investigate.

[2017-11-02 10:39] pmyjavec commented on #939
I've managed to do some digging in our environment where we were experiencing the same issue and learned a few more things.

My observations have been that for whatever reason, points can get caught up in InfluxDB or Telegraf, or a busy Kapacitor server (high system load etcs) which means some points aren't available to Kapacitor in the time frame required to avoid a false alarm being trigged. Eve

[2017-11-03 15:34] ArvsIndrarys opened #1648 "Trouble alerting on time"
I have my alert defined as follow  (.tick file):

[code]

The thing it makes a week I am trying t find a way for the crit alert to work :
I know about the types conflict but is there any way that line could work?
I tried doing `now() - period > "time"` amongst many things. But I am starting to be really clueless about how to do that.

And I tried the deadman switch too, but the false alerts he was

[2017-11-03 15:42] #1621 closed

[2017-11-03 15:52] nathanielc commented on #1648
Try:

[code]

[2017-11-03 16:10] nathanielc opened #1649 "Allow specifying nanosecond durations"
The current version of influxql.ParseDuration used by Kapacitor doesn't support parsing nanosecond durations. Now that influxql is its own package it might be easier to update to the latest version.

[2017-11-03 16:33] ArvsIndrarys commented on #1648
Thanks, it seems to work. But the alert still isn't up now...

Here's what I have on Influx :
[code]

And here's what the logs of kapacitor tells me about the batches  :
[code]
The meter that shall set the alarm isn't in the batch requests...
What did I put into my TICK script so as it prevents him from taking ALL the values in InfluxDB ?

Plus there's no time in the query that the kapacitor sent

[2017-11-03 16:51] nathanielc commented on #1648
Your TICKscript says to only get data within the last 5m, `.period(5m)`, since this point:
[code]
 is older than 5m its not returning.

Try increasing the amount of data you request by increasing period. Which means you need another var, one for how far back you will look and one when it should trigger the alert.

[code]

Something like that.

[2017-11-03 17:01] ArvsIndrarys commented on #1648
Okay thanks a lot @nathanielc !
I can finally use some alert on my project !
Even grafana caused my incredibla amount of problems !

[2017-11-03 17:01] #1648 closed

[2017-11-03 17:05] nathanielc commented on #1648
Glad you got it working!

[2017-11-03 17:07] nathanielc commented on #1643
@desa Can you take a look at this one?

@jjathman Did Kapacitor crash with a panic? If so can you share the panic stack trace. That will help us find the issue quickly.

[2017-11-03 17:15] nathanielc commented on #224
Given good tab completion and glob style matching supported through requests I think this issue has been addressed. Closing

[2017-11-03 17:15] #224 closed

[2017-11-03 17:18] #1549 closed

[2017-11-03 17:56] jjathman commented on #1643
@nathanielc the strange thing is that I was not seeing anything logged. Just all of a sudden I would see logs that it was starting up again. Looking at the code for Kapacitor it sure looks like this case is explicitly handled so I'm not sure why I was seeing such strange behavior. This function seems to at least attempt to handle this situation, but maybe something isn't working correctly after it

[2017-11-03 18:06] desa commented on #1643
Would it be possible to get the logs from the instance?

[2017-11-03 18:18] nathanielc commented on #1643
The stack trace is probably in a file `/var/log/kapacitor/kapacitor.err` or similar.

[2017-11-06 09:11] ryheena opened #1650 "TickScript Template "Recipe" Library"
Provide a central repository where TickScript templates and "recipes" could be shared and downloaded.  This would function very similar to the Node-Red node library (https://flows.nodered.org/).  The impact of this single addition would be enormous.  This would drastically reduce the learning curve and the need for granular documentation.

[2017-11-06 09:59] ss682 commented on #1217
@phemmer  What is the difference between using a window and a buffer? Aren't they doing more or less the same namely capturing data received over some time?
So if window doesn't work with stream, why should a buffer work?

[2017-11-06 10:37] ss682 opened #1651 "Missing value although using Batch"
I am using batch node to query data from InfluxDB over a specified period. The following is a short example:

[code]
In this Tickscript I do calculations in  an eval-node with the field timeUntilEndOfLicence. The result field called "licenceStatus" is pushed to InfluxDB to the same database with the same measurement (artifactory__systems"."autogen".Artifactory). In another Tickscript I do the same

[2017-11-06 13:03] seb-koch opened #1652 ""panic: invalid timer state" - httpOut() node for batch task crashes kapacitor"
Hi,

i am running:
`~ ❯❯❯ kapacitor version
Kapacitor v1.3.3 (git:  ce586f35e89e75a1779e2b493caba15d66295a15)`

And i had a batch that worked fine, now since i added an `|httpOut` node i can reproducibly crash kapacitor. I tried moving the httpOut before the influx out and now into an individual variable, still the same error. I am running on Mac OSX 10.12.6

Your help is appreciated.

**Query and

[2017-11-06 13:41] phemmer commented on #1217
@ss682 The window node would have to hold at least one point in its buffer at all times. Possibly more depending on how out-of-order your points may be (and this sizing would have to be hard coded in the script, which may not work in dynamic environments). This means that your data will be delayed by at least whatever the interval between points is. Even with a minimal window of 1 point, kapacitor

[2017-11-06 14:28] desa commented on #1639
@SrikarshVardhan Are you sure your JSON is well formed? I've just tried running what you've supplied through `jq` and I'm getting malformed JSON.

[2017-11-06 14:32] desa commented on #1639
@SrikarshVardhan looks like you may have forgot to escape the double quoted elements of your tickscript.

Try
[code]
and let us know if the issue persists.

[2017-11-06 14:32] #1639 closed

[2017-11-06 15:39] vgrivel commented on #1560
Hi @jmak35,
Your "power" variable is not defined in your Tick script.
However, I have the same issue, I'm not able to pass any arguments via stdin. I received only the one defined in the documentation as a JSON object: id, message, details, time, duration, level and data.

How can we pass more arguments?
My executable:
[code]
[code]

[2017-11-06 16:34] seb-koch opened #1653 "How to debug stream task - httpOut always returns series: null"
I am writing here after i spent hours of trying to debug my stream task and failed. I am out of ideas and hope that you can point me to the mistake i made. I lack ways to debug that stream, even though log nodes were added i see no errors anywhere and believe some major step is missing?

It's a simple test where i want to have a httpOut() node print out some data. At this point i do not even care

[2017-11-06 18:01] desa commented on #1652
@seb-koch thanks for the report.

[2017-11-06 18:06] desa commented on #1652
@seb-koch Do you experience the same issue with live data, or only with recordings?

[2017-11-06 18:44] desa commented on #1652
@seb-koch after some investigation, we believe that this issue may be fixed on master. Would it be possible for you to build off of master and confirm this?

[2017-11-06 18:45] seb-koch commented on #1652
Yes sure.

[2017-11-06 18:48] desa commented on #1651
@ss682 I think this may be better suited for https://community.influxdata.com/. Can you please ask the question there so that we can answer it appropriately.

[2017-11-06 18:48] #1651 closed

[2017-11-06 18:55] desa commented on #1595
@DaveBender Just stated to investigate this a bit more, and from looking at the stack-trace, it looks like somehow, there is a point that does not contain any fields

https://github.com/influxdata/kapacitor/blob/v1.3.3/influxql.go#L106
[code]

having an example tickscript that can reproduce this as well as any sample data would go a long way in helping us fully diagnose the issue.

[2017-11-06 19:54] desa commented on #1635
@yesitspeter Just tried this myself, and I think the issue may be related to the `var message = ''`.

I've just tried the following tickscript and things seem to have worked.

[code]

Can you try populating the message variable and let me know if you are still experiencing the issue.

[2017-11-07 07:21] vgrivel commented on #1560
I found the solution.
I thought that all the arguments event my static args were sent via stdin but that is not the case. Static args are sent as a standard argument.
I can get it with $1
[code]

[2017-11-07 08:28] seb-koch commented on #1652
Could you point me to the right docker command to get a container from master please?

[2017-11-07 09:08] seb-koch commented on #1653
Even when adding a log node with level DEBUG nothing shows up in the logs besides the GET request, it's really a black box right now. I believe the stream is not even executed and the GET request goes into a void?
Your help is highly appreciated, i am sure it's some tiny flaw.

This is my tick script now:
[code]

And the task details (it seems like no data reaches the stream at all?

[code]

[2017-11-07 11:17] 2solt opened #1655 "[Feature request] - Alert to alertmanager"
Hi all,

Would be great if we could push alert to [alertmanager](https://github.com/prometheus/alertmanager)
Do you think it's possible ?

Thanks!

[2017-11-07 13:04] seb-koch commented on #1653
We figured out the issue. The influxdb server wasn't able to contact the kapacitor server due to an blocking firewall.

*Questions*
1. Why there was no helpful debug output at all?
2. Why do batches work but streams are affected by this firewall issue?

*Suggestions*
1. Maybe you could extend the responsible function with a debug output in case a response wasn't received within a certain timeout?

[2017-11-07 17:06] desa commented on #1652
I don't know that we have a Dockerfile for building a container off of master. I'm happy to instruct you on how to build the binary. Should be pretty easy to make a container once we have a binary. Would you be interested in that?

[2017-11-07 21:59] seb-koch commented on #1652
Yes! The issue is reproducible and actually appears for all our batch tasks when adding httpOut.

I want to avoid harming our stable installation and i am working through vpn so i have to ssh into the stable server. What i would do now is stop out stable kapacitor on the machine, create a docker container from a standard ubuntu and build the binary inside this one right from the same machine. I ca

[2017-11-08 12:39] lfarkas opened #1657 "rpm package has missing dependencies"
the rpm package has a missing dependencies. it's try to add user with useradd but do not depend on it. which is not a problem in most case but in case of a kickstart install this cause a problem since it happened that shadow-utils(which contains useradd) installed after this package.

so the spec file should have to modified and add these lines:
Requires(post): /usr/sbin/useradd

[2017-11-08 13:22] lfarkas commented on #1657
the same bug was fixed in the latest influxdb : https://github.com/influxdata/influxdb/issues/8951

[2017-11-08 13:39] beforeborn opened #1658 "When trigger a alert , how to post with message ?"
When triggered an alarm, how to use the post or httpPost method to send the request, and pass the field in the measurements as post request parameter?

[2017-11-08 17:17] #1657 closed

[2017-11-08 18:03] digaoddc commented on #1510
I am running on the same issue here, with Kapacitor 1.3, my point is that if you're using the API, your only current option is to send a request to `disable` and another request to `enable` a task. It is unnecessary overhead.

My opinion is to either accept a `reload_automatically` parameter in the API or do it automatically, this algo goes for the command line.

[2017-11-08 21:12] nathanielc opened #1662 "Bad default MQTT configuration validation"
Starting Kapacitor from an RPM install gives this error:

[code]

[2017-11-08 22:19] #1428 closed

[2017-11-08 22:19] #1440 closed

[2017-11-08 22:54] #1662 closed

[2017-11-09 08:46] #1658 closed

[2017-11-09 16:11] #1655 closed

[2017-11-09 19:47] MisterMartin opened #1669 "Http authentication ignores credentials"
Docker for macOS on OSX Sierra 10.12.6
Docker official images:
kapacitor:1.3
influxdb:1.2

I’m trying to use http basic authentication with Kapacitor.

I’ve set these env variables:
KAPACITOR_HTTP_AUTH_ENABLED=true
KAPACITOR_HTTP_USERNAME=admin
KAPACITOR_HTTP_PASSWORD=*****.

I get an authentication error if I don’t supply a username in the get request. However, the authentication succeeds if I su

[2017-11-09 20:11] nathanielc commented on #1480
Sorry for the belayed response, this slipped under my radar.

Open source Kapacitor does not have authentication support. This is a premium feature.

Yes, its should be possible to setup a reverse proxy for the purpose of authenticating Kapacitor.

[2017-11-09 20:11] nathanielc commented on #1669
@MisterMartin Thanks for the heads up, I have responded on the #1480 issue.

[2017-11-09 20:11] #1669 closed

[2017-11-09 22:23] jjathman commented on #1643
I never saw anything in the logs. We just have a single kapacitor.log file. If I'm reading the config file correctly it should put everything there at INFO or higher but I never got anything. I'm sorry I can't be more helpful, I was surprised to not see anything in the log.

[2017-11-10 12:50] vtsingaras commented on #1618
Try this:

|eval(lambda: string("last_value"))
.as('string_value')
.keep('value')
.tags('string_value')
|groupBy('string_value')
|alert()
.crit(lambda: "value" <= 0)

[2017-11-11 00:31] MisterMartin commented on #1480
Thanks for the reply. Since other influxdata products support authentication, I wonder what the rationale is for this? Is remote access to kapacitor an unusual use case?

[2017-11-12 18:22] omere2 opened #1671 "calcThroughput crashing?"
bug 100% reproducible, latest git code.
While running batch live replay, server is crashing with this message:

Nov 12 18:14:05 ip-172-31-21-11 kapacitord[20240]: github.com/influxdata/kapacitor.(*node).start.func1(0xc42037e000, 0x0, 0x0, 0x0)
Nov 12 18:14:05 ip-172-31-21-11 kapacitord[20240]:         /home/ubuntu/go/src/github.com/influxdata/kapacitor/node.go:181 +0x8e
Nov 12 18:14:05 ip-172-31-2

[2017-11-12 22:42] nutztherookie commented on #1190
I seem to be having the same issue. In my case it's
[code]

I used to have window before derivative, but neither works. And I keep getting `cannot perform derivative elapsed time was 0`. If i turned it around - `window` first, then `derivative`, I even get this:
[code]

I'm using telegraf on the sending side with `[[inputs.udp_listener]]` and a ruby influxdb connection. Neither the telegraf nor th

[2017-11-12 22:49] nutztherookie commented on #1190
And I even have a more common scenario where I try to aggregate disk_reads and disk_writes using telegrafs built-in `diskio` and get the same output every now and again (`cannot perform derivative elapsed time was 0`).
[code]

[2017-11-13 09:28] omere2 opened #1672 "Panic: out of memory"
When running a live batch replay from the HTTP API, kapacitord takes up all the memory and crashes. This happens with any script.
For instance:
TICKscript:
batch
    |query('''SELECT LAST(temperature) as temperature FROM "db"."autogen".data''')
        .period(5m)
        .every(5m)

When running HTTP API (/kapacitor/v1/replays/batch", json={'past': '5m', 'task': 'task'}) it will crash with out of

[2017-11-13 09:30] omere2 commented on #1671
probably related to out of memory of #1672

[2017-11-13 09:34] omere2 commented on #1672
[stack.txt](https://github.com/influxdata/kapacitor/files/1466258/stack.txt)

[2017-11-13 09:58] niclonious commented on #870
+1

[2017-11-13 10:48] omere2 commented on #1672
seems like the API doesn't handle "past" correctly.
Problem seems to go away when using "start" instead

[2017-11-13 13:07] anuttamva opened #1673 "Read : connection reset by peer issue"
I've just started with tick. After installation, I just checked whether the kapacitor is working fine or not.

I used command:
$  kapacitor list tasks

Output:

Get http://localhost:9092/kapacitor/v1/tasks?dot-view=attributes&fields=type&fields=status&fields=executing&fields=dbrps&limit=100&offset=0&pattern=&replay-id=&script-format=formatted: read tcp 127.0.0.1:57134->127.0.0.1:9092: read: connec

[2017-11-13 14:21] scub111 opened #1674 "Is it possible alter 'time' field when kapacitor save result into output measure?"
My task is to accumulate values from some measure every seconds and reset that accumulated value to zero after hour.
I wrote some code for kapacitor

var input = batch
	|query('SELECT SUM("val") as "val_sum" FROM "srtdb"."autogen".factory011 ORDER BY desc limit 1')
		.period(1h)
		.every(1s)
		.groupBy('position', time(1h))
input
	|influxDBOut()
		.database('srtdb')
		.retentionPolicy('autogen')

[2017-11-13 14:29] scub111 opened #1675 "How to reset “cumulativeSum” function?"
My task is to accumulate values from some measure every seconds and reset that accumulated value to zero after hour.
I was trying below code but it was not successful.
stream
    |from()
        .database('srtdb')
        .retentionPolicy('autogen')
        .measurement('factory011')
	.where(lambda: minute("time")!=0)
	.groupBy('position')
    |cumulativeSum('val')
	.as('val')
    |influxDBOut()

[2017-11-13 16:11] lamchakchan commented on #1608
@nathanielc sorry for the delay in getting back to you.  I'm still getting the error when trying the indexed `_0_` environment key.  I'm available for a call to expedite this.

I can share the `--debug` output from the `helm` processing.  I `<REDACTED>` some values.  If you put the contents below into a single file and then follow up with a `kubectl create -f <file>` will create you the kapacitor

[2017-11-13 16:13] lamchakchan commented on #1608
Also, the `printenv` output for the related session from above.

[code]

[2017-11-13 17:59] staftermath opened #1676 "API to modify kapacitor.conf"
Is there a programmable way to modify kapacitor.conf when kapacitor is running?
My use case is add a new UDF function and it's arguments.

[code]
how do i do it without editing the conf file using editors?

[2017-11-13 19:56] nutztherookie commented on #1130
Hi all!

may I inquire to the status here? :)
I agree with @fdhex 's approach but don't understand the issue with Default currently being `{{ .json }}`. This can still be true for OpsGenie if people don't set `|alert().details("...")`.

Frankly I think people will always prefer having the option to configure the Details rather than just have json in an interface that does not particularly endorse

[2017-11-13 19:57] nutztherookie commented on #1130
If it helps, I can merge @fdhex 's first draft with the option to just fall back to {{ .json }} if nothing is defined and create a PR

[2017-11-13 20:07] nathanielc commented on #1676
@staftermath See https://docs.influxdata.com/kapacitor/v1.3/api/api/#configuration, It doesn't modify the config file because we treat the conf file as read only, but it does store overrides/additions in the kapacitor.db for the same effect.

[2017-11-14 04:48] desa opened #1677 "Fix Content Type returned to client in logging API"
https://github.com/influxdata/kapacitor/blob/master/services/diagnostic/api.go#L105

[2017-11-14 04:51] desa opened #1678 "Properly escape `+` in query param for logging API"
https://github.com/influxdata/kapacitor/blob/master/services/diagnostic/api.go#L97

[2017-11-14 12:34] 2solt opened #1679 "httppost templating error"
Hi, Im having some problem with the following template:

kapacitor version
`Kapacitor 1.4.0-rc1 (git: master 211cce44e9f7fa9b18c6c7c0a185469219a3adb1)`

kapacitor.conf
[code]
logs
[code]

When im just printing it out, like ` alert-template = "{{ .Level }}"` it works fine
Am I doing something wrong here ?

[2017-11-14 16:17] 2solt commented on #1313
@desa
I was testing with batch tick scripts, only working if I define `db` and `rp` in the batch query.
e.g. `SELECT response_time FROM  "test"."default"."net_response"`
If Im not putting it in I get the following error (`SELECT response_time FROM "net_response"`):
[code]
Defining database and retention policy in the batch query is still a requirement even if `dbrp` is defined in the beginning of

[2017-11-14 17:32] phemmer opened #1680 "clear alert when data stops coming in"
We are writing alerts based on data from telegraf's procstat input (such as when `num_fds` is approaching `rlimit_num_fds_soft`). However since processes can disappear at any time, we need a way to reset any active alert when we stop receiving data for it. We have telegraf set to collect data every 15 seconds, so we would like to do a very conservative silence period of 60s after which if no data

[2017-11-15 03:00] net384 opened #1681 "is it possable to send post data using alert(http post)?"
is it possible to send post data using alert(post)?
I made php result page , but there is no outputdata(ex. message, body..)

this is my test enviroment..

1. set up alert Rule Builder (chronograf Alerting Page)
http, Optional alter parameter : http://x.x.x.x/etc/mms2

2. mms2 php is
<?php
$id = $_POST["message"];
echo "$id is fine(POST)\n" ;

$id2 = $_GET["message"];
echo "$id2 is fine(GET)\n" ;

[2017-11-15 11:26] 2solt commented on #1679
Workaround:
```alert-template = "{{ if eq (.Level | print) \"CRITICAL\" }}3{{ end }}"```
But im not sure that this is the right approach

[2017-11-15 18:17] Manoj321 opened #1682 "Add details property in alert node as a field"
It would help if results of the details property in alert node are added as a field similar to  how id, level and message are added with idField, levelField and messageField.

We have an udf which consumes a point coming from alertNode and does further processing like opening a bugzilla ticket etc.. So if details are available as a field we can added it to the ticket for more context.

[2017-11-15 19:42] jamischarles commented on #945
My workaround is to `kapacitor delete tasks [taskName]` before defining the task.

[2017-11-16 01:52] net384 commented on #1681
I solved this. the problem was php source.

just change the code..

header('Content-Type: application/json');

$json_data = json_decode(file_get_contents('php://input'),true);
echo file_put_contents("/tmp/highcputick.log", $json_data['message'].$json_data['id']);

[2017-11-16 08:12] zlq4863947 opened #1683 "Homebrew not finding v1.4.0 branch"
Hello I am trying to install kapacitor on OS X via homebrew, but it can't find the remote branch:

[2017-11-16 17:04] slafeir opened #1684 "Baking in cluster id resulting invalid UUID"
Hi I have Kapacitor running in a kubernetes cluster and noticed that it was creating a new subscription with influx every time I redeployed or the container died. This was resulting in duplicated alerts happening for one event. So to fix this I am trying to bake in the cluster ID so influx doesn't keep making new subscriptions. I am overwriting the cluster.id before starting up Kapacitor with
/cod

[2017-11-16 22:17] slafeir commented on #1684
Nevermind. Echo creates a newline at the end of it. Using printf fixed this issue.

[2017-11-16 22:17] #1684 closed

[2017-11-17 14:31] absolutejam opened #1685 "TICKScript woes - Adding two fields"
I'm not really sure where to start with this one, but I have tried on both the [community site](https://community.influxdata.com/t/sanity-check-simple-tickscript/3042/2) and the Gophers Slack channel.

I'm having some serious issues with a TICKScript that I'm sure worked for a period and now will not - And it's the simplest script ever.

[code]

I literally only need to sum two fields, but as the

[2017-11-20 20:46] #1250 closed

[2017-11-20 21:22] hansgustavson commented on #1250
👍

Hans Gustavson | Sr. Director Cloud Operations | Coupa Software
<http://www.coupa.com> | hans.gustavson@coupa.com | 650.390.4396

On Mon, Nov 20, 2017 at 12:48 PM, Nathaniel Cook <notifications@github.com>
wrote:

[2017-11-20 22:39] desa commented on #1627
@oplehto Sorry about the delayed response to this.

Seems like a reasonable request to me. I'll get on this ASAP.

[2017-11-21 14:13] ahsanali commented on #687
any update on adding UDF function through API ?

[2017-11-21 20:20] desa opened #1690 "Kapacitor and InfluxDB should have similar HTTPS Configuration"
Kapacitor doesn't split out cert and key as separate files https://github.com/influxdata/kapacitor/blob/9ea0764954678ed2693f53a33dd84942445f5367/services/httpd/service.go#L128-L132
[code]

Telegraf, InfluxDB, and Chronograf have them as separate https-cert and https-key

InfluxDB:
https://github.com/influxdata/influxdb/blob/e9cbc6da11435fd690561ff82e4a367ebdc62c79/services/httpd/service.go#L93-L97

[2017-11-21 20:29] desa commented on #1690
@nathanielc thoughts on this issue?

[2017-11-21 21:30] nathanielc commented on #1690
@desa When did this change for InfluxDB? The Kapacitor TLS code was copied verbatim from InfluxDB.

I think having them split makes more sense. Can we split them now and still have backwards compatible config?

[2017-11-21 21:32] nathanielc commented on #1690
Looks like we just need to apply this patch to the Kapacitor code. https://github.com/influxdata/influxdb/commit/5d9eae61b070f56adf9e4dad33a7fd4000669f00

[2017-11-21 21:32] desa commented on #1690
https://github.com/influxdata/influxdb/commit/5d9eae61b0

[2017-11-21 21:32] desa commented on #1690
👍

[2017-11-22 05:18] brianbaker commented on #1602
FYI - https://github.com/influxdata/chronograf/issues/1506

[2017-11-22 17:49] staftermath commented on #1676
@nathanielc Thanks for the link. I think the overridable options don't include udf.

[2017-11-22 20:27] nathanielc commented on #1676
@staftermath Ah you are right, I wasn't thinking straight when I posted the above comment.

The UDF configuration is not included as part of the configuration API as it would represent a remote code execution vulnerability.  For now you are limited to modifying the kapacttor.conf file and restarting the process.

Curious what your use case is that would benefit from dynamic UDF configuration.?

[2017-11-22 21:01] desa commented on #1313
It is still required in the query. Specifically for the situation like the following

[code]

[2017-11-24 11:10] ahsanali opened #1692 "Ability to define custom handlers"
The topics adds a nice interface to decouple alerting logic from tasks but it would be cool to have ability to have custom handlers in topics. For example one use case is Opsgenie. We have a opsgenie handler in kapacitor but it has an issue i-e when an alert goes from warning to critical opsgenie doesn't show that because both ciritical and warning alerts has the same 'alias' which are deduplicate

[2017-11-24 11:38] geraybos opened #1693 "panic: runtime error: invalid memory address or nil pointer dereference"
Kapacitor 1.3.3 on Windows

[code]

[2017-11-24 13:50] phemmer commented on #1692
A bit of a hack, but we have a somewhat related issue with pagerduty that you might be able to use. The idea is to use separate alert nodes, and once you do this you can generate an "id" which is different for warnings & criticals. E.G:

[code]

This does make the alerting section of the script a bit verbose, so dunno if this would work well for you. For us our scripts are stored as jinja template

[2017-11-27 11:03] zlq4863947 opened #1694 "Using Kapacitor API can not allow task add httpPost endpoint"
__System info:__ [macOS Sierra 10.12, Kapacitor v1.3.3]

__Steps to reproduce:__

1. Create a configuration of httppost endpoint

[code]

2. Create a template

[code]

3. Create a task

[code]
create task return response:

[code]

why is it wrong?

[2017-11-27 18:22] nutztherookie commented on #1130
I ended up copying most of @fdhex 's changes. I realized that it's actually not trivial to not break the old behavior without creating a bunch of extra code.
owever I believe that the old behavior was nothing people really liked. The PR is now `html.UnEscape`-ing just in case. If `.details()` is not set, at least it's not printing

`{&#34;Name&#34;:&#34;system&#34;,&#34;TaskName&#34;:&#34;...`

Bu

[2017-11-28 06:08] findneville opened #1696 "is there a way to override the default slack url?"
I have been going through this documentation for alerting to Slack https://docs.influxdata.com/kapacitor/v1.3/nodes/alert_node/#slack

Currently it works since there is only channel to notify. But we just got a requirement to notify a different channel that we do not know and has a different webhook URL

I know it is possible to override the channel option for slack but is there a way to override

[2017-11-28 10:06] karel-rehor opened #1697 "kapacitord config command panics"
[kapacitor.conf.txt](https://github.com/influxdata/kapacitor/files/1509385/kapacitor.conf.txt)
In cmd/kapacitord/main.go:132 it would appear that the command 'config' should print out a configuration to the console, as is the case with influxd and telegraf.  However, when I try this on the latest nightly build, it panics as follows.

panic: unexpected reflect.Kind: func [recovered]

Console messag

[2017-11-28 11:31] karel-rehor commented on #1697
Note, that I first encountered this last week on a local build of 1.4-RC1.

[2017-11-28 16:55] desa commented on #1697
Found where the issue is coming from, its the `mqtt` section. Going to investigate why specifically now.

[2017-11-28 17:36] nathanielc commented on #1692
@ahsanali @phemmer I don't quite follow the issue. Why does the change in level need a different alert ID?

@ahsanali Can you share the patch you have applied to Kapacitor?  That will help me understand what it is you are after. Thanks.

[2017-11-28 21:45] jamischarles commented on #526
I was just bitten by this.
`kapacitor record stream -task restart_alert7 -duration 60s`

I assumed erroneously that I could manually submit a few data points to my influx db (my stream) and this recording would stop after 60s.

It appears the task will ONLY stop itself after it receives data AFTER the 60s has elapsed. So I had to send some data after, and then the recording completed.

Clearly the